<div class="center landing-page-wrapper">
  <h2>Administration development in progress...</h2>
  <a target="_blank" [href]="externalCremLink">Open page in CREM</a>
  <br />
  <br />
  <div *ngIf="!isLoading">
    <div *ngFor="let category of getCategories()" class="category-container">
      <h2 class="category-title underline">{{ category }}</h2>
      <div class="card-container">
        <div *ngFor="let item of groupedData[category]" class="card-item">
          <mat-card class="mat-mdc-card" (click)="cardClicked(item)">
            <mat-card-content class="mat-card-content">
              <mat-card-subtitle class="mat-card-subtitle">{{
                item.name
              }}</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <crem-loader *ngIf="isLoading"></crem-loader>
</div>
