<div class="center" style="margin-top: 20px">
  <h2>Administration development in progress...</h2>
  <br />
  <a target="_blank" [href]="externalCremLink">Open page in CREM</a>
  <br />
  <br />
  <section>
   
     <div class="well">
         <h3>Modules/Pages that currently live in MangoSpa</h3>
        <ul>
        <li>User Maintenance</li>
        <li>Group Maintenance</li>
        <li>Portfolio Maintenance</li>
        <li>Object Maintenance</li>
        </ul>
    </div>
  </section>
</div>

<!--
<table>
    <tr>
        <td><button routerLink="user-maintenance">User Maintenance</button></td>
        <td><button routerLink="group-maintenance">Group Maintenance</button></td>
        <td><button routerLink="portfolio-maintenance">Portfolio Maintenance</button></td>
        <td><button routerLink="object-maintenance">Object Maintenance</button></td>
    </tr>

    <tr>
        <td><button (click)="archiveBuilding($event)">Archive Building</button></td>
        <td><button (click)="archiveLease($event)">Archive Lease</button></td>
    </tr>

    <div>
        <mango-object-actions #ObjectActions
            [objectName]="objectName"
            [objectTypeId]="objectTypeId"
            [objectId]="objectId"
            [objectTypeTypeId]="objectTypeTypeId"
            [hiddenPremise]="hiddenPremise">
        </mango-object-actions>
    </div>
</table>
-->
