ul {
    list-style-type: none; /* Remove bullets from unordered lists */
}

.well {
    background-color: #ffffff; /* Cream white background color */
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 8px;
            margin: 20px;
}