<mat-toolbar [class.costar-unified-top-menu]="!isCostarStyle" [class.costar-unified-second-menu]="isCostarStyle">
	<mat-toolbar-row [class.costar-top-menu]="!isCostarStyle" [class.costar-second-menu]="isCostarStyle">
		<ul class="nav nav-pills" >
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['dashboard']" [routerLinkActive]="['active']">Dashboard</a>
			</li>						
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['board']" [routerLinkActive]="['active']">Board</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['list']" [routerLinkActive]="['active']">List</a>				      
			</li>			
		</ul>	
		<div class="dbl-right-margin">
			<costar-dropdown [dropdownData]="dashboardViewsDropdown" class="dropdown-small"></costar-dropdown>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
<div class="crem-content-wrapper" id="cremContentWrapper">
	<router-outlet></router-outlet>
</div>


