<mat-card class="dashboard-card">
	<mat-card-header>				
		<mat-card-title>
			<div class="card-title-hero">{{archivedLeases.length}}</div>
			<span>Recently Archived Leases</span>
		</mat-card-title>
		<div class="mat-card-header-toolbar">
			<costar-dropdown [dropdownData]="durations" class="dropdown-small std-right-margin"></costar-dropdown>			
			<button class="btn btn-default btn-sm" [matMenuTriggerFor]="cardMenu"><mat-icon>more_horiz</mat-icon></button>
			<mat-menu #cardMenu="matMenu">								
				<button mat-menu-item (click)="toggleExpanded()"><span *ngIf="isExpanded">Collapse All</span><span *ngIf="!isExpanded">Expand All</span></button>      
				<button mat-menu-item (click)="exportDataGrid()">Export</button>				
			</mat-menu>
		</div>		
		
	</mat-card-header>
	<mat-card-content class="no-padding">						
		<dx-data-grid
			#ArchiveLeasesDataGrid			
			[dataSource]="archivedLeases"
			[showColumnLines]="false"
			[showRowLines]="false"
			[showBorders]="false"
			[rowAlternationEnabled]="true" 							
			[allowColumnResizing]="true"
			[allowColumnReordering]="true"
			[columnAutoWidth]="false"
		>
			<dxo-header-filter [visible]="true"></dxo-header-filter> 
			<dxo-scrolling mode="virtual"></dxo-scrolling>	
			<dxo-grouping #expand [autoExpandAll]="isExpanded" [contextMenuEnabled]="true"></dxo-grouping>
			<dxi-column dataField="ClientLeaseID"></dxi-column>						
			<dxi-column dataField="PropertyName"></dxi-column>
			<dxi-column dataField="Address1"></dxi-column>
			<dxi-column dataField="City"></dxi-column>
			<dxi-column dataField="State"></dxi-column>			
			<dxi-column dataField="LeaseExpiration" alignment="center"></dxi-column>
			<dxi-column dataField="RentableArea"></dxi-column>
			<dxi-column dataField="LeaseType"></dxi-column>
			<dxi-column dataField="archiveDate" dataType="date"></dxi-column>
			<dxi-column dataField="archivedBy"></dxi-column>
		</dx-data-grid>								
	</mat-card-content>
</mat-card>
