<div class="crem-dash-row">
    <div class="crem-dash-title">
        <h6>Projects Dashboard</h6>
    </div>
</div>

<div class="crem-dash-row">
    <div class="crem-dash-card">
        <h6>Project Management</h6>
        <p>a bunch of project links</p>
    </div>

    <div class="crem-dash-card">
        <div class="crem-dash-chart">
            <h6>Projects by Manager Chart</h6>
        </div>
        <div class="crem-dash-chart">
            <h6>Projects by Type Chart</h6>
        </div>        
    </div>

    <div class="crem-dash-card">
        <h6>Bookmarks</h6>
        <p>a bunch of bookmark links</p>
    </div> 
</div>        
<div class="crem-dash-row">
    <div class="crem-dash-doc-store">
        <h6>Document Store</h6>        
    </div>        
</div>