<mat-card class="dashboard-card">
	<mat-card-header>				
		<mat-card-title>
			<span>File Storage Trends</span>
		</mat-card-title>		
	</mat-card-header>
	<mat-card-content>										
		<dx-chart [dataSource]="quarterlyPayments">
			<dxo-export [enabled]="false"></dxo-export>
			<dxo-legend [visible]="true"></dxo-legend>
			<dxo-legend
			    horizontalAlignment="center"			    
			    verticalAlignment="bottom">
			</dxo-legend>
			<dxo-tooltip
			    [enabled]="true"
			    [shared]="true"
			    [customizeTooltip]="standardTooltip">	
			    <dxo-format type="largeNumber" [precision]="1"></dxo-format>						    
			</dxo-tooltip>
			<dxo-common-series-settings 
			    argumentField="quarter"		        
	        >
			</dxo-common-series-settings>		
			<dxi-value-axis title="File Count" name="countAxis">
			    <dxo-grid [visible]="true"></dxo-grid>
			</dxi-value-axis>
			<dxi-value-axis
			    name="sizeAxis"
			    position="right">
			    <dxo-grid [visible]="true"></dxo-grid>
			    <dxo-title text="Disk Space (GB)"></dxo-title>
			</dxi-value-axis>								
		    <dxi-series
		        argumentField="quarter"
		        valueField="fileCount"
		        name="File Count"
		        type="spline"
		        color="#EC4A08"
		        axis="countAxis"
		        [barPadding]="0.2">
		    </dxi-series>
		    <dxi-series
		    	argumentField="quarter"
		        valueField="fileSize"
		        name="Disk Space"
		        type="spline"
		        axis="sizeAxis"
		        color="#0559b3">
		    </dxi-series>	    				  
		</dx-chart>			
	</mat-card-content>
</mat-card>	