@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/var.scss';

.activity {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: $stdPadding / 2;

    // &.my-activity {
    //     flex-direction: row-reverse;
    // }

    .activity-avatar {
        margin: $dblPadding $stdPadding;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        border: 1px solid $neutral-dark;
        padding: $stdPadding / 2;
        font-size: 12px;
        text-align: center;
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: $white;
        color: $neutral-dark;
    }

    .activity-thread {
        display: flex;
        flex-direction: column;

        .activity-body {
            display: flex;
            flex-direction: column;
            border: 1px solid #EAEAEA;
            border-radius: $stdPadding / 2;
            background: white;
            padding: $stdPadding $dblPadding;
            font-size: 14px;

            .activity-body-header {
                display: flex;
                font-size: 12px;
                margin-bottom: $stdPadding / 2;

                .activity-performed-by {      
                    color: $neutral-dark;              
                    margin-right: $stdPadding;
                }

                .activity-time {                    
                    color: $neutral-medium;
                }
            }

            .activity-body-content {
                color: $black;        
            }           
        }

        .activity-attachments {

        }
    }
}
