<div class="activity">
    <div class="activity-avatar">
        {{activity.initials}}
    </div>
    <div class="activity-thread">
        <div class="activity-body">            
            <div class="activity-body-header">
                <div class="activity-performed-by">{{activity.performedBy}}</div>
                <div class="activity-time">{{activity.performedTime}}</div>
            </div>
            <div class="activity-body-content" [innerHTML]="activity.description"></div>
        </div>        
    </div>
</div>