@import '../../../../variables.scss';

.shared-left-nav li.listItem.List.Page a Span {
  font-weight: bold;
  border-bottom: 3px solid $color-brand-accent;
}

::ng-deep {
  // TODO: Remove once we get rid of V06
  .mainWrapper {
    app-list-page {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 39px;
    }
  }
}
