<dx-data-grid 
    [dataSource]="leaseOptions"
    [showBorders]="true"
    [showColumnLines]="false"
	[showRowLines]="false"
	[rowAlternationEnabled]="true" 
	[allowColumnResizing]="true"
	[allowColumnReordering]="true"
    rowTemplate="optionTemplate"
	>    
    <dxi-column dataField="optionType"></dxi-column>    
    <dxi-column dataField="optionBeginDate" dataType="date" caption="Begin"></dxi-column>
    <dxi-column dataField="optionEndDate" dataType="date" caption="End"></dxi-column>
    <dxi-column dataField="optionStatus" caption="Status"></dxi-column>    
    <dxi-column dataField="optionNotificationBeginDate" dataType="date" caption="Notice Begin"></dxi-column>
    <dxi-column dataField="optionNotificationEndDate" dataType="date" caption="Notice End"></dxi-column>
    <dxi-column dataField="optionReminderDate" dataType="date" caption="Reminder"></dxi-column>
    <dxi-column dataField="optionActionTaken" caption="Action Taken"></dxi-column>    
    <dxi-column dataField="optionActionDate" dataType="date" caption="Action Date"></dxi-column>

    <tbody class="dx-row" [ngClass]="{'dx-row-alt': option.rowIndex % 2}" *dxTemplate="let option of 'optionTemplate'" >
        <tr class="main-row">    
            <td>{{option.data.optionType}}</td>
            <td>{{option.data.optionBeginDate | date: "MM/dd/yyyy"}}</td>
            <td>{{option.data.optionEndDate | date: "MM/dd/yyyy"}}</td>
            <td>{{option.data.optionStatus}}</td>
            <td>{{option.data.optionNotificationBeginDate | date: "MM/dd/yyyy"}}</td>
            <td>{{option.data.optionNotificationEndDate | date: "MM/dd/yyyy"}}</td>
            <td>{{option.data.optionReminderDate | date: "MM/dd/yyyy"}}</td>            
            <td>{{option.data.optionActionTaken}}</td>
            <td>{{option.data.optionActionDate | date: "MM/dd/yyyy"}}</td>            
        </tr>
        <tr class="description-row">
            <td colspan="9"><div><b>Description:  </b>{{option.data.optionDescription}}</div></td>
        </tr>
        <tr class="description-row">
            <td colspan="9"><div><b>Action Note:  </b>{{option.data.optionActionNotes}}</div></td>
        </tr>
    </tbody>
</dx-data-grid>