.task-files-counts-wrapper{
    .tac-count-section {
      margin-top: 5px;
      display: flex;
      height: 85px;
    
      .tac-count {
        padding: 20px 8px 12px;
        display: flex;
        align-items: center;
        flex-direction: column;
    
        .tac-count-val {
          font-size: 22px;
          font-weight: 500;
        }
        .tac-count-label {
          font-size: 16px;
        }
      }
    }
  }