<crem-button
  *ngIf="showMoreMenu"
  [disabled]="buttonbDisabled"
  class="{{ !buttonbDisabled ? '' : 'disabledToolButton' }}"
  type="secondary"
  mat-stroked-button
  [matMenuTriggerFor]="listMenu"
  #listMenuTrigger="matMenuTrigger"
  [ariaHasPopUp]="true"
  [ariaExpanded]="listMenuTrigger.menuOpen"
>
  More
  <fa-icon
    [icon]="faCaretDown"
    class="more-menu-caret-icon"
    title="click to see the available options"
  ></fa-icon>
</crem-button>

<mat-menu #listMenu="matMenu">
  <button
    mat-menu-item
    *ngIf="this.isRemUser$ | async"
    (click)="showDynamicSQL.next(); $event.stopPropagation()"
  >
    Show Query
  </button>

  <button
    mat-menu-item
    *ngIf="isSuperUser && isCoStarListView"
    (click)="saveDefault.next()"
  >
    Save As Default
  </button>

  <button
    mat-menu-item
    *ngIf="showSaveAs"
    [matMenuTriggerFor]="saveAsMenu"
    (menuOpened)="focusSavedViewSubMenu()"
  >
    Save As...
  </button>

  <button
    mat-menu-item
    *ngIf="showSave"
    (click)="updateListView.next(currentView)"
  >
    Save
  </button>

  <button mat-menu-item *ngIf="showResetView" (click)="resetListView.next()">
    Reset
  </button>

  <button
    mat-menu-item
    *ngIf="showExpandCollapse"
    (click)="toggleExpanded.next()"
  >
    <span *ngIf="isExpanded">Collapse All</span>

    <span *ngIf="!isExpanded">Expand All</span>
  </button>

  <button
    mat-menu-item
    *ngIf="showColumnChooser"
    (click)="displayColumnChooser.next()"
  >
    Column Chooser
  </button>

  <button mat-menu-item *ngIf="showExport" (click)="exportExcel.next()">
    Export
  </button>

  <button mat-menu-item>
    <mat-slide-toggle
      [checked]="includeActive"
      (change)="toggleShowActive($event)"
      (click)="$event.stopPropagation()"
    >
      Show Active
    </mat-slide-toggle>
  </button>

  <button mat-menu-item>
    <mat-slide-toggle
      [checked]="includeArchived"
      (change)="toggleShowArchived($event)"
      (click)="$event.stopPropagation()"
    >
      <ng-container *ngIf="!isGLEvent; else showDeleted"
        >Show Archived</ng-container
      >
      <ng-template #showDeleted>Show Deleted</ng-template>
    </mat-slide-toggle>
  </button>
</mat-menu>

<mat-menu #saveAsMenu="matMenu" aria-label="Save View As">
  <crem-input
    #saveViewName
    title="Save View As"
    [formControl]="nameFormControl"
    (click)="$event.stopPropagation()"
    (enterKeyEvent)="createNewListView()"
    [inputType]="'text'"
    [ariaLabel]="'New Saved View Name'"
    [label]="'New Saved View Name'"
    [labelPosition]="'top'"
    [showHint]="false"
    [showLabel]="false"
    [showInfo]="false"
    [maxLengthField]="50"
    [required]="true"
  ></crem-input>
</mat-menu>
