<mat-card class="dashboard-card insights-hero-dash-card">
	<mat-card-header>				
		<mat-card-title>
			<span>Non Real Estate Financial Trends - AP</span>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content class="dashboard-card-hero-wrapper">										
		<!-- <ng-container *ngFor="let hero of heros">
			<dashboard-hero-card *ngIf="hero.visible"
				[title]="hero.title"
				[heroMetric]="hero.hero"
				[sidekickMetricA]="hero.sidekick"					
				[subtitle]="hero.subtitle"
				[tooltip]="hero.helpText"
			></dashboard-hero-card>
		</ng-container>		 -->			
	</mat-card-content>
</mat-card>	