<div class="object-comments">
	<div class="comments-add">
		<dx-text-area
	        [height]="40"
	        placeholder="Add comment..."
	    >
	    </dx-text-area>
		<!-- <button class="btn btn-primary btn-sm std-top-margin float-right">Submit</button> -->
	</div>
	<div class="comments-controls">
		<dx-text-box [(value)]="searchText" placeholder="Search..." [showClearButton]="true"></dx-text-box>	
		<dx-select-box [items]="sortOrders" placeholder="Sort"></dx-select-box>
	</div>
	<div class="comment-feed-wrapper">								
		<div class="comment" *ngFor="let comment of comments">
			<div class="comment-header">
				<div class="comment-user">
					<div class="comment-avatar"></div>	
					<div class="comment-username">
						<h5>{{comment.createdBy}}</h5>
					</div>
				</div>
				<div class="comment-date">
					<h6>{{comment.createdDate}}</h6>
				</div>
			</div>
			<div class="comment-tags">				
			</div>
			<div class="comment-text">
				{{comment.comment}}
			</div>
			<mat-divider></mat-divider>
		</div>
	</div>
</div>