<mat-card class="dashboard-card">
	<mat-card-header>
		<mat-card-title>SF per Seat</mat-card-title>
		<mat-card-subtitle>(YoY)</mat-card-subtitle>								
	</mat-card-header>
	<mat-card-content>
		<dx-chart [dataSource]="sfPerSeat" [customizePoint]="customizePoint">		
			<dxo-common-series-settings 
			    argumentField="year"
			    type="bar"
			    valueField="sfPerSeat"
			    [ignoreEmptyPoints]="true"
			    [barPadding]="0.5"
		        color="#F68338">
			</dxo-common-series-settings>
			<dxi-value-axis title="SF Per Seat">
			    <dxo-grid [visible]="true"></dxo-grid>
			</dxi-value-axis>
			<dxo-series-template nameField="year"></dxo-series-template>
			<dxo-argument-axis title="Year"></dxo-argument-axis>
			<dxo-export [enabled]="false"></dxo-export>							
			<dxo-legend [visible]="false"></dxo-legend>	
			<dxo-tooltip
			    [enabled]="true"
			    [shared]="true"
			    [customizeTooltip]="standardTooltip">							    
			</dxo-tooltip>						
		</dx-chart>
	</mat-card-content>
</mat-card>