@import '../../../../../../mango/src/assets/styles/colors.scss';

#contact-list-grid {
  margin-top: 20px;
}

.client-key {
  color: $darkGray;
  font-family: Helvetica;
}

::ng-deep {
  .dx-field {
    display: flex;
  }

  .dx-data-row.dx-state-hover .default-contact-record-column:not([role="columnheader"]) {
    background-color: white !important;
    cursor: default;
  }

  dx-data-grid table.dx-datagrid-table tbody tr.dx-row.dx-data-row.dx-selection td.default-contact-record-column {
    background-color: white !important;
  }

  .dx-button.button-primary {
    background: #0559b3 !important;
    color: #FFFFFF !important;
    border: none !important;

    &:hover {
      background: #669bd1 !important;
    }
  }

  .dx-button.button-secondary {
    background: #FFFFFF !important;
    border: 1px solid #c8c8c8 !important;
    color: #000000 !important;

    &:hover {
      background: #FFFFFF !important;
      color: #808080 !important;
      border-color: #c8c8c8 !important;
    }
  }
}