<dx-popup
	#AddProjectPopup
    width="60%"
    height="90%"
    [showTitle]="true"
    title="Create Transaction"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [visible]="isVisible"
    (onHidden)="close($event)">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
        <costar-popup>
    		<popup-content>	
				<dx-scroll-view width="100%" >
					<mat-card class="card-no-borders dbl-bottom-margin">
						<mat-card-header>
							<mat-card-title>Transaction Details</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<dx-form 
								[(formData)]="transaction"
								[colCount]="2"
								labelLocation="left"
								[showColonAfterLabel]="false">
								<dxi-item 
									dataField="name">
								</dxi-item>
								<dxi-item 
									dataField="client"
									[editorOptions]="{ items : clients }"
									template="selectBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="type"
									[editorOptions]="{ items : transactionTypes }"
									template="selectBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="internalId"
									[label]="{ text : 'Client Transaction ID' }">
								</dxi-item>
								<dxi-item 
									dataField="manager"
									[editorOptions]="{ items : transactionManagers }"
									template="selectBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="template"
									[label]="{ text : 'Tasks Template' }"
									[editorOptions]="{ items : templates }"
									template="selectBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="startDate"
									template="dateBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="team"
									[editorOptions]="{ items : teams }"
									template="selectBoxTemplate">
								</dxi-item>     
								<dxi-item 
									dataField="dueDate"
									[label]="{ text : 'Target Completion' }"
									template="dateBoxTemplate">
								</dxi-item>                                                                               
								<div *dxTemplate="let data of 'dateBoxTemplate'">
									<dx-date-box [(value)]="transaction[data.dataField]"></dx-date-box>
								</div>
								<div *dxTemplate="let data of 'selectBoxTemplate'">
									<dx-select-box [dataSource]="data.editorOptions.items" [(value)]="transaction[data.dataField]" valueExpr="value" displayExpr="display"></dx-select-box>
								</div>                            
							</dx-form>
						</mat-card-content>
					</mat-card>            
					<mat-card class="card-no-borders">
						<mat-card-header>
							<mat-card-title>Location Details</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<dx-form 
								[(formData)]="transaction"
								[colCount]="2"
								labelLocation="left"
								[showColonAfterLabel]="false">
								<dxi-item 
									dataField="country"
									[editorOptions]="{ items : countries }"
									template="selectBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="targetSf">
								</dxi-item>
								<dxi-item 
									dataField="state"
									[editorOptions]="{ items : states }"
									template="selectBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="spaceUse"
									[editorOptions]="{ items : spaceUses }"
									template="selectBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="market"
									[editorOptions]="{ items : markets }"
									template="selectBoxTemplate">
								</dxi-item>
								<dxi-item 
									dataField="buildingClass"
									[editorOptions]="{ items : buildingClasses }"
									template="selectBoxTemplate">
								</dxi-item>    
								<dxi-item 
									dataField="submarket"
									[editorOptions]="{ items : submarkets }"
									template="selectBoxTemplate">
								</dxi-item>          
								<div *dxTemplate="let data of 'selectBoxTemplate'">
									<dx-select-box [dataSource]="data.editorOptions.items" [(value)]="transaction[data.dataField]" valueExpr="value" displayExpr="display"></dx-select-box>
								</div>                            
							</dx-form>
						</mat-card-content>
					</mat-card>
				</dx-scroll-view>			                
		    </popup-content> 
            <popup-footer>                
                <popup-footer-right>
                    <button class="btn btn-default" (click)="close($event)">Cancel</button> 
                    <button class="btn btn-primary" (click)="saveProject($event)">Save</button> 
                </popup-footer-right>
            </popup-footer>
		</costar-popup>
    </div>
</dx-popup>	
