<div class="task-template-wrapper">
    <div class="list" *ngFor="let phase of phases; let phaseIndex = index">
        <div class="list-title dx-theme-text-color">
            {{phase.phaseName}}
        </div>				
        <div class="list-cards-wrapper">
            <dx-sortable
                class="sortable-cards"
                group="cardsGroup"
                [data]="phase.tasks"
                (onDragStart)="onTaskDragStart($event)"
                (onReorder)="onTaskDrop($event)"
                (onAdd)="onTaskDrop($event)"
            >
                <ng-container *ngFor="let task of phase.tasks">
                    <!-- <span>{{task.taskName}}</span> -->
                    <task-template-card [task]="task"></task-template-card>
                </ng-container>												
            </dx-sortable>
            <div class="add-new-task-wrapper" (click)="launchNewTaskModal(phase)">
                <mat-icon>add</mat-icon><span>Add Task</span>
            </div>
        </div>							
    </div>
</div>

<dx-popup
	#TemplateTaskPopup
    width="600"
    height="60%"
    [showTitle]="true"
    [title]="'New Task'"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [visible]="editTaskModalVisible"
    (onHidden)="close($event)">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<template-task-dialog [task]="newTask" (closed)="close($event)" (saved)="taskSaved($event)"></template-task-dialog>    
    </div>
</dx-popup>	