@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/var.scss';

.task-template-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

.list {
	border-radius: 8px;
	margin: $stdPadding;
	background-color: $neutral-light;
	display: flex;
	flex-direction: column;
	min-width: $stdPadding * 40;  
	max-width: $stdPadding * 40;  

	.list-title {
		font-size: 16px;
		padding: $stdPadding;			
		font-weight: bold;
		display: flex;
	}

	.list-cards-wrapper {
		display: flex;
		flex-grow: 1;
		overflow: hidden;
		flex-direction: column;
		
		.sortable-cards {
			min-height: 380px;
			overflow-y: auto;
			width: 100%;	  
		}
	}
}
  
.add-new-task-wrapper {
	background: $white;
	border: 1px dashed $neutral-medium;
	margin: $stdPadding;
    border-radius: 4px;
    padding: $stdPadding;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}
  
::ng-deep .dx-sortable {
    display: block;
}