<section class="section-grid">
    <mat-expansion-panel [expanded]="true" (closed)="accountingSummaryService.delayGridPanelCollapseWhenFilterIsVisible()">
        <mat-expansion-panel-header>
            <mat-panel-title class="header">
                Amortization Table {{isGridStateChanged ? preferenceSavePendingMessage : ''}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <dx-data-grid
            #AmortizationDataGrid
            [id]="accountingSummaryService.getId(componentName ,'detail','section')"
            [dataSource]="amortizationdetailsGridData"
            [columns]="amortizationDetailColumns"
            [showColumnLines]="true"           
            [allowColumnReordering]="true"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [columnResizingMode]="'widget'"
            [showRowLines]="true"
            [showBorders]="true"
            [sorting]="false"
            [rowAlternationEnabled]="true"
            [summary]="summaryFields"
            [class]="customGridClass"
            noDataText="No Data"
            width='100%'
            (onOptionChanged)="onGridOptionChanged($event)"
            (onRowClick)="jeProcessingPopup($event)">

            <dxo-header-filter
                [visible]="false"
                [allowSearch]="true">
            </dxo-header-filter>

            <dxo-paging
                [enabled]="false">
            </dxo-paging>

            <dxo-state-storing
                [enabled]="true"
                type="custom"
                storageKey="amortizationGridStateKey"
                [customLoad]="loadState"
                [customSave]="saveState">
            </dxo-state-storing>

            <dxo-scrolling
                columnRenderingMode="virtual">
            </dxo-scrolling>

            <dxo-selection
                mode="single">
            </dxo-selection>

            <!-- Commenting column fixing for now. -->
            <!-- <dxo-column-fixing
                [enabled]="true">
            </dxo-column-fixing> -->

            <dxo-column-chooser
                [enabled]="true"
                mode="select"
                [allowSearch]="true">
            </dxo-column-chooser>

            <div *dxTemplate="let info of 'amortizationHeader'">
                <p title={{info.column.caption}}
                    class="header-column-caption">
                    {{info.column.caption}}
                </p>
            </div>

            <div *dxTemplate="let cell of 'pointer'">
                <div class="pointer" title={{cell.text}}>{{ cell.text }}</div>
            </div>

            <dxo-toolbar>
                <dxi-item name="groupPanel"></dxi-item>
                <dxi-item location="after">
                    <div class="more">
                        <button [id]="accountingSummaryService.getId(componentName,'more','button')"
                            class="btn btn-default moreButton" [matMenuTriggerFor]="moreMenu" type="button" (click)="$event.preventDefault()">More <mat-icon
                                [id]="accountingSummaryService.getId(componentName,'more','icon')"
                                aria-label="More Menu">arrow_drop_down</mat-icon></button>

                        <mat-menu #moreMenu="matMenu" class="moreMatMenu">
                            <button [id]="accountingSummaryService.getId(componentName,'column-chooser','button')" mat-menu-item (click)="showColumnChooser()">Column Chooser</button>
                            <button [id]="accountingSummaryService.getId(componentName,'save','button')" mat-menu-item (click)="saveGridPreferences()">Save Preferences</button>
                            <button [id]="accountingSummaryService.getId(componentName,'reset','button')" mat-menu-item (click)="resetGrid()" title="Reset Preferences">Reset Preferences</button>
                        </mat-menu>
                        
                    </div>
                </dxi-item>
            </dxo-toolbar>
        </dx-data-grid>
    </mat-expansion-panel>

    <dx-popup
        *ngIf="jeProcessingPopupData"
        [id]="accountingSummaryService.getId(componentName ,'detail','section')"
        [(visible)]="jeProcessingInfoPopupVisible"
        (onHidden)="onJeProcessingInfoPopupHidden()"
        [closeOnOutsideClick]="true"
        width="70%"
        height="70%"
        [resizeEnabled]="true"
        [wrapperAttr]="{ class: 'accounting-summary-style-container' }"
        title="JE Processing Info: {{ jeProcessingPopupData.displayPeriod }}"
        >    

        <dx-tab-panel
            [dataSource]="tabs"
            [selectedIndex]="0"
            tabsPosition="left">

            <div *dxTemplate="let PeriodPopup of 'jeProcessingData'">
                <mango-je-processing-info
                    [jeProcessingPopupData]="jeProcessingPopupData" 
                    [rightsInfo]="rightsInfo" [userInfo]="userInfo" 
                    [eventScheduleData]="eventScheduleData"
                    (jeActionTaken)="onJeDataSaved()"
                    ></mango-je-processing-info>
            </div>
            <div *dxTemplate="let PeriodPopup of 'paymentDetailData'">
                <!-- Payment Detail tab component -->
            </div>

            <div *dxTemplate="let PeriodPopup of 'retrospectiveAdjustmentData'">
                <!-- Retrospective Adjustment tab component -->
            </div>

        </dx-tab-panel>
    </dx-popup>

</section>
