.custom-grid {
    width: 100%;
    height: 56vh;
}

.header {
    border-bottom-color: rgb(45, 87, 167);
    color: rgb(148, 187, 226);
    border-bottom: 1px solid #1e3a6f;
    color: #1e3a6f;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 1em;
}