<section class="section-grid">
    <mat-expansion-panel [expanded]="true" (closed)="accountingSummaryService.delayGridPanelCollapseWhenFilterIsVisible()">
        <mat-expansion-panel-header aria-label="Amortization Table">
            <mat-panel-title class="header">
                <div class="card-header">
                    <div class="card-title"
                    [id]="accountingSummaryService.getId(componentName,'card','title')">
                    Amortization Table {{isGridStateChanged ? preferenceSavePendingMessage : ''}}
                    </div>
                    <div class="more-menu">
                     <div class="more">
                            <button [id]="accountingSummaryService.getId(componentName,'more','button')"
                                class="btn btn-default moreButton" [matMenuTriggerFor]="moreMenu" type="button" (click)="openMoreMenu($event)" (keydown)="openMoreMenu($event)">More <mat-icon
                                    [id]="accountingSummaryService.getId(componentName,'more','icon')">arrow_drop_down</mat-icon></button>
                            <mat-menu #moreMenu="matMenu" class="moreMatMenu">
                                <button [id]="accountingSummaryService.getId(componentName,'column-chooser','button')" mat-menu-item (click)="showColumnChooser()">Column Chooser</button>
                                <button [id]="accountingSummaryService.getId(componentName,'save','button')" mat-menu-item (click)="saveGridPreferences()">Save Preferences</button>
                                <button [id]="accountingSummaryService.getId(componentName,'reset','button')" mat-menu-item (click)="isGridStateChanged ? clearGridChanges() : resetGridPreferences()" [title]="isGridStateChanged ? clearBtnHoverText : resetBtnHoverText">{{isGridStateChanged ? 'Clear Changes' : 'Reset Preferences'}}</button>
                                <button [id]="accountingSummaryService.getId(componentName,'ExpertToExcel','button')" mat-menu-item (click)="exportToExcel()" title="Export to Excel">Export to Excel</button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <dx-data-grid
            #AmortizationDataGrid
            [id]="accountingSummaryService.getId(componentName ,'detail','section')"
            [dataSource]="amortizationdetailsGridData"
            [columns]="amortizationDetailColumns"
            [showColumnLines]="true"           
            [allowColumnReordering]="true"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [columnResizingMode]="'widget'"
            [showRowLines]="true"
            [showBorders]="true"
            [sorting]="false"
            [rowAlternationEnabled]="true"
            [summary]="summaryFields"
            [class]="customGridClass"
            noDataText="No Data"
            width='100%'
            (onOptionChanged)="onGridOptionChanged($event)"
            (onRowClick)="onGridRowClick($event)"
            (onContentReady)="onGridContentReady()">

            <dxo-paging
                [enabled]="false">
            </dxo-paging>

            <dxo-state-storing
                [enabled]="true"
                type="custom"
                storageKey="amortizationGridStateKey"
                [customLoad]="loadState"
                [customSave]="saveState">
            </dxo-state-storing>

            <dxo-scrolling
                columnRenderingMode="virtual">
            </dxo-scrolling>
            <dxo-selection
                mode="single">
            </dxo-selection>

            <dxo-column-chooser
                [enabled]="true"
                mode="select"
                height="500"
                width="400"> 
                
                <dxo-search
                    [enabled]="true">
                </dxo-search>

                <dxo-selection
                    allowSelectAll="true">
                </dxo-selection>
            </dxo-column-chooser>
        
            <div *dxTemplate="let info of 'amortizationHeader'">
                <p title={{info.column.caption}}
                    class="header-column-caption">
                    {{info.column.caption}}
                </p>
            </div>

            <div *dxTemplate="let cell of 'pointer'">
                <div class="pointer" title={{cell.text}}>{{ cell.text }}</div>
            </div>
        </dx-data-grid>
    </mat-expansion-panel>

    <!-- This is for the amortization grid -->
    <mango-je-retro-popup [amortizationGridRowClickEvent]="amortizationGridRowClickEvent" [eventScheduleData]="eventScheduleData" [gridColumnsForRetroPopup]="gridColumnsForRetroPopup" [rightsInfo]="rightsInfo" [wfStatusRights]="wfStatusRights"
    [userInfo]="userInfo" [classificationType]="classificationType" [amortizationProfileName]="amortizationProfileName" [newRetroEventJeStatus]="retroEventJeStatus" (jeRetroPopupClosedEvent)="onJeRetroPopupClosed($event)" (retroAdustmentGridRowClickEvent)="onRetroAdustmentGridRowClick($event)"></mango-je-retro-popup>

    <!-- This is for the retro adjustments grid.  This is called from the mango-je-retro-popup for the amortization grid.  -->
    <mango-je-retro-popup [amortizationGridRowClickEvent]="retroAdustmentGridRowClickEvent" [eventScheduleData]="eventScheduleData" [gridColumnsForRetroPopup]="gridColumnsForRetroPopup" [rightsInfo]="rightsInfo" [wfStatusRights]="wfStatusRights"
    [userInfo]="userInfo" [classificationType]="classificationType" [amortizationProfileName]="amortizationProfileName" [isPopupForRetroGridClick]="true" (jeRetroPopupClosedEvent)="onUpdateRetroEventJeStatus($event)"></mango-je-retro-popup>

</section>
