<login-masthead></login-masthead>
<div class="login-wrapper">
	<mat-card>	
		<mat-card-header>
			<mat-card-title>Reset Password</mat-card-title>
		</mat-card-header>	
		<mat-card-content>
            <form *ngIf="!isSubmitted" (submit)="onFormSubmit($event)">
                <div class="center">Please enter a new password</div>
                <dx-text-box id="newPassword" [(value)]="password" width="320" placeholder="Password" [mode]="passwordModeOne" (onFocusIn)="togglePopover()" (onFocusOut)="togglePopover()">
                    <dxi-button name="show" location="after" [options]="passwordButtonOne"></dxi-button>
					<dx-validator>
						<dxi-validation-rule 
							type="required"
							message="Password is required">
						</dxi-validation-rule>
					</dx-validator>					
				</dx-text-box>
                <dx-text-box width="320" [(value)]="confirmPassword" placeholder="Confirm Password" [mode]="passwordModeTwo">
                    <dxi-button name="show" location="after" [options]="passwordButtonTwo"></dxi-button>
					<dx-validator>
						<dxi-validation-rule 
							type="required"
							message="Password is required">
						</dxi-validation-rule>
					</dx-validator>					
				</dx-text-box>
                <button class="btn btn-primary w100 dbl-top-margin" type="submit">Submit</button>	
            </form>	
            <form *ngIf="isSubmitted">
                <h5 class="center">Password Reset Successfully!</h5>				
				<button class="btn btn-default w100 dbl-top-margin" (click)="cancel()">Back to Login Page</button>				
            </form>
        </mat-card-content>
    </mat-card>
</div>

<dx-popover
    target="#newPassword" 
    position="right"
    [width]="200"
    [(visible)]="popoverVisible">
    <div *dxTemplate="let data = model of 'content'" class="rich-task-popover">
        <ul>
            <li>password req 1</li>
            <li>password req 2</li>
            <li>password req 3</li>
        </ul>        
    </div>
</dx-popover>