@use 'styles' as *;

.cardContent {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px !important;
  padding: 8px;
}

.card-drag-handle {
  cursor: move;
  position: absolute;
  top: 16px !important; // todo: Only this card's drag handle is misaligned compared to the other dashboards.
  right: 16px !important;
  z-index: 10;

  svg.drag_handle {
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }
}

:host ::ng-deep {
  .dx-pivotgrid {
    .dx-area-column-cell {
      .dx-pivotgrid-horizontal-headers {
        td > span {
          @include costar(color, primary-light, $important: true);
          font-weight: 600;
        }
      }
    }

    .dx-area-row-cell {
      .dx-pivotgrid-vertical-headers {
        td > span {
          @include costar(color, primary-light, $important: true);
          font-weight: 600;
        }
      }
    }

    // Style Totals
    // Table Main Data/Body
    .total,
    .dx-total {
      @include costar(background-color, background);
    }
    &#AssetBalanceCardGrid {
      // Apply last row styling only to Asset Balance Grid/Table
      .dx-bottom-row {
        table tbody tr:last-child {
          @include costar(background-color, background);
        }
      }
    }
  }
}
