@use 'styles' as *;

:host {
  .loading-screen {
    z-index: 5000001; // Over Pendo
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include costar(transition, fast);

    &.light {
      @include costar(background-color, light);
      @include costar(color, dark);
      .logo {
        background-image: url('../../../assets/images/logos/logo-color.svg');
      }
    }
    &.dark {
      @include costar(background-color, primary);
      @include costar(color, light);
      .logo {
        background-image: url('../../../assets/images/logos/logo-white.svg');
      }
    }

    // Logos
    .logo {
      height: 120px;
      width: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .tagline {
      font-size: 1.5rem;
    }

    // Loading Screen Styles
    &.fullscreen {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: fixed;
      justify-content: center;
      align-items: center;
    }
  }
}
