:host ::ng-deep {
  .card-containers {
    .categories-item {
      .card-drag-handle {
        top: 16px;
        right: 16px;
      }
    }
  }

  // Hides Field Chooser button for all the Cards except #ASC842-Annual-AssetBalanceCard
  .dx-pivotgrid .dx-area-description-cell .dx-pivotgrid-toolbar .dx-button {
    display: none;
  }
}
