<crem-skeleton
  *ngIf="loading"
  [instances]="cardData.length"
  type="card"
></crem-skeleton>

<div *ngIf="!loading">
  <div
    class="card-containers"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="cardMove($event)"
  >
    <ng-container *ngFor="let config of cardData">
      <mango-iad-card
        class="categories-item"
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="{ card: card, index: i }"
        fxLayout="row"
        [config]="config"
        [dataSource]="dataSources[config.index]"
        (selectedFilter)="onSelectedFilter($event, config)"
      ></mango-iad-card>
    </ng-container>
  </div>
</div>
