<mat-card class="dashboard-card project-dash-card">
	<mat-card-header>				
		<mat-card-title>
			Projects by Type
		</mat-card-title>
		<div class="mat-card-header-toolbar">
			<button class="btn btn-default btn-sm" [matMenuTriggerFor]="cardMenu"><fa-icon icon="ellipsis-h"></fa-icon></button>
			<mat-menu #cardMenu="matMenu">								
				<button mat-menu-item>Refresh</button>				
				<button mat-menu-item (click)="exportChart('PDF')">Export PDF</button>				
				<button mat-menu-item (click)="exportChart('JPEG')">Export JPEG</button>				
			</mat-menu>
		</div>
	</mat-card-header>
	<mat-card-content>								
		<dx-chart 
			[dataSource]="projectCounts"
			#ProjectsByTypeChart
		>
			<dxo-size
		        [height]="244">
		    </dxo-size>
			<dxo-export [enabled]="false"></dxo-export>
<!-- 			<dxo-argument-axis title="Project Type"></dxo-argument-axis> -->
			<dxo-legend [visible]="false"></dxo-legend>
			<dxo-tooltip
			    [enabled]="true"
			    [shared]="true"
			    [customizeTooltip]="standardTooltip">							    
			</dxo-tooltip>
			<dxo-common-series-settings 
			    argumentField="projectType">
			</dxo-common-series-settings>		
			<dxi-value-axis  name="countAxis">
			    <dxo-grid [visible]="true"></dxo-grid>
			</dxi-value-axis>									
		    <dxi-series
		        argumentField="projectType"
		        valueField="projectCount"
		        name="Project Count"
		        type="bar"
		        color="#F68338"
		        axis="countAxis"
		        [barPadding]="0.2">
		    </dxi-series>								   
		</dx-chart>	
	</mat-card-content>
</mat-card>	