<dx-popup
	#QuickApprovalPopup
    width="60%"
    height="60%"
    [showTitle]="true"
    [title]="title"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [visible]="isVisible"
    (onHidden)="close()">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<costar-popup>
            <popup-content>
                <dx-data-grid
                    class="list-page-data-grid"
                    #DataGrid
                    [dataSource]="myTasks"
                    [showColumnLines]="false"
                    [showRowLines]="false"
                    [showBorders]="true"
                    [rowAlternationEnabled]="true" 
                    [allowColumnResizing]="true"
                    [allowColumnReordering]="false"
                    [columnAutoWidth]="true"
                    [columnMinWidth]="10"	
                    (onToolbarPreparing)="onToolbarPreparing($event)" 
                >    
                    <dxo-selection selectAllMode="allPages" showCheckBoxesMode="always" mode="multiple">
                    </dxo-selection>
                    <dxo-editing mode="batch"
                        [allowUpdating]="true"
                        [selectTextOnEditStart]="true"
                        [startEditAction]="startEditAction">
                    </dxo-editing>
                    <dxi-column dataField="step" width="48" [allowEditing]="false"></dxi-column>                
                    <dxi-column dataField="taskName" width="360" [allowEditing]="false"></dxi-column>                
                    <dxi-column dataField="completeDate" width="130" alignment="center" dataType="date"></dxi-column>
                    <dxi-column dataField="lastNote" caption="Note"></dxi-column> 
                </dx-data-grid>
            </popup-content>
            <popup-footer>                
                <popup-footer-right>
                    <button class="btn btn-default" (click)="close()">Cancel</button> 
                    <button class="btn btn-primary" (click)="save()">Approve</button> 
                </popup-footer-right>
            </popup-footer>
        </costar-popup>        
    </div>
</dx-popup>	