<div class="page-card">
	<div class="page-card-header">
		<div>
			<h5 *ngIf="amzProfile">Amortization Profile - {{amzProfile.name}}</h5>
			<h5 *ngIf="!amzProfile">New Amortization Profile</h5>
		</div>
		<div>
			<button class="btn btn-danger-outline btn-sm dbl-left-margin"><fa-icon icon="trash-alt"></fa-icon></button>
			<button class="btn btn-default btn-sm dbl-left-margin" (click)="close()">Close</button>
			<button class="btn btn-primary btn-sm dbl-left-margin">Save</button>
		</div>
	</div>
	<div class="page-card-content dbl-padding oflow-y-auto">
		<div class="row dynamic-form">
			<div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Amortization Profile Details</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<div class="row">
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<input matInput type="text" placeholder="Portfolio" [disabled]="true">							
								</mat-form-field>
								<mat-form-field appearance="outline">
									<input matInput type="text" placeholder="Name">
								</mat-form-field>
								<mat-form-field appearance="outline">
									<input matInput type="text" placeholder="Comments">
								</mat-form-field>
							</div>
							<div class="col-md-6">
								<mat-slide-toggle [checked]="true">Reasonably Certain Options</mat-slide-toggle>
								<mat-slide-toggle [checked]="true">Active</mat-slide-toggle>
							</div>
						</div>
					</mat-card-content>
				</mat-card>	
			</div>
		</div>	
		<div class="row">
			<div class="col-md-12">	
				<amortization-profile-accounts-card></amortization-profile-accounts-card>            
			</div>
		</div>
	</div>
</div>
