<div class="object-page">
	<div class="object-page-controls-wrapper">
		<div class="controls-left">
			<h5 class="dbl-right-margin">Activity</h5>	
			<costar-search (changed)="searchActivity($event)"></costar-search>
            <costar-dropdown [dropdownData]="userFilter"></costar-dropdown>			
            <costar-dropdown [dropdownData]="taskFilter"></costar-dropdown>			
            <costar-dropdown [dropdownData]="activityTypeFilter"></costar-dropdown>	
            <button class="btn btn-default">Apply</button>		
		</div>
		<div class="controls-right">			
		</div>
	</div>
	<div class="object-page-content-wrapper oflow-y-hidden">
        <activity-channel [activities]="filteredActivities" [mentions]="mentions"></activity-channel>
    </div>    
</div>