@use 'styles' as *;

.classification-tests__form {
  @include costar(padding-top, 3);
  display: flex;
  flex-direction: row;
  &__controls {
    flex: 50%;
  }
  &__legend {
    @include costar(font-size, normal);
  }
  &__list {
    &--unordered {
      list-style: none;
    }
  }
  &__list__item__label {
    display: flow;
    padding-right: 20px;
    width: 100%;
  }
  &__list__item {
    padding-top: 10px;
    &.side {
      padding-bottom: 20px;
    }

    .ct-li-div {
      display: flex;
      justify-content: space-between;
      div {
        width: 80px;
      }
    }
  }

  .ct-bold-text {
    font-weight: bold;
  }

  .ct-sub-text {
    color: #757575;
    font-size: 13px;
  }

  .ct-testResults-horizontal-line {
    border-bottom: 2px solid #dcdcdc;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .ct-testResults-div {
    display: flex;
    justify-content: flex-end;
  }

  .results-text-div {
    padding-top: 8px;
    margin-right: 10px;
  }

  .result-match-div {
    width: fit-content;
    height: 38px;
    padding: 6px 8px 0px 8px;
    border-radius: 3px;

    &.match-incomplete {
      border: 2px solid $gray04;
      background-color: #ededed;
    }

    &.match-success {
      border: 2px solid $success;
      background-color: #ebfae2;
    }

    &.match-fail {
      border: 2px solid $warning;
      background-color: #ffda80;
    }

    .result-match-success-icon {
      color: $success;
      margin-right: 6px;
    }

    .result-match-fail-icon {
      color: $warning;
      margin-right: 6px;
    }
  }

  .results-reason-text-div {
    @include costar(padding-bottom, 4);
    float: right;
  }

  .implicit-rate {
    @include costar(font-size, body);
    @include costar(color, dark);
    border: 1px solid #dcdcdc;
    transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 0.25rem;
    width: 98%;
    @include costar(background-color, gray07);
    height: 33px;
    outline: 0;
    padding: 0.175rem 0.75rem;
  }

  .dx-texteditor.dx-editor-outlined ::ng-deep {
    margin-right: 20px;
  }

  .fair_market-value {
    @include costar(color, dark);
    @include costar(font-size, body);
  }
}
