<div class="row dbl-bottom-margin">
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
		<button class="btn btn-primary btn-sm float-right">Add a Listing</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<mat-card class="dbl-bottom-margin">
			<mat-card-header>
				<mat-card-title>Office for Lease</mat-card-title>
				<mat-card-subtitle>7 Spaces</mat-card-subtitle>
				<mat-card-subtitle>166,580 SF Available</mat-card-subtitle>
				<mat-card-subtitle>89,900 SF Max Contig</mat-card-subtitle>
				<div>
					<button class="btn btn-default" [matMenuTriggerFor]="listingMenu"><fa-icon icon="ellipsis-h"></fa-icon>
					</button>
					<mat-menu #listingMenu="matMenu">
						<button mat-menu-item>Remove Listing</button>
					</mat-menu>
				</div>
			</mat-card-header>
			<mat-card-content>
			</mat-card-content>
		</mat-card>		
		<mat-card class="dbl-bottom-margin">
			<mat-card-header>
				<mat-card-title>Listing Engagements</mat-card-title>
				
			</mat-card-header>
			<mat-card-content>
			</mat-card-content>
		</mat-card>
	</div>
</div>
