<div id="projectTeam-container">
  <div class="teams-toolBar-wrapper">
    <div class="controls-left">
      <h3 class="title">
        <crem-current-object-text
          [data$]="currentObject"
        ></crem-current-object-text>
      </h3>
      <div class="searchProjectTeam">
        <cs-search
          #SearchBox
          [placeholder]="'Search...'"
          (changed)="searchDataGrid($event)"
          class="searchProjectTeam-input"
        ></cs-search>
      </div>
    </div>
    <div class="controls-right">
      <div class="clearFilters">
        <crem-button
          type="secondary"
          class="clearFilters-btn"
          (click)="clearAllFilters(); $event.preventDefault()"
        >
          <span>Clear Filters</span>
        </crem-button>
      </div>
      <div
        class="actions"
        [ngClass]="{
          hideActions: userAccessLevel !== 1 && userAccessLevel !== 2
        }"
      >
        <button
          class="btn btn-default actionsButton"
          [matMenuTriggerFor]="actionsMenu"
          (click)="$event.preventDefault()"
        >
          Actions
          <mat-icon aria-label="Project Team Actions">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu" class="projectTeamActionsMenu">
          <button
            mat-menu-item
            class="actnBtn-removeMembers"
            *ngIf="userAccessLevel == 1"
            [disabled]="!selectedTeamMembersData.teamMembers.length"
            (click)="removeMembers()"
          >
            <span>Remove Members</span>
          </button>
          <button
            mat-menu-item
            class="actnBtn-importTeamTemplate"
            (click)="importMembers()"
          >
            Import Team Template
          </button>
          <button
            mat-menu-item
            class="actnBtn-saveTeamTemplate"
            (click)="saveTeamAsTemplate()"
          >
            Save Team as Template
          </button>
        </mat-menu>
      </div>
      <div class="more">
        <button
          class="btn btn-default moreButton"
          [matMenuTriggerFor]="moreMenu"
          (click)="$event.preventDefault()"
        >
          More <mat-icon aria-label="More Menu">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu" class="projectTeamMoreMenu">
          <button
            mat-menu-item
            (click)="applyTeamToTasks()"
            class="moreBtn-applyTeamToTasks"
          >
            Apply Team to Tasks
          </button>
          <button
            mat-menu-item
            class="moreBtn-composeEmail"
            (click)="composeEmail($event)"
          >
            Compose Email
          </button>
          <button
            mat-menu-item
            (click)="toggleExpand()"
            class="moreBtn-expCollBtn"
          >
            <span>Expand All/Collapse All</span>
          </button>
        </mat-menu>
      </div>
      <div
        class="addOptions"
        [ngClass]="{ hideAdd: userAccessLevel !== 1 && userAccessLevel !== 2 }"
      >
        <crem-button
          btnStyle="flat"
          color="primary"
          text="Add"
          iconPosition="right"
          icon="faCaretDown"
          [matMenuTriggerFor]="addMenu"
          (click)="$event.preventDefault()"
        ></crem-button>
        <mat-menu #addMenu="matMenu" class="projectTeamAddMenu">
          <button
            mat-menu-item
            class="addBtn-teamMember"
            (click)="addOrEditMember('ATM')"
            *ngIf="userAccessLevel == 1"
          >
            Add Team Member
          </button>
          <button
            mat-menu-item
            class="addBtn-temporaryUser"
            (click)="addOrEditMember('ATU')"
            *ngIf="userAccessLevel == 1 && addTempUserSetting == 1"
          >
            Add Temporary User
          </button>
          <button
            mat-menu-item
            class="addBtn-contact"
            (click)="addOrEditMember('AC')"
          >
            Add Contact
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="projectTeam-dataGrid-wrapper">
    <crem-loader *ngIf="!dataRetrieved"></crem-loader>
    <dx-data-grid
      *ngIf="dataRetrieved"
      class="projectTeam-grid"
      #ProjectTeamGrid
      [showColumnLines]="false"
      [showRowLines]="false"
      [showBorders]="false"
      [rowAlternationEnabled]="true"
      [noDataText]="noDataText"
      [allowColumnResizing]="true"
      columnResizingMode="widget"
      [allowColumnReordering]="true"
      [columnAutoWidth]="false"
      [dataSource]="projectTeam"
      keyExpr="contactID"
      [width]="'100%'"
      [hoverStateEnabled]="true"
      [filterSyncEnabled]="true"
      [wordWrapEnabled]="true"
      (onSelectionChanged)="onSelectionChanged($event)"
      (onCellPrepared)="onCellPrepared($event)"
      (onRowPrepared)="onRowPrepared($event)"
      (onFocusedCellChanging)="onFocusedCellChanging($event)"
    >
      <dxo-header-filter
        [visible]="true"
        [allowSearch]="true"
      ></dxo-header-filter>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-paging [enabled]="false"></dxo-paging>

      <dxo-selection
        selectAllMode="allPages"
        showCheckBoxesMode="always"
        mode="multiple"
      >
      </dxo-selection>

      <dxi-column
        type="selection"
        [width]="40"
        [fixed]="true"
        fixedPosition="left"
        [allowSorting]="false"
        [allowReordering]="false"
        [allowResizing]="false"
        class="selectMember"
        [visible]="userAccessLevel == 1"
      >
      </dxi-column>
      <dxi-column
        dataField="teamMember"
        caption="Team Member"
        [cellTemplate]="'teamMemberNameTemplate'"
        sortOrder="asc"
      ></dxi-column>
      <dxi-column
        dataField="openTasks"
        [cellTemplate]="'openTasksTemplate'"
        alignment="center"
      ></dxi-column>
      <dxi-column dataField="role"></dxi-column>
      <dxi-column dataField="memberType"></dxi-column>
      <dxi-column
        dataField="accessLevel"
        alignment="center"
        [calculateCellValue]="getAccessLevelDisplayValue"
      >
      </dxi-column>
      <dxi-column
        dataField="emailNotifications"
        alignment="center"
        [calculateCellValue]="getEmailNotifyDisplayValue"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        dataField="shared"
        alignment="center"
        [calculateCellValue]="getSharedDisplayValue"
        max-width="95"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        dataField="description"
        [wordWrapEnabled]="false"
        width="160"
        cssClass="wrapOption-column"
      ></dxi-column>
      <dxi-column
        type="buttons"
        width="60"
        [fixed]="true"
        fixedPosition="right"
        [allowSorting]="false"
        [allowReordering]="false"
        [allowResizing]="false"
        [visible]="userAccessLevel == 1"
      >
        <dxi-button template="actionsMenuTemplate">
          <div
            *dxTemplate="let member of 'actionsMenuTemplate'"
            class="actionsMenuTemplate"
            id="{{ 'memberActionButton' + member.rowIndex }}"
          >
            <button
              aria-label="actions menu"
              class="btn btn-link memberActionsButton rowActionsButton"
              (click)="$event.preventDefault()"
              #memberActionsMenuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="memberActionsMenu"
            >
              <mat-icon aria-label="Actions Menu">more_vert</mat-icon>
            </button>
            <mat-menu
              #memberActionsMenu="matMenu"
              class="projectMemberActionsMenu"
            >
              <button
                mat-menu-item
                class="ptm-edit"
                (keydown)="matMenuButtonKeyDown($event)"
                *ngIf="
                  member.data.memberType.toLowerCase().trim() !==
                  'temporary contact'
                "
                (click)="
                  addOrEditMember(
                    member.data.memberType.trim() == 'Team Member'
                      ? 'ETM'
                      : 'ETU',
                    member.data
                  )
                "
              >
                Edit
              </button>
              <button
                mat-menu-item
                class="ptm-remove"
                (keydown)="matMenuButtonKeyDown($event)"
                (click)="removeContactOrMember(member.data)"
                *ngIf="!member.data.isManager"
              >
                Remove
              </button>
              <button
                mat-menu-item
                class="ptm-makeManager"
                (keydown)="matMenuButtonKeyDown($event)"
                (click)="makeProjectManager(member.data.contactID)"
                *ngIf="member.data.accessLevel == 1 && !member.data.isManager"
              >
                Make Team Manager
              </button>
            </mat-menu>
          </div>
        </dxi-button>
      </dxi-column>
      <div *dxTemplate="let cell of 'openTasksTemplate'">
        <div class="openTasks">{{ cell.value }} unapproved</div>
      </div>
      <div
        *dxTemplate="let member of 'teamMemberNameTemplate'"
        class="ptm-teamMemberTemplate"
      >
        <span class="ptm-managerIcon" *ngIf="member.data.isManager">
          <mat-icon role="none" aria-label="Manager">manage_accounts</mat-icon>
        </span>
        <span class="ptm-memberName">{{ member.data.teamMember }}</span>
        <span
          class="ptm-info"
          *ngIf="!member.data.isActive || !member.data.allowLogOn"
        >
          <crem-tooltip
            [externalId]="
              'ptmToolTipId' + member.data.contactID + member.data.teamId
            "
            [helpTextData]="projectMemberInfo"
          ></crem-tooltip>
        </span>
      </div>
      <dxo-master-detail
        [enabled]="true"
        [autoExpandAll]="autoExpand"
        template="memberDetails"
        class="projectMember-masterDetail"
      ></dxo-master-detail>
      <div
        *dxTemplate="let member of 'memberDetails'"
        class="projectMember-template"
      >
        <member-details
          class="projectMember-detail"
          [searchText]="searchText"
          [projectMember]="member.data"
        >
        </member-details>
      </div>
    </dx-data-grid>
  </div>
</div>
