<crem-skeleton
  *ngIf="isLoading; else showCards"
  [instances]="skeletonInstances"
  type="card"
></crem-skeleton>

<ng-template #showCards>
  <div
    class="card-containers"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="cardMove($event)"
  >
    <div
      *ngFor="let config of localCardConfig"
      class="categories-item"
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="{ card: card, index: i }"
      fxLayout="row"
    >
      <mango-iad-card
        [config]="config"
        [dataSource]="pivotDataSources[config.index]"
        (selectedFilter)="onSelectedFilter($event, config)"
      ></mango-iad-card>
    </div>
  </div>
  <ng-template> </ng-template
></ng-template>
