<dx-drop-down-box *ngIf="filterData.controlType == 'dropdown'"
    [(value)]="selectedItems"
    [valueExpr]="filterData.valueExpr"
    [displayExpr]="filterData.displayExpr"
    [placeholder]="filterData.placeholder"
    [showClearButton]="true"
    [dataSource]="filterData.items"    
    >
    <div *dxTemplate="let data of 'content'">
	    <dx-data-grid
			[dataSource]="filterData.items"
			[hoverStateEnabled]="true"
			[scrolling]="{ mode: 'virtual' }"
			[elementAttr]="{ style: 'max-height: 345px;', class : 'select-box-dropdown-data-grid'}"
			[keyExpr]="filterData.valueExpr"
			[(selectedRowKeys)]="selectedItems"
			(onSelectionChanged)="selectionChanged()"
			[showColumnHeaders]="filterData.showColumnHeader"
			>
			<dxo-filter-row 
				[visible]="filterData.showSearchRow" 
			></dxo-filter-row>
			<dxo-selection
	            showCheckBoxesMode="none"
	            [mode]="filterData.selectMode"
	        ></dxo-selection>
	        <dxi-column
			    [dataField]="filterData.displayExpr"
			    [caption]="filterData.placeholder">
			</dxi-column>
	    </dx-data-grid>
	</div>	
</dx-drop-down-box>

<dx-drop-down-box *ngIf="filterData.controlType == 'hierarchy'"
    [(value)]="selectedItems"
    [valueExpr]="filterData.valueExpr"
    [displayExpr]="filterData.displayExpr"
    [placeholder]="filterData.placeholder"
    [showClearButton]="false"
    [dataSource]="filterData.items"
    >
    <div *dxTemplate="let data of 'content'" >
	    <dx-tree-view
	        id="treeview"
	        [items]="filterData.items"	        
	        [elementAttr]="{ style: 'max-height: 345px;', class : 'select-box-dropdown-data-grid'}"
	        showCheckBoxesMode="normal"
	        selectionMode="multiple"
	        selectNodesRecursive="true"
	        selectByClick="true"
	        (onSelectionChanged)="treeViewSelectionChanged($event)"        
	        (onContentReady)="treeViewContentReady($event)"
	    >
	        <div *dxTemplate="let item of 'item'">
	            {{item.name}}
	        </div>
	    </dx-tree-view>
	</div>
</dx-drop-down-box>
