<section class="section-grid">
	<mat-expansion-panel [expanded]="true" (closed)="accountingSummaryService.delayGridPanelCollapseWhenFilterIsVisible()"> 
		<mat-expansion-panel-header aria-label="Payments Grid"> 
			<mat-panel-title class="header"> 
			<div class="card-header">
				<div class="card-title">Payments {{isGridStateChanged ? preferenceSavePendingMessage : ''}}
				</div>
				<div class="more-menu">
					<div class="more">
						<button [id]="accountingSummaryService.getId(componentName,'more','button')" class="btn btn-default moreButton" [matMenuTriggerFor]="moreMenu" (click)="openMoreMenu($event)" (keydown)="openMoreMenu($event)">More <mat-icon [id]="accountingSummaryService.getId(componentName,'more','icon')">arrow_drop_down</mat-icon></button>
						<mat-menu #moreMenu="matMenu" class="moreMatMenu">				
							<button [id]="accountingSummaryService.getId(componentName,'column-chooser','button')" mat-menu-item (click)="showColumnChooser()">Column Chooser</button>      
							<button [id]="accountingSummaryService.getId(componentName,'save','button')" mat-menu-item (click)="saveGridPreferences()">Save Preferences</button>
							<button [id]="accountingSummaryService.getId(componentName,'reset','button')" mat-menu-item (click)="resetGrid()">Reset Preferences</button>
							<button [id]="accountingSummaryService.getId(componentName,'ExpertToExcel','button')" mat-menu-item (click)="exportToExcel()" title="Export to Excel">Export to Excel</button>
						</mat-menu>
						</div>
				</div>
			</div>

		  </mat-panel-title>
		</mat-expansion-panel-header>
			<dx-data-grid
				#PaymentsDataGrid
				[id]="accountingSummaryService.getId(componentName ,'detail','section')"
				[dataSource]="paymentsGridData"
        		keyExpr="leaseRecognitionScheduleEventID"
				width='100%'
				noDataText="No historical charge data"
				[columnMinWidth]="25"
				[columns]="paymentsGridColumns"
				[showColumnLines]="true"
				[allowColumnReordering]="true"
				[allowColumnResizing]="true"
				[rowAlternationEnabled]="true"
				columnResizingMode="widget"
				[hoverStateEnabled]="true"
				[showRowLines]="true"
				[showBorders]="true"
				[class]="paymentsGridClass"
				(onOptionChanged)="onGridOptionChanged($event)"
				(onRowClick)="onRowClick($event)"
				>
				<dxo-paging
                	[enabled]="false">
            	</dxo-paging>
				
				<dxo-header-filter
          			[visible]="false"
					[allowSearch]="true">
            	</dxo-header-filter>

				<dxo-state-storing
					[enabled]="true"
					type="custom"
					storageKey="eventsGridStateKey"
					[customLoad]="loadState"
					[customSave]="saveState">
				</dxo-state-storing>
				<dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
				<dxo-selection mode="single"></dxo-selection>
				<dxo-column-chooser
					[enabled]="true"
					mode="select"
					[allowSearch]="true"> 
				</dxo-column-chooser>
				<div *dxTemplate="let info of 'amortizationHeader'">
					<p title={{info.column.caption}} class="header-column-caption">
						{{info.column.caption}}
					</p>
				  </div>
				
				  <div *dxTemplate="let cell of 'pointer'">
					<div class="pointer" title={{cell.text}}>{{ cell.text }}</div>
				  </div>

			</dx-data-grid>
	</mat-expansion-panel> 
</section>

<mango-transaction-popup
    [(transactionPopupVisible)]="transactionPopupVisible"
    [transactionPopupData]="transactionPopupData"
	[eventScheduleData]="eventScheduleData"
	[userInfo]="userInfo">
</mango-transaction-popup>
