@use 'colors' as colors;
.grid-header {
  text-align: center;
}

.dx-header-row {
  background-color: colors.$costarDarkBlue !important;
  color: colors.$white;
  font-weight: 100;
}

.pointer {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}

.link-class {
  box-shadow: none;
  text-decoration: underline;
}

.header-column-caption {
  white-space: normal;
  text-align: center;
  margin: 0px;
  max-height: 42px;
}
