<div
  *ngIf="userHasViewRight; else noObjectAccessRight"
  class="note-list-container"
>
  <crem-page-header
    id="page-header"
    [tabTitle]="objectType"
    [pageTitle]="objectName"
    [showPrimaryButton]="true"
    [customFilters]="true"
    [customActions]="true"
    [showBookmarkButton]="false"
    [showSettingsButton]="false"
    [showListOrMapViewButtons]="false"
    [customSettings]="false"
  >
    <div filters class="search-container">
      <crem-search
        #SearchBox
        [showLabel]="false"
        [placeholder]="'Search notes'"
        [disabled]="false"
        [required]="false"
        [showInfo]="false"
        [value]=""
        [debounceTime]="500"
        [searchOption]="'typing'"
        (changed)="searchNotes($event)"
      >
      </crem-search>
    </div>
    <div actions class="actions-container">
      <crem-button
        id="filter-button"
        text="Filters"
        color="secondary"
        icon="faFilter"
        (buttonClick)="showFilterPopUp()"
      >
      </crem-button>

      <button
        id="more-button"
        class="btn btn-default moreButton"
        [matMenuTriggerFor]="moreMenu"
        (click)="$event.preventDefault()"
      >
        More<mat-icon aria-label="More Menu">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #moreMenu="matMenu" class="moreMatMenu">
        <button id="reset-button" mat-menu-item (click)="reset()">Reset</button>
        <button
          id="column-chooser-button"
          mat-menu-item
          (click)="openColumnChooser()"
        >
          Column Chooser
        </button>
        <button id="export-button" mat-menu-item (click)="exportExcel($event)">
          Export
        </button>
      </mat-menu>
      <div *ngIf="userHasAddRight">
        <crem-button
          id="add-button"
          [text]="'Add'"
          [color]="'primary'"
          [disabled]="false"
          [btnStyle]="'flat'"
          (buttonClick)="addNote()"
        ></crem-button>
      </div>
    </div>
  </crem-page-header>

  <div class="grid-container">
    <dx-data-grid
      #NotesGrid
      id="notes-grid"
      keyExpr="commonNoteID"
      [showColumnLines]="false"
      [showRowLines]="false"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
      [columnResizingMode]="widget"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [filterSyncEnabled]="true"
      [columnMinWidth]="80"
      [dataSource]="notes"
      [height]="'100%'"
      [width]="'100%'"
      [filterValue]="gridFilterValue"
      [columnChooser]="{ width: 400, height: 500 }"
      (onContentReady)="
        onContentReadyExpandAllNotesDivOnSearch($event);
        adaAttributes($event);
        adaPaginationAttr($event);
        adaAttrNoDataGrid($event)
      "
      (onCellPrepared)="onCellPreparedHighlightText($event)"
    >
      <dxo-header-filter
        [visible]="true"
        [allowSearch]="true"
      ></dxo-header-filter>
      <dxo-column-chooser [allowSearch]="true"></dxo-column-chooser>
      <dxo-scrolling mode="standard"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-paging [pageSize]="25"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[25, 50, 100, 200, 500]"
        [showInfo]="true"
        [showNavigationButtons]="true"
        [visible]="true"
      >
      </dxo-pager>
      <dxo-filter-builder-popup
        [width]="1150"
        [height]="600"
        [(visible)]="showFilterBuilderPopUp"
      ></dxo-filter-builder-popup>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-grouping
        [autoExpandAll]="true"
        [contextMenuEnabled]="true"
      ></dxo-grouping>
      <dxo-summary>
        <dxi-group-item column="Id" summaryType="count"> </dxi-group-item>
      </dxo-summary>
      <dxi-column
        *ngFor="let column of noteColumns"
        [dataField]="column.dataField"
        [caption]="column.caption"
        [dataType]="column.dataType"
        [format]="column.format"
        [width]="column.width"
        [sortOrder]="column.sortOrder"
        [alignment]="column.alignment"
        [visible]="column.visible"
        [cellTemplate]="column.dataField === 'note' ? 'noteTextTemplate' : ''"
      ></dxi-column>
      <dxi-column caption="Actions" type="buttons" width="65">
        <dxi-button template="actionsMenuTemplate">
          <div
            *dxTemplate="let data of 'actionsMenuTemplate'"
            class="actionsMenuTemplate"
          >
            <button
              *ngIf="data.data?.canEdit"
              aria-label="edit"
              class="btn btn-link teamMemberActionsButton"
              id="{{ 'edit-' + data.data?.commonNoteID }}"
              (click)="editNote(data.data?.commonNoteID)"
            >
              <span>Edit</span>
            </button>
          </div>
        </dxi-button>
      </dxi-column>
      <div *dxTemplate="let cell of 'noteTextTemplate'">
        <div id="togglePrefixId__{{ cell.data.commonNoteID }}">
          <div
            class="querySearchDivEle"
            #toggleNoteData
            id="toggleDatabyId__{{ cell.data.commonNoteID }}"
            [innerHTML]="showHideMoreLink(cell.data.note)"
          ></div>
          <div id="toggleBtnbyId__{{ cell.data.commonNoteID }}">
            <ng-container
              *ngIf="
                cell.data?.note.indexOf('\n') > -1 ||
                cell.data?.note.length > 100
              "
            >
              <button
                id="'show-hide-' + cell.data.commonNoteID"
                #moreHideButtonHashTag
                class="btn btn-link moreHidespan"
                aria-label="More Hide Note"
                title="Show More/Hide Note"
                (click)="
                  toggleNoteButton(
                    $event,
                    moreHideButtonHashTag,
                    cell.data,
                    toggleNoteData
                  )
                "
              >
                More...
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </dx-data-grid>
  </div>
</div>

<ng-template id="notes-401-msg" #noObjectAccessRight>
  <div class="page-content">
    <p>403 Forbidden</p>
    <p>
      You do not currently have access to this page, please contact your Admin.
    </p>
  </div>
</ng-template>
