@use 'colors';

:host {

  .dashboard-card-drag {

    .card-drag-handle {
      font-size: 2em;
      color: colors.$color-neutral-dark;
      cursor: move;
      position: absolute;
      top: 12px;
      right: 28px;
      z-index: 10;
    }

  }

}