// CoStar Cosmos
$primary: #0559B3;
$primary-medium: #669BD1;
$primary-light: #E3F3FC;
$secondary: #1B3A6E;
$black: #000000;
$neutral-darker: #404040;
$neutral-dark: #808080;
$neutral-medium: #BFBFBF;
$neutral-light: #EAEAEA;
$neutral-lighter: #F5F5F5;
$white: #FFFFFF;
$accent: #EC4A08;
$red: #CF0201;
$yellow: #FFB400;
$green: #017B30;

$success: $green;
$warning: $accent;
$danger: $red;
$info: $yellow;

$backgroundGray: $neutral-lighter;
$hoverBlue: $primary-light;
$borderColor: $neutral-medium;
