@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/var.scss';

mat-icon {
	font-size: 18px;
	height: 18px;
	width: 18px;
	color: $neutral-dark;
}

.task-kanban-card {
	background-color: $white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: $stdPadding;
	margin: 0px $stdPadding $stdPadding $stdPadding;
	border-radius: 4px;
	min-height: $stdPadding * 8;
	font-size: 14px;
	position: relative;

	&:hover {
		// cursor: pointer;

		.task-card-main-wrapper {
			.task-card-edit-icon {
				display: block !important;
			}
		}
	}
}

.task-card-main-wrapper {
	display: flex;
	flex-direction: row;
}

.task-card-edit-icon {
	position: absolute;
	top: $stdPadding;
	right: $stdPadding;
	display: none;

	&:hover {
		cursor: pointer;
	}
}

.task-card-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// margin-left: $stdPadding;
	flex-grow: 1;
	// padding-right: $stdPadding;
}

.task-header {
	display: flex;
	flex-direction: row;
	align-items: center
}

.task-status {
	mat-icon {
		font-size: 24px;
		height: 24px;
		width: 24px;
	}
}

.task-name {
	display: flex;
	font-size: 16px;
	white-space: break-spaces;
	margin-left: $stdPadding;
}

.task-date-assignees {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: $stdPadding;
}

.task-date {

}

.task-assignees {

}

.task-files-activity {	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: $stdPadding;
}

.task-files {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: $stdPadding * 4;
}

.task-activity {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: $stdPadding * 4;
}


.task-approver-icon {
    height: 24px;
	width: 24px;
	border-radius: 12px;
	border: 1px solid #808080;
	padding: $stdPadding / 2;
	font-size: 12px;
	text-align: center;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
    background: white;
    color: #808080;
    margin-right: $stdPadding;

    &.approved {
        color: white;
        background-color: $success;
        border-color: $success;
    }
}