<div class="crem-dash-row">
    <div class="crem-dash-title">
        <h6>Portfolio Dashboard</h6>
    </div>
</div>

<div class="crem-dash-row">
    <div class="crem-dash-card">
        <h6>Portfolio Management</h6>
        <p>a bunch of portfolio links</p>
    </div>

    <div class="crem-dash-card">
        <h6>Financials</h6>
        <p>a bunch of financial links</p>
    </div>

    <div class="crem-dash-card">
        <h6>Bookmarks</h6>
        <p>a bunch of bookmark links</p>
    </div> 
</div>        
<div class="crem-dash-row">
    <div class="crem-dash-doc-store">
        <h6>Document Store</h6>        
    </div>        
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-md">
            <div class="crem-dash-title">
                <h6>Portfolio Dashboard</h6>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-md">
            <div class="crem-dash-card">
                <h6>Portfolio Management</h6>
                <p>a bunch of portfolio links</p>
            </div>
        </div>
        <div class="col-md">
            <div class="crem-dash-card">
                <h6>Financials</h6>
                <p>a bunch of financial links</p>
            </div>
        </div>
        <div class="col-md">
            <div class="crem-dash-card">
                <h6>Bookmarks</h6>
                <p>a bunch of bookmark links</p>
            </div> 
        </div>        
    </div>
    <div class="row">
        <div class="col-md">
            <div class="crem-dash-doc-store">
                <h6>Document Store</h6>        
            </div>        
        </div>        
    </div>
</div> -->