<div class="dynamic-form">
	<div class="dynamic-form-controls-wrapper">
		<div class="controls-left">
			<h5 class="dbl-right-margin">Password Settings</h5>	
		</div>
		<div class="controls-right">
			<button class="btn btn-default">Cancel</button>
			<button class="btn btn-primary">Save</button>			
		</div>
	</div>
	<div class="dynamic-form-content">
		<div class="row">
            <div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Password Settings</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<dx-form 
							[(formData)]="settings"
							[colCount]="2"
							labelLocation="left"
                            [showColonAfterLabel]="false">
							<dxi-item 
								dataField="passwordLength"
								[label]="{ text : 'Minimum password length' }"
                                helpText="Between 2 and 200 characters"
                                template="lengthTemplate">
							</dxi-item>
                            <dxi-item 
								dataField="expirationDays"
								[label]="{ text : 'Password expiration' }"
                                helpText="Between 1 and 180 days"
								template="expirationTemplate">
							</dxi-item>
                            
                            <div *dxTemplate="let data of 'lengthTemplate'">
							    <dx-number-box 
                                    [showSpinButtons]="true" 
                                    [(value)]="settings[data.dataField]"
                                    [min]="2"
                                    [max]="200">
                                </dx-number-box>
							    <form-field-tooltip></form-field-tooltip>
							</div>
                            <div *dxTemplate="let data of 'expirationTemplate'">
							    <dx-number-box 
                                    [showSpinButtons]="true" 
                                    [(value)]="settings[data.dataField]"
                                    [min]="1"
                                    [max]="180">
                                </dx-number-box>
							    <form-field-tooltip></form-field-tooltip>
							</div>                            
                        </dx-form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Single Sign On (SSO) Configuration</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<dx-form 
							[(formData)]="settings"
							[colCount]="2"
							labelLocation="left"
                            [showColonAfterLabel]="false">
							<dxi-item 
                                dataField="ssoEnabled"
                                [label]="{ text : 'SSO Enabled' }"
                                colSpan="2"
                                template="switchTemplate">
                            </dxi-item>
                            <dxi-item 
								dataField="ssoStageUri"
								[label]="{ text : 'SSO Stage URI' }"
								template="ssoStageUriTemplate">
							</dxi-item> 
                            <dxi-item 
								dataField="ssoProdUri"
								[label]="{ text : 'SSO Production URI' }"
								template="textAreaTemplate">
							</dxi-item> 
                            <dxi-item 
								dataField="ssoStageLogoutUri"
								[label]="{ text : 'SSO Stage Logout URI' }"
								template="textAreaTemplate">
							</dxi-item> 
                            <dxi-item 
								dataField="ssoProdLogoutUri"
								[label]="{ text : 'SSO Production Logout URI' }"
								template="textAreaTemplate">
							</dxi-item>    
                            <dxi-item 
                                dataField="redirectToSso"
                                [label]="{ text : 'Redirect to SSO' }"
                                template="switchTemplate">
                            </dxi-item>                                                    
                            <div *dxTemplate="let data of 'switchTemplate'">
                                <mat-slide-toggle [name]="data.dataField" [(checked)]="settings[data.dataField]" (change)="handleToggleChange($event)"></mat-slide-toggle>
                            </div>   
                            <div *dxTemplate="let data of 'textAreaTemplate'">
                                <dx-text-area [(value)]="settings[data.dataField]" [autoResizeEnabled]="true"></dx-text-area>                            
                            </div>   
							<div *dxTemplate="let data of 'ssoStageUriTemplate'">
                                <dx-text-area [(value)]="settings[data.dataField]" [autoResizeEnabled]="true" valueChangeEvent="keyup"></dx-text-area>  
								<a *ngIf="settings.ssoStageUri" class="classification-test-link">Launch</a>                          
                            </div>                          
                        </dx-form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
