<div class="dynamic-form">
	<div class="dynamic-form-controls-wrapper">
		<div class="controls-left">
			<h5>Accounting Settings</h5>
		</div>
		<div class="controls-right">			
			<button class="btn btn-primary">Save</button>
		</div>
	</div>
	<div class="dynamic-form-content">
		<div class="row">
			<div *ngFor="let section of formFields" [ngClass]="section.class">			
				<mat-card>
					<mat-card-header>
						<mat-card-title>{{section.sectionName}}</mat-card-title>
					</mat-card-header>
					<mat-card-content>						
						<dx-form 
							[(formData)]="settings"
							[colCount]="2"
							labelLocation="left"
							[showColonAfterLabel]="false">
							<dxi-item *ngFor="let field of section.fields" 
								[dataField]="field.value"	
								[label]="{ text : field.label }"
								[editorType]="field.controlType"
								[editorOptions]="{ items: field.dropdownValues, searchEnabled: true, disabled : field.readOnly }"
								[template]="field.dxTemplate"
								
								>				
							</dxi-item>	
							<div *dxTemplate="let data of 'textBoxTemplate'">
							    <dx-text-box [(value)]="settings[data.dataField]" [disabled]="data.editorOptions.disabled"></dx-text-box>
							    <form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>						    
							</div>
							<div *dxTemplate="let data of 'dateBoxTemplate'">
							    <dx-date-box [(value)]="settings[data.dataField]" [disabled]="data.editorOptions.disabled"></dx-date-box>
							    <form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>
							</div>
							<div *dxTemplate="let data of 'selectBoxTemplate'">
							    <dx-select-box [dataSource]="data.editorOptions.items" [(value)]="settings[data.dataField]" [searchEnabled]="data.editorOptions.searchEnabled" valueExpr="value" displayExpr="display" [disabled]="data.editorOptions.disabled"></dx-select-box>
							    <form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>
							</div>	
							<div *dxTemplate="let data of 'switchTemplate'">
								<mat-slide-toggle [(checked)]="settings[data.dataField]"></mat-slide-toggle>
								<form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>
							</div>
						</dx-form>
					</mat-card-content>
				</mat-card>	
			</div>	
			<div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Classifications & Measure Event Default Values</mat-card-title>
					</mat-card-header>
					<mat-card-content class="no-padding">
						<dx-sortable
							filter=".dx-tab"
							[data]="classifications"
							itemOrientation="horizontal"
							dragDirection="horizontal"
							(onDragStart)="onTabDragStart($event)"
							(onReorder)="onTabDrop($event)">
							<dx-tab-panel
								#tabPanel							
								[dataSource]="classifications"
								[selectedIndex]="0"
								[loop]="false"
								[animationEnabled]="true"
								[swipeEnabled]="true"
								[deferRendering]="false"
								[repaintChangesOnly]="true"
								>
								<div *dxTemplate="let c of 'title'" class="measure-event-tab">
									<span>{{c.name}}</span>
								</div>
								<div *dxTemplate="let c of 'item'">
									<measure-event-settings [data]="c.data"></measure-event-settings>
								</div>
							</dx-tab-panel>						
						</dx-sortable>
					</mat-card-content>
				</mat-card>
			</div>
		</div>			
	</div>
</div>