@import '../../../../../../assets/styles/colors.scss';
@import '../../../../../../assets/styles/var.scss';

.no-page-card-header {
	top: 0px;
}

.form-field-label {
	display: flex;
	align-items: center;
}

.form-field-input {
	display: flex;
	align-items: flex-start;
}

.form-field-tooltip {
	// color: $iconGray;
	// color: $primary;
	color: $neutral-light;
    position: relative;
    top: -60px;
    padding: 0px;
    float: right;
    min-width: 8px;
    
    &.slide-toggle-tooltip {
    	top: -40px;
    	right: 11px;
    }
}

div.dynamic-form mat-card mat-card-content.mat-card-content mat-slide-toggle.mat-slide-toggle {
	margin-bottom: 0px;


}




