<crem-popup
  id="deleteHistoricScheduleModalId"
  [visible]="true"
  [title]="title"
  [height]="'auto'"
  [resizable]="false"
  [customFooter]="true"
  [showCloseButton]="false"
>
  <div body class="account-modal-content">
    <div *ngIf="isHistorical">
      <span
        >This schedule is Historical and journal entries have potentially been
        sent to your general ledger.<br />
        Deleting this schedule will not create a reversal entry for any periods
        that have been processed to date. <br />
      </span>
    </div>
    <div *ngIf="isInProcess">
      <span>
        This schedule id <b><u>In Process</u></b> and journal entries have
        potentially been sent to your general ledger.<br />
        Deleting this schedule will not create a reversal entry for any periods
        that have been processed to date.<br />
      </span>
    </div>
    <div>
      <span> Are you sure you want to delete this schedule? </span>
    </div>
  </div>
  <div footer>
    <crem-button
      [id]="accountingSummaryService.getId(componentName, 'yes', 'button')"
      type="primary"
      color="danger"
      (click)="yes()"
    >
      Yes, delete
    </crem-button>
    <crem-button
      [id]="accountingSummaryService.getId(componentName, 'cancel', 'button')"
      type="secondary"
      (click)="close()"
    >
      No, cancel
    </crem-button>
  </div>
</crem-popup>
