<costar-popup>
	<popup-controls>
		<popup-controls-right>
			<button class="btn btn-default" (click)="addPrivilege()">Add</button>
		</popup-controls-right>
	</popup-controls>
	<popup-content>  
		<dx-scroll-view height="100%" width="100%">  
			<div class="dialog-table-wrapper list-view-sharing-rights">  
				<dx-data-grid 
					#privilegeGrid
					[dataSource]="listViewPrivileges"
					[showColumnLines]="false"
					[showRowLines]="true"
					[showBorders]="true"
					[rowAlternationEnabled]="true" 
					keyExpr="id"
					(onToolbarPreparing)="onToolbarPreparing($event)" >   
					<dxo-editing 
						mode="batch"
						[allowUpdating]="true"
						[allowDeleting]="true"              
						[useIcons]="true">
					</dxo-editing>                                                              
					<dxo-header-filter [visible]="true"></dxo-header-filter>   
					<dxo-scrolling mode="virtual"></dxo-scrolling>
					<dxo-sorting mode="single"></dxo-sorting>
					<dxi-column dataField="entityType" caption="Type" editCellTemplate="entityTypeTemplate"></dxi-column>
					<dxi-column dataField="entityName" caption="Name" editCellTemplate="entityTemplate"></dxi-column>
					<dxi-column dataField="privilegeType" caption="Right Type">
						<dxo-lookup [dataSource]="privilegeTypeOptions"></dxo-lookup>
					</dxi-column> 
					<div *dxTemplate="let cellInfo of 'entityTypeTemplate'">
						<span *ngIf="!cellInfo.row.isNewRow">{{cellInfo.value}}</span>
						<dx-select-box *ngIf="cellInfo.row.isNewRow"
							[dataSource]="entityTypeOptions" 
							[(value)]="cellInfo.value"
							(onValueChanged)="entityTypeChanged($event)"
						></dx-select-box>
					</div> 
					<div *dxTemplate="let cellInfo of 'entityTemplate'">
						<span *ngIf="!cellInfo.row.isNewRow">{{cellInfo.value}}</span>
						<dx-autocomplete *ngIf="cellInfo.row.isNewRow"                                
							[showClearButton]="true"
							[dataSource]="entityOptions"
							[(value)]="cellInfo.value">
						</dx-autocomplete>                               
					</div> 
				</dx-data-grid>                                                  
			</div>
		</dx-scroll-view>            
	</popup-content>
	<popup-footer>      
		<popup-footer-right>
			<button class="btn btn-default" (click)="cancel(true)">Cancel</button> 
			<button class="btn btn-default" (click)="cancel(false)">Undo</button> 
			<button class="btn btn-default" (click)="save(false)">Apply</button> 
			<button class="btn btn-primary" (click)="save(true)">Save & Close</button> 
		</popup-footer-right>
	</popup-footer>
</costar-popup>   
