<mat-card *ngIf="!section.isTableData">
	<mat-card-header>
		<mat-card-title>{{section.sectionName}}</mat-card-title>
		<div>			
			<button class="btn btn-default btn-sm" [matMenuTriggerFor]="AddFieldMenu">Add Field(s)</button>	
			<mat-menu #AddFieldMenu="matMenu">
				<button mat-menu-item [matMenuTriggerFor]="ExistingFieldMenu">Existing Field</button>
				<button mat-menu-item (click)="createNewField()">New Field</button>							
			</mat-menu>							
			<mat-menu #ExistingFieldMenu="matMenu" (click)="$event.stopPropagation()">
				<form class="form-horizontal filters-menu-form" (click)="$event.stopPropagation()">
					<costar-search class="std-bottom-margin" (changed)="searchAvailableFieldsDataGrid($event)"></costar-search>					
					<dx-data-grid #availableFieldsGrid
						id="availableFieldsContainer"
						[dataSource]="availableFields"
						[showColumnLines]="false"
						[showRowLines]="true"
						[showBorders]="true"
						[rowAlternationEnabled]="true" 
						keyExpr="id">	
						<dxo-selection
						    [selectAllMode]="true"
						    [showCheckBoxesMode]="false"
						    mode="multiple"
						></dxo-selection>														
					    <dxo-scrolling mode="virtual"></dxo-scrolling>
					    <dxi-column dataField="label"></dxi-column>
					    <dxi-column dataField="controlType"></dxi-column>						    
					</dx-data-grid>						
					<button class="btn btn-primary btn-sm std-top-margin" (click)="addFields()">Add Fields</button>
				</form>
			</mat-menu>	
			<button class="btn btn-default btn-sm dbl-left-margin" (click)="launchFormSectionPopup()"><fa-icon icon="cog"></fa-icon></button>	
		</div>
	</mat-card-header>
	<mat-card-content>						
		<dx-form 
			[colCount]="section.columnCount"
			labelLocation="left"
			[showColonAfterLabel]="false">
			<dxi-item *ngFor="let field of sectionFields" 
				[dataField]="field.value"
				[name]="field.id"
				[label]="{ text : field.label }"				
				[editorOptions]="{ items: field.dropdownValues, searchEnabled: true, disabled : field.readOnly }"
				[template]="field.dxTemplate"
				[colSpan]="field.colSpan"
				>								
			</dxi-item>
			<div *dxTemplate="let data of 'textBoxTemplate'">
			    <dx-text-box [disabled]="true"></dx-text-box>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'dateBoxTemplate'">
			    <dx-date-box [disabled]="true"></dx-date-box>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'selectBoxTemplate'">
			    <dx-select-box [dataSource]="data.editorOptions.items" [searchEnabled]="data.editorOptions.searchEnabled" valueExpr="value" displayExpr="display" [disabled]="true"></dx-select-box>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'clauseTemplate'">
			    <dx-text-area [height]="112" [disabled]="true"></dx-text-area>
			    <doc-sec-page></doc-sec-page>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'readOnlyTemplate'">
			    <dx-text-box [disabled]="true" placeholder="Read Only"></dx-text-box>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'calculatedTemplate'">
			    <dx-text-box [disabled]="true" placeholder="Calculated"></dx-text-box>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'slideToggleTemplate'">
			    <mat-slide-toggle [checked]="true" [disabled]="true"></mat-slide-toggle>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'checkboxTemplate'">
			    <dx-check-box [disabled]="true"></dx-check-box>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'textAreaTemplate'">
			    <dx-text-area [disabled]="true"></dx-text-area>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'radioButtonTemplate'">
			    <dx-radio-group
                    [items]="sampleRadioItems"
                    [value]="sampleRadioItems[0]"
                    layout="horizontal"
                    [disabled]="true">
                </dx-radio-group>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
			<div *dxTemplate="let data of 'hierarchyTemplate'">
			    <dx-select-box [dataSource]="data.editorOptions.items" [searchEnabled]="data.editorOptions.searchEnabled" valueExpr="value" displayExpr="display" [disabled]="true" placeholder="Hierarchy..."></dx-select-box>
			    <fa-icon icon="cog" (click)="launchFormItemPopup(data)" class="form-field-tooltip"></fa-icon>
			</div>
		</dx-form>
	</mat-card-content>
</mat-card>	

<mat-card *ngIf="section.isTableData">
	<mat-card-header>
		<mat-card-title>{{section.sectionName}}</mat-card-title>
		<div>
			<button class="btn btn-primary-outline" [disabled]="true"><fa-icon icon="download"></fa-icon></button>
			<button class="btn btn-primary std-left-margin" *ngIf="section.allowAdding" [disabled]="true">Add</button>			
			<button class="btn btn-default std-left-margin" (click)="launchFormSectionPopup()"><fa-icon icon="cog"></fa-icon></button>	
		</div>
	</mat-card-header>
	<mat-card-content class="no-padding">
		<dx-data-grid
			#DataGrid
			[dataSource]="section.data"
			[showColumnLines]="false"
			[columnAutoWidth]="true"
			[showRowLines]="false"
			[showBorders]="true"
			[rowAlternationEnabled]="true" 
			[wordWrapEnabled]="true"

		>
			<dxo-header-filter [visible]="true"></dxo-header-filter>    
			<dxo-editing *ngIf="section.allowEditing"
				mode="inline"
				[allowUpdating]="true"
				[allowDeleting]="true"				
				[useIcons]="true">
			</dxo-editing>
			<dxi-column *ngFor="let col of section.columns" 
				[dataField]="col.dataField" 
				[alignment]="col.alignment"
				[visible]="col.visible"
				[dataType]="col.dataType"
				[caption]="col.caption"
				[allowEditing]="col.allowEditing">				
				<dxo-format *ngIf="col.dataType == 'number' && col.precision >= 0 " type="fixedPoint" [precision]="col.precision"></dxo-format>
			</dxi-column>	
			<dxi-column type="buttons" [width]="110">
		        <dxi-button name="edit"></dxi-button>
		        <dxi-button name="delete"></dxi-button>		        
		    </dxi-column>
		</dx-data-grid>		
	</mat-card-content>
</mat-card>	

<dx-popup
	#FormItemPopup
    width="90%"
    height="100%"
    [showTitle]="true"
    [title]="formItemPopupTitle"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [(visible)]="formItemPopupVisible">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<edit-form-field-dialog [formField]="currentFormItem" (removed)="formItemRemove($event)" (saved)="formItemSave($event)" (cancelled)="formItemCancel($event)"></edit-form-field-dialog>    
    </div>
</dx-popup>	

<dx-popup
	#FormSectionPopup
    width="80%"
    height="80%"
    [showTitle]="true"
    title="Form Section Settings"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [(visible)]="formSectionPopupVisible">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<edit-form-section-dialog [section]="section" (removed)="formSectionRemove($event)" (saved)="formSectionSave($event)" (cancelled)="formSectionCancel($event)"></edit-form-section-dialog>
    </div>
</dx-popup>	

