<div class="amortization">
	<div class="amortization-controls-wrapper">
		<div class="controls-left">
			<h6>Amortization Table | {{ queryName }}</h6>
		</div>

		<div class="controls-right">
			<button class="btn btn-primary-outline btn-sm"
        [matMenuTriggerFor]="listMenu"
      >
        More
        <fa-icon icon="caret-down"></fa-icon>
      </button>

			<mat-menu #listMenu="matMenu">
				<button mat-menu-item
          (click)="showColumnChooser()"
        >Column Chooser</button>

				<button mat-menu-item
          (click)="exportDataGrid()"
        >Export</button>
			</mat-menu>
		</div>
	</div>

	<dx-data-grid class="amortization-grid"
		#AmortizationDataGrid
		id="AmortizationDataGrid"
		[dataSource]="amortizationPeriods"
		[showColumnLines]="true"
		[showRowLines]="true"
		[showBorders]="true"
		[rowAlternationEnabled]="true"
		[allowColumnResizing]="true"
		[allowColumnReordering]="true"
		[columnAutoWidth]="true"
    [wordWrapEnabled]="true"
	>
		<dxo-sorting mode="none"></dxo-sorting>
		<dxo-scrolling mode="virtual"></dxo-scrolling>

		<dxo-column-chooser [allowSearch]="true" mode="dragAndDrop">
		</dxo-column-chooser>

		<dxi-column dataField="PeriodIndex" [fixed]="true"></dxi-column>
		<dxi-column dataField="DisplayPeriod" [fixed]="true"></dxi-column>

		<dxi-column caption="Asset">
			<dxi-column dataField="ROUAssetBeginBalance" caption="Opening Balance">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="AssetAmortization" caption="Amortization">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="AdjustmentAmount" caption="Adjustment">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="ROUAsset" caption="Closing Balance">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>
		</dxi-column>

		<dxi-column dataField="LevelExpense" caption="Level Expense">
			<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
		</dxi-column>

		<dxi-column caption="Short Term Liability">
			<dxi-column dataField="ShortTermLiabilityBeginBalance" caption="Opening Balance">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="ShortTermLiabilityReductionAmount" caption="Reduction">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="ShortTermLiabilityAdjustment" caption="Adjustment">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="ShortTermLiability" caption="Closing Balance">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>
		</dxi-column>

		<dxi-column caption="Long Term Liability">
			<dxi-column dataField="LongTermLiabilityBeginBalance" caption="Opening Balance">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="LongTermLiabilityReductionAmount" caption="Reduction">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="LongTermLiabilityAdjustment" caption="Adjustment">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="LongTermLiability" caption="Closing Balance">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>
		</dxi-column>

		<dxi-column caption="Total Liability">
			<dxi-column dataField="LiabilityBeginBalance" caption="Opening Balance">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="LiabilityReductionAmount" caption="Reduction">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="LiabilityAdjustmentAmount" caption="Adjustment">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>

			<dxi-column dataField="LiabilityClosingBalance" caption="Closing Balance">
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-column>
		</dxi-column>

		<dxi-column dataField="InterestExpense" caption="Interest Expense">
			<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
		</dxi-column>

		<dxi-column dataField="CashAPAmount" caption="Scheduled Payment">
			<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
		</dxi-column>

		<dxi-column dataField="JEStatus" caption="JE Status"></dxi-column>
		<dxi-column dataField="id" [visible]="false"></dxi-column>
		<dxi-column dataField="accountingMeasurementId" [visible]="false"></dxi-column>
		<dxi-column dataField="accountingScheduleId" [visible]="false"></dxi-column>
		<dxi-column dataField="Year" [visible]="false"></dxi-column>
		<dxi-column dataField="Month" [visible]="false"></dxi-column>
		<dxi-column dataField="AmortizationScheduleKey" [visible]="false"></dxi-column>
		<dxi-column dataField="DeferredLeaseExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="DeferredLeaseExpenseBalance" [visible]="false"></dxi-column>
		<dxi-column dataField="StraightLineExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="CapitalLeaseAssetAmount" [visible]="false"></dxi-column>
		<dxi-column dataField="CapitalLeaseLiabilityAmount" [visible]="false"></dxi-column>
		<dxi-column dataField="DepreciationExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="DiscountRate" [visible]="false"></dxi-column>
		<dxi-column dataField="NPV" [visible]="false"></dxi-column>
		<dxi-column dataField="IsBeginningBalance" [visible]="false"></dxi-column>
		<dxi-column dataField="IsJournalEntryApproved" [visible]="false"></dxi-column>
		<dxi-column dataField="IsManualAdjustment" [visible]="false"></dxi-column>
		<dxi-column dataField="PresentValueRecalc" [visible]="false"></dxi-column>
		<dxi-column dataField="CreatedBy" [visible]="false"></dxi-column>
		<dxi-column dataField="CreatedDate" [visible]="false"></dxi-column>
		<dxi-column dataField="ApprovedBy" [visible]="false"></dxi-column>
		<dxi-column dataField="ApprovedDate" [visible]="false"></dxi-column>
		<dxi-column dataField="ExportedDate" [visible]="false"></dxi-column>
		<dxi-column dataField="ExportedBy" [visible]="false"></dxi-column>
		<dxi-column dataField="ExportSystemBatchNumber" [visible]="false"></dxi-column>
		<dxi-column dataField="ExportClientBatchNumber" [visible]="false"></dxi-column>
		<dxi-column dataField="TypeALiabilityAmount" [visible]="false"></dxi-column>
		<dxi-column dataField="TypeBLiabilityAmount" [visible]="false"></dxi-column>
		<dxi-column dataField="CreatedByScheduleID" [visible]="false"></dxi-column>
		<dxi-column dataField="RemainingTermInMonths" [visible]="false"></dxi-column>
		<dxi-column dataField="RemainingPayments" [visible]="false"></dxi-column>
		<dxi-column dataField="OriginalCash" [visible]="false"></dxi-column>
		<dxi-column dataField="AccumulatedAssetAmortization" [visible]="false"></dxi-column>
		<dxi-column dataField="Functional_AssetBalance" [visible]="false"></dxi-column>
		<dxi-column dataField="Functional_AccumulatedAssetAmortization" [visible]="false"></dxi-column>
		<dxi-column dataField="Functional_AssetAmortization" [visible]="false"></dxi-column>
		<dxi-column dataField="Functional_AssetAdjustmentAmount" [visible]="false"></dxi-column>
		<dxi-column dataField="Functional_LevelExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="Functional_ROUAssetInterestExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="FunctionalRate" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeStraightLineExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeCash" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeAdjustments" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeInterestExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeDepreciationExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeDeferredLeaseExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeAdjustmentAmount" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeLiabilityAdjustmentAmount" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeLiabilityReductionAmount" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeAssetAmortization" [visible]="false"></dxi-column>
		<dxi-column dataField="CumulativeLevelExpense" [visible]="false"></dxi-column>
		<dxi-column dataField="PeriodStart" [visible]="false"></dxi-column>
		<dxi-column dataField="PeriodEnd" [visible]="false"></dxi-column>
		<dxi-column dataField="ActualDaysInPeriod" [visible]="false"></dxi-column>
		<dxi-column dataField="IsRetro" [visible]="false"></dxi-column>
		<dxi-column dataField="RetroScheduleId" [visible]="false"></dxi-column>
		<dxi-column dataField="Period" [visible]="false"></dxi-column>
		<dxi-column dataField="FunctionalAssetBeginBalance" [visible]="false"></dxi-column>
		<dxi-column dataField="ParentScheduleID" [visible]="false"></dxi-column>
		<dxi-column dataField="DaysInFullPeriod" [visible]="false"></dxi-column>
		<dxi-column dataField="DaysInFullYear" [visible]="false"></dxi-column>
		<dxi-column dataField="Quarter" [visible]="false"></dxi-column>
		<dxi-column dataField="CalendarPeriod" [visible]="false"></dxi-column>
		<dxi-column dataField="CurrentPortionOfInvestment" [visible]="false"></dxi-column>
		<dxi-column dataField="CurrentPortionUnearnedIncome" [visible]="false"></dxi-column>
		<dxi-column dataField="UnearnedIncome" [visible]="false"></dxi-column>

		<dxo-summary>
			<dxi-total-item
				column="AssetAmortization"
				summaryType="sum"
      >
				<dxo-format type="fixedPoint" [precision]="2"></dxo-format>
			</dxi-total-item>
		</dxo-summary>
	</dx-data-grid>
</div>

