input{
    font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif !important;
    border: 1px solid #a7a49f;
    font-size: 15px;
    color: black;
    height: 33px;
    background-color: white;
    padding: 7px 9px 8px 9px;
}


.dx-template-wrapper{
    padding: 20px;
    border-radius: 4px;
}

.workflow-comments{
    padding: 15px;
  }

.btn-primary-workflow-comments {
    margin-right: 10px;
  }

.workflow-btns-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }