<div>
  <input [id]="accountingSummaryService.getId(componentName,'empty','disabled-input')" [value]="inputStatusText" *ngIf="!isWorkflowDropdownVisible" type="text" disabled="true" aria-label="No workflow status change right">
  <dx-select-box
    [id]="accountingSummaryService.getId(componentName,'statuses','dropdown')"
    [visible]="isWorkflowDropdownVisible"
    [(value)]="dropdownStatusValue"
    valueExpr="workflowStatusId"
    displayExpr="workflowStatus"
    [inputAttr]="{ 'aria-label': 'Workflow Status Dropdown' }"
    [showClearButton]="false"
    [dataSource]="dropdownDataSource"
    [dropDownOptions]="{ wrapperAttr: { class: 'accounting-summary-style-container workflow-dropdown-list-container' } }"
    height="34px"
    width="200px"
    (onValueChanged)="onValueChanged($event)"
    itemTemplate="item"
  >
    <div *dxTemplate="let itemData of 'item'" >
      <div [id]="accountingSummaryService.getId(componentName,'status-item', itemData.workflowStatusId.toString())"
      (mouseenter)="onMouseEnter($event, itemData)" (mouseleave)="onMouseLeave()"
      >
        {{itemData.workflowStatus}}
      </div>
    </div>
  </dx-select-box>

  <dx-tooltip
    [visible]="isTooltipVisible" 
	  [target]="toolTipTarget"
  >
    <div *dxTemplate="let data of 'content'">
        {{ btnDisabledReason }}
    </div>
  </dx-tooltip>

    <div class="work-flow-comments" *ngIf="this.commentsVisible">
      <p class="work-flow-comment-label">Change Workflow Status</p>

      <textarea
        #commentTextArea
        [id]="accountingSummaryService.getId(componentName,'status','textarea')"
        autofocus
        class="work-flow-commentText"
        placeholder="Enter a comment"
        [required]="isCommentsRequired"
        [(ngModel)]="commentText"
        placeholder="Enter a comment {{isCommentsRequired ? '(required)' : ''}}"
      ></textarea>
      
      <div class="workflow-btns-container">
        <crem-button
          [id]="accountingSummaryService.getId(componentName,'save','button')"
          type="primary"
          (click)="saveWorkFlowComment()"
          class="btn-primary-workflow-comments">
          Save</crem-button>
          
        <crem-button
          [id]="accountingSummaryService.getId(componentName,'cancel','button')"
          type="secondary"
          (click)="cancelChanges()">
          Cancel</crem-button>
    </div>

</div>
