@use 'styles' as *;

.workflow-status-div {
  @include costar(border, gray04);
  padding: 5px 9px 9px;
  height: 32px;
  background-color: white;
  width: 100%;
  min-width: 220px;
  box-sizing: border-box;
  align-content: center;
}

.workflow-status-text {
  font-weight: 700;
}

.workflow-comments {
  padding: 15px;
}

.btn-primary-workflow-comments {
  margin-left: 10px;
  margin-right: 10px;
}

.workflow-btns-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

dx-select-box,
dx-drop-down-box {
  .custom-with-label {
    display: flex;
    align-items: center;
    @include costar(padding-left, 2);
  }
}
