:host::ng-deep {
  .strategy-global {
    .dashboard-map  {
      display: flex;
      flex-direction: column;
      .charts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 2rem;
        overflow-x: auto;
        .mat-figure {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
        }
      }
    }
    .full-width {
      width: 100%;
      display: block;
    }
  }
}