<div class="dashboard">
  <div class="dashboard-controls-wrapper">
    <div class="controls-left">
      <portfolio-menu [showSearchRow]="true"></portfolio-menu>
      <costar-dropdown [dropdownData]="calendarDropdown"></costar-dropdown>
    </div>
    <div class="controls-right"></div>
  </div>

  <div class="dashboard-content-wrapper">
    <router-outlet></router-outlet>

    <div class="dashboard-cards-wrapper">
      <div class="row"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <div class="dashboard-card-drag"
          cdkDrag
          *ngFor="let card of cards; let i = index;"
          [class.col-md-6]="card.colSpan === 1"
          [class.col-md-12]="card.colSpan === 2"
          [class.hide]="!card.visible"
        >
          <mat-icon cdkDragHandle
            class="card-drag-handle"
          >drag_handle</mat-icon>

          <accounting-workflow-status-card *ngIf="card.componentName === 'AccountingWorkflowStatusComponent'"
          ></accounting-workflow-status-card>

          <je-account-by-status-card *ngIf="card.componentName === 'JECountByStatusThisQuarter'"
            (cardResize)="resizeCard(card)"
          ></je-account-by-status-card>

          <period-event-count-card *ngIf="card.componentName === 'PeriodEventCountThisQuarter'"
            (cardResize)="resizeCard(card)"
          ></period-event-count-card>

          <lease-alerts-card *ngIf="card.componentName === 'LeaseAlertsCard'"
          ></lease-alerts-card>

          <upcoming-expirations-card *ngIf="card.componentName === 'UpcomingExpirationsCardComponent'"
          ></upcoming-expirations-card>
        </div>
      </div>
    </div>

  </div>
</div>
