<dx-popup id="transactionPopup"
    title="Scheduled Transactions"
    width="55%"
    height="80%"
    [resizeEnabled]="true"
    [(visible)]="transactionPopupVisible"
    (onHidden)="onTransactionPopupHidden()"
    [hideOnOutsideClick]="true"
    showCloseButton="false"
    [wrapperAttr]="{ class: 'accounting-summary-style-container' }">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view height="40%">
            <div class="half">
                <div class="clearfix">
                    <label class="float-left label-popup" for="GlEventName">
                        Event Name:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.glEventName }}
                    </div>
                </div>
                <div class="clearfix">
                    <label class="float-left label-popup" for="PaymentFrequencyValue">
                        Payment Frequency:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.paymentFrequency }}
                    </div>
                </div>
                <div class="clearfix">
                    <label class="float-left label-popup" for="Amount">
                        Recurring Amount:
                    </label>
                    <div class="input-popup">
                        {{ formattingService.localFormat(+transactionPopupData.recurringAmount, transactionPopupData.chargeCurrencyDecimalPrecision) + ' ' + transactionPopupData.chargeCurrency }}
                    </div>
                </div>
                <div class="clearfix">
                    <label class="float-left label-popup" for="EventPeriod">
                        Event Period:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.eventBeginDate | date:dateFormat }}
                        <span *ngIf="transactionPopupData.eventEndDate !== null"> - </span>
                        {{ transactionPopupData.eventEndDate | date:dateFormat }}
                    </div>
                </div>
                <div class="clearfix">
                    <label class="float-left label-popup" for="GlAccountName">
                        Account Name:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.glAccountName }}
                    </div>
                </div>

                <div class="clearfix">
                    <label class="float-left label-popup" for="GlAccountPolicyType">
                        Recognition Category GAAP:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.glAccountPolicyTypeName }}
                    </div>
                </div>
                <!-- <div class="clearfix">
                    <label class="float-left label-popup" for="PaymentFrequencyValue">
                        Area:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.units }}
                        {{ transactionPopupData.measureArea }}
                    </div>
                </div> -->

                <!-- <div class="clearfix">
                    <label class="float-left label-popup" for="LeaseAbstractName">
                        Vendor:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.vendorName }}
                    </div>
                </div> -->

                <!-- <div class="clearfix">
                    <label class="float-left label-popup" for="LeaseAbstractName">
                        Prorated:
                    </label>
                    <div class="input-popup">
                        {{ isProrated === 'Yes'
                        ? isProrated + ': ' +
                        transactionPopupData.prorationName
                        : isProrated }}
                    </div>
                </div> -->

                <!-- <div class="clearfix" *ngIf="isProrated !== 'No' && isProrated !== null && isProrated !== ''">
                    <label class="float-left label-popup" for="FirstRecurringDate">
                        First Recurring Payment Date:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.firstRecurringDate | date:dateFormat }}
                    </div>
                </div> -->
            </div>
            <div class="half">
                <!-- <div class="clearfix">
                    <label class="float-left label-popup" for="GlAccountCode">
                        Account Code:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.glAccountCode }}
                    </div>
                </div>
        
                <div class="clearfix">
                    <label class="float-left label-popup" for="GlAccountCode">
                        Account Category:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.glCategoryName }}
                    </div>
                </div> -->
                <div class="clearfix">
                    <label class="float-left label-popup" for="IFRSGlAccountPolicyType">
                        Recognition Category IFRS:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.ifrsglAccountPolicyTypeName }}
                    </div>
                </div>
                <div class="clearfix">
                    <label class="float-left label-popup" for="PaymentFrequencyValue">
                        Status:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.processingStatus  }}
                    </div>
                </div>
                <div class="clearfix">
                    <label class="float-left label-popup" for="CreatedDate">
                        Created:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.createdDate | date:dateFormat }}
                        By {{ transactionPopupData.createdByName }}
                    </div>
                </div>
                <div class="clearfix">
                    <label class="float-left label-popup" for="LastModifiedDate">
                        Modified:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.lastModifiedDate | date:dateFormat }} By {{
                        transactionPopupData.lastModifiedByName }}
                    </div>
                </div>
                <div class="clearfix">
                    <label class="float-left label-popup" for="PaymentFrequencyValue">
                        System Event ID:
                    </label>
                    <div class="input-popup">
                        {{ transactionPopupData.glEventID }}
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
            <div class="clearfix">
                <div>
                    <label for="Notes" class="notes-label ">Notes:</label>
                    <br>
                    <textarea disabled id="Notes" rows="2" [(ngModel)]="transactionPopupData.glEventNotes"></textarea>
                </div>
            </div>
        </dx-scroll-view>

        <dx-data-grid
            #transactionPopupGrid
            [dataSource]="transactionPopupData.transactions"
            [id]="accountingSummaryService.getId(componentName ,'popup','section')"
            [rowAlternationEnabled]="true" 
            [showColumnLines]="true"
            [columns]="transactionGridColumns"
            [showRowLines]="true"
            [showBorders]="true"
            [allowColumnResizing]="true"
            [wordWrapEnabled]="true"
            [columnAutoWidth]="true"
            height="60%"
            width="100%"
            [loadPanel]="{enabled: true,
                shading: true,
                visible: true,
                shadingColor: 'rgba(0, 0, 0, 0.4)'}">

            <dxo-summary [calculateCustomSummary]="customSummaryCalculation">
                <dxi-total-item
                    alignment="right"
                    name="TotalsLabel"
                    summaryType="custom"
                    showInColumn="DueBy"
                    displayFormat="Total Amount:">
                </dxi-total-item>

                <dxi-total-item
                    alignment="right"
                    name="CountLabel"
                    summaryType="custom"
                    showInColumn="DueBy"
                    displayFormat="Count:">
                </dxi-total-item>

                <dxi-total-item
                    alignment="right"
                    name="baseAmountTotal"
                    summaryType="custom"
                    showInColumn="baseAmount"
                    [displayFormat]="baseAmountFormatter">
                </dxi-total-item>
                  
                <dxi-total-item
                    alignment="right"
                    name="targetAmountTotal"
                    summaryType="custom"
                    showInColumn="targetAmount"
                    [displayFormat]="targetAmountFormatter">
                </dxi-total-item>

                <dxi-total-item
                    alignment="right"
                    name="baseAmountCount"
                    summaryType="custom"
                    showInColumn="baseAmount">
                </dxi-total-item>

                <dxi-total-item
                    alignment="right"
                    name="targetAmountCount"
                    summaryType="custom" 
                    showInColumn="targetAmount">
                </dxi-total-item>
            </dxo-summary>

                <div *dxTemplate="let info of 'amortizationHeader'">
					<p title={{info.column.caption}}
                     class="header-column-caption">
					  {{info.column.caption}}
					</p>    
				  </div>

                <div *dxTemplate="let cell of 'pointer'">
                    <div class="pointer" title={{cell.text}}>{{ cell.text }}</div>
                </div>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
      </dx-data-grid>
    </div>
</dx-popup>