.half {
  float: left;
  width: 50%;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

.label-popup {
  width: 50%;
}

.input-popup {
  width: 95%;
}

textarea {
  height: 60px;
  width: 100%;
  resize: none;
  outline: none;
  background-color: #fdfdfd;
}

.pointer {
  font-size: 12px;
}

label {
  display: inline-block;
  margin-bottom: 0.4rem;
}

.notes-label {
  display: inline-block !important;
  margin-bottom: 0.4rem !important;
  margin-top: 0.4rem !important;
}

.header-column-caption {
  font-size: 12px;
}
