<div class="service-accounts-page">
	<div class="service-accounts-page-title-wrapper">
		<div class="controls-left">
			<h2 class="title std-right-margin">{{ pageTitle }}</h2>
				<cs-search class="service-accounts-search std-right-margin"
								(changed)="searchDataGrid($event)">
				</cs-search>
			<div class="service-accounts-dropdown">
				<crem-dropdown
					[isDisabled]='deleting'
					[dataSource]='dropdownField'
					[allowSearch]='false'
					placeholder='Account Filter'
					initialSelectedValue='Active'
					[showClearButton]='false'
					[showColumnHeader]='false'
					displayExpr='value'
					valueExpr='value'
					(selectedItems)="onFilterChange($event)"
				></crem-dropdown>
			</div>
		</div>
		<div class="controls-right">
			<div class="std-right-margin">
				<crem-button type="primary" (click)="addServiceAccount()">Add</crem-button>
			</div>
			<crem-button type="secondary" (click)="exportGrids()">Export</crem-button>
		</div>
		</div>
	<div class="service-accounts-page-data-grid-wrapper">
		<dx-data-grid
			#DataGrid
			[dataSource]="serviceAccountsData"
			keyExpr="contactId"
			[showColumnLines]="false"
			[showRowLines]="false"
			[showBorders]="false"
			[rowAlternationEnabled]="true" 
			[allowColumnResizing]="true"
			[allowColumnReordering]="true"
			[columnAutoWidth]="true"
			[filterSyncEnabled]="true"
			[columnMinWidth]="10"
			(onCellClick)="openAccountDetails($event)"
		>
			<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>    
			<dxo-sorting mode="multiple"></dxo-sorting>
			<dxo-column-fixing [enabled]="true"></dxo-column-fixing>
			<dxo-column-chooser [allowSearch]="true" mode="select">
			</dxo-column-chooser>
			<dxo-paging [pageSize]="50"></dxo-paging>
				<dxo-pager 
						[showPageSizeSelector]="true"
						[allowedPageSizes]="[50, 100, 200, 500]"
						[showInfo]="true"
						[showNavigationButtons]="true"
						[visible]="true"
			>
			</dxo-pager>
			<dxi-column *ngFor="let col of columns" 
				[dataField]="col.dataField" 
				[alignment]="col.alignment"
				[visible]="col.visible"
				[dataType]="col.dataType"
				[format]="col.format"
				[caption]="col.caption"
				[fixed]="col.fixed"
				[allowEditing]="col.allowEditing"
				[cellTemplate]="col.cellTemplate"
				>
				<dxo-format *ngIf="col.dataType == 'number' && col.precision >= 0 " type="fixedPoint" [precision]="col.precision"></dxo-format>
			</dxi-column>

			<dxi-column dataField="Actions" caption="Actions" type="buttons" width="65">
					<dxi-button	template="moreMenuTemplate">
						<div *dxTemplate="let data of 'moreMenuTemplate'">
						<button class="btn btn-link" [matMenuTriggerFor]="MoreMenu">
							<fa-icon [icon]="faEllipsisH"></fa-icon>
						</button>
							<mat-menu #MoreMenu="matMenu">                
								<ul> 
									<li *ngIf="data.data.contactActive==true" (click)="deleteServiceAccount(data,false)">Deactivate</li>                 
									<li *ngIf="data.data.contactActive==false" (click)="deleteServiceAccount(data,true)">Reactivate</li>
								</ul>
							</mat-menu>
						</div>
					</dxi-button>		    	
				</dxi-column>	
		</dx-data-grid>
		<dx-load-panel shadingColor="rgba(255,255,255,0.2)"
			[showIndicator]="true"
			[showPane]="true"
			[shading]="true"
			[closeOnOutsideClick]="false"
		></dx-load-panel>
	</div>
</div>

