@use "../../../../../../../libs/ui-shared/common/src/styles/" as *;

div.service-accounts-page {
  display: flex;
  flex-direction: column;
  width: 100%;

  div.service-accounts-page-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include costar(padding, 3);

    &>div {
      display: flex;
      align-items: center;

      .title{
        @include costar(margin-bottom, 0)
      }
    }
  }

  .service-accounts-page-data-grid-wrapper {
    height: calc(100vh - 180px);
  }

}


button.userOptionsMenuBtn:focus{
  box-shadow: 0 0 0 0.1rem #779ede;
}

:host ::ng-deep .not-clickable {  
  cursor: default !important;  
}

:host ::ng-deep .not-clickable > .dx-template-wrapper > a {  
  cursor: pointer !important;  
}

