@use '../../../../../../../libs/ui-shared/common/src/styles/' as *;

.user-name {
  @include costar(font-weight, bold);
  @include costar(padding-left, 1);
}

::ng-deep {
  crem-modal {
    .modalHeader {
      background-color: #fbfbfb !important;
      padding: 10px 16px !important;
      @include costar(border-bottom, gray04);
    }

    .modal-title {
      color: #414141 !important;
    }

    .modalContent {
      @include costar(border-bottom, gray04);
      padding-bottom: 40px !important;
    }

    .btn-secondary {
      &:focus {
        box-shadow: none !important;
      }
      &:hover {
        background-color: #fbfbfb !important;
      }
    }
  }
}
