@use 'styles' as *;

#portfolio-filters {
  width: 100% !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  crem-button button {
    margin-left: 0;
  }
}

.message {
  padding: 16px;
  color: maroon;
  font-weight: bold;
}

#portfolio-metrics {
  position: relative;
  height: 112px;
}
