<mat-sidenav-container class="app-container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <mat-nav-list>
      <div class="costar-toolbar-logo" (click)="close()" [routerLink]="['/costar']"></div>
      <!-- <a mat-list-item (click)="close()" [routerLink]="['/costar/news']">Logo</a> -->
      <mat-divider></mat-divider>
      <a mat-list-item (click)="close()">Surveys</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="close()">Add a Listing</a>
      <a mat-list-item (click)="close()">Marketing Center</a>
      <a mat-list-item (click)="close()">Listing Plan</a>
      <a mat-list-item (click)="close()">My Profile</a>
      <a mat-list-item (click)="close()">Admins</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="close()">Properties</a>
      <a mat-list-item (click)="close()">Comps</a>
      <a mat-list-item (click)="close()">Tenants</a>
      <a mat-list-item (click)="close()">Professionals</a>
      <a mat-list-item (click)="close()">Analytics</a>
      <a mat-list-item (click)="close()">Lease Analysis</a>
      <a mat-list-item (click)="close()" [routerLink]="['news']">News</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="close()" [routerLink]="['facilities']">Real Estate Manager</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="close()">LoopNet</a>
      <a mat-list-item (click)="close()">Showcase</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="close()">Settings</a>
      <a mat-list-item (click)="close()">Knowledge Center</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>		
    <mat-toolbar class="costar-unified-toolbar">
      <mat-toolbar-row class="costar-administration-bar">
        <span class="main-menu-button" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </span>
        
        <div class="costar-toolbar-wrapper">
          <div class="costar-toolbar-logo"></div>
          <div class="search-wrapper">
            <!-- <global-search></global-search> -->
            <mat-form-field appearance="outline" class="costar-toolbar-search">
              <input matInput placeholder="Building, Address, Market, Company, Person" autocomplete="off" [formControl]="searchControl" [matAutocomplete]="search">
              <mat-icon matSuffix>search</mat-icon>
              <mat-autocomplete #search="matAutocomplete">
                <div *ngIf="searchControl.value" class="costar-toolbar-search-menu">
                  <mat-option *ngFor="let result of filteredResults | async" [value]="result.name" (click)="navigateToObject(result)" class="search-result">
                    <div class="search-result-wrapper">
                      <div class="search-result-value">
                        {{result.name}}
                      </div>
                      <div class="search-result-category">
                        {{result.objectType}}
                      </div>
                    </div>
                  </mat-option>
                </div>
                <div *ngIf="!searchControl.value" class="costar-toolbar-search-menu">
                  <mat-option class="search-instructions">
                    Type in an Address, Building Name, City, Market, or Deal Name
                  </mat-option>
                  <mat-option class="recent-searches-label">
                    RECENT SEARCHES
                  </mat-option>
                  <mat-option class="search-result" (click)="navigateToObject(searchResults[0])">
                    <div class="search-result-wrapper">
                      <div class="search-result-value">
                        {{searchResults[0].name}}
                      </div>
                      <div class="search-result-category">
                        {{searchResults[0].objectType}}
                      </div>
                    </div>
                  </mat-option>
                </div>
              </mat-autocomplete>
            </mat-form-field>						
          </div>
        </div>
        <div class="costar-toolbar-right-side">					
          <mat-icon>notifications</mat-icon>									
          <mat-icon>help_outline</mat-icon>									
          <button class="btn btn-default add-listing-button" [matMenuTriggerFor]="addListingMenu">Add a Listing <fa-icon icon="caret-down"></fa-icon></button>
          <mat-menu #addListingMenu="matMenu">				
            <button mat-menu-item>For Sale Listing</button>  
            <button mat-menu-item>For Lease Listing</button>    
          </mat-menu>
        </div>
        
      </mat-toolbar-row>
      <mat-toolbar-row class="costar-top-menu">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['news']" [routerLinkActive]="['active']">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['properties']" [routerLinkActive]="['active']">Properties</a>				      
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['leasing']" [routerLinkActive]="['active']">Leasing</a>				      
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['sales']" [routerLinkActive]="['active']">Sales</a>				      
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['tenants']" [routerLinkActive]="['active']">Tenants</a>				      
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['professionals']" [routerLinkActive]="['active']">Professionals</a>				      
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['markets']" [routerLinkActive]="['active']">Markets</a>				      
          </li>	
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['public-record']" [routerLinkActive]="['active']">Public Record</a>				      
          </li>	
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['marketing-center']" [routerLinkActive]="['active']">Marketing Center</a>				      
          </li>	
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['enterprise']" [routerLinkActive]="['active']">Enterprise</a>				      
          </li>				 				    
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['str']" [routerLinkActive]="['active']">STR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['assets']" [routerLinkActive]="['active']">My Assets</a>				      
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['deals']" [routerLinkActive]="['active']">My Deals</a>				      
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['loans']" [routerLinkActive]="['active']">My Loans</a>				      
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['facilities']" [routerLinkActive]="['active']" title="Real Estate Manager">RE Manager</a>				      
          </li>
        </ul>				
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


