@use '../../../../../../../libs/ui-shared/common/src/styles/' as *;

.page-content {
  @include costar(padding, 4);
}

:host ::ng-deep {
  crem-page-header label span {
    display: contents !important;
  }
}

.building-info-container {
  width: 100% !important;
  display: flex;
  flex-direction: row;
}

.crem-building-info-container {
  height: 330px;
}

.els-content-container {
  height: 330px;
}

#els-address {
  @include costar(padding-left, 4);
  width: 50%;
}

#costar-matching-building-info {
  width: 50%;
}

.els-address-container {
  @include costar(padding, 4);
}

.map-container {
  width: 100%;
  height: 200px;
  @include costar(padding-top, 2);
}

.lat-long {
  @include costar(padding-top, 1);
  @include costar(font-size, small);
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 2%;
}

.costar-matching-properties-container {
  @include costar(margin-top, 4);
  height: 100%;
}

.search-container {
  @include costar(padding, 4);
  text-align: right;
}

.grid-container {
  @include costar(padding-left, 4);
  @include costar(padding-right, 4);
}

.associated-property-info {
  @include costar(padding, 4);
  .propertyInfo {
    @include costar(background-color, gray06);
    @include costar(padding, 2);
  }
}

.confirm {
  @include costar(padding-top, 4);
  width: 100%;
  text-align: right;
}

.confirm-button {
  display: inline-block;
}

.no-verified-address-msg {
  @include costar(padding, 4);
}

.no-match-msg {
  position: absolute;
  top: 55%;
  left: 45%;

  @include costar(font-family, body);
  @include costar(color, gray01);
  font-weight: 700;
}

.match-err-msg {
  @include costar(padding, 4);
  @include costar(color, danger);
  padding-top: 75px;
}

.note {
  @include costar(padding-top, 2);
}
