/* @use "../../../../../../../libs/ui-shared/common/src/styles/" as *; */

.padding{
  padding: 10px 10px 10px 10px;
}

.costar-matching-properties-container {
  margin-top: 20px;
}

.search-container {
  padding: 10px 20px 10px 10px;
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 25px 25px 25px 25px;
  /* @include costar(padding, 3); */
  padding: 40px 10px 10px 10px;
}

.label-item {
  text-align: right;
  padding-right: 10px;
  font: 14px Roboto,Helvetica Neue,sans-serif;
  color: dimgray;
}

.value-item {
  font: 14px Roboto,Helvetica Neue,sans-serif;
}

.associatedPropertyInfo {
  padding-top: 10px;
  .propertyInfo {
    background-color: lightgray;
    padding: 5px;
  }
}

.confirm {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 25px;
  /* @include costar(padding, 3); */
  padding: 10px 10px 10px 10px;
  width: 100%;
  text-align: right;
}
