<div *ngIf="userHasPageAccess; else noPageAccessContent">
  <div *ngIf="userHasViewRights; else noAccessFlgContent">
    <div *ngIf="buildingInfo">
      <crem-page-header
        id="page-header"
        pageTitle="CoStar Property Association"
        [showTitleInfo]="false"
      ></crem-page-header>

      <div class="page-content">
        <div class="building-info-container">
          <crem-card
            id="costar-matching-building-info"
            title="Building Information"
          >
            <div class="crem-building-info-container">
              <div class="crem-building-info">
                <crem-descriptions
                  [items]="propertyDescriptions"
                ></crem-descriptions>
              </div>
              <div
                *ngIf="!outsideResearchMarkets"
                class="button-container"
                title="{{ verifyAddressTooltip }}"
              >
                <crem-button
                  [id]="'verify-address-button'"
                  [text]="'Verify Address'"
                  [btnStyle]="'flat'"
                  [color]="'primary'"
                  [size]="'medium'"
                  [ariaLabel]="'validate-address'"
                  [disabled]="false"
                  [className]="''"
                  [styles]="'width:200px'"
                  (buttonClick)="verifyAddress()"
                ></crem-button>
              </div>
            </div>
          </crem-card>
          <crem-card
            *ngIf="
              !outsideResearchMarkets &&
              (cleanseAddress ||
                noVerifiedAddressMsg.length > 0 ||
                matchErrMsg.length > 0)
            "
            id="els-address"
            title="Suggested Address"
          >
            <div class="els-content-container">
              <div
                class="no-verified-address-msg"
                *ngIf="noVerifiedAddressMsg.length > 0"
              >
                {{ noVerifiedAddressMsg }}
              </div>
              <div class="match-err-msg" *ngIf="matchErrMsg.length > 0">
                {{ matchErrMsg }}
              </div>
              <div *ngIf="cleanseAddress" class="els-address-container">
                <div>{{ elsAddress }}</div>
                <div class="map-container">
                  <google-map height="100%" width="100%" [options]="options">
                    <map-marker [position]="marker?.position"></map-marker>
                  </google-map>
                </div>
                <div *ngIf="cleanseAddress" class="lat-long">
                  Latitude: {{ cleanseAddress?.latitude }}, Longitude:
                  {{ cleanseAddress?.longitude }}
                </div>
                <div class="button-container" title="{{ useAddressTooltip }}">
                  <crem-button
                    [id]="'use-address-button'"
                    [text]="'Use Address'"
                    [btnStyle]="'flat'"
                    [color]="'primary'"
                    [size]="'medium'"
                    [ariaLabel]="'validate-address'"
                    [disabled]="false"
                    [className]="''"
                    [styles]="'width:200px'"
                    (buttonClick)="confirmSaveAddress()"
                  ></crem-button>
                </div>
              </div>
            </div>
          </crem-card>
        </div>
        <div
          *ngIf="!outsideResearchMarkets"
          class="costar-matching-properties-container"
        >
          <crem-card id="costar-matching-match-property" title="Match Property">
            <div class="no-match-msg" *ngIf="properties?.length === 0">
              <p>Unable to match property</p>
            </div>
            <div class="search-container">
              <crem-search
                [showLabel]="false"
                [placeholder]="''"
                [disabled]="false"
                [required]="false"
                [showInfo]="false"
                [value]="buildingInfo.buildingAddress_1"
                [debounceTime]="500"
                [searchOption]="'typing'"
                (changed)="searchCostarProperties($event)"
              >
              </crem-search>
            </div>
            <div class="grid-container" *ngIf="properties?.length > 0">
              <dx-data-grid
                #PropertiesGrid
                id="costar-matching-matched-properties"
                [dataSource]="properties"
                [showBorders]="true"
                [hoverStateEnabled]="true"
                [showRowLines]="true"
                [showColumnLines]="false"
                (onKeyDown)="onGridCellKeyDown($event)"
                (onSelectionChanged)="onSelectionChanged($event)"
              >
                <dxo-selection mode="multiple"></dxo-selection>
                <dxi-column
                  dataField="coStarID"
                  caption="CoStar ID"
                  alignment="left"
                ></dxi-column>
                <dxi-column
                  dataField="coStarAddress"
                  caption="Property Address"
                  alignment="left"
                  dataType="date"
                  format="MM/dd/yyyy hh:mm:ss a"
                ></dxi-column>
                <dxi-column
                  dataField="propertyType"
                  caption="Property Type"
                  alignment="left"
                ></dxi-column>
                <dxi-column
                  dataField="confidenceScore"
                  caption="Confidence Score"
                  alignment="left"
                ></dxi-column>
              </dx-data-grid>
              <div
                class="associated-property-info"
                *ngIf="PropertiesGrid?.selectedRowKeys?.length > 0"
              >
                <div>Associate Property to</div>
                <div class="propertyInfo">
                  {{
                    PropertiesGrid.instance.getSelectedRowsData()[0]
                      .coStarAddress
                  }}
                </div>
                <div class="confirm">
                  <crem-button
                    class="confirm-button"
                    type="primary"
                    id="costar-matching-confirm-button"
                    (buttonClick)="saveCostarInfo()"
                    >Confirm
                  </crem-button>
                </div>
              </div>
            </div>
          </crem-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noAccessFlgContent>
  <div class="page-content">
    <crem-no-objects-found
      [title]="'No access to the CoStar Matching'"
      [subtitle]="
        'You do not currently have access to this page, please contact your Admin'
      "
    ></crem-no-objects-found>
  </div>
</ng-template>

<ng-template #noPageAccessContent>
  <div class="page-content">
    <p>403 Forbidden</p>
    <p>
      You do not currently have access to this page, please contact your Admin.
    </p>
  </div>
</ng-template>

<crem-popup
  [id]="'update-address-confirmation'"
  [visible]="showUseAddressConfirmation"
  [title]="'Use Address Confirmation'"
  [saveButtonText]="'Yes'"
  [closeButtonText]="'No'"
  height="auto"
  width="500"
  [draggable]="'true'"
  [showCloseButton]="'true'"
  (close)="closePopup()"
  (save)="updateBuildingAddress()"
>
  <div body>
    <div>Are you sure you would like to proceed?</div>
    <div class="note">
      NOTE: This will update the building address information on your building
      form.
    </div>
  </div>
</crem-popup>
