<div
  class="balance-cards"
  [ngStyle]="{
    'gap': configuration?.gap+'px' || null,
    'direction': configuration?.direction,
    'grid-template-columns': 'repeat('+configuration?.repeat + ', minmax(' + configuration?.maxWidth + 'px, 1fr))',
  }"
>
  <ng-container *ngFor="let card of cards">
    <div [class]="'balance-card ' + card.className ?? ''">
      <!-- Header -->
      <div class="balance-card-header">
        <h3 class="title" [id]="addID(card.cardTitle, 'header', 'label')">
          {{ card.cardTitle }}
        </h3>
        <h4 *ngIf="card.cardSubtitle" class="subtitle eyebrow">
          {{ card.cardSubtitle }}
        </h4>
        <p *ngIf="card.description" class="description">
          {{ card.description }}
        </p>
      </div>

      <!-- Body -->
      <div class="balance-card-content">
        <div class="main-value">
          <dx-number-box
            class="value"
            *ngIf="card.valueEdit"
            [id]="addID(card.cardTitle, 'primary', 'value')"
            [name]="openingBalance_value"
            [(value)]="card.value"
            [formControlName]="openingBalance"
            [format]="formatCurrency(card.precision)"
            [disabled]="item.disabled"
            (valueChange)="
              valueInputChange(
                $event,
                card.cardTitle,
                'mainvalue',
                card.value,
                true
              )
            "
            (onFocusOut)="
              onBlurInputChange($event, card.cardTitle, 'mainValue', card.value)
            "
          >
          </dx-number-box>
          <h5
            *ngIf="!card.valueEdit"
            class="value"
            [id]="addID(card.cardTitle, 'primary', 'value')"
          >
            <ng-container *ngIf="!card.valueLink; else with_link">
              {{ card.value }}
            </ng-container>
            <ng-template #with_link>
              <a
                (click)="presentValuePreviewExcel()"
                [target]="card.valueTarget || undefined"
                >{{ card.value }}</a
              ></ng-template
            >
          </h5>
          <h6
            class="suffix eyebrow"
            [id]="addID(card.cardTitle, 'currency', 'label')"
          >
            {{ card.valueSuffix }}
          </h6>
        </div>
        <!-- Body: List of Elements -->
        <ul class="elements">
          <li
            *ngFor="let item of card.elements"
            class="element"
            [ngClass]="item.className"
          >
            <span
              class="element-label"
              [id]="addID(card.cardTitle, item.label, 'label')"
            >
              {{ item.label }}
              <ng-container *ngIf="item.required">
                <span class="color-danger">*</span>
              </ng-container>
            </span>
            <span
              class="element-value"
              [id]="addID(card.cardTitle, item.label, 'value')"
            >
              <ng-container [ngSwitch]="item.inputType">
                <!-- Input Field: Number -->
                <crem-input
                  *ngSwitchCase="'number'"
                  [id]="addID(card.cardTitle, item.label, 'input')"
                  [name]="item.name"
                  [required]="item.required"
                  [showHint]="false"
                  [showLabel]="false"
                  [showInfo]="false"
                  [inputType]="'number'"
                  [placeholder]="!item.placeholder ? '' : item.placeholder"
                  [value]="item.value"
                  [disabled]="item.disabled"
                  [formControlName]="item.formControlName"
                  (valueChange)="
                    valueInputChange(
                      $event,
                      card.cardTitle,
                      item.label,
                      item.value,
                      true
                    )
                  "
                  (onBlurChange)="
                    onBlurInputChange(
                      $event,
                      card.cardTitle,
                      item.label,
                      item.value
                    )
                  "
                ></crem-input>
                <!-- Input Field: Currency -->
                <dx-number-box
                  *ngSwitchCase="'currency'"
                  [id]="addID(card.cardTitle, item.label, 'input')"
                  [name]="item.name"
                  [(value)]="item.value"
                  [formControlName]="item.formControlName"
                  [disabled]="item.disabled"
                  [format]="formatCurrency(card.precision)"
                  (onValueChanged)="
                    valueInputChange(
                      $event,
                      card.cardTitle,
                      item.label,
                      item.value,
                      true
                    )
                  "
                  (onFocusOut)="
                    onBlurInputChange(
                      $event,
                      card.cardTitle,
                      item.label,
                      item.value
                    )
                  "
                >
                </dx-number-box>
                <!-- Select -->
                <crem-dropdown
                  *ngSwitchCase="'select-box'"
                  [id]="addID(card.cardTitle, item.label, 'dropdown')"
                  [initialSelectedValue]="item.initialSelectedValue"
                  [placeholder]="
                    item.placeholder ? item.placeholder : 'Select...'
                  "
                  [label]="'Label'"
                  [isSearchable]="false"
                  selectMode="single"
                  [readOnly]="false"
                  [dataSource]="item.dataSource"
                  [isDisabled]="item.disabled"
                  [formControlName]="item.formControlName"
                  [allowSearch]="false"
                  (selectedItems)="
                    valueInputChange(
                      $event,
                      card.cardTitle,
                      item.label,
                      item.value
                    )
                  "
                  [containerized]="true"
                  [required]="item.required"
                  [showClearButton]="false"
                ></crem-dropdown>
                <!-- checkbox -->
                <crem-check-box
                  *ngSwitchCase="'check-box'"
                  [value]="item.value == 1"
                  [id]="addID(card.cardTitle, item.label, 'checkbox')"
                  [label]="'Label'"
                  [disabled]="disabled"
                  [formControlName]="item.formControlName"
                  (changeEvent)="
                    valueInputChange(
                      $event,
                      card.cardTitle,
                      item.label,
                      item.value
                    )
                  "
                >
                </crem-check-box>
                <!-- Text -->
                <ng-container *ngSwitchDefault>{{ item.value }}</ng-container>
              </ng-container>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
