<div
  class="balance-cards"
  [ngStyle]="{
    'gap': configuration?.gap+'px' || null,
    'direction': configuration?.direction,
    'grid-template-columns': 'repeat('+configuration?.repeat + ', minmax(' + configuration?.maxWidth + 'px, 1fr))',
  }"
>
  <ng-container *ngFor="let card of cards" >
    <div [class]="'balance-card ' + card.className ?? ''" [id]="card.id ?? ''">

      <!-- Header -->
      <div class="balance-card-header">
        <h3 class="title">{{card.cardTitle}}</h3>
        <h4 *ngIf="card.cardSubtitle" class="subtitle eyebrow">{{card.cardSubtitle}}</h4>
        <p *ngIf="card.description" class="description">{{card.description}}</p>
      </div>

      <!-- Body -->
      <div class="balance-card-content">
        <div class="main-value">
          <h5 class="value">
            <ng-container *ngIf="!card.valueLink; else with_link">
              {{card.value}}
            </ng-container>
            <ng-template #with_link>
              <a [href]="card.valueLink" [target]="card.valueTarget || undefined"> <!-- todo: Pending routerLink -->
                <crem-icon icon="faExternalLinkAlt" pack="solid" />
                {{card.value}}
              </a>
            </ng-template>
          </h5>
          <h6 class="suffix eyebrow">{{card.valueSuffix}}</h6>
        </div>
        <!-- Body: List of Elements -->
        <ul class="elements">
          <li *ngFor="let item of card.elements"
            class="element"
            [ngClass]="item.className"
          >
            <span class="element-label">
              {{item.label}}
            </span>
            <span class="element-value">
              <ng-container [ngSwitch]="item.inputType">
                <!-- Input Field: Number -->
                <crem-input
                  *ngSwitchCase="'number'"
                  [name]="item.name"
                  [required]="false"
                  [showHint]="false"
                  [showLabel]="false"
                  [showInfo]="false"
                  [inputType]="'number'"
                  [placeholder]="'0'"
                  [value]="item.value"
                  [disabled]="item.disabled"
                  [formControlName]="item.formControlName"
                  (valueChange)="valueInputChange($event, card.cardTitle, item.label, item.value)"
                />
                <!-- Select -->
                <crem-dropdown
                  *ngSwitchCase="'select-box'"
                  [initialSelectedValue]="item.initialSelectedValue"
                  [placeholder]="'Select...'"
                  [label]="'Label'"
                  [isSearchable]="false"
                  selectMode="single"
                  [required]="false"
                  [readOnly]="false"
                  [dataSource]="item.dataSource"
                  [isDisabled]="item.disabled"
                  [formControlName]="item.formControlName"
                  [allowSearch]="false"
                  (selectedItems)="valueInputChange($event, card.cardTitle, item.label, item.value)"
                  [containerized]="true"
                />
                <!-- Text -->
                <ng-container *ngSwitchDefault>{{item.value}}</ng-container>
              </ng-container>
            </span>
          </li>
        </ul>
      </div>

    </div>
  </ng-container>
</div>