.body-content {
  padding: 0 24px;
}

.notes {
  height: 90px;
  width: 100%;
}

textarea {
  border-color: #c2c2c2;
  border-radius: 2px;
  font-size: 16px;
  padding: 8px;
  resize: none;
  outline: none;
}
