@use 'styles' as *;

#openLeaseAlertsPopupButton {
  // background-color: #d4d0c8;
  @include costar(border, gray04);
  height: 36px;
  margin: 0 3px;
  padding: 2px 8px;

  .dx-button-text {
    font-size: 11pt !important; // To match existing buttons
  }
}

.cdk-overlay-container {
  z-index: 1510;
}

#leaseAlertsPopup {
  dx-button.grey-button {
    background-color: #d4d0c9;
    border: 1px solid #a7a49f;
  }

  .dx-popup-bottom.dx-toolbar {
    padding: 0px 16px 0px 16px !important;
    margin-top: -12px;

    .dx-toolbar-after {
      .dx-item-content {
        div {
          color: #848484;
          font-size: 14px;
        }
      }
    }
  }
}

.warning {
  color: #bb3b06 !important;
}
