@use '../../../mango/src/assets/styles/mat-icons';

@import './app/emulate-user/emulate-user.component.scss';

/* You can add global styles to this file, and also import other style files */
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: rgba(119, 184, 0, 0.54) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #017B30 !important;
}

.cdk-overlay-container {
  z-index: 2020 !important;
}

.ghost-element-style ngx-skeleton-loader {
  span.loader.progress {
    background: #EAEAEA !important;
    margin-bottom: 16px !important;
  }
  .loader.progress:before {
    animation-duration: 3s !important;
  }
}
