<crem-modal
  [modalTitle]="modalTitle"
  [closeIconVisible]="closeButton"
  [closeOrCancelButtonText]="secondaryFooterButtonText"
  [modalId]="modalId"
  (closeButtonAction)="applySettings()"
>
  <div modalContent>
    <mat-tab-group
      disableRipple="true"
      animationDuration="1000ms"
      dynamicHeight="true"
    >
      <mat-tab label="Filters" class="settings-tab">
        <div class="tab-data" *ngFor="let filter of filtersDisplay">
          <div class="settings-label">{{ filter.titleText }}</div>
          <div class="settings-toggle">
            <mat-slide-toggle
              [(ngModel)]="filter.isActive"
              (change)="toggleChangeEvent($event, filter, filters)"
              [aria-label]="filter.titleText + ' Toggle'"
            ></mat-slide-toggle>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab-settings" label="Hero Metrics" class="settings-tab">
        <div class="tab-data" *ngFor="let metric of metricsDisplay">
          <div class="settings-label">{{ metric.titleText }}</div>
          <div class="settings-toggle">
            <mat-slide-toggle
              [(ngModel)]="metric.isActive"
              (change)="toggleChangeEvent($event, metric, metrics)"
              [aria-label]="metric.titleText + ' Toggle'"
            ></mat-slide-toggle>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab-settings" label="Cards" class="settings-tab">
        <div class="tab-data" *ngFor="let card of cardsDisplay">
          <div class="settings-label">{{ card.titleText }}</div>
          <div class="settings-toggle">
            <mat-slide-toggle
              [(ngModel)]="card.isActive"
              (change)="toggleChangeEvent($event, card, cards)"
              [aria-label]="card.titleText + ' Toggle'"
            ></mat-slide-toggle>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab-settings" label="Settings" class="settings-tab">
        <!-- <span> currency data: {{currencyData[0].targetCurrency}}</span> -->
        <crem-loader *ngIf="!currUomRetrieved"></crem-loader>
        <div class="tab-data" id="currencyUOMSettings" *ngIf="currUomRetrieved">
          <div class="settingsDropdown">
            <div class="settings-label">Currency:</div>
            <crem-dropdown
              id="currencyDropdown"
              dropDownContainerCustomClass="userSettingsDropDown"
              [dataSource]="currencyData"
              placeholder="Currency"
              [showClearButton]="false"
              [allowSearch]="true"
              displayExpr="targetCurrencyDesc"
              valueExpr="exchangeRateID"
              [containerized]="false"
              [initialSelectedValue]="exchangeRateId"
              (selectedItems)="currencySelected($event, 1)"
            >
            </crem-dropdown>
          </div>
          <div class="settingsDropdown">
            <div class="settings-label">Unit of Measure:</div>
            <crem-dropdown
              id="unitOfMeasureDropdown"
              dropDownContainerCustomClass="userSettingsDropDown"
              [dataSource]="uomData"
              placeholder="Unit Of Measure"
              [showClearButton]="false"
              displayExpr="uomName"
              valueExpr="uomid"
              [containerized]="false"
              [initialSelectedValue]="unitOfMeasureId"
              (selectedItems)="unitOfMeasureSelected($event, 1)"
            >
            </crem-dropdown>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Card Order" class="settings-tab">
        <div class="userSettings-cardOrder">
          <div
            cdkDropList
            class="tab-data cardDrag-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="cardDrag-box" *ngFor="let card of cards" cdkDrag>
              <div
                class="cardDrag-custom-placeholder"
                *cdkDragPlaceholder
              ></div>
              <div class="card-order">
                <div class="cardName">{{ card.title }}</div>
                <div class="dragIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16px"
                    viewBox="0 0 24 24"
                    width="24px"
                    fill="#BFBFBF"
                  >
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M24 9H4v2h24V9zM4 15h24v-2H4v2z" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</crem-modal>
