<div class="endpoints-wrapper">
	<mat-card>	
		<mat-card-header>
			<mat-card-title>Endpoints</mat-card-title>
		</mat-card-header>	
		<mat-card-content>		
			<div class="endpoint-toggles-container" *ngFor="let endpoint of endpoints; let i = index">
				<div class="grid-item">{{endpoint.endpointName}}</div>
				<div class="grid-item">
					<mat-slide-toggle
						[checked]="endpoint?.active"
						[disabled]="true"
					></mat-slide-toggle>
				</div>
				<div *ngIf="!endpoint.active" class="grid-item">(Comming soon)</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
