@use "styles" as *;

.endpoints-wrapper{
  width: 320px;
}

.endpoint-toggles-container{
  display: grid;
  grid-template-columns: 30% 20% 50%;
}

.mat-mdc-card{
  background-color: inherit !important;
  box-shadow: none !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  @include costar(background-color, primary-lighter);
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  @include costar(background-color, primary-light);
}
