
<div class="row">
	<div class="col-md-3 dbl-padding">
		<h6>Toast</h6>
		<dx-button-group 
	        [items]="toastTypes"
	        keyExpr="text"
	        stylingMode="outlined"
	        (onItemClick)="showToast($event)"
	        buttonTemplate="toastTemplate">
  			<div *dxTemplate="let buttonData of 'toastTemplate'">
		        <span class="dbl-padding">{{buttonData.text}}</span>
		    </div>
	    </dx-button-group>
		
	</div>
	<div class="col-md-3 dbl-padding">
		<h6>Alert</h6>
		<dx-button-group 
	        [items]="alertTypes"
	        keyExpr="text"
	        stylingMode="outlined"
	        (onItemClick)="showAlert($event)"
	        buttonTemplate="alertTemplate">
  			<div *dxTemplate="let buttonData of 'alertTemplate'">
		        <span class="dbl-padding">{{buttonData.text}}</span>
		    </div>
	    </dx-button-group>
	</div>
	<div class="col-md-3 dbl-padding">
		<h6>Help Text</h6>
		<form-field-tooltip fieldId="sample"></form-field-tooltip>
	</div>
	<div class="col-md-3 dbl-padding">
		
	</div>
</div>

<costar-alert #BasicAlert width="500" height="200"></costar-alert>
