div.gl-account-option {
	display: flex;
	flex-direction: row;
	width: 600px;

	span.account-code {
		margin-right: 1rem;
		width: 100px;
	}

	span.account-category {
		margin-right: 1rem;
		width: 200px;
	}

	span.account-name {
		width: 200px;
	}
}