@use "../../../../../../../../libs/ui-shared/common/src/styles/" as *;

.mat-card {
  background-color: inherit !important;
  box-shadow: none !important;
}

:host ::ng-deep {
  .dx-header-row {
    @include costar(background-color, primary, $important: true);
    @include costar(color, light, $important: true);
  }

  .dx-header-filter-empty {
    @include costar(color, light, $important: true);
  }

  .dx-row {
    @include costar(font-size, small, $important: true);
  }

  .dx-pager .dx-pages .dx-info {
    opacity: 0 !important;
  }
}