<div class="api-keys-wrapper">
	<mat-card>	
		<mat-card-header>
			<mat-card-title>Change History</mat-card-title>
		</mat-card-header>	
		<mat-card-content>	
			<div id="service-account-history-grid">
				<dx-data-grid id="gridContainer" [dataSource]="changeHistoryData"
					[columns]="['ModifiedDate', 'ModifiedBy', 'Description', 'BeforeChange', 'AfterChange']" [showBorders]="true" [hoverStateEnabled]="true"
					[showRowLines]="true" [showColumnLines]="false">
					<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
					<dxo-sorting mode="multiple"></dxo-sorting>
					<dxo-paging [pageSize]="25"></dxo-paging>
					<dxo-pager [showPageSizeSelector]="true"
						[allowedPageSizes]="[25, 50, 100, 500]"
						[showInfo]="true"
						[showNavigationButtons]="true"
					></dxo-pager>
					<dxi-column dataField="lastModified" caption="Change Date/Time" alignment="center" dataType="date" format="MM/dd/yyyy hh:mm:ss a"></dxi-column>
					<dxi-column dataField="modifiedBy" caption="User" alignment="center"></dxi-column>
					<dxi-column dataField="description" caption="Description" alignment="center"></dxi-column>
					<dxi-column dataField="beforeChange" caption="Old Value" alignment="center"></dxi-column>
					<dxi-column dataField="afterChange" caption="New Value" alignment="center"></dxi-column>
				</dx-data-grid>
			</div>
		</mat-card-content>
	</mat-card>
</div>
