<dx-popup
	#TaskPopup
    width="100%"
    height="100%"
    [showTitle]="true"
    title="Edit Segment"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [showCloseButton]="true"
    [visible]="isVisible"
    (onHidden)="close($event)">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<costar-popup class="segment-popup">
            <popup-content class="no-padding">
                <dx-scroll-view width="100%" >
                    <div class="segment-details-container">
                        <!-- card for segment config -->
                        <mat-card>
                            <mat-card-header>				
                                <mat-card-title>Settings</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>	
                                <dx-form 
                                    [(formData)]="segment"
                                    [colCount]="1"
                                    labelLocation="left">                                
                                    <dxi-item 
                                        dataField="name"
                                        [label]="{ text : 'Name' }">
                                    </dxi-item>
                                    <dxi-item 
                                        dataField="segmentType"
                                        [label]="{ text : 'Segment Type' }"
                                        [editorOptions]="{ disabled: true }">
                                    </dxi-item>
                                    <dxi-item 
                                        dataField="dataSet"
                                        [label]="{ text : 'Data Set' }"
                                        [editorOptions]="{ items : dataSets }"
                                        template="selectBoxTemplate">
                                    </dxi-item>
                                    <dxi-item 
                                        dataField="createdBy"
                                        [label]="{ text : 'Created By' }"
                                        [editorOptions]="{ disabled: true }">
                                    </dxi-item>
                                    <dxi-item 
                                        dataField="lastModified"
                                        [label]="{ text : 'Last Modified' }"
                                        [editorOptions]="{ disabled: true }">
                                    </dxi-item>
                                    <dxi-item 
                                        dataField="visibility"
                                        [label]="{ text : 'Visibility' }"
                                        template="visibilityTemplate">
                                    </dxi-item>
                                    <div *dxTemplate="let data of 'visibilityTemplate'">
                                        <dx-radio-group
                                            [items]="visibilityOptions"
                                            [(value)]="segment[data.dataField]"
                                            layout="horizontal">
                                        </dx-radio-group>
                                    </div>
                                    <div *dxTemplate="let data of 'selectBoxTemplate'">
                                        <dx-select-box [dataSource]="data.editorOptions.items" [(value)]="segment[data.dataField]" valueExpr="value" displayExpr="value"></dx-select-box>
                                    </div> 
                                </dx-form>
                            </mat-card-content>
                        </mat-card>
                        <!-- card for segment sharing -->
                        <mat-card *ngIf="segment.visibility == 'Shared'">
                            <mat-card-header>				
                                <mat-card-title>Sharing</mat-card-title>
                                <div class="mat-card-header-toolbar">
                                    <button class="btn btn-default btn-sm" (click)="addPrivilege()">Add</button>							
                                </div>
                            </mat-card-header>
                            <mat-card-content class="no-padding" style="height: 320px;">		
                                <dx-data-grid 
                                    #privilegeGrid
                                    [dataSource]="segmentPrivileges"
                                    [showColumnLines]="false"
                                    [showRowLines]="true"
                                    [showBorders]="true"
                                    [rowAlternationEnabled]="true" 
                                    keyExpr="id"
                                    (onToolbarPreparing)="onToolbarPreparing($event)" >   
                                    <dxo-editing 
                                        mode="batch"
                                        [allowUpdating]="true"
                                        [allowDeleting]="true"              
                                        [useIcons]="true">
                                    </dxo-editing>                                                              
                                    <dxo-header-filter [visible]="true"></dxo-header-filter>   
                                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                                    <dxo-sorting mode="single"></dxo-sorting>
                                    <dxi-column dataField="entityType" caption="Type" editCellTemplate="entityTypeTemplate"></dxi-column>
                                    <dxi-column dataField="entityName" caption="Name" editCellTemplate="entityTemplate"></dxi-column>
                                    <dxi-column dataField="privilegeType" caption="Right Type">
                                        <dxo-lookup [dataSource]="privilegeTypeOptions"></dxo-lookup>
                                    </dxi-column> 
                                    <div *dxTemplate="let cellInfo of 'entityTypeTemplate'">
                                        <span *ngIf="!cellInfo.row.isNewRow">{{cellInfo.value}}</span>
                                        <dx-select-box *ngIf="cellInfo.row.isNewRow"
                                            [dataSource]="entityTypeOptions" 
                                            [(value)]="cellInfo.value"
                                            (onValueChanged)="entityTypeChanged($event)"
                                        ></dx-select-box>
                                    </div> 
                                    <div *dxTemplate="let cellInfo of 'entityTemplate'">
                                        <span *ngIf="!cellInfo.row.isNewRow">{{cellInfo.value}}</span>
                                        <dx-autocomplete *ngIf="cellInfo.row.isNewRow"                                
                                            [showClearButton]="true"
                                            [dataSource]="entityOptions"
                                            [(value)]="cellInfo.value">
                                        </dx-autocomplete>                               
                                    </div> 
                                </dx-data-grid>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="segment-criteria-container">
                        <!-- cards for segment criteria -->
                        <ng-container *ngIf="segmentCriteriaBlocks.length == 0">
                            <div class="splash-message clickable">                        
                                <h2 (click)="addCriteriaBlock()">Click here to add criteria to this segment</h2>
                            </div>                            
                        </ng-container>
                        <ng-container *ngIf="segmentCriteriaBlocks.length">                        
                            <div *ngFor="let block of segmentCriteriaBlocks; let b = index">
                                <div *ngIf="b > 0" class="and-label-separator">
                                    <div>AND</div>
                                </div>
                                <mat-card>                        
                                    <mat-card-content class="criteria-block">		
                                        <div *ngFor="let criterion of block.criteria; let c = index" class="criterion-wrapper">
                                            <div class="criterion-header" [class.top-border]="c > 0">
                                                <div>
                                                    <span *ngIf="c > 0">OR</span>
                                                </div>
                                                <div><mat-icon class="clickable" (click)="removeCriterion(criterion, block)">close</mat-icon></div>
                                            </div>
                                            <dx-form 
                                                [(formData)]="segmentCriteriaBlocks[b].criteria[c]"
                                                [colCount]="3"
                                                [showColonAfterLabel]="false"
                                                labelLocation="top">                                
                                                <dxi-item 
                                                    dataField="dataField"
                                                    [editorOptions]="{ items : dataFields }"
                                                    template="selectBoxTemplate">
                                                </dxi-item>
                                                <dxi-item 
                                                    dataField="operator"
                                                    [editorOptions]="{ items : operators }"
                                                    template="selectBoxTemplate">
                                                </dxi-item>
                                                <dxi-item 
                                                    dataField="value"
                                                    [editorOptions]="{ labelMode: 'hidden' }">
                                                </dxi-item>  
                                                <div *dxTemplate="let data of 'selectBoxTemplate'">
                                                    <dx-select-box [dataSource]="data.editorOptions.items" [(value)]="segmentCriteriaBlocks[b].criteria[c][data.dataField]" valueExpr="value" displayExpr="value"></dx-select-box>
                                                </div>                                   
                                            </dx-form>
                                        </div>
                                        <div class="or-button-wrapper">
                                            <button class="btn btn-default" (click)="addCriterionToBlock(block)"><fa-icon icon="plus"></fa-icon> OR</button>
                                        </div>
                                    </mat-card-content>
                                </mat-card>                   
                            </div>
                            <div class="dbl-top-margin">
                                <button class="btn btn-primary" (click)="addCriteriaBlock()"><fa-icon icon="plus"></fa-icon> AND</button>
                            </div>  
                        </ng-container>                  
                    </div> 
                </dx-scroll-view>                               
            </popup-content>
            <popup-footer>
                <popup-footer-right>
                    <button class="btn btn-default" (click)="close($event)">Close</button> 
                    <button class="btn btn-primary" (click)="save($event)">Save</button> 
                </popup-footer-right>
            </popup-footer>
        </costar-popup>
    </div>
</dx-popup>	
