<div class="object-wrapper">
	<div class="object-banner hero">
		<div class="object-close" (click)="close()">
			<fa-icon icon="times"></fa-icon>
		</div>
		<div class="object-header">
			<div class="object-subtitle">Portfolio - {{portfolio.id}}</div>
			<div class="object-title">{{portfolio.name}}</div>			
		</div>
		<div class="object-hero-metric-wrapper">
			<div class="object-hero-metric">
				<div class="metric-subtitle">Status</div>
				<div class="metric-value">{{portfolio.status}}</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Properties</div>
				<div class="metric-value">{{portfolio.propertyCount}}</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Leases</div>
				<div class="metric-value">{{portfolio.leaseCount}}</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Projects</div>
				<div class="metric-value">{{portfolio.projectCount}}</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Accounting Schedules</div>
				<div class="metric-value">{{portfolio.scheduleCount}}</div>				
			</div>			
		</div>
	</div>
	<div class="object-content">
		<mat-drawer-container>
			<mat-drawer mode="side" opened class="left-nav">
				<mat-nav-list>
					<mat-list>
						<mat-list-item [routerLink]="['preferences']" [routerLinkActive]="['active']">Preferences</mat-list-item>
						<mat-list-item [routerLink]="['hierarchy']" [routerLinkActive]="['active']">Hierarchy</mat-list-item>
						<mat-list-item [routerLink]="['security']" [routerLinkActive]="['active']">Security</mat-list-item>
						<mat-list-item [routerLink]="['templates']" [routerLinkActive]="['active']">Templates</mat-list-item>									
						<mat-list-item [routerLink]="['currencies']" [routerLinkActive]="['active']">Currencies</mat-list-item>
						<mat-expansion-panel #AccountingPanel class="mat-elevation-z0" [class.open]="AccountingPanel.expanded" [expanded]="false">
		                    <mat-expansion-panel-header>
		                        <mat-panel-title>
		                            Accounting
		                        </mat-panel-title>
		                    </mat-expansion-panel-header>
		                    <mat-list-item [routerLink]="['jeprofiles']" [routerLinkActive]="['active']">Journal Entry Profiles</mat-list-item>
		                    <mat-list-item [routerLink]="['amzprofiles']" [routerLinkActive]="['active']">Amortization Profiles</mat-list-item>
    	                    <mat-list-item [routerLink]="['workflow']" [routerLinkActive]="['active']">Workflow</mat-list-item>					
		                </mat-expansion-panel>
		                <mat-expansion-panel #FinancialsPanel class="mat-elevation-z0" [class.open]="FinancialsPanel.expanded" [expanded]="false">
		                    <mat-expansion-panel-header>
		                        <mat-panel-title>
		                            Financials
		                        </mat-panel-title>
		                    </mat-expansion-panel-header>					                    
    	                    <mat-list-item [routerLink]="['ledgeraccounts']" [routerLinkActive]="['active']">Ledger Accounts</mat-list-item>
    	                    <mat-list-item [routerLink]="['allocationcenters']" [routerLinkActive]="['active']">Allocation Centers</mat-list-item>
							<mat-list-item [routerLink]="['invoiceformat']" [routerLinkActive]="['active']">Invoice Formats</mat-list-item>
							<mat-list-item [routerLink]="['indexes']" [routerLinkActive]="['active']">Indices</mat-list-item>
							<mat-list-item [routerLink]="['variances']" [routerLinkActive]="['active']">Variances</mat-list-item>
							<mat-list-item [routerLink]="['fourwall']" [routerLinkActive]="['active']">Four Wall</mat-list-item>
							<mat-list-item [routerLink]="['salestax']" [routerLinkActive]="['active']">Sales Tax Authorities</mat-list-item>
							<mat-list-item [routerLink]="['adamfilter']" [routerLinkActive]="['active']">ADAM Filter</mat-list-item>
							<mat-list-item [routerLink]="['percentrent']" [routerLinkActive]="['active']">Percent Rent</mat-list-item>
							<mat-list-item [routerLink]="['leaseoption']" [routerLinkActive]="['active']">Lease Option Classifications</mat-list-item>
							<mat-list-item [routerLink]="['straightlinedates']" [routerLinkActive]="['active']">Straightline Dates</mat-list-item>	    
		                </mat-expansion-panel>	
					</mat-list>								
				</mat-nav-list>
			</mat-drawer>
			<mat-drawer-content>
				<router-outlet></router-outlet>
			</mat-drawer-content>
		</mat-drawer-container>
	</div>
</div>

