.financialsAndAccountingLinks {
  display: flex;
  justify-content: space-between;

  li {
    margin-bottom: 4px;
    list-style-type: disc;
  }
}

h4 {
  margin: 0 0 8px;
  font-weight: 400;
}

ul {
  margin: 0 0 16px;
}
