  <crem-modal
    [modalTitle] = "modalTitle"
    [closeIconVisible] = "closeButton"
    [modalId] = "modalId"
    className="newModal"
  >
  <div modalContent>
    <div class="paymentDetails">

      <div class="pmntDtls-top">
        <div class="pmntDtls-top-left table-data">
          <div class="row-data">
            <div class="text-label"> Payment Name: </div>
            <div class="value"> {{chargeDetails.paymentName}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> Payment Frequency: </div>
            <div class="value"> {{chargeDetails.paymentFrequency}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> Amount: </div>
            <div class="value"> {{chargeDetails.amount}} {{chargeDetails.currency}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> Payment Period: </div>
            <div class="value"> {{chargeDetails.startDate}} - {{chargeDetails.endDate}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> Proration Type: </div>
            <div class="value"> {{chargeDetails.prorationType}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> First Payment Date: </div>
            <div class="value"> {{chargeDetails.firstPaymentDate}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> Status: </div>
            <div class="value"> {{chargeDetails.processingStatus}} </div>
          </div>
        </div>
        <div class="pmntDtls-top-right table-data">
          <div class="row-data">
            <div class="text-label"> Account Name: </div>
            <div class="value"> {{chargeDetails.glAccountName}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> Account Category: </div>
            <div class="value"> {{chargeDetails.glCategory}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> {{vendorOrCustomer}} Name: </div>  
            <div class="value"> {{chargeDetails.vendorDisplay}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> Created: </div>
            <div class="value"> {{chargeDetails.createdDate}} by {{chargeDetails.createdBy}}</div>
          </div>
          <div class="row-data">
            <div class="text-label"> Modified: </div>
            <div class="value"> {{chargeDetails.modifiedDate}} by {{chargeDetails.modifiedBy}}</div>
          </div>
          <div class="row-data">
            <div class="text-label"> GL Event ID: </div>
            <div class="value"> {{chargeDetails.glEventID}} </div>
          </div>
          <div class="row-data">
            <div class="text-label"> GL Source Import ID: </div>
            <div class="value"> {{chargeDetails.glEventSourceImportID}} </div>
          </div>
        </div>
      </div>

      <div class="pmntDtls-center">
        <div class="notes">
          <div class="text-label"> Notes: </div>
          <div class="value"> {{chargeDetails.glEventNotes}} </div>
        </div>
      </div>

      <div class="pmntDtls-bottom">
        <mat-tab-group disableRipple="true" animationDuration="1000ms" dynamicHeight="false">
          <mat-tab label="Payment Processing" class="pymtDtls-tab">
            <ng-template matTabContent>
              <div class="tab-data">
                <dx-data-grid
                  #PaymentsProcessingGrid
                  id="paymentProcessingGrid"
                  [showColumnLines]="false"
                  [showRowLines]="false"
                  [showBorders]="false"
                  [rowAlternationEnabled]="true"
                  [allowColumnResizing]="true"
                  [allowColumnReordering]="true"
                  [columnAutoWidth]="false"
                  [dataSource]="paymentDetails.paymentProcessings"
                  [wordWrapEnabled]="true"
                >
                  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>	
                  <dxo-search-panel [visible]="false"></dxo-search-panel>
                  <dxo-pager [visible]="false"></dxo-pager>
                  <dxo-scrolling mode="virtual"></dxo-scrolling>
                  <dxo-grouping [autoExpandAll]="false" [contextMenuEnabled]="false"></dxo-grouping>
                  <dxi-column
                    dataField="dueByYear"
                    dataType="number"
                    [groupIndex]="0"
                    groupCellTemplate="groupCellTemplate"
                  ></dxi-column>
                  <dxi-column
                    dataField="dueBy"
                    dataType="date"
                    [format]="dateFormat"
                    alignment="left"
                    sortOrder="asc"
                  ></dxi-column>
                  <dxi-column
                    caption="Amount"
                    dataField="scheduledAmount"
                    alignment="right"
                  ></dxi-column>
                  <dxi-column
                    dataField="approvedDate"
                    dataType="date"
                    [format]="dateTimeFormat"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    dataField="approvedBy"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    dataField="submittedDate"
                    dataType="date"
                    [format]="dateTimeFormat"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    dataField="submittedBy"
                    alignment="right"
                  ></dxi-column>
                  <dxi-column
                    caption="Exported Date"
                    dataField="exportDate"
                    dataType="date"
                    [format]="dateTimeFormat"
                    alignment="right"
                  ></dxi-column>
                  <dxi-column
                    dataField="exportedBy"
                    alignment="right"
                  ></dxi-column>
                    <dxi-column
                    dataField="glScheduledTransactionID"
                    caption="GL Scheduled Transaction ID"
                    dataType="number"
                    alignment="left"
                  ></dxi-column>
                  <div *dxTemplate="let data of 'groupCellTemplate'">  
                    {{data.key}}  
                  </div> 
                </dx-data-grid>
              </div>
            </ng-template>  
          </mat-tab>
          <mat-tab label="Change History" class="pymtDtls-tab">
            <ng-template matTabContent>
              <div class="tab-data">
                <dx-data-grid
                  #PaymentsProcessingGrid
                  id="paymentHistoryGrid"
                  [showColumnLines]="false"
                  [showRowLines]="false"
                  [showBorders]="false"
                  [rowAlternationEnabled]="true"
                  [allowColumnResizing]="true"
                  [allowColumnReordering]="true"
                  [columnAutoWidth]="false"
                  [dataSource]="paymentDetails.paymentHistoryItems"
                  [wordWrapEnabled]="true"
                >
                  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>	
                  <dxo-search-panel [visible]="false"></dxo-search-panel>
                  <dxo-pager [visible]="false"></dxo-pager>
                  <dxo-scrolling mode="virtual"></dxo-scrolling>
                  <dxi-column
                    dataField="fieldName"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    caption="Change Date/Time"
                    dataField="changeDate"
                    dataType="date"
                    [format]="dateTimeFormat"
                    alignment="left"
                    [width]="184"
                  ></dxi-column>
                  <dxi-column
                    dataField="user"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    dataField="description"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    dataField="oldValue"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    dataField="newValue"
                    alignment="left"
                  ></dxi-column>
                </dx-data-grid>
              </div>
            </ng-template>  
          </mat-tab>
          <mat-tab label="Allocations" class="pymtDtls-tab">
            <ng-template matTabContent>
              <div class="tab-data">
                <dx-data-grid
                  #PaymentsProcessingGrid
                  id="chargeAllocationsGrid"
                  [showColumnLines]="false"
                  [showRowLines]="false"
                  [showBorders]="false"
                  [rowAlternationEnabled]="true"
                  [allowColumnResizing]="true"
                  [allowColumnReordering]="true"
                  [columnAutoWidth]="false"
                  [dataSource]="paymentDetails.chargeAllocations"          
                  [wordWrapEnabled]="true"
                >
                  <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>	
                  <dxo-search-panel [visible]="false"></dxo-search-panel>
                  <dxo-pager [visible]="false"></dxo-pager>
                  <dxo-scrolling mode="virtual"></dxo-scrolling>
                  <dxi-column  *ngFor="let segment of paymentDetails.portfolioSegments"
                    [dataField]="segment.segmentLabel"
                  ></dxi-column>
                  <dxi-column
                    dataField="costPercent"
                  ></dxi-column>
                  <dxi-column
                    dataField="spacePercent"
                  ></dxi-column>
                  <dxi-column
                    dataField="headCount"
                  ></dxi-column>
                  <dxi-column
                    dataField="status"
                  ></dxi-column>
                  <dxi-column
                    dataField="useType"
                  ></dxi-column>
                </dx-data-grid>
              </div>
            </ng-template>  
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</crem-modal>
