<mat-card class="dashboard-card">
	<mat-card-header>				
		<mat-card-title>Annual Lease Expirations</mat-card-title>
		<div class="mat-card-header-toolbar">
			<costar-dropdown class="dropdown-small std-right-margin" [dropdownData]="durations"></costar-dropdown>
			<button class="btn btn-default btn-sm" [matMenuTriggerFor]="cardMenu"><mat-icon>more_horiz</mat-icon></button>
			<mat-menu #cardMenu="matMenu">								
				<button mat-menu-item (click)="exportChart()">Export</button>				
			</mat-menu>
		</div>
	</mat-card-header>
	<mat-card-content>
		<dx-chart 
			#AnnualExpirationRentChart
			[dataSource]="annualExpirationValues">
			<dxo-export [enabled]="false"></dxo-export>
			<dxo-argument-axis title="Year"></dxo-argument-axis>
			<!-- <dxo-legend [visible]="false"></dxo-legend> -->
			<dxo-legend
			    horizontalAlignment="center"			    
			    verticalAlignment="bottom">
			</dxo-legend>
			<dxo-tooltip
			    [enabled]="true"
			    [shared]="true"
			    [customizeTooltip]="standardTooltip">	
			    <dxo-format type="largeNumber" [precision]="1"></dxo-format>						    
			</dxo-tooltip>
			<dxo-common-series-settings 
			    argumentField="year">
			</dxo-common-series-settings>		
			<dxi-value-axis title="Rentable SF" name="sfAxis">
			    <dxo-grid [visible]="true"></dxo-grid>
			</dxi-value-axis>					
			<dxi-value-axis
			    name="rentAxis"
			    position="right">
			    <dxo-grid [visible]="true"></dxo-grid>
			    <dxo-title text="Annual Rent ($ in millions)"></dxo-title>
			</dxi-value-axis>
		    <dxi-series		        
		        valueField="sf"
		        name="Rentable SF"
		        type="bar"
		        color="#F68338"
		        axis="sfAxis"
		        [barPadding]="0.2">
		    </dxi-series>
		    <dxi-series		    	
		        valueField="expirationValue"
		        name="Annual Rent"
		        type="scatter"
		        axis="rentAxis"
		        color="#004FA6">
		    </dxi-series>
			<dxi-series		    	
		        valueField="expCount"
		        name="Count"
		        type="area"
		        axis="sfAxis"
		        color="#004FA6"
				[visible]="true"
				opacity="0"
				[showInLegend]="false">
		    </dxi-series>
		</dx-chart>			
	</mat-card-content>
</mat-card>		