@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/var.scss';

mat-icon {
	font-size: 18px;
	height: 18px;
	width: 18px;
	color: $neutral-dark;
}

.project-kanban-card {
	background-color: $white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: $stdPadding;
	margin: 0px $stdPadding $stdPadding $stdPadding;
	cursor: pointer;
	border-radius: 4px;
	min-height: $stdPadding * 11;
	font-size: 14px;
}

.project-card-main-wrapper {
	display: flex;
	flex-direction: row;
}

.project-card-priority {
	height: auto;
	border-radius: 2px;
	background: $green;
	width: $stdPadding / 2;
}

.project-card-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: $stdPadding;
	flex-grow: 1;
	padding-right: $stdPadding;
}

.project-name {
	font-size: 16px;
}

.project-type-id-wrapper {
	display: flex;
	margin-top: $stdPadding;
}

.project-manager-due-date-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: $stdPadding;
}

.project-card-footer {
	display: flex;
	justify-content: space-between;
	margin-top: $stdPadding;
}

.project-files-activity-wrapper {
	display: flex;
	justify-content: flex-start;

	&>span {
		margin-right: $stdPadding * 3;
		display: flex;
		align-items: center;

		.new-activity-placeholder {
			width: $dblPadding;
			margin-left: $stdPadding;
		}
		
	}
}

.project-card-tasks-wrapper {
	margin-top: $dblPadding;
}

.card-task-wrapper {
	display: flex;
	flex-direction: row;
	padding: $stdPadding 0px;
	border-bottom: $stdBorder;

	.task-status {
		padding-right: $stdPadding;
	}

	.task-details {
		display: flex;
		flex-direction: column;
		font-size: 14px;
		flex-grow: 1;

		.task-name {
			width: 247px;
			margin-bottom: $stdPadding;
			text-overflow: ellipsis;	
			white-space: nowrap;
			overflow: hidden;		
		}

		.task-due-approvers {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.task-approver-icon {
    height: 24px;
	width: 24px;
	border-radius: 12px;
	border: 1px solid #808080;
	padding: $stdPadding / 2;
	font-size: 12px;
	text-align: center;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
    background: white;
    color: #808080;
    margin-right: $stdPadding;

    &.approved {
        color: white;
        background-color: $success;
        border-color: $success;
    }
}
