@use '../../../../../../mango/src/assets/styles/colors.scss';

:host {
  background-color: colors.$bodyBackgroundGray;
}

.settings-page-controls-wrapper {
  background-color: colors.$bodyBackgroundGray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  border-bottom: 1px solid #c5c5c5;

  h5 {
    font-weight: 500;
    margin: 0;
    padding: 0;

    &.dbl-right-margin {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      margin-right: 16px;
    }
  }

  button {
    margin-left: 16px;
    font-size: 14px;
  }
}

.settings-page-cards-wrapper {
  height: 95%;
  overflow: auto;
  padding: 16px;

  .row {
    min-height: 40px;
  }

  .dx-texteditor-input-container {
    .dx-texteditor-input {
      border: inherit;
      font-size: inherit;
      margin-top: -2px;
    }
  }
}

.dbl-padding{
  border-bottom: 1px solid #ddd;
}

.close-btn{
 float: right;
 border: none;
}

.pop-up-title{
font-size: 22px;
font-weight: 400;
}

.controls-right {
  display: flex;
  flex-direction: row;
}
