<mat-card class="dashboard-card">
	<mat-card-header>
		<mat-card-title>
			<span>Financials & Accounting Links</span>
		</mat-card-title>		
	</mat-card-header>
	<mat-card-content style="height: 400px;">							
		<div class="row">
            <div class="col-md-6">
                <h6>Financials</h6>
                <ul class="dash-card-link-list">
                    <li><a href="#">Enter a Bill</a></li>
                    <li><a href="#">Payments to Approve</a></li>
                    <li><a href="#">Payments to Submit</a></li>
                    <li><a href="#">Expense Ledgers to Export</a></li>
                    <li><a href="#">Expense Ledgers to Export (new)</a></li>
                    <li><a href="#">Approve Invoice Items</a></li>
                    <li><a href="#">Generate Invoice</a></li>
                    <li><a href="#">Receive Payments</a></li>
                    <li><a href="#">Edit Payments</a></li>
                    <li><a href="#">Revenue Ledgers to Export</a></li>
                    <li><a href="#">Revenue Ledgers to Export (new)</a></li>
                    <li><a href="#">MTM / Holdovers to Process</a></li>
                    <li><a href="#">Percent Rent Payments to Process</a></li>
                    <li><a href="#">View Associated Charges/Archive</a></li>
                    <li><a href="#">Process Index Charges</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h6>Accounting</h6>
                <ul class="dash-card-link-list">
                    <li><a href="#">Journal Entries to Approve</a></li>
                    <li><a href="#">Journal Entries to Export</a></li>
                    <li><a href="#">Journal Entries to Export (new)</a></li>
                    <li><a href="#">Accounting Profiles & Settings</a></li>
                    <li><a href="#">Accounting Profiles & Settings v2</a></li>
                    <li><a href="#">Batch Change Workflow</a></li>
                    <li><a href="#">Batch Accounting</a></li>
                    
                </ul>
            </div>
        </div>
	</mat-card-content>
</mat-card>