<div class="object-wrapper">
	<div class="object-banner hero">
		<div class="object-close" (click)="close()">
			<fa-icon icon="times"></fa-icon>
		</div>
		<div class="object-header">
			<div class="object-subtitle">
				{{deal.dealType}}
			</div>
			<div class="object-title">
				{{deal.dealName}}
			</div>
			<!-- <div class="object-subtitle">
				{{deal.city}}, {{deal.state}}
			</div>	 -->		
		</div>
		<div class="object-hero-metric-wrapper">			
			<div class="object-hero-metric">
				<div class="metric-subtitle">Stage</div>
				<div class="metric-value">{{deal.dealStage}}</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Brokerage</div>
				<div class="metric-value">{{deal.brokerage}}</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Total Lease Value</div>
				<div class="metric-value">${{deal.totalLeaseValue | number: '1.0-0' }}</div>				
			</div>					
			<div class="object-hero-metric">
				<div class="metric-subtitle">Space Use</div>
				<div class="metric-value">{{deal.targetSpaceType}}</div>				
			</div>	
			<div class="object-hero-metric">
				<div class="metric-subtitle">Target RSF</div>
				<div class="metric-value">{{deal.targetMaxSF | number: '1.0-0'}}</div>				
			</div>	
			<div class="object-hero-metric">
				<div class="metric-subtitle">Target Commencement</div>
				<div class="metric-value">{{deal.targetCommencementDate}}</div>				
			</div>		
		</div>
		<div class="object-file-comments-notifications">
			<mat-icon class="clickable" [class.blue]="showComments" (click)="toggleSidenav('comments')">comment</mat-icon>
			<mat-icon class="clickable" [class.blue]="showFiles" (click)="toggleSidenav('files')">folder</mat-icon>	
			<mat-icon class="clickable" [class.blue]="showNotifications" (click)="toggleSidenav('notifications')">notifications</mat-icon>	
		</div>
	</div>
	<div class="object-content">
		<mat-sidenav-container class="object-container" (backdropClick)="closeSidenav()">
			<mat-sidenav #sidenav (keydown.escape)="closeSidenav()" position="end" mode="over">
				<app-object-comments *ngIf="showComments"></app-object-comments>							
				<app-object-files *ngIf="showFiles"></app-object-files>	
				<!-- <app-object-notifications *ngIf="showNotifications"></app-object-notifications>							 -->
			</mat-sidenav>
			<mat-sidenav-content class="oflow-y-hidden">
				<div class="dynamic-form">
					<div class="dynamic-form-content">
						<div class="row">
							<div *ngFor="let section of formFields" class="col-md-12">
								<form-schedule *ngIf="section.isTableData" [section]="section"></form-schedule>
								<mat-card *ngIf="!section.isTableData">
									<mat-card-header>
										<mat-card-title>{{section.sectionName}}</mat-card-title>
									</mat-card-header>
									<mat-card-content>						
										<dx-form 
											[(formData)]="deal"
											[colCount]="2"
											labelLocation="left"
											[showColonAfterLabel]="false">
											<dxi-item *ngFor="let field of section.fields" 
												[dataField]="field.value"
												[label]="{ text : field.label }"
												[editorType]="field.controlType"
												[editorOptions]="{ items: field.dropdownValues, searchEnabled: true, disabled : field.readOnly }"
												[template]="field.dxTemplate"
												[colSpan]="field.colSpan"
												>								
											</dxi-item>
											<div *dxTemplate="let data of 'textBoxTemplate'">
											    <dx-text-box [(value)]="deal[data.dataField]" [disabled]="data.editorOptions.disabled"></dx-text-box>
											    <form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>
											</div>
											<div *dxTemplate="let data of 'dateBoxTemplate'">
											    <dx-date-box [(value)]="deal[data.dataField]" [disabled]="data.editorOptions.disabled"></dx-date-box>
											    <form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>
											</div>
											<div *dxTemplate="let data of 'selectBoxTemplate'">
											    <dx-select-box [dataSource]="data.editorOptions.items" [(value)]="deal[data.dataField]" [searchEnabled]="data.editorOptions.searchEnabled" valueExpr="value" displayExpr="display" [disabled]="data.editorOptions.disabled"></dx-select-box>
											    <form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>
											</div>
											<div *dxTemplate="let data of 'clauseTemplate'">
											    <dx-text-area [(value)]="deal[data.dataField]" [height]="112" [disabled]="data.editorOptions.disabled"></dx-text-area>
											    <doc-sec-page></doc-sec-page>
											    <form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>
											</div>
										</dx-form>
									</mat-card-content>
								</mat-card>	
							</div>	
						</div>
					</div>
				</div>
			</mat-sidenav-content>
		</mat-sidenav-container>
		
		<!-- <mat-drawer-container>
			<mat-drawer mode="side" opened class="left-nav">
				<mat-nav-list>
					
				</mat-nav-list>
			</mat-drawer>
			<mat-drawer-content>
				<router-outlet></router-outlet>
			</mat-drawer-content>
		</mat-drawer-container> -->
	</div>
</div>
