<mat-card class="dashboard-card project-dash-card">
	<mat-card-header>				
		<mat-card-title>
			<div class="card-title-hero">{{tasks.length}}</div>
			<span>Tasks Due This Week</span>
		</mat-card-title>
		<mat-card-subtitle>(projects I manage)</mat-card-subtitle>
		<div class="mat-card-header-toolbar">
			<button class="btn btn-default btn-sm" [matMenuTriggerFor]="cardMenu"><mat-icon>more_horiz</mat-icon></button>
			<mat-menu #cardMenu="matMenu">								
				<button mat-menu-item>Refresh</button>
				<button mat-menu-item (click)="toggleExpanded()"><span *ngIf="isExpanded">Collapse All</span><span *ngIf="!isExpanded">Expand All</span></button>      
				<button mat-menu-item (click)="exportDataGrid()">Export</button>
				<div mat-menu-item class="no-hover">
					<mat-slide-toggle (change)="updateRecordDisplayStatus($event)" (click)="$event.stopPropagation()" name="showUnapproved" [checked]="showUnapproved">Show Unapproved</mat-slide-toggle>     
				</div> 
				<div mat-menu-item class="no-hover">
					<mat-slide-toggle (change)="updateRecordDisplayStatus($event)" (click)="$event.stopPropagation()" name="showApproved" [checked]="showApproved">Show Approved</mat-slide-toggle>     
				</div>
			</mat-menu>
		</div>
	</mat-card-header>
	<mat-card-content class="no-padding">								
		<dx-data-grid class="list-page-data-grid"
			#TaskDueThisWeekDataGrid
			[dataSource]="tasks"
			[showColumnLines]="false"
			[showRowLines]="false"
			[showBorders]="false"
			[rowAlternationEnabled]="true" 							
			[allowColumnResizing]="true"
			[allowColumnReordering]="true"
			[columnAutoWidth]="false"
			(onRowPrepared)="assignRowId($event)"
			[wordWrapEnabled]="true"	
		>
			<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>  
			<dxo-grouping #expand [autoExpandAll]="isExpanded" [contextMenuEnabled]="true"></dxo-grouping>
			<dxo-scrolling mode="virtual"></dxo-scrolling>	
			<dxi-column dataField="step" [width]="60" [allowHeaderFiltering]="false"></dxi-column>						
			<dxi-column dataField="taskName"></dxi-column>
			<dxi-column dataField="assignee"></dxi-column>
			<dxi-column dataField="dueDate" caption="Due Date" dataType="date" alignment="center"></dxi-column>	
			<dxi-column dataField="projectName" [groupIndex]="0"></dxi-column>
			<dxi-column dataField="projectType"></dxi-column>	
			<dxi-column type="buttons" width="40">
		    	<dxi-button
		    		template="moreMenuTemplate"   		
		    	>
		    		<div *dxTemplate="let data of 'moreMenuTemplate'">
						<button class="btn btn-link btn-sm item-info" [id]="'taskDueThisWeekInfo' + data.data.id.toString()" (mouseover)="showPopover(data)" (mouseout)="hidePopover()"><mat-icon>info_outline</mat-icon></button>		    			
		    		</div>
		    	</dxi-button>		    	
		    </dxi-column>		
		</dx-data-grid>					
	</mat-card-content>
</mat-card>	

<dx-popover
    [target]="popoverTarget" 
    position="bottom"
    [width]="480"
    [(visible)]="popoverVisible">
    <div *dxTemplate="let data = model of 'content'" class="rich-task-popover">
		<project-task-popover [task]="hoveredRow"></project-task-popover>		
    </div>
</dx-popover>
