<div class="list-page">
	<div class="list-page-controls-wrapper">
		<div class="controls-left">
			<h5 class="dbl-right-margin">Project Task Templates</h5>	
			<costar-search (changed)="searchDataGrid($event)"></costar-search>				 
		</div>
		<div class="controls-right">			
			<button class="btn btn-primary">Add</button>			
		</div>
	</div>
	<div class="list-page-data-grid-wrapper">
		<dx-data-grid class="list-page-data-grid"
			#TemplatesContainerDataGrid
			id="TemplatesDataGrid"
			[dataSource]="templates"
			[showColumnLines]="false"
			[showRowLines]="false"
			[showBorders]="false"
			[rowAlternationEnabled]="true" 
			(onRowClick)="navigateToObject($event)"
			[allowColumnResizing]="true"
			[allowColumnReordering]="true"
			[columnAutoWidth]="true"
		>
			<dxo-header-filter [visible]="true"></dxo-header-filter>    
			<dxo-grouping #expand [autoExpandAll]="isExpanded" [contextMenuEnabled]="true"></dxo-grouping>
			<dxo-scrolling mode="virtual"></dxo-scrolling>
			<dxi-column dataField="id"></dxi-column>
			<dxi-column dataField="name"></dxi-column>
			<dxi-column dataField="projectTypes"></dxi-column>
			<dxi-column dataField="isPublic"></dxi-column>
			<dxi-column dataField="createdBy"></dxi-column>
			<dxi-column dataField="createdDate"></dxi-column>
			<dxi-column dataField="lastUsedDate"></dxi-column>			
		</dx-data-grid>
	</div>
</div>