<div class="app-container">
	<div class="crem-a-container">
		<mat-toolbar class="costar-rem-toolbar">
			<mat-toolbar-row class="costar-administration-bar">
				<div class="costar-site-toolbar-left">
					<div class="costar-toolbar-logo"></div>
					<div class="costar-app-name">{{productTitle}}</div>
					<div class="costar-star-logo-mobile"></div>					
				</div>
				<div class="costar-site-toolbar-search">
					<div class="global-search-wrapper">
						<!-- <mat-form-field appearance="outline" class="costar-toolbar-search">
							<input matInput placeholder="Search" (click) = "$event.stopPropagation()">
							<mat-icon matSuffix>
								<button mat-icon-button [matMenuTriggerFor]="searchMenu" (click) = "$event.stopPropagation()">
									{{searchObjectType}}
									<fa-icon icon="caret-down"></fa-icon>
								</button>
								<mat-menu #searchMenu="matMenu" (click) = "$event.stopPropagation()">
									<button mat-menu-item *ngFor="let ot of searchObjectTypes" (click)="toggleSearchObjectType(ot)" (click) = "$event.stopPropagation()">
										{{ot}}
									</button>					
								</mat-menu>
							</mat-icon>
						</mat-form-field> -->
						<!-- <mat-form-field appearance="outline" class="costar-toolbar-search">
							<input matInput placeholder="Building, Address, Market, Company, Person">
							<mat-icon matSuffix>search</mat-icon>
						</mat-form-field> -->
						<global-search></global-search>
					</div>
				</div>
				<div class="costar-site-toolbar-right">
					<div class="costar-client-logo"></div>
					<!-- <fa-icon icon="bell" size="lg"></fa-icon> -->
					<fa-icon icon="question" size="lg" [matMenuTriggerFor]="moreMenu" class="mobile-hidden"></fa-icon>
					<mat-menu #moreMenu="matMenu">			
						<button mat-menu-item>Pendo Resource Center</button>			
					</mat-menu>
					<div class="user-avatar" [matMenuTriggerFor]="userMenu">JT</div>
					<mat-menu #userMenu="matMenu">
						<button mat-menu-item disabled>Jason Trkovsky</button>
						<button mat-menu-item disabled>jtrkovsky@costargroup.com</button>
						<button mat-menu-item>Preferences</button>
						<button mat-menu-item>Date Calculator</button>
						<button mat-menu-item>Switch User</button>
						<button mat-menu-item (click)="logout()" >Logout</button>
					</mat-menu>
				</div>
			</mat-toolbar-row>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</div>
</div>		

