<mat-horizontal-stepper linear #RemeasureStepper>
  <mat-step id="ba-acct-events-step" completed="false">
    <ng-template matStepLabel>
      <span id="ba-acct-events">Accounting Events</span>
    </ng-template>

    <div class="list-page h-100">
      <crem-screen-loader
        [color]="'light'"
        [loading]="showLoader"
        [showLogo]="false"
        [showSpinner]="true"
      ></crem-screen-loader>

      <div class="list-page-controls-wrapper">
        <div class="controls-left">
          <crem-dropdown
            id="ba-events-portfolio-dropdown"
            [dataSource]="portfolios"
            valueExpr="masterGroupID"
            displayExpr="portfolioName"
            placeholder="Portfolio"
            required="true"
            [showClearButton]="true"
            (selectedItems)="onPortfolioChange($event)"
            [containerized]="true"
            [useSelectBox]="true"
            [allowSearch]="true"
          >
          </crem-dropdown>

          <crem-dropdown
            id="ba-events-workflow-status-dropdown"
            [dataSource]="workflowStatuses"
            valueExpr="workflowStatusID"
            displayExpr="workflowStatus"
            placeholder="Workflow Status"
            required="true"
            [showClearButton]="true"
            (selectedItems)="onWorkflowChanged($event)"
            [containerized]="true"
            [useSelectBox]="true"
          >
          </crem-dropdown>

          <div class="dx-field">
            <div class="dx-field-value">
              <dx-drop-down-box
                class="list-view-dropdown"
                [dataSource]="listViewDisplayDataSource"
                [elementAttr]="{ id: 'ba-events-list-view-dropdown' }"
                [showClearButton]="true"
                [(value)]="selectedView"
                [(opened)]="isListViewDropdownOpened"
                [displayExpr]="getViewName"
                placeholder="View"
                (onValueChanged)="onListViewValueChanged($event)"
              >
                <div *dxTemplate="let data of 'content'">
                  <dx-tree-view
                    id="simple-treeview"
                    #ListViewTree
                    [items]="listViewDataSource"
                    [selectByClick]="true"
                    expandEvent="click"
                    displayExpr="name"
                    selectionMode="single"
                    (onSelectionChanged)="onListViewTreeClick($event)"
                  ></dx-tree-view>
                </div>
              </dx-drop-down-box>
            </div>
          </div>
        </div>

        <div class="controls-right">
          <div
            *ngIf="gridDataFiltered !== null && gridColumns !== null"
            class="d-flex"
          >
            <crem-button
              type="secondary"
              id="ba-events-filters-button"
              (buttonClick)="filterBuilderVisible = true"
            >
              Filters
              <div
                *ngIf="availableAppliedFilterCount > 0 && !showClearFilters"
                class="badge primary costar std-left-margin"
                (mouseover)="availableToggleClearFilters()"
              >
                {{ availableAppliedFilterCount }}
              </div>

              <div
                *ngIf="availableAppliedFilterCount > 0 && showClearFilters"
                class="badge primary costar std-left-margin underline"
                (mouseout)="availableToggleClearFilters()"
                (click)="availableClearGridFilters($event)"
              >
                Clear {{ availableAppliedFilterCount }} Filters
              </div>
            </crem-button>

            <crem-search
              id="ba-events-search-input"
              [(value)]="availableSearchText"
              [placeholder]="'Search...'"
              [debounceTime]="500"
              [searchOption]="'typing'"
              (changed)="availableSearchDataGrid($event)"
            >
            </crem-search>

            <crem-button
              id="ba-events-more-menu-button"
              color="secondary"
              [matMenuTriggerFor]="moreMenu"
            >
              More
              <crem-icon
                id="ba-log-download-icon"
                icon="faCaretDown"
                pack="solid"
                size="sm"
              ></crem-icon>
            </crem-button>

            <mat-menu #moreMenu="matMenu">
              <button
                id="ba-events-show-query-button"
                mat-menu-item
                *ngIf="isSuperUser"
                (click)="showDynamicSQL()"
              >
                Show Query
              </button>

              <button
                id="ba-events-column-chooser-button"
                mat-menu-item
                (click)="displayColumnChooser()"
              >
                Column Chooser
              </button>

              <button
                id="ba-events-send-to-excel-button"
                mat-menu-item
                (click)="exportDataGrid()"
              >
                Send to Excel
              </button>
            </mat-menu>
          </div>

          <crem-button
            id="ba-events-cancel-button"
            text="Cancel"
            color="secondary"
            (buttonClick)="onCancel()"
          >
          </crem-button>

          <crem-button
            id="ba-events-next-button"
            text="Next"
            [color]="'primary'"
            [disabled]="!availableDataGrid?.selectedRowKeys?.length"
            (buttonClick)="parametersStep(RemeasureStepper)"
          >
          </crem-button>
        </div>
      </div>

      <div class="list-page-data-grid-wrapper h-100">
        <div class="no-portfolio-selected" *ngIf="!readyForGrid">
          Select a Portfolio, Workflow Status, and View
        </div>

        <dx-load-panel
          shadingColor="rgba(255,255,255,0.2)"
          [(visible)]="loading"
          [showIndicator]="true"
          [showPane]="true"
          [shading]="true"
          [hideOnOutsideClick]="false"
        ></dx-load-panel>

        <dx-data-grid
          id="ba-event-page-grid"
          *ngIf="
            readyForGrid && gridDataFiltered !== null && gridColumns !== null
          "
          class="list-page-data-grid"
          #AvailableDataGrid
          [dataSource]="gridDataFiltered"
          [showColumnLines]="false"
          [showRowLines]="false"
          [showBorders]="false"
          [rowAlternationEnabled]="true"
          [allowColumnResizing]="true"
          [allowColumnReordering]="true"
          [columnAutoWidth]="true"
          [filterSyncEnabled]="true"
          (onContentReady)="onGridContentReady($event)"
          (onSelectionChanged)="onGridSelectionChanged($event)"
          [wordWrapEnabled]="true"
        >
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[25, 50, 100, 500]"
            [showInfo]="true"
          ></dxo-pager>

          <dxo-paging [pageSize]="25"></dxo-paging>

          <dxo-header-filter [visible]="true">
            <dxo-search [enabled]="true"> </dxo-search>
          </dxo-header-filter>

          <dxo-grouping
            #expand
            [autoExpandAll]="true"
            [contextMenuEnabled]="true"
          ></dxo-grouping>

          <dxo-summary>
            <dxi-group-item
              summaryType="count"
              displayFormat="{0}"
            ></dxi-group-item>
          </dxo-summary>

          <dxo-selection
            selectAllMode="allPages"
            showCheckBoxesMode="onClick"
            mode="multiple"
            showCheckBoxesMode="always"
          ></dxo-selection>

          <dxo-filter-builder-popup
            [width]="600"
            [height]="600"
            [(visible)]="filterBuilderVisible"
          ></dxo-filter-builder-popup>

          <dxo-filter-builder [fields]="sortedFilterFields">
          </dxo-filter-builder>

          <dxo-column-chooser
            [enabled]="false"
            [search]="{ enabled: true }"
            height="500"
            width="400"
          >
          </dxo-column-chooser>

          <dxi-column
            *ngFor="let column of gridColumns"
            [dataField]="column.dataField"
            [caption]="column.caption"
            [dataType]="column.dataType"
            [format]="column.format"
            [visible]="column.visible"
            [sortIndex]="column.sortIndex"
            [groupIndex]="column.groupIndex"
            [sortingMethod]="column.sortingMethod"
            [sortOrder]="column.sortOrder"
            [showInColumnChooser]="column.showInColumnChooser"
          >
            <dxo-format
              *ngIf="column.dataType === 'number' && column.precision >= 0"
              type="fixedPoint"
              [precision]="column.precision"
            ></dxo-format>
          </dxi-column>

          <dxo-summary [calculateCustomSummary]="calculateSelectedRow">
            <dxi-total-item
              name="Total"
              summaryType="count"
              displayFormat="Total: {0}"
              [showInColumn]="
                visibleColumns &&
                visibleColumns[2] &&
                visibleColumns[2].dataField
              "
            ></dxi-total-item>

            <dxi-total-item
              name="SelectedRowsSummary"
              summaryType="custom"
              displayFormat="Selected Events: {0}"
              [showInColumn]="
                visibleColumns &&
                visibleColumns[3] &&
                visibleColumns[3].dataField
              "
            ></dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
      </div>

      <dx-popup
        [showTitle]="true"
        title="Query"
        [maxHeight]="'60%'"
        [maxWidth]="'60%'"
        [(visible)]="sqlPopupVisible"
      >
        <div *dxTemplate="let data of 'content'">
          <dx-scroll-view height="100%" width="100%" direction="both">
            <pre id="ba-events-show-query-dynamic-sql" class="overflow-unset">{{
              formattedSql
            }}</pre>
          </dx-scroll-view>
        </div>

        <dxi-toolbar-item location="after" toolbar="bottom">
          <crem-button
            id="ba-events-show-query-copy-to-clipboard-button"
            text="Copy to Clipboard"
            color="primary"
            (buttonClick)="copyToClipboard()"
          >
          </crem-button>
        </dxi-toolbar-item>

        <dxi-toolbar-item location="after" toolbar="bottom">
          <crem-button
            id="ba-events-show-query-cancel-button"
            text="Close"
            color="secondary"
            (buttonClick)="closeSqlPopup()"
          >
          </crem-button>
        </dxi-toolbar-item>
      </dx-popup>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <span id="ba-parameters-step">Parameters</span>
    </ng-template>

    <!--
      If Material is updated, this (and the next step's content container) can
      be replaced with <ng-template matStepContent>
    -->
    <ng-container *ngIf="currentStep === 1">
      <div class="dynamic-form bg-white">
        <div class="dynamic-form-controls-wrapper no-border">
          <div class="controls-left"></div>

          <div class="controls-right">
            <div
              class="chip costar secondary"
              id="ba-parameters-selected-record-label"
            >
              {{ selectedCount }} Selected Record{{
                selectedCount === 1 ? '' : 's'
              }}
            </div>

            <crem-button
              color="secondary"
              id="ba-parameters-previous-button"
              (buttonClick)="logStep(RemeasureStepper)"
            >
              Previous
            </crem-button>

            <crem-button
              type="primary"
              id="ba-parameters-next-button"
              (buttonClick)="confirmationStep(RemeasureStepper)"
              [disabled]="
                !parametersCard?.isValid ||
                !parametersGrid?.isValid ||
                !directEntryIsValid()
              "
            >
              Next
            </crem-button>
          </div>
        </div>

        <div class="dynamic-form-content">
          <div class="row form-row">
            <div class="col-md-12">
              <mango-parameters-card
                #ParametersCard
                [parametersData]="parametersData"
                [scheduleObject]="scheduleObject"
                (selectedMeasureEventChange)="onMeasureEventChange($event)"
              ></mango-parameters-card>

              <mango-parameters-grid
                #ParametersGrid
                *ngIf="parametersData.workflowStatuses"
                [classificationTypes]="selectedClassificationTypes"
                [masterGroupID]="selectedPortfolio"
                [parametersData]="parametersData"
              ></mango-parameters-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <span id="ba-confirmation-step">Confirmation</span>
    </ng-template>

    <ng-container *ngIf="currentStep === 2">
      <div class="dynamic-form bg-white">
        <div class="dynamic-form-controls-wrapper no-border">
          <div class="controls-left"></div>

          <div class="controls-right">
            <div
              class="chip costar secondary"
              id="ba-confirmation-selected-record-label"
            >
              {{ selectedCount }} Selected Record{{
                selectedCount === 1 ? '' : 's'
              }}
            </div>

            <crem-button
              id="ba-confirmation-previous-button"
              color="secondary"
              [disabled]="batchQueueing"
              (click)="parametersStep(RemeasureStepper)"
              >Previous</crem-button
            >

            <crem-split-button
              id="ba-confirmation-queue-split-button"
              [text]="'Queue for validation'"
              [icon]="'faCaretDown'"
              [color]="'primary'"
              [btnStyle]="'flat'"
              [dropdownPosition]="'right'"
              [disabled]="batchQueueing"
              [options]="options"
              (mainButtonClick)="queueBatch(false)"
              (selectedOption)="queueBatch(true)"
            ></crem-split-button>
          </div>
        </div>

        <div class="dynamic-form-content">
          <div class="row">
            <div class="col-md-12">
              <mango-parameters-card
                #ConfirmationCard
                [parametersData]="parametersData"
                [isReadOnly]="true"
                [scheduleObject]="scheduleObject"
              ></mango-parameters-card>

              <mango-parameters-grid
                #ConfirmationGrid
                *ngIf="parametersData.workflowStatuses"
                [isReadOnly]="true"
                [classificationTypes]="selectedClassificationTypes"
                [masterGroupID]="selectedPortfolio"
                [parametersData]="parametersData"
              ></mango-parameters-grid>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-step>
</mat-horizontal-stepper>

<p-toast position="bottom-right" preventOpenDuplicates="true"> </p-toast>
