<div class="list-page">
	<div class="list-page-controls-wrapper">
		<div class="controls-left">
			<h5 class="dbl-right-margin">Financials Pivot Grid POC</h5>	
			<portfolio-menu (portfolioChanged)="portfolioChanged($event)"></portfolio-menu>
		</div>
		<div class="controls-right">
			<button class="btn btn-primary-outline" (click)="showFieldChooser()">Field Chooser</button>
			<button class="btn btn-primary-outline" (click)="launchSettingsPopup()">Settings</button>
			<button class="btn btn-primary-outline">Export</button>
		</div>
	</div>
	<div class="list-page-data-grid-wrapper">
		<dx-pivot-grid
			#PivotGrid
			[allowFiltering]="true"
			[showBorders]="false"
			[allowSorting]="true"
			[allowSortingBySummary]="true"
			[allowExpandAll]="true"
			[showColumnGrandTotals]="pivotSettings.showColumnGrandTotals"
			[showRowGrandTotals]="pivotSettings.showRowGrandTotals"
			[showRowTotals]="pivotSettings.showRowTotals"
			[showColumnTotals]="pivotSettings.showColumnTotals"
			showTotalsPrior="rows"
			[dataSource]="pivotGridDataSource">
			<dxo-header-filter
				[allowSearch]="true"
				[showRelevantValues]="true"
				[width]="300"
				[height]="400">
			</dxo-header-filter>
			<dxo-field-chooser [enabled]="false" [height]="600"></dxo-field-chooser>
			<dxo-field-panel
				[showDataFields]="pivotSettings.showDataFields"
				[showRowFields]="pivotSettings.showRowFields"
				[showColumnFields]="pivotSettings.showColumnFields"
				[showFilterFields]="pivotSettings.showFilterFields"
				[allowFieldDragging]="true"
				[visible]="pivotSettings.showFieldPanel">
			</dxo-field-panel>
			<dxo-scrolling mode="virtual"></dxo-scrolling>
		</dx-pivot-grid>
	</div>
</div>

<dx-popup
	#PivotSettingsPopup
    [width]="400"
    [height]="500"
    [showTitle]="true"
    title="Pivot Grid Settings"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [(visible)]="pivotSettingsPopupVisible"
 	[shading]="false">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<div class="dialog-body">
    		<div class="dialog-content">
    			<dx-scroll-view width="100%" height="100%" class="dbl-left-padding">
	    			<dx-form 
	    				class="dbl-top-padding dbl-bottom-padding"
						[colCount]="1"
						labelLocation="left"
						[showColonAfterLabel]="false">
						<dxi-item
							dataField="showColumnTotals" 
							template="slideToggleTemplate">
						</dxi-item>						
						<dxi-item 
							dataField="showColumnGrandTotals"
							template="slideToggleTemplate">
						</dxi-item>	
						<dxi-item 
							dataField="showRowTotals"
							template="slideToggleTemplate">
						</dxi-item>	
						<dxi-item 
							dataField="showRowGrandTotals"
							template="slideToggleTemplate">
						</dxi-item>						
						<dxi-item 
							dataField="showFieldPanel"
							template="slideToggleTemplate">
						</dxi-item>	
						<dxi-item *ngIf="pivotSettings.showFieldPanel"
							dataField="showDataFields"
							template="slideToggleTemplate">
						</dxi-item>	
						<dxi-item *ngIf="pivotSettings.showFieldPanel"
							dataField="showColumnFields"
							template="slideToggleTemplate">
						</dxi-item>	
						<dxi-item *ngIf="pivotSettings.showFieldPanel"
							dataField="showRowFields"
							template="slideToggleTemplate">
						</dxi-item>	
						<dxi-item *ngIf="pivotSettings.showFieldPanel"
							dataField="showFilterFields"
							template="slideToggleTemplate">
						</dxi-item>	
						<!-- 
						<div *dxTemplate="let data of 'selectBoxTemplate'">
						    <dx-select-box [dataSource]="data.editorOptions.items" [(value)]="settings[data.dataField]" [searchEnabled]="data.editorOptions.searchEnabled" valueExpr="value" displayExpr="display" [disabled]="data.editorOptions.disabled"></dx-select-box>
						    <form-field-tooltip [fieldId]="data.dataField"></form-field-tooltip>
						</div>	 -->						
						<div *dxTemplate="let data of 'slideToggleTemplate'">
							<mat-slide-toggle [name]="data.dataField" [(checked)]="pivotSettings[data.dataField]" (change)="handleToggleChange($event)"></mat-slide-toggle>
						</div>
					</dx-form>
				</dx-scroll-view>
    		</div>
    		<div class="dialog-footer">
    			<button class="btn btn-default" (click)="closeSettingsPopup()">Close</button> 
    		</div>
    	</div>
    </div>
</dx-popup>	
