<mat-card class="dashboard-card">
	<mat-card-header>				
		<mat-card-title>Buildings By State </mat-card-title>
		<div class="mat-card-header-toolbar">
			<button class="btn btn-default btn-sm" [matMenuTriggerFor]="cardMenu"><mat-icon>more_horiz</mat-icon></button>
			<mat-menu #cardMenu="matMenu">								
				<button mat-menu-item (click)="exportChart()">Export</button>	
				<button mat-menu-item (click)="hideLabels()">Hide Labels</button>				
				<button mat-menu-item (click)="toggleLegend()"><ng-container *ngIf="legendVisible">Hide Legend</ng-container><ng-container *ngIf="!legendVisible">Show Legend</ng-container></button>							
			</mat-menu>
		</div>	
	</mat-card-header>
	<mat-card-content>
		<dx-pie-chart
			#BuildingStateChart			
			palette="Soft Pastel"
			[dataSource]="stateSummary"	
            paletteExtensionMode="alternate"	
			resolveLabelOverlapping="shift"	
			(onPointHoverChanged)="onPointHoverChanged($event)"
			(onLegendClick)="onLegendClick($event)"
			>
			<dxo-legend
		        orientation="horizontal"
		        itemTextPosition="right"
		        horizontalAlignment="center"
		        verticalAlignment="bottom"
		        [columnCount]="8"
				[visible]="legendVisible">		        	
	        </dxo-legend>
			<dxi-series
			    argumentField="state"
			    valueField="count">
			    <dxo-label [visible]="false" [customizeText]="customizeLabel">
			        <dxo-connector
			            [visible]="true"
			            [width]="1"></dxo-connector>
			    </dxo-label>
			</dxi-series>
		</dx-pie-chart>
	</mat-card-content>
</mat-card>	