@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/var.scss';

div.custom-data-grid-toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: $stdPadding;	

	div.grid-controls-left {
		mat-form-field.mat-form-field, button.btn {
			margin-right: 1rem;
			font-size: 14px;
		}
	}

	div.grid-controls-right {
		mat-form-field.mat-form-field, button.btn {
			margin-left: 1rem;
			font-size: 14px;
		}
	}

	mat-slide-toggle.mat-slide-toggle {
		margin-bottom: 0px !important;
	}
}
