<div class="list-page">
	<div class="list-page-controls-wrapper">
		<div class="controls-left">		
			<h5>Blackline Integration</h5>
		</div>
		<div class="controls-right">	
			<portfolio-menu></portfolio-menu>
			<button class="btn btn-primary-outline" (click)="filterDrawer.toggle()">Filters</button>				
			<button class="btn btn-primary-outline" [disabled]="!data.length" (click)="exportDataGrid()">Download</button>
			<button class="btn btn-primary" (click)="sendBlackline()">Send</button>			
		</div>
	</div>
	<div class="list-page-data-grid-wrapper">
		<mat-drawer-container class="h100">
			<mat-drawer #filterDrawer mode="over" position="end">
				<div class="integration-filters-wrapper">
					<integration-filter [filterData]="periodFilter" (changed)="periodChange($event)" ></integration-filter>					
					<button class="btn btn-primary" (click)="applyFilters()">Apply</button>
				</div>
			</mat-drawer>
			<mat-drawer-content>
				<dx-data-grid
					#blacklineGird
					[dataSource]="data"
					[showColumnLines]="false"
					[showRowLines]="false"
					[showBorders]="false"
					[rowAlternationEnabled]="true" 
					[allowColumnResizing]="true"
					[columnAutoWidth]="true"							
					[columnMinWidth]="10"
				>
					<dxo-header-filter [visible]="true"></dxo-header-filter>    							
					<dxo-sorting mode="multiple"></dxo-sorting>
					<dxo-column-fixing [enabled]="true"></dxo-column-fixing>
					<dxo-paging [pageSize]="100"></dxo-paging>
				    <dxo-pager 
				        [showPageSizeSelector]="true"
				        [allowedPageSizes]="[50, 100, 200, 500]"
				        [showInfo]="true"
				        [showNavigationButtons]="true">
				    </dxo-pager>
				    <dxi-column dataField="entityUniqueIdentifier"></dxi-column>
				    <dxi-column dataField="accountNumber"></dxi-column>
				    <dxi-column dataField="key3"></dxi-column>
				    <dxi-column dataField="key4"></dxi-column>
				    <dxi-column dataField="key5"></dxi-column>
				    <dxi-column dataField="key6"></dxi-column>
				    <dxi-column dataField="key7"></dxi-column>
				    <dxi-column dataField="key8"></dxi-column>		    
				    <dxi-column dataField="key9"></dxi-column>		    
				    <dxi-column dataField="key10"></dxi-column>		    
				    <dxi-column dataField="periodEndDate"></dxi-column>		    
				    <dxi-column dataField="subledgerReportingBalance" dataType="number">
				    	<dxo-format type="currency" [precision]="2"></dxo-format>
				    </dxi-column>		    
				    <dxi-column dataField="subledgerAlternateBalance" dataType="number">
				    	<dxo-format type="currency" [precision]="2"></dxo-format>
				    </dxi-column>		    
				    <dxi-column dataField="subledgerAccountBalance" dataType="number">
				    	<dxo-format type="currency" [precision]="2"></dxo-format>
				    </dxi-column>		    
				</dx-data-grid>
			</mat-drawer-content>
		</mat-drawer-container>
	</div>
</div>



