<div class="list-page">
	<div class="list-page-controls-wrapper">
		<div class="controls-left">
			<h5 class="dbl-right-margin">User Maintenance</h5>	
			<costar-search (changed)="searchDataGrid($event)"></costar-search>
            <costar-dropdown class="" [dropdownData]="userViews"></costar-dropdown>	
		</div>
		<div class="controls-right">
			<button class="btn btn-primary">Add</button>
			<button class="btn btn-default" (click)="exportDataGrid()">Export</button>			
		</div>
	</div>
	<div class="list-page-data-grid-wrapper">
		<dx-data-grid
			class="list-page-data-grid"
			#DataGrid
			[dataSource]="users"
			[showColumnLines]="false"
			[showRowLines]="false"
			[showBorders]="false"
			[rowAlternationEnabled]="true" 
			[allowColumnResizing]="true"
			[allowColumnReordering]="true"
			[columnAutoWidth]="true"
			[columnMinWidth]="10"	
		>
			<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>    
			<dxo-grouping #expand [autoExpandAll]="true" [contextMenuEnabled]="true"></dxo-grouping>
			<dxo-paging [pageSize]="100"></dxo-paging>
		    <dxo-pager 
		        [showPageSizeSelector]="true"
		        [allowedPageSizes]="[50, 100, 200, 500]"
		        [showInfo]="true"
		        [showNavigationButtons]="true">
		    </dxo-pager>			
			<dxi-column *ngFor="let col of columns" 
				[dataField]="col.dataField" 
				[alignment]="col.alignment"
				[visible]="col.visible"
				[dataType]="col.dataType"
				[caption]="col.caption"
				[fixed]="col.fixed"
				[allowEditing]="col.allowEditing"
				[cellTemplate]="col.cellTemplate"
				>
				<dxo-format *ngIf="col.dataType == 'number' && col.precision >= 0 " type="fixedPoint" [precision]="col.precision"></dxo-format>
			</dxi-column>			
			<dxi-column type="buttons" width="48">
		    	<dxi-button
		    		template="moreMenuTemplate"   		
		    	>
		    		<div *dxTemplate="let data of 'moreMenuTemplate'">
		    			<button class="btn btn-link" (click)="$event.stopPropagation()" [matMenuTriggerFor]="UserMoreMenu"><mat-icon>more_horiz</mat-icon></button>
		    			<mat-menu #UserMoreMenu="matMenu">
				    		<ul>                        
		                        <li>Edit</li>
		                        <li>Assign Object Rights</li>                        
		                        <li>Assign Groups</li>
                                <li>Assign Modules</li>    
                                <li>Assign Admin Links</li>                    
                                <li>Delete</li>
		                    </ul>
				    	</mat-menu>
		    		</div>
		    	</dxi-button>		    	
		    </dxi-column>	
		</dx-data-grid>
		
	</div>
	
</div>