@use '../../../../../assets/styles/colors.scss';
/**
 * DevExtreme Popup Styles
 * Added for root level popups
 */
::ng-deep {
  .dx-overlay-wrapper {

    // Add building popup on dashboard page
    .add-building {
      .options {
        display: flex;
        flex-direction: column;
        .mat-radio-button {
          margin-left: 0;
          &.mat-radio-checked {
            .mat-radio-label-content {
              .mat-card {
                border: 1px solid colors.$primary;
              }
            }
            .mat-radio-container {
              .mat-radio-outer-circle {
                border-color: colors.$primary;
              }
              .mat-ripple-element,
              .mat-radio-persistent-ripple {
                background-color: colors.$primary;
              }
            }
          }
          .mat-radio-inner-circle {
            background-color: colors.$primary;
          }
          .mat-radio-label {
            position: relative;
            margin-top: 20px;
            .mat-radio-container {
              position: absolute;
              top: -10px;
              z-index: 1;
              background-color: colors.$white;
              border-radius: 100%;
            }
            .mat-radio-label-content {
              width: 100%;
              .mat-card {
                overflow: hidden;
                .mat-card-content {
                  display: grid;
                  grid-template-columns: 1fr minmax(250px, 0.5fr);
                  padding: 0px !important; // SHAME: It's being overwritten by costar.scss
                  .content {
                    padding: 1rem;
                    .mat-card-title-group {
                      .mat-card-title {
                        font-size: 16px;
                        font-weight: bold;
                      }
                    }
                  }
                  .image {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: colors.$neutral-light;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    min-height: 120px; // 16:9 Aspect ratio
                    min-width: 68px;
                  }
                }
              }
            }
          }
        }
      }
    }

  }
}