@use "../../../../../../../../libs/ui-shared/common/src/styles/" as *;

.mat-card {
  background-color: inherit !important;
  box-shadow: none !important;
}

.expire-label {
  @include costar(font-weight, small);
  @include costar(padding-right, 3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input {
  width: 110px;
}