<mat-card>	
  <mat-card-header>
    <mat-card-title>API Key Expiration Duration (In days)</mat-card-title>
  </mat-card-header>	
  <mat-card-content>	
		<div>
			<label for="duration" class="expire-label">(if left blank there is no expiration date)</label>
			<input
				type="number"
				min="1"
				value="{{serviceAccountInfo.apiKeyExpiresInDays}}"
				oninput="validity.valid||(value='')"
				[disabled]="serviceAccountInfo.apiKeyGeneratedDate === null"
				(change)="saveExpiresInDays($event.target.value)"/>
		</div>
  </mat-card-content>
</mat-card>

