<crem-modal
  class="client-delivery-modal"
  [modalTitle]="modalTitle"
  [closeIconVisible]="closeButton"
  modalId="serviceAccountDetailsId"
>
  <div modalContent>
    <div class="account-modal-content">
      <div class="dtls-top">
        <div class="dtls-top-left table-data">
          <div class="row-data">
            <span>Email Address: {{ emailAddress }}</span>
          </div>
        </div>
        <div class="dtls-top-right table-data">
          <div class="row-data">
            <div class="text-label">Active: {{ active }}</div>
          </div>
        </div>
      </div>

      <div class="dtls-center">
        <crem-button type="primary" (click)="resetPassword()"
          >Reset Password</crem-button
        >
      </div>

      <div class="dtls-bottom">
        <div class="gridTitle">Change History</div>
        <div>
          <dx-data-grid
            id="accountHistoryGrid"
            [showColumnLines]="false"
            [showRowLines]="false"
            [showBorders]="false"
            [rowAlternationEnabled]="true"
            [allowColumnResizing]="true"
            [allowColumnReordering]="true"
            [columnAutoWidth]="false"
            [dataSource]="changeHistoryData$ | async"
            [wordWrapEnabled]="true"
          >
            <dxo-header-filter
              [visible]="true"
              [allowSearch]="true"
            ></dxo-header-filter>
            <dxo-search-panel [visible]="false"></dxo-search-panel>
            <dxo-pager [visible]="false"></dxo-pager>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxi-column
              caption="Change Date/Time"
              dataField="lastModified"
              dataType="date"
              alignment="left"
              format="MM/dd/yyyy hh:mm:ss a"
            ></dxi-column>
            <dxi-column
              caption="User"
              dataField="modifiedBy"
              alignment="left"
            ></dxi-column>
            <dxi-column
              caption="Description"
              dataField="description"
              alignment="left"
            ></dxi-column>
            <dxi-column
              caption="Old Value"
              dataField="beforeChange"
              alignment="left"
            ></dxi-column>
            <dxi-column
              caption="New Value"
              dataField="afterChange"
              alignment="left"
            ></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</crem-modal>
