@use "../../../../../../../libs/ui-shared/common/src/styles/" as *;

.dtls-top {
  display: flex;
  justify-content: space-between;
}

.dtls-center {
  display: flex;
  justify-content: center;
  @include costar(margin-top, 6);
}

.dtls-bottom {
  @include costar(margin-bottom, 6);
}

.gridTitle {
  @include costar(font-size, h2);
  @include costar(color, primary);
  @include costar(margin-bottom, 2);
}

::ng-deep {
  crem-modal {
    .modalHeader {
      background-color: #FBFBFB !important;
      padding: 10px 16px !important;
      @include costar(border-bottom, gray04);
    }

    .modal-title {
      color: #414141 !important;
    }

    .modalContent {
      @include costar(border-bottom, gray04);
      padding-bottom: 40px !important;
    }

    .btn-secondary {
      &:focus {
        box-shadow: none !important;
      }
      &:hover {
        background-color:#FBFBFB !important;
      }
    }
  }
}
