@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.css";

//**** All styles should go inside of accounting-summary-style-container to prevent styles from   ****//
//**** bleeding into other components  ****//

.accounting-summary-style-container {
    .mat-expansion-panel-header-title {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        margin-right: 16px;
        align-items: center;
        padding-top: 1em;
    }
    
    .header {
        border-bottom: 1px solid #1e3a6f;
        color: #1e3a6f;
        font-weight: 500;
        line-height: 1.3em;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    
    .mat-expansion-panel-header.mat-expanded {
        height: 55px;
    }
    
    .mat-expansion-panel-header {
        height: 60px;
    }
    
    .dx-header-row {
        background-color: rgb(36, 90, 136) !important;
        color: rgb(255, 255, 255);
        font-weight: bold !important;
    }
    
    
    button.btn.btn-default.moreButton {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #000;
        cursor: pointer;
    
        mat-icon {
            transform: translateY(2px);
        }
    }
    
    button.btn.btn-default.moreButton:focus {
        box-shadow: 0 0 0 0.1rem #c8c8c8;
    }
    
    .section-grid {
        padding:0 16px 10px 16px !important;
    }
    
    .header-column-caption {
        white-space: normal;
        text-align: center;
        margin: 0px;
        max-height: 42px;
        font-size: 11px;
    }
    
    .dx-datagrid-content .dx-datagrid-table .dx-header-row>td[id^="dx-col-"]    
    {
        font-size: 11px !important;
    }
    
    .dx-header-filter{
        color: #eeeeee !important;
        
    }
    
    .dx-column-indicators{
        float: right !important;
     }

     .dx-popup-content .dx-template-wrapper dx-data-grid {
        height: 60% !important;
    }

    .dx-datagrid-summary-item {
        white-space: nowrap !important;
    }

    .dx-overlay-content.dx-popup-normal.dx-resizable {
        min-width: unset !important;
    }

    .workflow-dropdown-div {
        dx-select-box,input{
            border: 1px solid #a7a49f;
            border-radius: 2px;
            margin-bottom: 0px;
        }

        .dx-texteditor-input{
            font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif !important;
            border: 1px solid #a7a49f;
            font-size: 15px;
        }
    }

    &.workflow-dropdown-list-container {
        .dx-list-item.dx-state-disabled {  
            pointer-events: auto;  
        }

         .dx-list-item.dx-list-item-selected {  
            background-color: #e3f3fc;  
        }

         &.dx-overlay-wrapper.dx-popup-wrapper > .dx-overlay-content.dx-popup-normal > .dx-popup-content {
            padding: unset !important;
        }
    }
    
    &.workflow-history-popup-container {
        .p-timeline-event-opposite {
            text-align: left;
            flex: unset;
            width: 225px;
        }

        .dx-overlay-content.dx-popup-fullscreen>.dx-popup-content {
            padding: 16px !important;
        }

        #workflow-history-component-main-scrollview>.dx-scrollable-wrapper>.dx-scrollable-container>.dx-scrollable-content {
            margin-top: 5px;
        }

        .second-row-div .dx-scrollable-wrapper>.dx-scrollable-container>.dx-scrollable-content,
        .third-row-div .dx-scrollable-wrapper>.dx-scrollable-container>.dx-scrollable-content {
            padding-right: 20px;
        }

        .dx-template-wrapper.dx-popup-title {
            padding-right: 6px;
        }

        .popup-title-icon-div crem-icon > span {
            vertical-align: unset;
        }
    }

    #openLeaseAlertsPopupButton{
        border-radius: 2px;
    }

    .adjust-text {
        color: gray; 
      }

    .work-flow-comments {
        position: absolute;
        margin-top: 10px;
        right: 0%;
        z-index: 10;
        min-width: 350px;
        background: #ffffff;
        border-radius: 0.4em;
        border: solid 1px #b6b6b6;
        color: #000;
        padding: 5px;
        text-align: left;
        max-width: calc(100% - 20px);
    }
    
    .work-flow-commentText {
        font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif !important;
        position: relative;
        display: block;
        width: 95% !important;
        height: 50px !important;
        margin: 5px auto;
      }
      
    .work-flow-comments:after {
        content: '';
        position: absolute;
        top: 0;
        left: 40%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #8a8888;
        border-top: 0;
        border-left: 0;
        margin-left: -5px;
        margin-top: -10px;
      }
    
    .work-flow-comment-label{
        margin: 0 7.25px;
        padding: 10px 0 5px 0px;
      }
}
