<div class="service-account-configuration">
	<mango-ca-navbar></mango-ca-navbar>
	<div>
		<mango-service-account-api-keys 
			[userEmail] = "userEmail" 
			[apiKeyExpiresOn] = "apiKeyExpiresOn" 
			[apiKeyGeneratedDate] ="apiKeyGeneratedDate"
			(apiKeyUpdated) = "serviceAccountUpdated()">
		</mango-service-account-api-keys>
		<div class="middle-row-grid-container">
			<mango-service-account-sites *ngIf="serviceAccountSites" 
				[userEmail]="userEmail" 
				[sites]="serviceAccountSites" 
				(apiAccessUpdated) = "serviceAccountUpdated()">
			</mango-service-account-sites>
			<mango-service-account-endpoints *ngIf="serviceAccountEndpoints" 
				[endpoints]="serviceAccountEndpoints">
			</mango-service-account-endpoints>
		</div>			
		<mango-service-account-history 
			[userEmail]="userEmail">
		</mango-service-account-history>
	</div>
</div>