.middle-content-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}

.middle-row-grid-container{
  display: grid;
  grid-template-columns: 30% 30% 40%;
}