<div class="service-account-configuration">
	<mango-ca-navbar></mango-ca-navbar>
	<div>
		<mango-service-account-api-keys
			[serviceAccountInfo] ="serviceAccountInfo"
			(apiKeyUpdated) = "serviceAccountUpdated()">
		</mango-service-account-api-keys>
		<div class="middle-row-grid-container">
			<mango-service-account-sites
				[sites]="serviceAccountInfo.serviceAccountSites" 
				(apiAccessUpdated) = "serviceAccountUpdated()">
			</mango-service-account-sites>
			<mango-service-account-endpoints 
				[endpoints]="serviceAccountInfo.serviceAccountEndpoints">
			</mango-service-account-endpoints>
			<mango-service-account-api-key-duration
				[serviceAccountInfo] ="serviceAccountInfo" 
				(apiKeyExpiresInDaysUpdated) = "serviceAccountUpdated()">
			</mango-service-account-api-key-duration>
		</div>			
		<mango-service-account-history *ngIf="serviceAccountChangeHistories"
			[histories]="serviceAccountChangeHistories">
		</mango-service-account-history>
	</div>
</div>