<!-- <div class="service-account-configuration">
	<mango-customer-selection (onClientSelected)="onClientSelected($event)"></mango-customer-selection>
	<mango-contact-select (contactRecord)="contactRecordEvent($event)"></mango-contact-select>
</div> -->

<div class="service-account-configuration">
	<mango-ca-navbar></mango-ca-navbar>

	<!-- <div id="company-logo">
			<img src="costar-logo.png">
	</div> -->

	<mango-service-account-api-keys></mango-service-account-api-keys>
	<mango-service-account-sites></mango-service-account-sites>
	<mango-service-account-endpoints></mango-service-account-endpoints>
	<mango-service-account-history></mango-service-account-history>
</div>