.middle-content-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}

.middle-row-grid-container{
  display: grid;
  grid-template-columns: 60% 40%;
}

.mat-card {
  background-color: inherit !important;
  box-shadow: none !important;
}
