.dropCards {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

.cardTypes {
  display: flex;
  justify-content: center;
}

.categories-item {
  flex: 1 1 50% !important;
  max-width: 50%;
  padding: 8px;
  box-sizing: border-box;
}

div.width100 {
  min-width: 100% !important;
}

.dispCardNone {
  display: none;
}

.mat-slide-toggle-content {
  font-size: 14px!important;
}

div#projects_by_type_container {
  width: 100% !important;
}

.switchCard {
  width: 100%;
}
