<crem-modal
  [modalTitle]="modalTitle"
  closeOrCancelButtonText="Cancel"
  primaryFooterButtonText="Save"
  [closeIconVisible]="true"
  [closeDialogResult]="appendTemplateResult"
  [modalId]="modalId"
  [primaryFooterButtonEnabledDisabled]="disableSaveBtn"
  (primaryButtonAction)="saveAppendTemplate()"
>
  <div modalContent id="appendTemplateModal-content">
    <span class="apt-normaltext">
      Select a task template to add additional tasks to the current
      project.</span
    >
    <div class="apt-main-modal-layout">
      <div class="apt-firstRow-layout">
        <div class="apt-choose-task-template-group">
          <h4
            class="nameLabel label info"
            [ngClass]="projectTemplateFieldInvalid ? 'fieldInvalid' : ''"
          >
            <span class="apt-nameLabel"
              >Choose Task Template
              <span class="apt-required" aria-label="required">*</span></span
            >
          </h4>
          <crem-dropdown
            #ProjectTemplateDropdown
            id="apt-selectProjectTemplateDropdownId"
            dropDownContainerCustomClass="apt-choose-project-template-selectBox"
            [dataSource]="projectTemplates"
            [placeholder]="'Select...'"
            [showClearButton]="false"
            [showColumnHeader]="false"
            [showDefaultValidationTooltip]="false"
            [required]="true"
            displayExpr="projectTemplateName"
            valueExpr="projectTemplateID"
            [allowSearch]="true"
            [useSelectBox]="true"
            (selectedItems)="onSelectedProjectTemplate($event)"
          >
          </crem-dropdown>
        </div>

        <div class="apt-view-project-preview-button-group">
          <span
            type="button"
            id="apt-view-project-preview-button"
            [ngClass]="{ 'apt-disableBtn': projectTemplateSelectedCheck() }"
            (click)="showOrHideViewProjectPreview()"
          >
            {{ previewVisible ? 'Close Preview' : 'Preview Template' }}
          </span>
        </div>
      </div>

      <div class="apt-apply-team-to-task-group">
        <dx-check-box
          id="applyTeamToTaskCheckbox"
          class="apt-apply-team-to-task-checkbox"
          aria-label="Check to apply team to a task"
          [(value)]="applyTeamToTaskValue"
        ></dx-check-box>
        <span> Apply Team to Task</span>
      </div>

      <div class="apt-transPreviewGrid-group" *ngIf="previewVisible">
        <dx-data-grid
          id="apt-transPreviewGrid-id"
          [showColumnLines]="false"
          [showRowLines]="false"
          [showBorders]="false"
          [rowAlternationEnabled]="true"
          [allowColumnResizing]="true"
          columnResizingMode="widget"
          [allowColumnReordering]="true"
          [columnAutoWidth]="false"
          [dataSource]="projectTemplatePreviewGridData"
          [hoverStateEnabled]="true"
          keyExpr="projectTemplateMilestoneID"
          width="100%"
          [wordWrapEnabled]="true"
          (onContentReady)="adaAttrToGridTable($event)"
        >
          <dxo-load-panel [enabled]="true"> </dxo-load-panel>
          <dxo-sorting mode="none"></dxo-sorting>

          <dxi-column
            dataField="projectTemplateMilestoneStepFull"
            caption="Step"
          ></dxi-column>
          <dxi-column
            dataField="projectTemplateMilestoneName"
            caption="Task Name"
            width="140"
          ></dxi-column>
          <dxi-column
            dataField="projectTemplateMilestoneDaysToStart"
            caption="DTS"
            alignment="center"
          ></dxi-column>
          <dxi-column
            dataField="projectTemplateMilestoneDaysToComplete"
            caption="Duration"
            alignment="center"
          ></dxi-column>
          <dxi-column
            dataField="projectTemplateMilestoneRequired"
            caption="Required"
            [cellTemplate]="'requiredTemplate'"
          ></dxi-column>
          <dxi-column
            dataField="isMileMark"
            caption="Milestone"
            [cellTemplate]="'milestoneTemplate'"
          ></dxi-column>
          <dxi-column
            dataField="isConcurrent"
            caption="Concurrent"
            [cellTemplate]="'concurrentTemplate'"
          ></dxi-column>
          <dxi-column
            dataField="predecessors"
            caption="Predecessor"
            alignment="center"
          ></dxi-column>
          <div *dxTemplate="let cell of 'requiredTemplate'">
            <div>{{ cell.value == true ? 'Yes' : 'No' }}</div>
          </div>
          <div *dxTemplate="let cell of 'milestoneTemplate'">
            <div>{{ cell.value == true ? 'Yes' : 'No' }}</div>
          </div>
          <div *dxTemplate="let cell of 'concurrentTemplate'">
            <div>{{ cell.value == true ? 'Yes' : 'No' }}</div>
          </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
</crem-modal>
