<div class="dynamic-form">
	<div class="dynamic-form-controls-wrapper">
		<div class="controls-left">
			<h5 *ngIf="form">Form - {{form.formName}} ({{form.objectType}})</h5>
			<h5 *ngIf="!form">New Form</h5>
		</div>
		<div class="controls-right">						
			<button class="btn btn-default" [matMenuTriggerFor]="AddSectionMenu">Add Section</button>
			<mat-menu #AddSectionMenu="matMenu">
				<button mat-menu-item [matMenuTriggerFor]="ExistingSectionMenu">Existing Section</button>
				<button mat-menu-item [matMenuTriggerFor]="NewSectionMenu">New Section</button>							
			</mat-menu>
			<mat-menu #NewSectionMenu="matMenu">
				<button mat-menu-item (click)="createNewSection(1)"> 1 Column</button>
				<button mat-menu-item (click)="createNewSection(2)"> 2 Columns</button>
				<button mat-menu-item (click)="createNewSection(0)"> Widget</button>
			</mat-menu>
			<mat-menu #ExistingSectionMenu="matMenu" (click)="$event.stopPropagation()">
				<form class="form-horizontal filters-menu-form" (click)="$event.stopPropagation()">
					<costar-search class="std-bottom-margin" (changed)="searchAvailableSectionsDataGrid($event)"></costar-search>					
					<dx-data-grid #availableSectionsGrid
						id="availableSectionsContainer"
						[dataSource]="availableSections"
						[showColumnLines]="false"
						[showRowLines]="true"
						[showBorders]="true"
						[rowAlternationEnabled]="true" 
						keyExpr="id">	
						<dxo-selection
						    [selectAllMode]="true"
						    [showCheckBoxesMode]="false"
						    mode="multiple"
						></dxo-selection>														
					    <dxo-scrolling mode="virtual"></dxo-scrolling>
					    <dxi-column dataField="sectionName"></dxi-column>
					</dx-data-grid>						
					<button class="btn btn-primary btn-sm std-top-margin" (click)="addSections()">Add Sections</button>
				</form>						
			</mat-menu>
			<button class="btn btn-default"><fa-icon icon="cog"></fa-icon></button>
			<button class="btn btn-default" (click)="close()">Close</button>
			<button class="btn btn-primary">Save</button>
		</div>
	</div>
	<div class="dynamic-form-content">		
		<div class="row" *ngIf="sections.length">
			<div *ngFor="let section of sections" class="col-md-12">
				<form-section [section]="section" [availableFields]="availableFields" (removed)="onRemoved($event)"></form-section>				
			</div>	
		</div>
	</div>
</div>	

