@use 'apps/mango/src/assets/styles/colors.scss' as colors;
@use 'styles' as *;

.aet-memberData {
  pointer-events: none;
  cursor: default;
}

fa-icon {
  height: 20px;
  width: 20px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem;
    @include costar(box-shadow, gray04);
  }
}

#aet-members {
  margin-bottom: 20px;
  .aet-membersDropDown {
    input.dx-texteditor-input {
      font-size: 16px;
    }
  }
}

.aet-selectedMembers {
  padding: 8px;
  height: 290px;
  width: 100%;
  border: 1px solid colors.$stdBorderColor;
  border-radius: 4px;

  .aet-remove-members {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;

    .aet-removeText {
      height: 16px;
      transform: translateY(3px);
    }

    crem-button[ng-reflect-disabled='true'] {
      fa-icon {
        color: lightgray;
      }
    }
  }

  #aet-selectedMembers-container {
    height: calc(100% - 40px);

    .aet-selectedMembers-dataGrid-wrapper {
      height: 100%;
    }

    div.actionsMenuTemplate {
      transform: translateY(6px);
    }
  }
}

#aer-membersList {
  height: 200px;
  .dx-list-item {
    border-top: none;
    color: black;
    .dx-list-item-content {
      padding: 4px;
    }
  }
  .aet-itemDisabled {
    pointer-events: none;
    color: colors.$darkGray;
    cursor: default;
    fa-icon {
      color: lightgray;
    }
  }
  fa-icon {
    margin-right: 8px;
    transform: translateY(2px);
  }
}

.aet-itemDisabled {
  pointer-events: none;
  color: lightgray;
  cursor: default;

  .ng-fa-icon {
    color: lightgray;
  }
}

.footerRightControls {
  display: flex;
  & > .aem-btn {
    margin-right: 8px;
  }
}

.aet-members .aet-membersDropDown {
  input.dx-texteditor-input {
    font-size: 16px;
  }
}

#addEditReminderModal button.btn-close.btn-none.modalCloseButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem $primary-lighter;
}

#addEditReminderModal .dx-checkbox-container:focus {
  outline: none;
  @include costar(box-shadow, primary-light);
}

.btn.btn-link.teamMemberActionsButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem;
  @include costar(box-shadow, primary-light);
}
