<div class="object-wrapper">
	<div class="object-banner">
		<div class="object-close" (click)="close()">
			<fa-icon icon="times"></fa-icon>
		</div>
		<div class="object-header">
			<div class="object-subtitle">
				Contact
			</div>
			<div class="object-title">
				Jason Trkovsky
			</div>
		</div>
		<div class="object-header">
			<div class="object-subtitle">
				Company
			</div>
			<div class="object-title gray">
				Boston Properties
			</div>
		</div>		
	</div>
	<div class="object-content">
		<mat-drawer-container>
			<mat-drawer mode="side" opened class="left-nav">
				<mat-nav-list>
					<mat-list >
						<mat-list-item [routerLink]="['details']" [routerLinkActive]="['active']">Details</mat-list-item>				
						<mat-list-item [routerLink]="['scheduledreports']" [routerLinkActive]="['active']">Scheduled Reports</mat-list-item>
						<mat-list-item [routerLink]="['proxies']" [routerLinkActive]="['active']">Proxies</mat-list-item>
						<mat-list-item [routerLink]="['privileges']" [routerLinkActive]="['active']">Privileges</mat-list-item>						
					</mat-list>	
					<mat-divider></mat-divider>
					<mat-list>
						<mat-list-item [routerLink]="['notes']" [routerLinkActive]="['active']">Notes</mat-list-item>
						<mat-list-item [routerLink]="['files']" [routerLinkActive]="['active']">Files</mat-list-item>
						<mat-list-item [routerLink]="['history']" [routerLinkActive]="['active']">History</mat-list-item>
					</mat-list>							
				</mat-nav-list>
			</mat-drawer>
			<mat-drawer-content>
				<router-outlet></router-outlet>
			</mat-drawer-content>
		</mat-drawer-container>
	</div>
</div>
