@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/var.scss';

.approve-reject-controls-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: $stdPadding 0px;
}

.task-approvers-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;

	.available-approvers-list {
		margin-right: $dblPadding;
		height: 100%;

	}

	.current-approvers-list {
		padding-left: $dblPadding;
		border-left: $stdBorder;
		height: 100%;

	}
}