<mat-card>
  <mat-card-header>
    <mat-card-title>{{ section.sectionName }}</mat-card-title>
    <div>
      <button
        class="btn btn-primary-outline"
        *ngIf="!section.preventExport"
        (click)="exportDataGrid()"
        role="button"
        aria-label="Download"
        type="button"
      >
        <fa-icon icon="download"></fa-icon>
      </button>
      <button
        class="btn btn-primary std-left-margin"
        *ngIf="section.allowAdding"
        (click)="addRow()"
        type="button"
      >
        Add
      </button>
      <button
        class="btn btn-primary-outline"
        *ngIf="section.listMapToggle"
        type="button"
        (click)="onSearch('https://product.costar.com/search/all-properties/?queryId=1_f5704f78-d118-42c2-9ffc-ed8e13e50404', '_blank')"
      >
        Search
      </button>
      <mat-button-toggle-group
        *ngIf="section.listMapToggle"
        name="ListMapToggle"
        [(value)]="viewToggleValue"
        class="list-map-button-toggle"
      >
        <mat-button-toggle value="list"
          ><fa-icon icon="list"></fa-icon><span>List</span></mat-button-toggle
        >
        <mat-button-toggle value="map"
          ><fa-icon icon="map"></fa-icon><span>Map</span></mat-button-toggle
        >
      </mat-button-toggle-group>
      <dx-select-box
        *ngIf="section.marketActivityTime"
        [dataSource]="section.marketActivityTimes"
        [(value)]="section.marketActivityTime"
      ></dx-select-box>
    </div>
  </mat-card-header>
  <mat-card-content class="no-padding">
    <dx-data-grid
      *ngIf="viewToggleValue == 'list'"
      #DataGrid
      [dataSource]="section.data"
      [showColumnLines]="false"
      [columnAutoWidth]="true"
      [showRowLines]="false"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      [wordWrapEnabled]="true"
			(onRowClick)="navigateToObject($event)"
      (onCellPrepared)="onCustomTemplate($event)"
    >
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-grouping
        #expand
        [autoExpandAll]="isExpanded"
        [contextMenuEnabled]="true"
      ></dxo-grouping>
      <dxo-editing
        *ngIf="section.allowEditing"
        mode="inline"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [useIcons]="true"
      >
      </dxo-editing>
      <dxi-column
        *ngFor="let col of section.columns"
        [dataField]="col.dataField"
        [alignment]="col.alignment"
        [visible]="col.visible"
        [dataType]="col.dataType"
        [caption]="col.caption"
        [allowEditing]="col.allowEditing"
        [cellTemplate]="col.cellTemplate"
      >
        <dxo-format
          *ngIf="col.dataType == 'number' && col.precision >= 0"
          type="fixedPoint"
          [precision]="col.precision"
        ></dxo-format>
        <dxo-format
          *ngIf="col.dataType == 'currency' && col.precision >= 0"
          type="currency"
          [precision]="col.precision"
        ></dxo-format>
      </dxi-column>
      <div *dxTemplate="let data of 'starsTemplate'">
        <fa-icon icon="star" class="rating"></fa-icon>
        <fa-icon icon="star" class="rating"></fa-icon>
        <fa-icon icon="star" class="rating"></fa-icon>
        <fa-icon icon="star" class="rating"></fa-icon>
        <fa-icon icon="star" class="rating"></fa-icon>
      </div>

      <div *dxTemplate="let data of 'customTemplate'">
        <fa-icon
          *ngIf="data.value.icon"
          [icon]="data.value.icon"
          [class]="data.value.iconClasses"
        ></fa-icon>
        {{data.value.text}}
        <dx-tooltip position="right">
          <div *dxTemplate="let data of 'content'">
            <div class='tooltipContent'>
              {{singleCellConfig.tooltipMessage}}
            </div>
          </div>
        </dx-tooltip>
      </div>

      <div *dxTemplate="let data of 'starsRatingTemplate'">
        <span *ngFor="let i of [0, 1, 2, 3, 4]">
          <ng-container *ngIf="data.value <= i">
            <fa-icon icon="star" class="rating-blank"></fa-icon>
          </ng-container>
          <ng-container *ngIf="data.value > i">
            <fa-icon icon="star" class="rating"></fa-icon>
          </ng-container>
        </span>
      </div>
      <dxi-column type="buttons" [width]="110" *ngIf="section.allowEditing">
        <dxi-button name="edit"></dxi-button>
        <dxi-button name="delete"></dxi-button>
        <dxi-button
          hint="History"
          icon="clock"
          [visible]="hasHistory"
          [onClick]="showRowHistory"
        ></dxi-button>
      </dxi-column>
    </dx-data-grid>
    <div *ngIf="viewToggleValue == 'map'">
      <img src="assets/images/alt-space-map-2.png" style="width: 100%" />
    </div>
  </mat-card-content>
</mat-card>

<dx-popup
  #ScheduleHistoryPopup
  width="600"
  height="240"
  [showTitle]="true"
  [title]="historyPopupTitle"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [(visible)]="historyPopupVisible"
>
  <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    <view-history-dialog
      (closed)="historyDialogClosed($event)"
    ></view-history-dialog>
  </div>
</dx-popup>
