@use 'styles' as *;

.breadcrumb-container {
  width: 100%;
  height: 31px;
  @include costar(border-bottom, gray04);

  .mango-breadcrumbs {
    white-space: nowrap;

    .breadcrumb {
      display: inline-block;
      font-size: 8pt;
      text-decoration: underline;
      cursor: pointer;
      padding: 8px 10px 0px 10px;
      background-color: transparent;
      @include costar(color, primary);
    }
  }
}
