<crem-popup
  *ngIf="jeProcessingPopupData"
  [id]="accountingSummaryService.getId(componentName, 'detail', 'section')"
  width="80%"
  height="auto"
  [visible]="jeRetroPopupVisible"
  [resizeEnabled]="'true'"
  [title]="jePopupTitle"
  [showFooter]="false"
  (close)="closePopup()"
>
  <div body>
    <crem-tabs
      [id]="accountingSummaryService.getId(componentName, 'tabs', 'section')"
      [selectedTabIndex]="activeTabIndex"
      (selectedTabChange)="onTabChange($event)"
    >
      <crem-tab-item
        title="Journal Entry"
        [id]="
          accountingSummaryService.getId(componentName, 'journal-entry', 'tab')
        "
      >
        <div class="jeProcessingInfoClass">
          <mango-je-processing-info
            [jeProcessingPopupData]="jeProcessingPopupData"
            [rightsInfo]="rightsInfo"
            [userInfo]="userInfo"
            [wfStatusRights]="wfStatusRights"
            [eventScheduleData]="eventScheduleData"
            [displayPeriodTitle]="displayPeriodTitle"
            [isPopupForRetroGridClick]="isPopupForRetroGridClick"
          ></mango-je-processing-info>
        </div>
      </crem-tab-item>
      <crem-tab-item
        *ngIf="showPaymentTabOnPeriodPopup"
        title="Payment Detail"
        [id]="
          accountingSummaryService.getId(componentName, 'payment-detail', 'tab')
        "
      >
        <mango-je-payment-info
          [jePaymentPopupData]="jePaymentPopupData"
          [userInfo]="userInfo"
          [displayPeriodTitle]="displayPeriodTitle"
        >
        </mango-je-payment-info>
      </crem-tab-item>
      <crem-tab-item
        *ngIf="showRetroScheduleTab"
        title="Retrospective Adjustment"
        [id]="
          accountingSummaryService.getId(componentName, 'retrospective', 'tab')
        "
      >
        <mango-retrospective-adjustment-info
          *ngIf="!!retrospectiveAdjustmentPopupData"
          [retrospectiveAdjustmentPopupData]="retrospectiveAdjustmentPopupData"
          [gridColumnsForRetroPopup]="gridColumnsForRetroPopup"
          [classificationType]="classificationType"
          [amortizationProfileName]="amortizationProfileName"
          (retroAdjustmentGridRowClickEvent)="
            onRetroAdjustmentGridRowClick($event)
          "
        ></mango-retrospective-adjustment-info>
      </crem-tab-item>
    </crem-tabs>
  </div>
</crem-popup>
