::ng-deep {
  mango-add-form-wizard {
    .footer-content {
      crem-button {
        button {
          margin: 0px !important;
        }

        button:focus,
        button:focus-within {
          outline-color: #000000 !important;
          outline-style: solid !important;
          outline-width: thin !important;
        }
        button:focus-visible {
          outline-color: #000000 !important;
          outline-style: solid !important;
          outline-width: thin !important;
        }
      }
    }

    .dx-scrollable-wrapper {
      max-height: 24vh;
    }
  }
}

::ng-deep #add_project_wizard__add_modal {
  crem-dropdown {
    display: block;
    height: 100%;
  }
}
