/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~devextreme/dist/css/dx.common.css';
@import '~devextreme/dist/css/dx.light.css';
@import '~devexpress-gantt/dist/dx-gantt.css';

@import "assets/styles/costar.scss";
@import "assets/styles/costar-bootstrap.scss";
@import "assets/styles/costar-devextreme.scss";
@import "assets/styles/costar-angular-material.scss";
@import "assets/styles/mobile.scss";

@import "@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica, Arial", sans-serif; line-height: unset;}
