<mat-card class="dashboard-card project-dash-card">
	<mat-card-header>				
		<mat-card-title>Recent Activity</mat-card-title>
		<mat-card-subtitle>(since last login)</mat-card-subtitle>								
	</mat-card-header>
	<mat-card-content class="oflow-y-auto">							
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Washington D.C. | Renewal</span>
				<span class="timing">2d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Sally Maher</b> uploaded a new file to the Oracle Renewal deal in Washington D.C.
			</div>
		</div>
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Atlanta | New Lease</span>
				<span class="timing">2d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Tim Marion</b> sent a Tenant Counter proposal to landlord for a New Lease for 1735 Market Street in Atlanta.
			</div>
		</div>
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Atlanta | New Lease</span>
				<span class="timing">4d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Rich Rhodes</b> updated the stage of the Oracle Atlanta New Lease deal to Proposal.
			</div>
		</div>
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Tampa | New Lease</span>
				<span class="timing">3d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Sean Stanley</b> uploaded a new file to the Oracle New Lease deal in Tampa.
			</div>
		</div>
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Tampa | New Lease</span>
				<span class="timing">3d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Sean Stanley</b> uploaded a new file to the Oracle New Lease deal in Tampa.
			</div>
		</div>
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Tampa | New Lease</span>
				<span class="timing">3d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Sean Stanley</b> uploaded a new file to the Oracle New Lease deal in Tampa.
			</div>
		</div>
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Tampa | New Lease</span>
				<span class="timing">3d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Sean Stanley</b> uploaded a new file to the Oracle New Lease deal in Tampa.
			</div>
		</div>								
	</mat-card-content>
</mat-card>