@import '../../../../../assets/styles/colors.scss';
@import '../../../../../assets/styles/var.scss';

div.board-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;	

	div.board-controls-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: $stdPadding $dblPadding;
		font-size: 14px;	
		border-bottom: $stdBorder;	

		&>div {
			display: flex;
			align-items: center;
			z-index: 500;

			&.controls-left {
				mat-form-field.mat-form-field, button.btn, dx-text-box, dx-drop-down-box, dx-drop-down-button, dx-select-box {
					margin-right: $stdPadding;
				}

				&>div {
					margin-right: $stdPadding;
				}

				h1, h2, h3, h4, h5, h6 {
					margin: 0px;
				}
			}

			&.controls-right {
				mat-form-field.mat-form-field, button.btn, mat-button-toggle-group, dx-drop-down-button, dx-select-box {
					margin-left: $stdPadding;
				}		
			}
		}		

		button.btn {
			font-size: 14px;
		}

		mat-form-field {
			&.mat-form-field {
				height: $stdPadding * 4;
				&.mat-form-field-appearance-outline {
					div.mat-form-field-wrapper {
						padding: 0px;
						margin: 0px;
					}
				}
			}
		}
	}

	div.board-wrapper {
		display: flex;
		flex-grow: 1;
		overflow-y:hidden;
		flex-direction: column;		

		div.board-columns-wrapper {
			display: flex;
			flex-direction: row;
			overflow-x: auto;	
			height: 100%;	
			padding-top: $dblPadding;

			div.board-column {
				min-width: 400px;
				overflow-y: hidden;
				// border: $stdBorder;
				margin: 0px $dblPadding;
				display: flex;
				flex-direction: column;
				height: 100%;

				div.column-title {
					display: flex;					
				}

				div.column-cards-wrapper {					
					overflow-y: auto;
					min-height: 220px;

					div.board-card {
						height: 100px;
						width: 100%;
						margin-bottom: $dblPadding;
						border: $stdBorder;
						background: white;
						border-radius: 4px;
						padding: $stdPadding;
					}
				}
			}
		}
	}
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.column-cards-wrapper.cdk-drop-list-dragging .board-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
