<div class="module-wrapper">
	<mat-drawer-container >
		<mat-drawer mode="side" opened [style.visibility]="'visible'" class="left-nav">
			<mat-nav-list>
				<mat-list [style.width]="drawerWidth">
					<div *ngIf="isLeftNavOpened">
						<mat-list-item [routerLink]="['people']" routerLinkActive="active"><span class="costar-left-nav-link">People</span></mat-list-item>
						<mat-list-item [routerLink]="['companies']" routerLinkActive="active"><span class="costar-left-nav-link">Companies</span></mat-list-item>						
		                <!-- <mat-divider></mat-divider> -->
	                </div>
				</mat-list>
                <!-- <div class="add-button-wrapper" [class.nav-minimized]="!isLeftNavOpened">
	                <button class="btn btn-primary-outline left-nav-add-button" [matMenuTriggerFor]="AddPortfolioObjectMenu"><fa-icon icon="plus"></fa-icon> <span *ngIf="isLeftNavOpened">Add</span></button>
	                <mat-menu #AddPortfolioObjectMenu="matMenu">
						<button mat-menu-item>Company</button>
						<button mat-menu-item>Person</button>
					</mat-menu>
					<button class="btn btn-link dbl-top-margin float-right" (click)="toggleDrawer()"><fa-icon icon="chevron-left" *ngIf="isLeftNavOpened"></fa-icon><fa-icon icon="chevron-left" *ngIf="isLeftNavOpened"></fa-icon><fa-icon icon="chevron-right" *ngIf="!isLeftNavOpened"></fa-icon><fa-icon icon="chevron-right" *ngIf="!isLeftNavOpened"></fa-icon></button>	
	            </div>     -->
			</mat-nav-list>
		</mat-drawer>
		<mat-drawer-content class="oflow-x-hidden" [style.marginLeft]="drawerWidth">
			<router-outlet></router-outlet>
		</mat-drawer-content>
	</mat-drawer-container>
</div>
