<div class="title">
  <div class="leaseName">
    Lease: {{ leaseName }}
  </div>
  <div class="info-icon">
    <crem-icon 
      [id]="getId('info','icon')"
      pack="solid" 
      icon="faCircleInfo" 
      color="dark"
      (click)="showObjectInfoPopup()"> 
    </crem-icon>
  </div>
  <div
    *ngIf="isLocked"
    [id]="getId('lock','click')"
    class="lock-notice-pill"
    (click)="showTooltip = !showTooltip"
    >
    <div class="lock-icon">
      <crem-icon 
        [id]="getId('lock','icon')"
        pack="solid" 
        icon="faLock"> 
      </crem-icon>
    </div>
    &nbsp;Locked
  </div>
  <dx-tooltip 
    [id]="getId('lock','tooltip')"
    target="#title-lock-click"
    [visible]="showTooltip"
    (onHiding)="showTooltip = !showTooltip"
    >
    <div [id] ="getId('content','tooltip')" *dxTemplate="let data of 'content'" class="content-class">
      {{ lockedReason }}
      <p><i>Locked records cannot be edited. Records will be unlocked when the batch has completed processing or has been canceled.</i></p>
    </div>
  </dx-tooltip>
</div>