.portfolio-maintenance {
    &__page-title {
        font-size: 20px;
        font-weight: 500;
        font-family: Helvetica, sans-serif;
    }

    &__button-padding {
        padding-right: 8px;
    }

    &__icons {
        padding: 0px 4px;
        width: 20px;
    }

    &__info {
        display: flex;
        justify-content: center;
    }
}

.portfolio-maintenance-tree-list-wrapper {
    height: 100%;
    overflow: hidden;
}

.view-contact-modal {
    max-height: 800px !important;
}

tr.dx-row.dx-data-row.dx-column-lines:hover {
    cursor: pointer !important;
}

button.portfolioOptionsMenuBtn:focus{
    box-shadow: 0 0 0 0.1rem #779ede;
}

:host::ng-deep {
    .dx-show-clear-button .dx-icon-clear {
      color: #666666;
    }
  }