<div class="costar-hero-metric-card" [class.right-border]="hasRightBorder">
	<div class="hero-title-wrapper">
		<div class="title">{{title}}</div>
		<div *ngIf="tooltip" class="addl-info-wrapper">
			<fa-icon icon="info-circle" [id]="id" (click)="toggleTooltip()"></fa-icon>
		</div>
	</div>
	<div class="hero-stat-wrapper">
		<div class="hero-value">
			{{heroMetric}}
		</div>
		<div class="sidekick-value-wrapper">
			<div class="sidekick-value" *ngIf="sidekickMetricA">{{sidekickMetricA}}</div>
			<div class="sidekick-value" *ngIf="sidekickMetricB">{{sidekickMetricB}}</div>
		</div>
	</div>
	<div class=hero-subtitle-wrapper>
		{{subtitle}}
	</div>
</div>

<dx-popover
    [target]="popoverTarget" 
    position="top"
    [width]="400"
    [(visible)]="popoverVisible">
    <div *dxTemplate="let data = model of 'content'" class="hero-tooltip">
        {{tooltip}}
    </div>
</dx-popover>

		