<login-masthead></login-masthead>
<div class="login-wrapper">
	<mat-card>		
		<mat-card-content>
			<h5>Welcome!  We see you haven't set a start page yet.</h5>
			<p>Please choose a start page</p>
			<div class="client-select-wrapper">
				<div class="recent-clients-tile-wrapper">
					<!-- <div class="client-tile" *ngFor="let page of quickSelectStartPages"  (click)="goToPrototypeSelect()">
						<span>{{page}}</span>
					</div>					 -->
                    <button class="btn btn-default dbl-right-margin" (click)="goToPrototypeSelect()">Portfolio</button>
                    <button class="btn btn-default" (click)="goToPrototypeSelect()">Transactions</button>
				</div>
                <div class="login-or">
                    <hr>
                    <div>OR</div>	
                    <hr>
                </div>
				<dx-select-box
					#ClientList
					[dataSource]="startPageOptions"
					searchMode="startswith"
					[searchEnabled]="true"
					width="300"
					(onValueChanged)="goToPrototypeSelect()"
				></dx-select-box>				
			</div>
		</mat-card-content>
	</mat-card>
</div>

