<div class="dashboard">	
	<div class="dashboard-controls-wrapper">
		<div class="controls-left">
			<div *ngFor="let filter of filters">
				<costar-dropdown [dropdownData]="filter" *ngIf="filter.visible && filter.controlType == 'dropdown'"></costar-dropdown>			
				<portfolio-menu *ngIf="filter.visible && filter.controlType == 'portfolio'" [showSearchRow]="filter.showSearchRow"></portfolio-menu>			
				<hierarchy-dropdown portfolioId="1" *ngIf="filter.visible && filter.controlType == 'hierarchy'"></hierarchy-dropdown>		
			</div>		
			<button class="btn btn-default btn-sm">Apply</button>
		</div>
		<div class="controls-right">
			<button class="btn btn-primary btn-sm"><fa-icon icon="plus"></fa-icon> Add</button>
			<button class="btn btn-default btn-sm dbl-left-margin"><fa-icon icon="cog"></fa-icon></button>
		</div>
	</div>
	<div class="dashboard-content-wrapper">
		<div class="dashboard-hero-wrapper">
			<dashboard-hero-card
				[title]="'NEW LEASE'"
				[heroMetric]="'12'"
				[sidekickMetricA]="'+2'"
				[subtitle]="'209,700 SF'"					
			></dashboard-hero-card>
			<dashboard-hero-card
				[title]="'RENEWAL'"
				[heroMetric]="'3'"
				[subtitle]="'27,500 SF'"					
			></dashboard-hero-card>
			<dashboard-hero-card
				[title]="'EXPIRATIONS'"
				[heroMetric]="'19'"
				[subtitle]="'Next 12 Months'"					
			></dashboard-hero-card>
			<dashboard-hero-card
				[title]="'AREA CHANGE'"
				[heroMetric]="'194,200'"
				[sidekickMetricA]="'21%'"
				[subtitle]="'SF'"					
			></dashboard-hero-card>
			<dashboard-hero-card
				[title]="'SEAT CHANGE'"
				[heroMetric]="'971'"
				[sidekickMetricA]="'29%'"
			></dashboard-hero-card>	
			<dashboard-hero-card
				[title]="'COMPLETED'"
				[heroMetric]="'6'"
				[subtitle]="'Last 60 days'"					
			></dashboard-hero-card>								
		</div>
		<div class="dashboard-cards-wrapper">
			<div class="row">
				<div class="col-md-6">
					<mat-card>
						<mat-card-header>				
							<mat-card-title>Action Required</mat-card-title>
						</mat-card-header>
						<mat-card-content >							
							<div class="recent-activity">
								<div class="recent-activity-header">
									<span class="headline">1331 L Street  |  Renewal</span>
									<span class="timing">30m</span>
								</div>	
								<div class="recent-activity-detail">
									<b>Sally Maher</b> shared a Landlord Counter for 1331 L Street.
								</div>
							</div>
							<div class="recent-activity">
								<div class="recent-activity-header">
									<span class="headline">3333 Piedmont Rd  |  New</span>
									<span class="timing">1d</span>
								</div>	
								<div class="recent-activity-detail">
									<b>Rich Rhodes</b> shared a Landlord Proposal for 3333 Piedmont Rd.
								</div>
							</div>								
						</mat-card-content>
					</mat-card>
				</div>
				<div class="col-md-6">
					<mat-card>
						<mat-card-header>				
							<mat-card-title>Recent Activity</mat-card-title>
							<mat-card-subtitle>(since last login)</mat-card-subtitle>								
						</mat-card-header>
						<mat-card-content >							
							<div class="recent-activity">
								<div class="recent-activity-header">
									<span class="headline">33 Arch Street  |  Renewal</span>
									<span class="timing">2d</span>
								</div>	
								<div class="recent-activity-detail">
									<b>Evan English</b> uploaded a file to the Renewal deal for 33 Arch Street.
								</div>
							</div>
							<div class="recent-activity">
								<div class="recent-activity-header">
									<span class="headline">1735 Market Street  |  Expansion</span>
									<span class="timing">3d</span>
								</div>	
								<div class="recent-activity-detail">
									<b>Tim Marion</b> sent a Tenant Counter proposal to landlord for 1735 Market Street.
								</div>
							</div>								
						</mat-card-content>
					</mat-card>
				</div>
			<div class="col-md-6">
				<mat-card>
					<mat-card-header>				
						<mat-card-title>Deal Count by Brokerage Firm</mat-card-title>							
					</mat-card-header>
					<mat-card-content class="no-padding">						
						<dx-data-grid class="list-page-data-grid"
							#DealCountByBrokerageDataGrid
							id="DealCountByBrokerageDataGrid"
							[dataSource]="dealsByBrokerage"
							[showColumnLines]="false"
							[showRowLines]="false"
							[showBorders]="false"
							[rowAlternationEnabled]="true" 							
							[allowColumnResizing]="true"
							[allowColumnReordering]="true"
							[columnAutoWidth]="true"
						>
							<dxo-scrolling mode="virtual"></dxo-scrolling>							
							<dxi-column dataField="brokerage"></dxi-column>
							<dxi-column dataField="dealCount"></dxi-column>
							<dxi-column dataField="totalLeaseValue" dataType="number" format="currency"></dxi-column>
							<dxi-column dataField="targetSf" caption="Target SF">
								<dxo-format type="fixedPoint" [precision]="0"></dxo-format>
							</dxi-column>
							<dxi-column dataField="totalEstCommission" dataType="number" format="currency"></dxi-column>
							<dxo-summary>					
								<dxi-total-item
								    column="dealCount"
								    summaryType="sum"
								    [customizeText]="customizeSumInteger">
								</dxi-total-item>
								<dxi-total-item
								    column="totalLeaseValue"
								    summaryType="sum"
								    [customizeText]="customizeSumCurrency">
								</dxi-total-item>
								<dxi-total-item
								    column="targetSf"
								    summaryType="sum"
								    [customizeText]="customizeSumInteger">
								</dxi-total-item>
								<dxi-total-item
								    column="totalEstCommission"
								    summaryType="sum"
								    [customizeText]="customizeSumCurrency">
								</dxi-total-item>									
							</dxo-summary>		
						</dx-data-grid>					
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-md-6">
				<mat-card>
					<mat-card-header>				
						<mat-card-title>Deal Count by Broker</mat-card-title>							
					</mat-card-header>
					<mat-card-content class="no-padding">						
						<dx-data-grid class="list-page-data-grid"
							#DealCountByBrokerDataGrid
							id="DealCountByBrokerDataGrid"
							[dataSource]="dealsByBroker"
							[showColumnLines]="false"
							[showRowLines]="false"
							[showBorders]="false"
							[rowAlternationEnabled]="true" 							
							[allowColumnResizing]="true"
							[allowColumnReordering]="true"
							[columnAutoWidth]="true"
						>
							<dxo-scrolling mode="virtual"></dxo-scrolling>							
							<dxo-scrolling mode="virtual"></dxo-scrolling>	
							<dxi-column dataField="broker"></dxi-column>						
							<dxi-column dataField="brokerage"></dxi-column>
							<dxi-column dataField="dealCount"></dxi-column>
							<dxi-column dataField="totalLeaseValue" dataType="number" format="currency"></dxi-column>
							<dxi-column dataField="targetSf" caption="Target SF">
								<dxo-format type="fixedPoint" [precision]="0"></dxo-format>
							</dxi-column>
							<dxi-column dataField="totalEstCommission" dataType="number" format="currency"></dxi-column>
							<dxo-summary>					
								<dxi-total-item
								    column="dealCount"
								    summaryType="sum"
								    [customizeText]="customizeSumInteger">
								</dxi-total-item>
								<dxi-total-item
								    column="totalLeaseValue"
								    summaryType="sum"
								    [customizeText]="customizeSumCurrency">
								</dxi-total-item>
								<dxi-total-item
								    column="targetSf"
								    summaryType="sum"
								    [customizeText]="customizeSumInteger">
								</dxi-total-item>
								<dxi-total-item
								    column="totalEstCommission"
								    summaryType="sum"
								    [customizeText]="customizeSumCurrency">
								</dxi-total-item>									
							</dxo-summary>						
							
						</dx-data-grid>					
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-md-6">
				<mat-card>
					<mat-card-header>				
						<mat-card-title>Lease Expirations</mat-card-title>
						<mat-card-subtitle>(By quarter, next 12 quarters)</mat-card-subtitle>						
					</mat-card-header>
					<mat-card-content>
						<dx-chart id="expirationsHistogram" [dataSource]="leaseExpirations">
							<dxo-export [enabled]="false"></dxo-export>
							<dxo-argument-axis title="Quarter"></dxo-argument-axis>
							<!-- <dxo-legend [visible]="false"></dxo-legend> -->
							<dxo-legend
							    horizontalAlignment="center"			    
							    verticalAlignment="bottom">
							</dxo-legend>
							<dxo-tooltip
							    [enabled]="true"
							    [shared]="true"
							    [customizeTooltip]="standardTooltip">							    
							</dxo-tooltip>
							<dxo-common-series-settings 
							    argumentField="quarter">
							</dxo-common-series-settings>		
							<dxi-value-axis title="Lease Expirations" name="countAxis">
							    <dxo-grid [visible]="true"></dxo-grid>
							</dxi-value-axis>
							<dxi-value-axis
							    name="sfAxis"
							    position="right">
							    <dxo-grid [visible]="true"></dxo-grid>
							    <dxo-title text="Square Feet"></dxo-title>
							</dxi-value-axis>
						    <dxi-series
						        argumentField="quarter"
						        valueField="expirations"
						        name="Lease Expirations"
						        type="bar"
						        color="#F68338"
						        axis="countAxis"
						        [barPadding]="0.2">
						    </dxi-series>
						    <dxi-series
						    	argumentField="quarter"
						        valueField="sf"
						        name="Square Feet"
						        type="scatter"
						        axis="sfAxis"
						        color="#004FA6">
						    </dxi-series>
						</dx-chart>			
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-md-6">
				<mat-card>
					<mat-card-header>				
						<mat-card-title>Deal Count</mat-card-title>
						<mat-card-subtitle>(By deal stage and type)</mat-card-subtitle>						
					</mat-card-header>
					<mat-card-content>
						<dx-chart 
							id="dealCountHistogram" 
							[dataSource]="dealCountByStage"
						>
							<dxi-series
						        valueField="newLease"
						        name="New Lease"							        
						        color="#004FA6">
						    </dxi-series>
						    <dxi-series
						        valueField="contraction"
						        name="Contraction">
						    </dxi-series>
						    <dxi-series
						        valueField="expansion"
						        name="Expansion">
						    </dxi-series>
						    <dxi-series
						        valueField="relocation"
						        name="Relocation">
						    </dxi-series>
						    <dxi-series
						        valueField="renewal"
						        name="Renewal">
						    </dxi-series>
						    <dxi-value-axis title="Deal Count" name="countAxis">
							    <dxo-grid [visible]="true"></dxo-grid>
							</dxi-value-axis>
							<dxo-common-series-settings 
							    argumentField="stage"
							    type="stackedBar">
							</dxo-common-series-settings>	
							<dxo-legend
						        verticalAlignment="bottom"
						        horizontalAlignment="center"
						        itemTextPosition="top">
						    </dxo-legend>
							<dxo-export [enabled]="false"></dxo-export>
							<!-- <dxo-argument-axis title="Stage"></dxo-argument-axis> -->
							<dxo-tooltip
							    [enabled]="true"
							    [shared]="true"
							    [customizeTooltip]="standardTooltip">							    
							</dxo-tooltip>
						</dx-chart>			
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>