<dx-data-grid #dataGrid
  [dataSource]="gridData"
  [showColumnLines]="false"
  [headerFilter]="{ visible: true }"
  (onSelectionChanged)="gridSelectionChanged($event)"
>
  <dxo-filter-builder-popup [width]="600"
    [height]="600"
    [(visible)]="filterBuilderVisible"
  ></dxo-filter-builder-popup>

  <dxo-column-chooser [allowSearch]="true"
    mode="select"
  ></dxo-column-chooser>

  <dxo-selection mode="multiple"
    [showCheckBoxesMode]="'always'"
    [selectAllMode]="'page'"
    dataRowTemplate="customRowTemplate"
  ></dxo-selection>

  <dxi-column *ngFor="let col of columns"
    [dataField]="col.dataField"
    [alignment]="col.alignment"
    [visible]="col.visible"
    [dataType]="col.dataType"
    [caption]="col.caption"
    [fixed]="col.fixed"
    [allowEditing]="col.allowEditing"
    [cellTemplate]="col.cellTemplate"
    [showInColumnChooser]="col.showInColumnChooser"
  >
    <dxo-format *ngIf="col.dataType == 'number' && col.precision >= 0 "
      type="fixedPoint"
      [precision]="col.precision"
    ></dxo-format>
  </dxi-column>

  <dxi-column cellTemplate="dismissButtonTemplate"></dxi-column>

  <div *dxTemplate="let d of 'dismissButtonTemplate'">
    <button *ngIf="true"
      class="btn btn-primary"
      (click)="toggleAlert(d.data)"
    >{{ d.data.IsDismissed ? 'Restore' : 'Dismiss' }}</button>
  </div>

  <dxo-master-detail [enabled]="true"
    [autoExpandAll]="true"
    [template]="'detail'"
  ></dxo-master-detail>

  <div *dxTemplate="let row of 'detail'">
    <div style="padding-left: 80px; padding-right: 80px; white-space: normal;"
      [innerHtml]="formatDescription(row.data.RuleDescription)"
    ></div>
  </div>
</dx-data-grid>
