<mat-card class="dashboard-card project-dash-card">
	<mat-card-header>				
		<mat-card-title>Action Required</mat-card-title>
	</mat-card-header>
	<mat-card-content class="oflow-y-auto">							
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Washington D.C. | Renewal</span>
				<span class="timing">30m</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Sally Maher</b> shared a Landlord Counter for 1331 L Street.
			</div>
		</div>
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Atlanta | New Lease</span>
				<span class="timing">1d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Rich Rhodes</b> shared a Landlord Proposal for 3333 Piedmont Rd.
			</div>
		</div>	
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Atlanta | Relocation</span>
				<span class="timing">2d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Kurt Richter</b> would like to schedule a Tour of 3438 Peachtree Rd.
			</div>
		</div>
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Atlanta | New Lease</span>
				<span class="timing">3d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Tim Marion</b> shared a Landlord Proposal for 851 17th St.
			</div>
		</div>	
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Atlanta | New Lease</span>
				<span class="timing">3d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Tim Marion</b> shared a Landlord Proposal for 851 17th St.
			</div>
		</div>	
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Atlanta | New Lease</span>
				<span class="timing">3d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Tim Marion</b> shared a Landlord Proposal for 851 17th St.
			</div>
		</div>	
		<div class="recent-activity">
			<div class="recent-activity-header">
				<span class="headline">Oracle | Atlanta | New Lease</span>
				<span class="timing">3d</span>
			</div>	
			<div class="recent-activity-detail">
				<b>Tim Marion</b> shared a Landlord Proposal for 851 17th St.
			</div>
		</div>							
	</mat-card-content>
</mat-card>