@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/var.scss';

.recent-activity {
	display: flex;
	flex-direction: column;
	margin-bottom: $dblPadding;
	cursor: pointer;

	&:hover {
		background: $hoverBlue;
	}

	.recent-activity-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: $neutral-medium;
	}

	.recent-activity-detail {
		font-size: 16px;
	}
}