<dx-scroll-view  
    #scrollView
    [id]="scrollId"       
    >
    <div class="activity-feed-wrapper">
        <div class="activity-feed">
            <div class="activity-wrapper" *ngFor="let activity of activities; let listIndex = index">
                <div class="activity-date-delimiter" *ngIf="listIndex == 0 || activities[listIndex].performedDate != activities[listIndex-1].performedDate">
                    <span class="hr"></span>
                    <span>{{activity.performedDate | date:'fullDate'}}</span>
                    <span class="hr"></span>
                </div>
                <activity-item [activity]="activity"></activity-item>
                <!-- render the replies / child activities -->
                <div class="activity-reply-wrapper" *ngFor="let reply of activity.replies">
                    <activity-item [activity]="reply"></activity-item>    
                </div>
                <!-- render the reply link -->
                <div class="activity-reply-link" *ngIf="!isReplying || replyToActivityId != activity.id">
                    <a (click)="initiateReply(activity)">Reply</a>
                </div>
                <div class="activity-reply-message-wrapper" *ngIf="isReplying && replyToActivityId == activity.id">
                    <dx-html-editor class="new-message" 
                        placeholder="New reply..."
                        [(value)]="newReply"
                        >
                        <dxi-mention *ngFor="let mention of mentions"
                            [valueExpr]="mention.valueExpr"
                            [displayExpr]="mention.displayExpr"
                            [searchExpr]="mention.searchExpr"
                            [dataSource]="mention.dataSource"
                            [marker]="mention.marker"
                        ></dxi-mention>           
                    </dx-html-editor>
                    <div class="activity-message-save-cancel-wrapper">
                        <a (click)="cancelReply()">Cancel</a>
                        <a (click)="saveReply(activity)">Send</a>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</dx-scroll-view>
<div class="new-activity-wrapper">
    <div>
        <button class="btn btn-primary" *ngIf="!isDraftingNewMessage" (click)="draftNewMessage()">New Message</button>
        <dx-html-editor *ngIf="isDraftingNewMessage"
            class="new-message" 
            placeholder="New message..."
            [(value)]="newMessage"
            >
            <dxi-mention *ngFor="let mention of mentions"
                [valueExpr]="mention.valueExpr"
                [displayExpr]="mention.displayExpr"
                [searchExpr]="mention.searchExpr"
                [dataSource]="mention.dataSource"
                [marker]="mention.marker"
            ></dxi-mention>                       
        </dx-html-editor>
        <div *ngIf="isDraftingNewMessage" class="activity-message-save-cancel-wrapper">
            <a (click)="cancelNew()">Cancel</a>
            <a (click)="saveNew()">Send</a>
        </div>
    </div>        
</div>
