@use 'colors';

.object-wrapper {

  .object-banner {

		.object-image {
			width: 150px;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		&.hero {
			height: 125px;
		}
  }

  .object-group {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(220px, 0.5rem) 1fr minmax(120px, 200px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    grid-auto-rows: 1fr;
    padding: 10px;

    > .title {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: colors.$costarDarkBlue;
      grid-area: 1 / 1 / 2 / 3;
      &:hover {
        text-decoration: none;
      }
    }

    > .subtitle {
      font-size: 16px;
      line-height: 20px;
      color: colors.$darkGray;
      padding: 5px 10px 5px 0px;
      border-right: 1px solid colors.$color-neutral-medium;
      grid-area: 2 / 1 / 3 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .metrics {
      grid-area: 2 / 2 / 3 / 3;
      flex-grow: 1;
      border-left: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .metric {
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:first-child {
          padding-left: 16px;
        }
        > .value {
          font-size: 22px;
          font-weight: bold;
          padding-bottom: 2px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }
        > .subtitle {
          font-size: 16px;
          color: colors.$mediumGray;
          .link {
            color: colors.$costarDarkBlue;
            &:hover {
              color: colors.$costarDarkBlue;
            }
          }
        }
        .unit {
          font-size: 16px;
        }

      }
    }

    .reviews {
      grid-area: 1 / 3 / 3 / 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .images {
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: right;
        .logos {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          justify-content: right;
          img {
              max-height: 100%;
              max-width: 48px;
          }
        }
        .stars {
          margin: 0px 10px 10px 14px;
          img {
            max-width: 75px;
          }
        }
      }
    }
  }
}