@use "styles" as *;

.api-key-header{
  display:flex;
  justify-content: space-between;
}

.mat-mdc-card {
  background-color: inherit !important;
  box-shadow: none !important;
}

.api-key-grid-container {
  display: grid;
  grid-template-columns: 20% 20% 22.5% 22.5% 15%;
  grid-template-rows: 20px 20px;
}

.btn-primary {
  @include costar(background-color, primary-light);
  @include costar(border-color, primary-light);
  @include costar(padding, 1);
  @include costar(border-radius, medium);
  width: 140px !important;
}