<login-masthead></login-masthead>
<div class="login-wrapper">
	<mat-card>		
		<mat-card-header>
			<mat-card-title>Password Reset Request</mat-card-title>
		</mat-card-header>
		<mat-card-content>									
			<form *ngIf="!isSubmitted" (submit)="onFormSubmit($event)">
				<div class="center">Please enter your email, and we'll send a link to reset your password.</div>
				<dx-text-box #EmailInput [(value)]="user.email" width="320" placeholder="Email">
					<dx-validator>
						<dxi-validation-rule 
							type="required"
							message="Email is required">
						</dxi-validation-rule>
					</dx-validator>					
				</dx-text-box>
				<button class="btn btn-primary w100 dbl-top-margin" type="submit">Submit</button>	
				<button class="btn btn-default w100 dbl-top-margin" (click)="cancel()">Back to Login Page</button>			
			</form>
			
			<form *ngIf="isSubmitted">
				<h5 class="center">Email Sent</h5>
				<div class="center">An email has been sent with a link to reset your password.</div>
				<button class="btn btn-default w100 dbl-top-margin" (click)="cancel()">Back to Login Page</button>
				<div class="forgot-password-link">
					<button class="btn btn-link" (click)="iForgot()">Proceed to Reset Password</button>
				</div>				
			</form>			
		</mat-card-content>
	</mat-card>
</div>

