<div class="dbl-padding">
	<div class="row dynamic-form">
		<div class="col-md-12">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Hierarchy Configuration</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div>
						<label class="dbl-right-margin">Hierarchy Levels:</label>
						<mat-slider min="1" max="5" step="1" tickInterval="1" [(value)]="hierarchyLevels" class="dbl-right-margin"></mat-slider>
						<span>{{hierarchyLevels}}</span>
					</div>
					<div class="row">
						<div class="col-md-2">
							<mat-form-field appearance="outline">
								<mat-label>Level 1 Name</mat-label>
								<input matInput>
							</mat-form-field>	
						</div>
						<div class="col-md-2">
							<mat-form-field appearance="outline">
								<mat-label>Level 2 Name</mat-label>
								<input matInput>
							</mat-form-field>	
						</div>
						<div class="col-md-2">
							<mat-form-field appearance="outline">
								<mat-label>Level 3 Name</mat-label>
								<input matInput>
							</mat-form-field>	
						</div>
						<div class="col-md-2">
							<mat-form-field appearance="outline">
								<mat-label>Level 4 Name</mat-label>
								<input matInput>
							</mat-form-field>	
						</div>
						<div class="col-md-2">
							<mat-form-field appearance="outline">
								<mat-label>Level 5 Name</mat-label>
								<input matInput>
							</mat-form-field>	
						</div>						
					</div>
				</mat-card-content>
			</mat-card>
		</div>
		<div class="col-md-12">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Hierarchy Tree</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
