<!-- All elements should be placed inside of the div "<div class="accounting-summary-style-container">"  -->
<!-- This div is to prevent styles from bleeding into other components from our styles.scss file  -->

<div class="accounting-summary-style-container">
  <div class="accounting-summary-toolbar-wrapper">
    <div class="controls-left">
      <div class="accounting-summary-title"><mango-accounts-summary-title></mango-accounts-summary-title></div>
    </div>
    <div class="controls-right">
      <div class="add-button">
        <crem-button [id]="accountingSummaryService.getId(componentName,'add','button')" type="primary"
          (click)="addEvent($event)" [disabled]="isAddButtonDisabled" (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()">Add
        </crem-button>
        <dx-tooltip [id]="accountingSummaryService.getId(componentName,'add','tooltip')"
          target="#accounting-summary-add-button" [visible]="isTooltipVisible">
          <div *dxTemplate="let data of 'content'">
            {{ disableBtnReason }}
          </div>
        </dx-tooltip>
      </div>
      <div class="export-to-excel-button">
        <crem-button [id]="accountingSummaryService.getId(componentName,'exportToExcel','button')" type="secondary"
          (click)="exportToExcel($event)">Export to Excel
        </crem-button>
      </div>     
      <div class="workflow-history-popup-div">
        <mango-workflow-history-popup [userInfo]="userInfo"
          [workflowStatusHistory]="workflowStatusHistory"></mango-workflow-history-popup>
        </div>   
        <div class="workflow-dropdown-div">
        <mango-workflow-dropdown [leaseIsLocked]="isLocked" [leaseIsArchived]="isArchived" [rightsInfo]="rightsInfo" [workflowStatusInfo]="workflowStatusInfo"
          [modifiedById]="modifiedByID"
          (workflowStatusSavedEvent)="onWorkflowStatusSaved($event)"></mango-workflow-dropdown>
        <div *ngIf="modifiedDate || modifiedByName" class="work-flow-change-info"
          [id]="accountingSummaryService.getId(componentName,'modifiedBy','details')"
          (mouseenter)="onChangeByTooltipMouseOver()" (mouseleave)="onChangeByTooltipMouseLeave()">
          Modified by {{ modifiedByName | slice: 0:10 }}...
          {{ modifiedDate | date: userInfo.useDateEU !== undefined && userInfo.useDateEU ? 'dd.MM.yyyy' : 'MM/dd/yyyy'}}
  
          <dx-tooltip [id]="accountingSummaryService.getId(componentName,'add','tooltip')"
            target="#accounting-summary-modifiedBy-details" [visible]="isChangeByTooltipVisible">
            <div *dxTemplate="let data of 'content'">
              Modified by {{ modifiedByName + ' ' + 'on ' + (modifiedDate | date: (userInfo.useDateEU !== undefined &&
              userInfo.useDateEU ? 'dd.MM.yyyy' : 'MM/dd/yyyy')) }}
            </div>
          </dx-tooltip>
        </div>
      </div>
  
      <div [id]="accountingSummaryService.getId(componentName,'alerts','button')" class="alerts">
        <mango-alerts-root [leaseAbstractId]="returnLeaseAbstractId()"></mango-alerts-root>
      </div>
    </div>
  </div>

  <div *ngIf="!isAccountingEventEmpty">
    <mango-events-detail-section
      [leaseIsLocked]="isLocked"
      [leaseIsArchived]="isArchived" 
      [rightsInfo]="rightsInfo"
      [userInfo]="userInfo"
      [wfStatusRights]="wfStatusRights"
      (eventScheduleSelectedEvent)="setLeaseRecognitionScheduleID($event)"
      (dataChanged)="onDataChanged($event)"
      [amortizationProfileName]="amortizationProfileName"
      [classificationType]="classificationType">
    </mango-events-detail-section>

    <mango-payments-detail-section
      [classificationID]="classificationID"
      [eventScheduleData]="eventSchedule"
      [userInfo]="userInfo" 
      [amortizationProfileName]="amortizationProfileName"
      [classificationType]="classificationType">
    </mango-payments-detail-section>

    <mango-amortization-detail-section
      [classificationID]="classificationID"
      [eventScheduleData]="eventSchedule"
      [userInfo]="userInfo"
      [rightsInfo]="rightsInfo"
      [wfStatusRights]="wfStatusRights"
      [amortizationProfileName]="amortizationProfileName"
      [classificationType]="classificationType">
    </mango-amortization-detail-section>
  </div>
</div>
