.accounting-events{
    height: 66px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--gray-06, #EDEDED);
    background: var(--gray-06, #EDEDED);
    margin-top: 10px;    
}

.container{
    padding-top: 16px;
    margin-left: 0px;
    max-width: unset;
}

#emptyAccountingEventDropdown{
    box-sizing: unset;
    width: 25%;
    height: 22px;
}

#divLeaseAlertsPopupButton {
    float: right;
    margin-right: 20px;
}

.label{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 4px 3% 0;
    float: left;
    width: auto;
    text-align: center;
}

.no-data-text-box{
    display: inline-flex;
    height: 21px;
    padding: 5px 67px 4px 8px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--Primary, #0559B3);
    background: var(--White, #FFF);
    box-shadow: 0 0 4px #0559b3;
    width: 20%;
}

.events-dropdown{
    float: left;
    width: 30%;
    border: 1px solid var(--Primary, #0559B3);
    box-shadow: 0px 0px 4px 0px #0559B3;

    dx-drop-down-box {
        box-sizing: content-box;
    }
}

.add-button{
    float: right;
    padding-right: 60px;
}

