<!-- All elements should be placed inside of the div "<div class="accounting-summary-style-container">"  -->
<!-- This div is to prevent styles from bleeding into other components from our styles.scss file  -->

<div class="accounting-summary-style-container">
  <div class="accounting-events">
      <div class="container">
      <input [id]="accountingSummaryService.getId(componentName,'empty','dropdown')" *ngIf="isAccountingEventEmpty" class="no-data-text-box" type="text" disabled="true" placeholder="No Accounting Events to Display">
          <div *ngIf="!isAccountingEventEmpty" class="events-dropdown">
            <dx-drop-down-box
              [id]="accountingSummaryService.getId(componentName,'events','dropdown')"
              [(value)]="gridBoxValue"
              [(opened)]="isGridBoxOpened"
              valueExpr="masterScheduleID"
              [deferRendering]="false"
              [displayExpr]="gridBox_displayExpr"
              [inputAttr]="{ 'aria-label': 'Owner' }"
              [showClearButton]="false"
              [dataSource]="gridDataSource"
              height="32px"
              (onOptionChanged)="onGridBoxOptionChanged($event)"
              (onValueChanged)="onValueChanged($event)"
            >
              <div *dxTemplate="let data of 'content'">
                <dx-data-grid
                  [id]="accountingSummaryService.getId(componentName,'events','grid','dropdown')"
                  [dataSource]="gridDataSource"
                  keyExpr="masterScheduleID"
                  [hoverStateEnabled]="true"
                  [(selectedRowKeys)]="gridBoxValue"
                >
                <dxi-column dataField="classificationType" caption="Classification"></dxi-column>
                <dxi-column dataField="amortizationProfileName" caption="Amortization Profile"></dxi-column>
                  <dxo-selection mode="single"></dxo-selection>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-paging [enabled]="pagingEnabled" [pageSize]="5"></dxo-paging>
                  <dxo-pager
                    [visible]="pagingEnabled"
                    [allowedPageSizes]="allowedPageSizes"
                    [displayMode]="full"
                    [showPageSizeSelector]="false"
                    [showInfo]="true"
                    [showNavigationButtons]="true"
                  >
                  </dxo-pager>
                </dx-data-grid>
              </div>
            </dx-drop-down-box>
          </div>

      <div class="add-button">
        <crem-button 
          [id]="accountingSummaryService.getId(componentName,'add','button')"
          type="primary"
          (click)="AddEvent($event)"
          [disabled]="isAddButtonDisabled"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
          >Add
        </crem-button>
        <dx-tooltip 
          [id]="accountingSummaryService.getId(componentName,'add','tooltip')"
          target="#accounts-summary-add-button"
          [visible]="isTooltipVisible"
          >
          <div *dxTemplate="let data of 'content'">
            {{ disableBtnReason }}
          </div>
        </dx-tooltip>
      </div>

      <div [id]="accountingSummaryService.getId(componentName,'alerts','button')">
        <mango-alerts-root [leaseAbstractId]="returnLeaseAbstractId()"></mango-alerts-root>
      </div>
    </div>
  </div>

  <div *ngIf="!isAccountingEventEmpty">
    <mango-events-detail-section [masterScheduleID]="masterScheduleID" [leaseIsLocked]="isLocked" [leaseIsArchived]="isArchived" 
    [rightsInfo]="rightsInfo" [userInfo]="userInfo" (eventScheduleData)="setLeaseRecognitionScheduleID($event)"></mango-events-detail-section>
    <mango-payments-detail-section [eventScheduleData]="eventSchedule" [classificationID]="classificationID" [userInfo]="userInfo"></mango-payments-detail-section>
    <mango-amortization-detail-section [eventScheduleData]="eventSchedule" [classificationID]="classificationID" [userInfo]="userInfo"></mango-amortization-detail-section>
  </div>
</div>
