<div class="dynamic-form">
	<div class="dynamic-form-controls-wrapper">
		<div class="controls-left">
			<h5 class="dbl-right-margin">Settings</h5>			
            <!-- Portfolio Dropdown -->
			<costar-dropdown [dropdownData]="portfolioFilter" (changed)="selectedPortfolioChanged($event)"></costar-dropdown>	
            <!-- Project Style Dropdown  -->
			<costar-dropdown [dropdownData]="projectStyleFilter" [isReadOnly]="!projectStyles.length" (changed)="selectedProjectStyleChanged($event)"></costar-dropdown>	            
		</div>
		<div class="controls-right">
            <!-- Need to add a button / more menu to clone a client for the use case of CW/JLL cloning a "template" set of settings -->
		</div>
	</div>
	<div class="dynamic-form-content">
        <div class="row" *ngIf="selectedPortfolio && selectedProjectStyle">
            <div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Kanban Settings</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<dx-form 
							[(formData)]="settings"
							[colCount]="2"
							labelLocation="left"
							[showColonAfterLabel]="false">
							<dxi-item 
								dataField="hasSameSettingsForAllProjectTypes"
								[label]="{ text : 'Manage transaction settings by transaction type' }"
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="hasSamePhasesForAllProjectTypes"
								[label]="{ text : 'Manage phases by transaction type' }"
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="requireTaskDueDates"
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="requirePhaseDueDates"								
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="requireTaskAssignee"								
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="anyTeamMemberCanCompleteTassks"								
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="anyTeamMemberCanChangePhase"								
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="autoCompleteTasksWhenChangingPhase"								
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="requireAllTasksCompleteBeforeChangingPhase"								
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="requireTaskCompletionComment"								
								template="switchTemplate">
							</dxi-item>
							<dxi-item 
								dataField="requirePhaseCompletionComment"								
								template="switchTemplate">
							</dxi-item>
							<div *dxTemplate="let data of 'switchTemplate'">
								<mat-slide-toggle [(checked)]="settings[data.dataField]"></mat-slide-toggle>
							</div>
						</dx-form>
					</mat-card-content>
				</mat-card>
			</div>
            <div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Phases</mat-card-title>
					</mat-card-header>
					<mat-card-content class="phases-card">
						<dx-scroll-view
                            class="scrollable-phases"
                            direction="horizontal"
                            showScrollbar="always"
                        >
                            <div class="new-phase" (click)="initAddNewPhase()">
                                <div class="phase-title">
                                    <span *ngIf="!addingNewPhase">
                                        <mat-icon>add</mat-icon>Add Phase
                                    </span>
                                    <span *ngIf="addingNewPhase">
                                        <dx-text-box
                                            [(value)]="newPhaseName"
                                            placeholder="New phase"
                                        >
                                            <dxi-button
                                                name="save"
                                                location="after"
                                                [options]="saveNewPhaseButton"
                                            ></dxi-button>
                                            <dxi-button
                                                name="cancel"
                                                location="after"
                                                [options]="cancelNewPhaseButton"
                                            ></dxi-button>
                                        </dx-text-box>
                                    </span>
                                </div>
                            </div>
                            <dx-sortable
                                class="sortable-phases"
                                itemOrientation="horizontal"
                                handle=".phase-title"
                                (onReorder)="onPhaseReorder($event)"
                            >
                                <div class="phase" *ngFor="let phase of phases">
                                    <div class="phase-title" *ngIf="editingPhaseId != phase.id">
                                        {{phase.phaseName}}
                                    </div>
									<div class="phase-edit-icon" *ngIf="editingPhaseId != phase.id">
										<mat-icon class="material-icons-outlined" (click)="initEditPhase(phase)">edit</mat-icon>
									</div>
									<div class="edit-phase-name-wrapper" *ngIf="isEditingPhase && editingPhaseId == phase.id">
                                        <dx-text-box
                                            [(value)]="phase.phaseName"
                                            placeholder="Phase"
                                        >
                                            <dxi-button
                                                name="save"
                                                location="after"
                                                [options]="savePhaseButton"
                                            ></dxi-button>
                                            <dxi-button
                                                name="cancel"
                                                location="after"
                                                [options]="cancelEditPhaseButton"
                                            ></dxi-button>
                                        </dx-text-box>
                                    </div>
                                </div>                                 
                            </dx-sortable>                            
                        </dx-scroll-view>
					</mat-card-content>
				</mat-card>
			</div>
            <div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Transaction Types</mat-card-title>
						<div class="mat-card-header-toolbar">
							<button class="btn btn-default btn-sm">Add Transaction Type</button>							
						</div>
					</mat-card-header>
					<mat-card-content class="project-types-card">                        
						<!-- Date Grid launching a modal for full details.  Modal will contain tabs for Settings / Phases (if applicable) / Templates / Sub Types? / Files? -->
                        <dx-data-grid class="list-page-data-grid"
                            #ProjectTypesDataGrid
                            [dataSource]="projectTypes"
                            [showColumnLines]="false"
                            [showRowLines]="false"
                            [showBorders]="false"
                            [rowAlternationEnabled]="true" 							
                            [allowColumnResizing]="true"
                            [allowColumnReordering]="false"
                            [columnAutoWidth]="false"
                            [wordWrapEnabled]="true"	
                            (onRowClick)="navigateToProjectType($event)"
                        >
                            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>                              
                            <dxo-scrolling mode="virtual"></dxo-scrolling>	
                            <dxi-column dataField="projectType" caption="Transaction Type"></dxi-column>                                                        
                        </dx-data-grid>	
					</mat-card-content>
				</mat-card>
			</div>
            <div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Task Templates</mat-card-title>
						<div class="mat-card-header-toolbar">
							<button class="btn btn-default btn-sm">Add Template</button>							
						</div>
					</mat-card-header>
					<mat-card-content class="templates-card">					
						<!-- Date Grid as master/detail showing the template name, project type, total task count in the master, then the phases and tasks in the detail -->
						<dx-data-grid class="list-page-data-grid"
							#TemplatesGrid
							[dataSource]="templates"
							[showColumnLines]="false"
							[showRowLines]="false"
							[showBorders]="false"
							[rowAlternationEnabled]="true" 							
							[allowColumnResizing]="true"
							[allowColumnReordering]="true"
							[columnAutoWidth]="true"
							[masterDetail]="{ enabled: true, template: 'detail' }"
						>
							<dxo-scrolling mode="virtual"></dxo-scrolling>
							<dxo-header-filter [visible]="true"></dxo-header-filter> 							
							<dxi-column dataField="templateName"></dxi-column>
							<dxi-column dataField="projectTypeName" caption="Transaction Type"></dxi-column>							
							<div *dxTemplate="let template of 'detail'">								  
								<!-- Phases and the tasks will show here -->
								<kanban-tasks-template [templateId]="template.data.id"></kanban-tasks-template>   		        								
							</div>	
						</dx-data-grid>
					</mat-card-content>
				</mat-card>
			</div>
            <!-- <div class="col-md-12">
				<mat-card>
					<mat-card-header>
						<mat-card-title>Left Navigation Configuration</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						Data grid for Left nav
					</mat-card-content>
				</mat-card>
			</div> -->
        </div>
    </div>
</div>

<router-outlet></router-outlet>