
@use 'styles' as *;

mat-horizontal-stepper {
    width: 100%;
    @include costar(padding-top, 4);
}

.step-wrapper {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;  
  text-align: center;
}

.step-content {
    width: 60%;
    display: inline-block;
    @include costar(padding, 5);
    @include costar(background-color, info-lightest);
    text-align: center;
    margin: 20px;   
}

.text-align-left {
    text-align: left !important;
}

.label-normal {
    @include costar(font-size, normal);
    @include costar(color, dark);
}

.label-small-gray {
    @include costar(font-size, navigation);
    @include costar(color, gray03);
}

.label-small {
    @include costar(font-size, navigation);
    @include costar(color, dark);
}

.drag-drop-zone{
    @include costar(padding, 4);
    text-align:center;
    border-style: dotted;
    border-width: thin;
    @include costar(color, gray03);
}

.btn-container {
    width:100%;
    display:flex;
    justify-content: flex-end;
    border-style: solid;
    border-width: thin;
    @include costar(color, gray05);
    @include costar(padding-right, 5);
  }

.btn {
    @include costar(padding, 3);
}

.button-label {
    text-align: left;
    display: inline-block;
    @include costar(padding, 2);
}

.select-file-btn-container {
    @include costar(padding-bottom, 2);
    display: inline-block;
    border-style: dotted;
}

.ftp-container {
    width: 100%;
    @include costar(padding, 5);
    text-align: left;
    display: block;
}

.ftp-checkbox {
    display: inline-block;
    @include costar(padding-bottom, 4);    
}

.ftp-check-label {
    display: inline-block;
}

.ftp-label {
    display: inline-block;
    @include costar(color, gray02);
    @include costar(font-size, navigation);
}

.ftp-label-warning {
    display: inline-block;
    @include costar(color, danger-light);
    @include costar(font-size, navigation);
}

.load-file-header {
    text-align: center;
    display: inline-block;
    @include costar(font-size, h3);
    @include costar(font-weight, bold);
    @include costar(padding-bottom, 5);
}

.validation-result-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include costar(padding-top, 5);
}

.validation-header {
    width: 95%;
    text-align: left;
    border-bottom: thin solid;
    @include costar(border-bottom, gray05)
}

.validation-footer {
    width: 95%;
    border-bottom: thin solid;
    @include costar(border-bottom, gray05);
}

.validation-grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    @include costar(gap, 5);
    @include costar(padding, 4);
    text-align: left;

    .r1 {
        text-align: right;
        @include costar(font-size, normal);
        @include costar(color, dark);
    }
}

.invalid-file-details-container {
    display: block;
    align-items: left;
}

.invalid-file-details-grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    @include costar(gap, 5);
    text-align: left;
    @include costar(font-size, navigation);
    @include costar(color, gray03);

    .l2 {
        @include costar(padding-left, 6);
        @include costar(margin-left, 6);
    }

    .r2 {
        text-align: right;
    }
}

.padding-left {
    @include costar(padding-left, 6);
    @include costar(margin-left, 6);
}

.no-access-right {
    padding: 30px;
}

  