
<div class="mat-drawer-container" [hidden]="loading">
    <div class="mat-drawer-content oflow-x-hidden">

        <div class="dynamic-form">
            <div class="dynamic-form-controls-wrapper"
            [ngClass]="{
                'dynamic-form-controls-wrapper--legacy': !isFrameless
            }"
        >
            <div class="controls-left">
                <h5 class="dbl-right-margin">Accounting Settings</h5>
                <app-portfolio-dropdown
                    (masterGroupID)="getPortfolioSettings($event)"
                    [disabled]="portfolioSettingsSave || classificationConfigurationSave">
                </app-portfolio-dropdown>
            </div>
            <div
                [ngClass]="{
                    'controls-right': isFrameless,
                    'controls-right--legacy': !isFrameless
                }"
            >
                <button *ngIf="baseService.userRights === 2" id="saveBtn" class="btn btn-primary" (click)="saveSettings()" [disabled]="portfolioSettingsSave || classificationConfigurationSave">Save</button>
            </div>
        </div>

            <div class="dynamic-form-content">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Accounting Settings</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="no-padding">


                        <div class="widget-container">
                            <dx-form id="form"
                                [(formData)]="service.portfolioSettings"
                                [showColonAfterLabel]="false"
                                labelLocation="left"
                                minColWidth="50%"
                                colCount="1"
                                width="100%">

                                <dxi-item itemType="group" [colCount]="2">

                                    <dxi-item dataField="leaseRecognitionCalendarID" [label]="{text: 'Accounting Calendar'}" editorType="dxSelectBox"
                                        [editorOptions]="{ disabled: baseService.userRights !== 2 || service.isCalendarInUse === true, dataSource: this.accountingCalendars, valueExpr: 'leaseRecognitionCalendarID', displayExpr: 'calendarName', onvaluechanged: leaseRecognitionCalendarChanged() }">
                                        <dxo-label text="Accounting Calendar"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="AccountingCalendarID"
                                                [dataSource]="accountingCalendars"
                                                [value]="service.portfolioSettings.leaseRecognitionCalendarID"
                                                [disabled]="baseService.userRights !== 2 || service.isCalendarInUse === true"
                                                (onValueChanged)="dropDownChange('leaseRecognitionCalendarID', $event)"
                                                valueExpr="leaseRecognitionCalendarID"
                                                displayExpr="calendarName"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='AccountingCalendar' fieldHistoryName='LeaseRecognitionCalendarID'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item dataField="amortizationMethodType" [label]="{text: 'Amortization Method'}" editorType="dxSelectBox"
                                        [editorOptions]="{ disabled: baseService.userRights !== 2 || service.isCalendarInUse === true, dataSource: this.amortizationMethodTypes, valueExpr: 'Id', displayExpr: 'Name' }"
                                        >
                                        <dxo-label text="Amortization Method"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="AmortizationMethodID"
                                                [dataSource]="amortizationMethodTypes"
                                                [value]="service.portfolioSettings.amortizationMethodType"
                                                [disabled]="baseService.userRights !== 2 || service.isCalendarInUse === true"
                                                (onValueChanged)="dropDownChange('amortizationMethodType', $event)"
                                                valueExpr="Id"
                                                displayExpr="Name"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='AmortizationMethod' fieldHistoryName='AmortizationMethodType'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item dataField="defaultPaymentTimingType" [label]="{text: 'Default Payment Timing'}" editorType="dxSelectBox"
                                        [editorOptions]="{ disabled: baseService.userRights !== 2, dataSource: this.defaultPaymentTimingTypes, valueExpr: 'Id', displayExpr: 'Name' }"
                                    >
                                        <dxo-label text="Default Payment Timing"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="DefaultPaymentTimingID"
                                                [dataSource]="defaultPaymentTimingTypes"
                                                [value]="service.portfolioSettings.defaultPaymentTimingType"
                                                [disabled]="baseService.userRights !== 2"
                                                (onValueChanged)="dropDownChange('defaultPaymentTimingType', $event)"
                                                valueExpr="Id"
                                                displayExpr="Name"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='DefaultPaymentTiming' fieldHistoryName='DefaultPaymentTimingType'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item dataField="journalEntryProfileRequired" [label]="{text: 'Require Journal Entry Profile'}">
                                        <div *dxTemplate class="toggle">
                                            <mat-slide-toggle [ngClass]="{
                                                'no-toggle': disableToggleAnimation
                                                }"
                                                [disabled]="baseService.userRights !== 2"
                                                [(ngModel)]="service.portfolioSettings.journalEntryProfileRequired">
                                            </mat-slide-toggle>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='JournalEntryProfile' fieldHistoryName='JournalEntryProfileRequired'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item dataField="defaultCompoundFrequencyType" [label]="{text: 'Default Compound Frequency'}" editorType="dxSelectBox"
                                        [editorOptions]="{ disabled: baseService.userRights !== 2 || service.portfolioSettings.leaseRecognitionCalendarID !== 1, dataSource: this.defaultCompoundFrequencyTypes, valueExpr: 'Id', displayExpr: 'Name' }"
                                    >
                                        <dxo-label text="Default Compound Frequency"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="DefaultCompoundFrequencyID"
                                                [dataSource]="defaultCompoundFrequencyTypes"
                                                [value]="service.portfolioSettings.defaultCompoundFrequencyType"
                                                [disabled]="baseService.userRights !== 2 || service.portfolioSettings.leaseRecognitionCalendarID !== 1"
                                                (onValueChanged)="dropDownChange('defaultCompoundFrequencyType', $event)"
                                                valueExpr="Id"
                                                displayExpr="Name"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='DefaultCompoundFrequency' fieldHistoryName='DefaultCompoundFrequencyType'></crem-tooltip>
                                        </div>
                                    </dxi-item>
                                </dxi-item>
                            </dx-form>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Discount Rates</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="no-padding">
                        <div class="widget-container">
                            <dx-form id="form"
                                [(formData)]="service.portfolioSettings"
                                [showColonAfterLabel]="false"
                                labelLocation="left"
                                minColWidth="50%"
                                colCount="1"
                                width="100%">

                                <dxi-item itemType="group" [colCount]="2">

                                    <dxi-item dataField="discountRateMatching" [label]="{text: 'Discount Rate Matching'}">
                                        <div *dxTemplate class="toggle">
                                            <mat-slide-toggle [ngClass]="{
                                                'no-toggle': disableToggleAnimation
                                                }"
                                            [disabled]="baseService.userRights !== 2"
                                            [(ngModel)]="service.portfolioSettings.discountRateMatching">
                                        </mat-slide-toggle>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='DiscountRateMatching' fieldHistoryName='DiscountRateMatching'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item dataField="directEntryDiscountRateEnabled" [label]="{text: 'Allow Direct Entry Discount Rate'}">
                                        <div *dxTemplate class="toggle">
                                            <mat-slide-toggle [ngClass]="{
                                                'no-toggle': disableToggleAnimation
                                                }"
                                                [disabled]="baseService.userRights !== 2"
                                                [(ngModel)]="service.portfolioSettings.directEntryDiscountRateEnabled">
                                            </mat-slide-toggle>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='DirectEntryDiscountRate' fieldHistoryName='DirectEntryDiscountRateEnabled'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item dataField="minMonthsOperator" [label]="{text: 'Min Months Operator'}" editorType="dxSelectBox"
                                        [editorOptions]="{ disabled: baseService.userRights !== 2, dataSource: this.minMonthsOperators, valueExpr: 'Id', displayExpr: 'Name' }"
                                    >
                                        <dxo-label text="Min Months Operator"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="MinMonthsOperatorID"
                                                [dataSource]="minMonthsOperators"
                                                [value]="service.portfolioSettings.minMonthsOperator"
                                                [disabled]="baseService.userRights !== 2"
                                                (onValueChanged)="dropDownChange('minMonthsOperator', $event)"
                                                valueExpr="Id"
                                                displayExpr="Name"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='MinMonthsOperator' fieldHistoryName='MinMonthsOperator'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item dataField="defaultAnnualRateType" [label]="{text: 'Default Annual Rate Type'}" editorType="dxSelectBox"
                                        [editorOptions]="{ disabled: baseService.userRights !== 2, dataSource: this.defaultAnnualRateTypes, valueExpr: 'Id', displayExpr: 'Name' }"
                                    >
                                        <dxo-label text="Default Annual Rate Type"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="DefaultAnnualRateTypeID"
                                                [dataSource]="defaultAnnualRateTypes"
                                                [value]="service.portfolioSettings.defaultAnnualRateType"
                                                [disabled]="baseService.userRights !== 2"
                                                (onValueChanged)="dropDownChange('defaultAnnualRateType', $event)"
                                                valueExpr="Id"
                                                displayExpr="Name"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='DefaultAnnualRateType' fieldHistoryName='DefaultAnnualRateType'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item dataField="maxMonthsOperator" [label]="{text: 'Max Months Operator'}" editorType="dxSelectBox"
                                        [editorOptions]="{ disabled: baseService.userRights !== 2, dataSource: this.maxMonthsOperators, valueExpr: 'Id', displayExpr: 'Name' }"
                                    >
                                        <dxo-label text="Max Months Operator"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="MaxMonthsOperatorID"
                                                [dataSource]="maxMonthsOperators"
                                                [value]="service.portfolioSettings.maxMonthsOperator"
                                                [disabled]="baseService.userRights !== 2"
                                                (onValueChanged)="dropDownChange('maxMonthsOperator', $event)"
                                                valueExpr="Id"
                                                displayExpr="Name"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='MaxMonthsOperator' fieldHistoryName='MaxMonthsOperator'></crem-tooltip>
                                        </div>
                                    </dxi-item>
                                </dxi-item>
                            </dx-form>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Functional Currency</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="no-padding">
                        <div class="widget-container">
                            <dx-form id="form"
                                [(formData)]="service.portfolioSettings"
                                [showColonAfterLabel]="false"
                                labelLocation="left"
                                minColWidth="50%"
                                colCount="1"
                                width="100%">

                                <dxi-item itemType="group" [colCount]="2">

                                    <dxi-item>
                                        <dxo-label text="Functional Currency"></dxo-label>
                                        <div *dxTemplate class="toggle">
                                            <mat-slide-toggle
                                                [disabled]="baseService.userRights !== 2"
                                                [(ngModel)]="service.portfolioSettings.functionalCurrencyEnabled">
                                            </mat-slide-toggle>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='FunctionalCurrency' fieldHistoryName='FunctionalCurrencyEnabled'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item>
                                        <dxo-label text="Allow Direct Entry Functional Currency Rate"></dxo-label>
                                        <div *dxTemplate class="toggle">
                                            <mat-slide-toggle
                                                [disabled]="baseService.userRights !== 2"
                                                [(ngModel)]="service.portfolioSettings.directEntryFunctionalCurrencyRateEnabled"
                                                (change)="functionalCurrencyRateDirectEntryChanged()">
                                            </mat-slide-toggle>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='DirectEntryFunctionalCurrencyRateEnabled' fieldHistoryName='DirectEntryFunctionalCurrencyRateEnabled'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item>
                                        <dxo-label text="Functional Currency Rateset"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="FunctionalCurrencyRatesetsID"
                                                [dataSource]="functionalCurrencyRatesets"
                                                [value]="service.portfolioSettings.functionalCurrencyRateset"
                                                [disabled]="baseService.userRights !== 2"
                                                valueExpr="Name"
                                                displayExpr="Name"
                                                [(ngModel)]="service.portfolioSettings.functionalCurrencyRateset"
                                                (onValueChanged)="functionalCurrencyRatesetChanged()"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='FunctionalCurrencyRatesets' fieldHistoryName='FunctionalTranslationMethod'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                    <dxi-item>
                                        <dxo-label text="Functional Currency Period"></dxo-label>
                                        <div *dxTemplate>
                                            <dx-select-box id="FunctionalCurrencyPeriodsID"
                                                [dataSource]="functionalCurrencyPeriods"
                                                [value]="service.portfolioSettings.functionalCurrencyPeriod"
                                                [disabled]="service.portfolioSettings.functionalCurrencyRateset === 'Direct Entry' || baseService.userRights !== 2"
                                                [(ngModel)]="service.portfolioSettings.functionalCurrencyPeriod"
                                                valueExpr="Name"
                                                displayExpr="Name"
                                            >
                                            </dx-select-box>
                                            <crem-tooltip class="crem-tooltip" [portfolioID]="portfolioDropdownService.selectedPortfolioId" OTID="128" helptextName='FunctionalCurrencyPeriods' fieldHistoryName='FunctionalTranslationValue'></crem-tooltip>
                                        </div>
                                    </dxi-item>

                                </dxi-item>
                            </dx-form>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Classifications &amp; Measure Event Default Values</mat-card-title>
                    </mat-card-header>
                    <mat-card-content *ngIf='this.dropDownService.classificationConfiguration.length > 0' class="no-padding">

                        <dx-tab-panel
                            #tabPanel
                            [selectedIndex]="0"
                            [loop]="false"
                            [animationEnabled]="true"
                            [swipeEnabled]="true"
                            [showNavButtons]="true">

                            <dxi-item *ngFor="let classification of classificationTypes" [title]="classification.classificationName">

                                <div class="custom-data-grid-toolbar">
                                    <div class="grid-controls-left">
                                        <mat-slide-toggle [(ngModel)]="classification.isActive" [disabled]="true">Active</mat-slide-toggle>
                                    </div>
                                </div>

                                <app-measure-event-settings
                                    [dropDownValues]="dropDownValues"
                                    [classificationID]="classification.classificationID">
                                </app-measure-event-settings>
                            </dxi-item>

                        </dx-tab-panel>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

    </div>

</div>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [(visible)]="loading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>
