<div class="module-wrapper">
  <mat-drawer-container>
    <mat-drawer mode="side"
      opened
      [style.visibility]="'visible'"
      class="left-nav"
    >
      <mat-nav-list>
        <mat-list [style.width]="drawerWidth">
          <div *ngIf="isLeftNavOpened">
            <mat-list-item [routerLink]="['dashboard']"
              routerLinkActive="active"
            ><span class="costar-left-nav-link">Dashboard</span></mat-list-item>

            <mat-list-item [routerLink]="['period-close']"
              routerLinkActive="active"
            ><span class="costar-left-nav-link">Period Close</span></mat-list-item>

            <mat-list-item [routerLink]="['schedules']"
              routerLinkActive="active"
            ><span class="costar-left-nav-link">Accounting Events</span></mat-list-item>

            <mat-list-item [routerLink]="['health']"
              routerLinkActive="active"
            ><span class="costar-left-nav-link">Lease Alerts</span></mat-list-item>

            <mat-expansion-panel #BatchPanel
              class="mat-elevation-z0"
              [class.open]="BatchPanel.expanded"
              [expanded]="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>Batch Processes</mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item [routerLink]="['remeasures']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Batch Accounting</span></mat-list-item>

              <mat-list-item [routerLink]="['bulkworkflow']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Batch Change Workflow</span></mat-list-item>
            </mat-expansion-panel>

            <mat-expansion-panel #JEPanel
              class="mat-elevation-z0"
              [class.open]="JEPanel.expanded"
              [expanded]="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>Journal Entry Processing</mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item [routerLink]="['jeapprove']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Journal Entries to Approve</span></mat-list-item>

              <mat-list-item [routerLink]="['jeexport']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Journal Entries to Export (new)</span></mat-list-item>

              <mat-list-item [routerLink]="['jeexport']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Journal Entries to Export</span></mat-list-item>

              <mat-list-item>
                <span class="costar-left-nav-link">Journal Entry Export History</span>
              </mat-list-item>
            </mat-expansion-panel>

            <mat-expansion-panel #ConfigPanel
              class="mat-elevation-z0"
              [class.open]="ConfigPanel.expanded"
              [expanded]="true"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>Configuration</mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item [routerLink]="['settings']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Accounting Settings</span></mat-list-item>

              <mat-list-item [routerLink]="['workflow']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Workflow Rules</span></mat-list-item>

              <mat-list-item [routerLink]="['alert-rules']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Alert Rules</span></mat-list-item>

              <mat-list-item [routerLink]="['amzprofiles']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Amortization Profiles</span></mat-list-item>

              <mat-list-item [routerLink]="['discountrate']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Discount Rate Profiles</span></mat-list-item>

              <mat-list-item [routerLink]="['jeprofiles']"
                routerLinkActive="active"
              ><span class="costar-left-nav-link">Journal Entry Profiles</span></mat-list-item>

              <mat-list-item>
                <span class="costar-left-nav-link">Calendars</span>
              </mat-list-item>

              <mat-list-item>
                <span class="costar-left-nav-link">History</span>
              </mat-list-item>
            </mat-expansion-panel>

          </div>
        </mat-list>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="oflow-x-hidden"
      [style.marginLeft]="drawerWidth"
    ><router-outlet></router-outlet>
    </mat-drawer-content>

  </mat-drawer-container>
</div>
