.recentActivities-container {
  height: 100%;

  .recentActivities-toolBar-wrapper {
    width: 100% !important;
    border-bottom: 1px solid #c5c5c5;
    position: sticky !important;
    top: 0;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 20px;
      font-weight: 500;
    }

    .controls-right,
    .controls-left {
      display: flex;
    }
  }

  .searchActivities,
  .filterActivities,
  .exportActivities,
  .clearActivities {
    margin-left: 8px;
  }

  .recentActivities-dataGrid-wrapper {
    height: calc(100% - 48px);
    font-size: 16px;
  }
}
