<div class="module-wrapper">
	<mat-drawer-container>
		<mat-drawer mode="side" opened [style.visibility]="'visible'" class="left-nav">
			<mat-nav-list>
				<mat-list [style.width]="drawerWidth">
					<div *ngIf="isLeftNavOpened">
						<mat-list-item [routerLink]="['dashboard']" routerLinkActive="active"><span class="costar-left-nav-link">Dashboard</span></mat-list-item>
						<mat-list-item [routerLink]="['overview']" routerLinkActive="active"><span class="costar-left-nav-link">Overview</span></mat-list-item>
          </div>
				</mat-list>
			</mat-nav-list>
		</mat-drawer>
		<mat-drawer-content class="oflow-x-hidden" [style.marginLeft]="drawerWidth">
			<router-outlet></router-outlet>
		</mat-drawer-content>
	</mat-drawer-container>
</div>