.idle-timeout {
  &__custom-footer {
    display: flex;
    gap: 1em;
  }
}

::ng-deep {
  #idle-timeout-popup {
    .dx-overlay-content {
      .dx-popup-content-scrollable {
        height: unset !important;
      }
    }
  }
}
