.header {
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.grid-header {
    text-align: center;
}

.dx-header-row {
    background-color: rgb(36, 90, 136) !important;
    color: rgb(232, 230, 227);
    font-weight: 100;
}

.actions-icon {
    width: 16px;
    height: 16px;
    margin-left: 32px;
}

.pointer {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

.link-class {
    box-shadow: none;
    text-decoration: underline;
    color: #1e3a6f;
}

button.btn.btn-default.moreButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;

    mat-icon {
        transform: translateY(2px);
    }
}

#accounts-summary-empty-dropdown {
    box-sizing: unset;
    width: 25%;
    height: 22px;
}

.custom-grid {
    max-height: 155px;
}

.no-data-text-box {
    box-sizing: unset;
    display: inline-flex;
    height: 22px;
    padding: 5px 67px 4px 8px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--Primary, #0559B3);
    background: var(--White, #FFF);
    box-shadow: 0 0 4px #0559b3;
    width: 25%;
}

.events-dropdown {
    float: left;
    width: 40%;

    dx-drop-down-box {
        box-sizing: content-box;
    }
}

.dx-texteditor.dx-editor-outlined {
    border: 1px solid #C8C8C8;
}