

:host::ng-deep {
    tr {
        td {
            .dx-template-wrapper {
                text-align: right;
                
                button.item-info {
                    display: none;       
                }            
            }        
        }

        &:hover {
            td {
                .dx-template-wrapper {
                    button.item-info {
                        display: inline-block;
                    }
                }
            }
        }    
    }
}