@import '../../../../../../assets/styles/colors.scss';
@import '../../../../../../assets/styles/var.scss';


mat-card-content{
    &.phases-card {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 0px !important;
    }

    &.project-types-card {
        padding: 0px !important;

        mat-card-content {
            max-height: 400px;
        }
    }

    &.templates-card {
        padding: 0px !important;

        mat-card-content {
            max-height: 400px;
        }
    }
}

.sortable-phases {
    display: inline-flex;
    flex-direction: row;
    vertical-align: top;
    white-space: nowrap;
    margin-bottom: $stdPadding * 3;
}

.phase {
    border-radius: 8px;
	margin-right: $dblPadding;
	background-color: $neutral-light;
	display: flex;
	flex-direction: column;
    border: 1px solid $neutral-light;
    position: relative;
    
    &:hover {
        cursor: grab;

        .phase-edit-icon {
            display: flex;
        }
    }

	.phase-title {
		font-size: 16px;
		padding: $stdPadding $dblPadding;
		font-weight: bold;
		display: flex;
	}

    .phase-edit-icon {
        display: none;
        position: absolute;
        top: $stdPadding/2;
        right: $stdPadding/2;
        background: rgba(255, 255, 255, 0.7);    
        border-radius: 4px;
        width: $stdPadding*3;
        height: $stdPadding*3;
        justify-content: center;
        align-items: center;
        
        mat-icon {
            font-size: 20px;
            height: 20px;
            width: 20px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .edit-phase-name-wrapper {
        margin: $stdPadding $dblPadding;
    }
}

.new-phase {
    border-radius: 8px;
	margin-right: $dblPadding;
	background-color: $neutral-lighter;
	display: inline-flex;
	flex-direction: column;
    border: 1px dashed $neutral-medium;
    
    &:hover {
        cursor: pointer;
    }

	.phase-title {
		font-size: 16px;
		padding: $stdPadding $dblPadding;			
		display: flex;

        span {
            display: flex;
            align-items: center;
        }

        mat-icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
        }
	}
}


