<mat-card class="dashboard-card project-milestones-card">
	<mat-card-header>				
		<mat-card-title>Project Milestones</mat-card-title>
		<div class="mat-card-header-toolbar">
			<span class="milestone complete">Complete</span> 
			<span class="milestone late">Overdue</span> 
			<span class="milestone behind">Due within 5 Days</span> 			
			<span class="milestone ongoing">Active</span> 
			<span class="milestone upcoming">Upcoming</span> 
			<mat-slide-toggle [(ngModel)]="showMilestoneDates" class="dbl-right-margin">Show Dates</mat-slide-toggle>
			<costar-search (changed)="searchDataGrid($event)"></costar-search>
			<button class="btn btn-default btn-sm" [matMenuTriggerFor]="cardMenu"><fa-icon icon="ellipsis-h"></fa-icon></button>
			<mat-menu #cardMenu="matMenu">								
				<button mat-menu-item>Refresh</button>				
				<button mat-menu-item (click)="exportDataGrid()">Export</button>								
			</mat-menu>
		</div>
		<!-- <div class="mat-card-controls">
						
		</div> -->
	</mat-card-header>
	<mat-card-content class="no-padding">
		<dx-data-grid class="list-page-data-grid"
			#ProjectMilestonesDataGrid
			[dataSource]="projects"
			[showColumnLines]="false"
			[showRowLines]="false"
			[showBorders]="false"
			[rowAlternationEnabled]="true" 							
			[allowColumnResizing]="true"
			[allowColumnReordering]="true"
			[columnAutoWidth]="true"			
		>
			<dxo-paging [pageSize]="25"></dxo-paging>
		    <dxo-pager 
		        [showPageSizeSelector]="true"
		        [allowedPageSizes]="[25, 50, 100]"
		        [showInfo]="true">
		    </dxo-pager>
		    <dxo-header-filter [visible]="true"></dxo-header-filter>    
			<dxi-column dataField="name" [width]="240" [fixed]="true"></dxi-column>
			<dxi-column dataField="type" [width]="120" [fixed]="true"></dxi-column>
			<dxi-column dataField="status" [width]="120" [fixed]="true"></dxi-column>
			<dxi-column dataField="projectManager" [width]="120" [fixed]="true" caption="Manager"></dxi-column>
			<dxi-column dataField="milestones" [allowFiltering]="false" cellTemplate="milestoneTemplate"></dxi-column>
			<div *dxTemplate="let project of 'milestoneTemplate'">
				<milestone-chart [projectId]="project.data.id" [showDates]="showMilestoneDates"></milestone-chart>
			</div>			
		</dx-data-grid>						
	</mat-card-content>
</mat-card>	