<div class="status-right-container">
  <div class="status-toolBar-wrapper">
    <div class="controls-left">
      <h1 class="title">{{ objectTypeAndName }}</h1>
      <div class="search">
        <cs-search
          #SearchBox
          [placeholder]="'Search...'"
          (changed)="searchDataGrid($event)"
        ></cs-search>
      </div>
    </div>
  </div>

  <div class="status-dataGrid-wrapper">
    <crem-loader *ngIf="isLoading"></crem-loader>
    <dx-data-grid
      *ngIf="!isLoading"
      #FilesDataGrid
      [showColumnLines]="false"
      [showRowLines]="false"
      [showBorders]="false"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      columnResizingMode="widget"
      [allowColumnReordering]="true"
      [columnAutoWidth]="false"
      [dataSource]="benchmarkingFiles"
      keyExpr="path"
      [wordWrapEnabled]="true"
    >
      <dxo-header-filter
        [visible]="true"
        [allowSearch]="true"
      ></dxo-header-filter>
      <dxo-paging [pageSize]="100"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[100, 200, 500]"
        [showInfo]="true"
        [showNavigationButtons]="true"
        [visible]="true"
      >
      </dxo-pager>
      <dxo-load-panel
        [enabled]="true"
        shadingColor="rgba(255,255,255,1.0)"
        [showIndicator]="true"
        [showPane]="true"
        [shading]="true"
      >
      </dxo-load-panel>
      <dxi-column
        dataField="path"
        alignment="left"
        caption="Folder"
        [allowHiding]="false"
      ></dxi-column>
      <dxi-column dataField="userFileName" caption="File"></dxi-column>
      <dxi-column dataField="description" caption="Description"></dxi-column>
      <dxi-column
        dataField="dateUploaded"
        caption="Created"
        dataType="date"
        [format]="benchmarkingService.dateFormat"
      ></dxi-column>
      <dxi-column
        caption="Download"
        width="100"
        alignment="center"
        cellTemplate="descriptionCellTemplate"
      ></dxi-column>
      <!-- Use "cell" as the template name -->
      <div *dxTemplate="let cell of 'descriptionCellTemplate'">
        <a href="javascript:void(0)" (click)="onFileDownloadClick(cell.data)">
          Open
        </a>
      </div>
    </dx-data-grid>
  </div>
</div>
