@use 'styles' as *;

.status-right-container {
  height: 100%;
}

.status-toolBar-wrapper {
  @include costar(border-bottom, gray04);
  width: 100% !important;
  position: sticky !important;
  top: 0;
}
.status-toolBar-wrapper > div {
  height: 32px;
}

.status-toolBar-wrapper {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .controls-left {
    display: flex;
    flex-direction: row;

    .title {
      @include costar-alias(header, lead);
      @include costar(font-size, body);
      @include costar(font-weight, medium);
      line-height: 20px;
      margin-right: 10px;
    }
  }
}

.status-dataGrid-wrapper {
  height: calc(100% - 50px);
  font-size: 16px;

  dx-data-grid {
    width: 100%;
    height: 100% !important;
  }
}

::ng-deep mango-status {
  div.dx-datagrid.dx-gridbase-container {
    div.dx-datagrid-pager {
      div.dx-button-disable.dx-navigate-button {
        &:focus {
          outline: none !important;
        }
      }
    }
  }
  // more menu button
  button.mat-menu-trigger.btn-link:focus {
    box-shadow: 0 0 0 0.1rem #779ede;
  }
}
