<div class="prototype-select-wrapper">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Please select a prototype:</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-list>
				<mat-list-item [routerLink]="['/costar']" class="clickable"> Unified CoStar</mat-list-item>
				<mat-divider></mat-divider>
				<!-- <mat-list-item [routerLink]="['/costar-b']" class="clickable"> Unified CoStar B</mat-list-item>
				<mat-divider></mat-divider> -->
				<mat-list-item [routerLink]="['/rem-a']" class="clickable"> Real Estate Manager 2.0 </mat-list-item>				
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>

