<div class="task-kanban-card">
    <div class="task-card-main-wrapper">  
        <div class="task-card-edit-icon">
            <mat-icon class="material-icons-outlined" (click)="launchEditTaskModal()">edit</mat-icon>
        </div>      
        <div class="task-card-body">
            <div class="task-name">{{ task.taskName }}</div>            
            <div class="task-role-required-wrapper">
                <div>{{task.role}}</div>
                <!-- <div>{{task.duration}} days</div> -->
                <div>
                    <mat-icon *ngIf="task.requireApprovalByAssignee" class="material-icons-outlined" matTooltip="Approval by assignee required">new_releases</mat-icon>
                </div>
            </div>        
        </div>	
    </div>        
</div>

<dx-popup
	#TemplateTaskPopup
    width="600"
    height="60%"
    [showTitle]="true"
    [title]="task.taskName"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [visible]="editTaskModalVisible"
    (onHidden)="close($event)">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<template-task-dialog [task]="task" (closed)="close($event)" (saved)="taskSaved($event)"></template-task-dialog>    
    </div>
</dx-popup>	