<crem-accordion
  [id]="accountingSummaryService.getId(componentName, 'section', 'accordion')"
  [title]="title"
  [contentPadding]="true"
  class="residual-value-accordion"
  [isOpen]="isAccordionOpen"
>
  <form class="residual-value-container" [formGroup]="residualValueForm">
    <div class="column">
      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'estimated-residual-value',
              'label'
            )
          "
          label="Estimated Residual Value"
          [showInfo]="false"
          name="residual-value-Estimated-Residual-Value-Input"
        >
        </crem-input-label>
        <crem-input
          [id]="
            accountingSummaryService.getId(
              componentName,
              'Estimated-Residual-Value',
              'Input'
            )
          "
          [inputType]="'number'"
          [value]="''"
          [placeholder]="''"
          [disallowNegative]="true"
          [required]="false"
          formControlName="estimatedResidualValue"
        >
        </crem-input>
      </div>
      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'guaranteed-amount',
              'label'
            )
          "
          label="Guaranteed Amount Reflected in Payments"
          [showInfo]="false"
          name="residual-value-Guaranteed-Amount-Input"
        >
        </crem-input-label>
        <crem-input
          [id]="
            accountingSummaryService.getId(
              componentName,
              'Guaranteed-Amount',
              'Input'
            )
          "
          [inputType]="'number'"
          [value]="''"
          [placeholder]="''"
          [disallowNegative]="true"
          [required]="false"
          formControlName="guaranteedAmountReflected"
        >
        </crem-input>
      </div>

      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'RV-guaranteed',
              'label'
            )
          "
          label="Residual Value Guaranteed"
          [showInfo]="false"
          name="residual-value-RV-Guaranteed-Input"
        >
        </crem-input-label>
        <crem-input
          [id]="
            accountingSummaryService.getId(
              componentName,
              'RV-Guaranteed',
              'Input'
            )
          "
          [inputType]="'number'"
          [value]="''"
          [placeholder]="''"
          [disallowNegative]="true"
          [required]="false"
          formControlName="rvGuaranteed"
        >
        </crem-input>
      </div>

      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'lessor-explicitly-exempts-lessee',
              'label'
            )
          "
          [label]="'Lessor Explicitly Exempts Lessee'"
          [showInfo]="false"
          name="residual-value-lessor-explicitly-exempts-lessee-toggle"
        >
          >
        </crem-input-label>

        <div class="lessor-explicitly-exempts-lessee">
          <crem-toggle-slider
            [id]="
              accountingSummaryService.getId(
                componentName,
                'lessor-explicitly-exempts-lessee',
                'toggle'
              )
            "
            size="wide"
            checkedLabel="YES"
            uncheckedLabel="NO"
            [value]="''"
            formControlName="lessorExplicitlyExemptsLessee"
          >
          </crem-toggle-slider>
        </div>
      </div>

      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'RV-guaranteed-by-3rd-party',
              'label'
            )
          "
          label="Residual Value Guaranteed by 3rd Party"
          [showInfo]="false"
          name="residual-value-RV-Guaranteed-by-3rd-Party-Input"
        >
        </crem-input-label>
        <crem-input
          [id]="
            accountingSummaryService.getId(
              componentName,
              'RV-Guaranteed-by-3rd-Party',
              'Input'
            )
          "
          [inputType]="'number'"
          [value]="''"
          [placeholder]="''"
          [disallowNegative]="true"
          [required]="false"
          formControlName="rvGuaranteedBy3rdParty"
        >
        </crem-input>
      </div>
    </div>

    <div class="column">
      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'RV-Guaranteed-by-Lessee',
              'Label'
            )
          "
          label="Residual Value Guaranteed by Lessee"
          [showInfo]="false"
        >
        </crem-input-label>
        <div
          class="disabled-controls"
          [id]="
            accountingSummaryService.getId(
              componentName,
              'RV-Guaranteed-by-Lessee',
              'Input'
            )
          "
        >
          {{ rvGuaranteedByLessee }}
        </div>
      </div>

      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'RV-Guaranteed-by-Lessee',
              'Label'
            )
          "
          label="Amount Probable of Being Owed by Lessee"
          [showInfo]="false"
        >
        </crem-input-label>
        <div
          class="disabled-controls"
          [id]="
            accountingSummaryService.getId(
              componentName,
              'RV-Guaranteed-by-Lessee',
              'Input'
            )
          "
        >
          {{ amountProbableBeingOwedByLessee }}
        </div>
      </div>

      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'Unguaranteed-Residual-Value',
              'Label'
            )
          "
          label="Unguaranteed Residual Value"
          [showInfo]="false"
        >
        </crem-input-label>
        <div
          class="disabled-controls"
          [id]="
            accountingSummaryService.getId(
              componentName,
              'Unguaranteed-Residual-Value',
              'Input'
            )
          "
        >
          {{ unguaranteedResidualValue }}
        </div>
      </div>

      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'Amount-Not-Reflected-PV-Payments',
              'Label'
            )
          "
          label="Amount Not Reflected in Present Value of Payments"
          [showInfo]="false"
        >
        </crem-input-label>
        <div
          class="disabled-controls"
          [id]="
            accountingSummaryService.getId(
              componentName,
              'Amount-Not-Reflected-PV-Payments',
              'Input'
            )
          "
        >
          {{ amountNotReflectedPVPayments }}
        </div>
      </div>

      <div class="control">
        <crem-input-label
          [id]="
            accountingSummaryService.getId(
              componentName,
              'PV-Amount-Not-Reflected-in-Payments',
              'Label'
            )
          "
          label="Present Value of Amount Not Reflected in Payments"
          [showInfo]="false"
        >
        </crem-input-label>
        <div
          class="disabled-controls"
          [id]="
            accountingSummaryService.getId(
              componentName,
              'PV-Amount-Not-Reflected-in-Payments',
              'Input'
            )
          "
        >
          {{ pvAmountNotReflectedInPayments }}
        </div>
      </div>
    </div>
  </form>
</crem-accordion>
