<dx-data-grid 
    [dataSource]="leaseVerificationHistory"
    [showBorders]="true"
    [showColumnLines]="false"
	[showRowLines]="false"
	[rowAlternationEnabled]="true" 
	[allowColumnResizing]="true"
	[allowColumnReordering]="true"
	>
    <dxi-column dataField="event"></dxi-column>
    <dxi-column dataField="user"></dxi-column>
    <dxi-column dataField="changeDate" dataType="date" alignment="center"></dxi-column>
    <dxi-column dataField="fieldName"></dxi-column>
    <dxi-column dataField="oldValue"></dxi-column>
    <dxi-column dataField="newValue"></dxi-column>
    <dxi-column dataField="screen"></dxi-column>
    <dxi-column dataField="comments"></dxi-column>    
</dx-data-grid>