@use 'styles' as *;
@use 'colors' as colors;

:host ::ng-deep .readOnly tr.dx-row.dx-data-row:hover {
  background-color: transparent;
  cursor: default;
}

:host ::ng-deep .readOnly tr.dx-row.dx-data-row.dx-row-alt:hover {
  background-color: transparent;
  cursor: default;
}

:host ::ng-deep .readOnly tr.dx-row.dx-data-row.dx-row-alt > td:hover {
  cursor: default;
}

.error {
  color: darkred;
}

.dropdown-box {
  display: flex;
  width: 50%;
  padding-top: 10px;

  &__label {
    min-width: 196px;
    margin: 0px;
    padding: 6px 10px 0 0;
    flex-wrap: nowrap;
  }

  &__content {
    width: 100%;
  }
}

:host ::ng-deep .dx-field-item-label.dx-field-item-label-location-left {
  min-width: 196px;
}

dx-form {
  display: flex;
  padding: 12px;
  overflow: visible;
  width: 100%;
}

.dx-widget {
  width: 100%;
}

:host ::ng-deep #ba-direct-entry-card {
  .dx-layout-manager.dx-widget {
    width: 100% !important;
  }

  mat-card {
    min-height: 210px;
  }
}

:host ::ng-deep #ba-classification-parameters-card {
  mat-card {
    min-height: 150px;
  }
}

::ng-deep #ba-parameters-grid {
  padding: 12px;
  .dx-header-row {
    background-color: colors.$costarDarkBlue !important;
    border: 1px solid colors.$costarDarkBlue;
    @include costar(color, light);
    font-weight: 500;
  }

  .dx-gridbase-container > .dx-datagrid-rowsview.dx-scrollable {
    border: 1px solid #ddd;
    border-top: 0px;
  }
}

:host ::ng-deep {
  mat-card-content {
    overflow: visible !important; // Allows the 'DevExtreme validation message' to overflow outside the 'crem-card'
  }
}
