@use 'styles' as *;

.templates-edit-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .templates-edit-toolBar-wrapper {
    width: 100% !important;
    border-bottom: 1px solid #c5c5c5;
    top: 0;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }

    & > div {
      display: flex;
      align-items: center;
      z-index: 500;

      &.controls-right {
        margin-left: 20px;

        .more,
        .saveTemplate {
          margin-left: 8px;
        }
      }

      &.controls-left {
        margin: 0px;

        h5 {
          margin: 0px;
        }
      }
    }
  }

  mat-card {
    padding: 20px;
    margin: 20px;
  }

  .templates-edit-dataGrid-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  dx-data-grid {
    flex-grow: 1;
    min-height: 0;
    height: 0;
    overflow-y: auto;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .right-column {
    margin-right: 30px;
  }

  .form-field {
    display: flex;
    align-items: center;
  }

  .form-field crem-form-label,
  label {
    width: 150px;
    margin-right: 20px;
    white-space: nowrap;
    flex-shrink: 0;
  }

  .form-field crem-text-box,
  crem-input,
  crem-dropdown {
    flex: 1;
    min-width: 0;
  }

  .template-name-error {
    text-align: right;
  }

  dx-text-box,
  crem-input,
  crem-form-item {
    width: 100%;
  }

  .centered-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
