<div class="dashboard">	
	<div class="dashboard-controls-wrapper">
		<div class="controls-left">
			<div *ngFor="let filter of filters">
				<costar-dropdown [dropdownData]="filter" *ngIf="filter.visible && filter.controlType == 'dropdown'"></costar-dropdown>			
				<portfolio-menu *ngIf="filter.visible && filter.controlType == 'portfolio'" [showSearchRow]="filter.showSearchRow"></portfolio-menu>			
				<hierarchy-dropdown portfolioId="1" *ngIf="filter.visible && filter.controlType == 'hierarchy'"></hierarchy-dropdown>			
			</div>		
			<button class="btn btn-default btn-sm">Apply</button>
		</div>
		<div class="controls-right">			
			<button class="btn btn-primary" (click)="launchAddDealModal()">Add Deal</button>			
			<button class="btn btn-default btn-sm" (click)="launchSettingsModal()"><fa-icon icon="cog"></fa-icon></button>
		</div>		
	</div>
	<div class="dashboard-content-wrapper">
		<div class="dashboard-hero-wrapper">
			<ng-container *ngFor="let hero of heros">
				<dashboard-hero-card *ngIf="hero.visible"
					[title]="hero.title"
					[heroMetric]="hero.hero"
					[sidekickMetricA]="hero.sidekick"					
					[subtitle]="hero.subtitle"
					[tooltip]="hero.helpText"
				></dashboard-hero-card>
			</ng-container>			
		</div>		
		<div class="dashboard-cards-wrapper">
			<div class="row" cdkDropList (cdkDropListDropped)="drop($event)">
				<div class="dashboard-card-drag" cdkDrag *ngFor="let card of cards; let i = index;" [class.col-md-6]="card.colSpan == 1" [class.col-md-12]="card.colSpan == 2" [class.hide]="!card.visible">					
					<mat-icon cdkDragHandle class="card-drag-handle">drag_handle</mat-icon>
					<recent-deal-activity-card *ngIf="card.componentName == 'RecentDealActivityCardComponent'"></recent-deal-activity-card>
					<deal-action-required-card *ngIf="card.componentName == 'DealActionRequiredCardComponent'"></deal-action-required-card>
					<closed-deals-card *ngIf="card.componentName == 'ClosedDealsCardComponent'"></closed-deals-card>
					<deal-count-by-market-card *ngIf="card.componentName == 'DealCountByMarketCardComponent'"></deal-count-by-market-card>
					<deal-count-by-broker-card *ngIf="card.componentName == 'DealCountByBrokerCardComponent'"></deal-count-by-broker-card>
					<deal-count-chart-card *ngIf="card.componentName == 'DealCountChartCardComponent'"></deal-count-chart-card>
				</div>						
			</div>					
		</div>
	</div>
</div>

<dx-popup
	#PortfolioDashboardSettingsPopup
    [width]="600"
    [height]="570"
    [showTitle]="true"
    title="Portfolio Summary Settings"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [(visible)]="settingsModalVisible">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<costar-popup>
			<popup-content>
				<dx-tab-panel
					#settingsTabPanel	
					height="100%"					
					[selectedIndex]="0"
					[loop]="false"
					[animationEnabled]="true"
					[swipeEnabled]="true"
					>
					<dxi-item title="Filters" class="oflow-y-auto">
						<dx-scroll-view width="100%" height="100%" class="popup-tab-panel-item">
							<dx-form 
								[(formData)]="filters"
								[colCount]="1"
								labelLocation="left">
								<dxi-item *ngFor="let item of filters" 
									dataField="visible"	
									[label]="{ text : item.placeholder }"									
									template="switchTemplate"
									[editorOptions]="{ name : item.placeholder }"
									>				
								</dxi-item>									
								<div *dxTemplate="let data of 'switchTemplate'">
									<mat-slide-toggle [(checked)]="data.dataField" [name]="data.editorOptions.name" (change)="handleToggleChange($event, 'filters')"></mat-slide-toggle>
								</div>
							</dx-form>
						</dx-scroll-view>
					</dxi-item>						
					<dxi-item title="Hero Metrics" class="oflow-y-auto">
						<dx-scroll-view width="100%" height="100%" class="popup-tab-panel-item">
							<dx-form 
								[(formData)]="heros"
								[colCount]="1"
								labelLocation="left">
								<dxi-item *ngFor="let item of heros" 
									dataField="visible"
									[label]="{ text : item.title }"
									[editorOptions]="{ name : item.title }"
									template="switchTemplate"
									>				
								</dxi-item>									
								<div *dxTemplate="let data of 'switchTemplate'">
									<mat-slide-toggle [(checked)]="data.dataField" [name]="data.editorOptions.name" (change)="handleToggleChange($event, 'heros')"></mat-slide-toggle>
								</div>
							</dx-form>
						</dx-scroll-view>
					</dxi-item>						
					<dxi-item title="Cards" class="oflow-y-auto">
						<dx-scroll-view width="100%" height="100%" class="popup-tab-panel-item">
							<dx-form 
								[(formData)]="cards"
								[colCount]="1"
								labelLocation="left">
								<dxi-item *ngFor="let item of cards" 
									dataField="visible"
									[label]="{ text : item.title }"
									[editorOptions]="{ name : item.title }"
									template="switchTemplate"
									>				
								</dxi-item>									
								<div *dxTemplate="let data of 'switchTemplate'">
									<mat-slide-toggle [(checked)]="data.dataField" [name]="data.editorOptions.name" (change)="handleToggleChange($event, 'cards')"></mat-slide-toggle>
								</div>
							</dx-form>
						</dx-scroll-view>
					</dxi-item>						
				</dx-tab-panel>
			</popup-content>
			<popup-footer>		
				<popup-footer-right>
					<button class="btn btn-default" (click)="settingsModalCancel()">Cancel</button> 
	        		<button class="btn btn-primary" (click)="settingsModalCancel()">Save</button> 
				</popup-footer-right>
			</popup-footer>
		</costar-popup>	        
    </div>
</dx-popup>	

<dx-popup
	#AddDealPopup
    width="800"
    height="95%"
    [showTitle]="true"
    title="Create Deal"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [(visible)]="addDealPopupVisible">   
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">  
    	<add-deal-dialog (saved)="saveDeal($event)" (cancelled)="cancelAddDeal($event)"></add-deal-dialog>
    </div>
</dx-popup>	