<crem-modal
  modalId="addServiceAccoutModalId"
  modalTitle="Service Account Setup"
  closeIconVisible="true"
  primaryFooterButtonText="Save"
  closeOrCancelButtonText="Cancel"
  (primaryButtonAction)="AddServiceAccount(serviceAccountForm)"
>
  <div modalContent>
    <form [formGroup]="serviceAccountForm">
      <div>
        <label for="emailAddress" class="email-label">Email Address:</label>
        <br />
        <input formControlName="emailAddress" placeholder="Email" type="text" />
      </div>
      <div class="err">{{ errorMsg }}</div>
    </form>
  </div>
</crem-modal>
