<crem-modal
	modalId = "addServiceAccoutModalId"
	modalTitle="Service Account Setup" 
	closeIconVisible="true" 
	primaryFooterButtonText="Save"
	closeOrCancelButtonText="Cancel" 
	(primaryButtonAction)="AddServiceAccount(serviceAccountForm)"
	>
	<div modalContent>
		<form [formGroup]="serviceAccountForm">
			<div class="form">
				<span class="email-label">Email Address:</span>
				<input
					formControlName="emailAddress"
					placeholder="Email"
					class="form-control"
					type="text"/>
			</div>
			<div class="err">{{errorMsg}}</div>
		</form>
	</div>
</crem-modal>

