@use "../../../../../../../libs/ui-shared/common/src/styles/" as *;

.form-control, .input-group-addon {
  text-align: left !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid !important;
  width: 250px;
}

.form {
  display: flex;
  align-items: center;
  @include costar(font-size, body);
}

.email-label {
  @include costar(margin-right, 2);
}

.err {
  padding-left: 120px;
  @include costar(color, danger);
}