.form-control, .input-group-addon {
  text-align: left !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid !important;
  width: 250px;
}

.formData {
  display:block;
}

.err {
  padding:10px 10px 5px 100px;
  color:red;
}