
<div class="client-delivery">
	<crem-modal class="modalDialog"
		modalId = "addServiceAccoutModalId"
		modalTitle="Service Account Setup" 
		closeIconVisible="true" 
		primaryFooterButtonText="Save"
		closeOrCancelButtonText="Cancel" 
		(primaryButtonAction)="AddServiceAccount(serviceAccountForm)"
		>
		<div modalContent class="account-modal-content">
			<form [formGroup]="serviceAccountForm">
					<span class="formData">
						Email Address:
						<input
							formControlName="emailAddress"
							placeholder="Email"
							class="form-control"
							type="text"/>
					</span>
					<div class="err">{{errorMsg}}</div>
			</form>
		</div>
	</crem-modal>
</div>

