.right-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.left-nav {
    flex-shrink: 0;
}