<div class="object-wrapper">
	<div class="object-banner hero">
		<div class="object-close" (click)="close()">
			<fa-icon icon="times"></fa-icon>
		</div>
		<div class="object-header">
			<div class="object-subtitle">
				{{project.type}} - {{project.portfolio}}
			</div>
			<div class="object-title">
				{{project.name}}
			</div>
			<div class="object-subtitle">
				{{project.city}}, {{project.state}}
			</div>			
		</div>
		<div class="object-hero-metric-wrapper">			
			<div class="object-hero-metric">
				<div class="metric-subtitle">Status</div>
				<div class="metric-value">{{project.status}}</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Target Completion Date</div>
				<div class="metric-value">{{project.targetCompletionDate}}</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Percent Complete</div>
				<div class="metric-value">{{project.systemPercentComplete}}%</div>				
			</div>
			<div class="object-hero-metric">
				<div class="metric-subtitle">Overdue Tasks</div>
				<div class="metric-value">3</div>				
			</div>			
			<div class="object-hero-metric">
				<div class="metric-subtitle">Project Manager</div>
				<div class="metric-value">{{project.projectManager}}</div>				
			</div>	
			<div class="object-hero-metric">
				<div class="metric-subtitle">Client Project ID</div>
				<div class="metric-value">{{project.clientProjectId}}</div>				
			</div>		
		</div>
		<div class="object-file-comments-notifications">
			<mat-icon class="clickable" [class.blue]="showComments" (click)="toggleSidenav('comments')">comment</mat-icon>
			<mat-icon class="clickable" [class.blue]="showFiles" (click)="toggleSidenav('files')">folder</mat-icon>	
			<mat-icon class="clickable" [class.blue]="showNotifications" (click)="toggleSidenav('notifications')">notifications</mat-icon>	
		</div>
	</div>
	<div class="object-content" id="objectContent">
		<mat-drawer-container>
			<mat-drawer mode="side" opened class="left-nav">
				<mat-nav-list>
					<mat-list>
						<mat-list-item [routerLink]="['tasks']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Tasks</span></mat-list-item>						
						<mat-list-item [routerLink]="['activity']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Activity</span></mat-list-item>						
						<mat-list-item [routerLink]="['details']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Project Details</span></mat-list-item>						
						<mat-list-item [routerLink]="['gantt']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Gantt Chart</span></mat-list-item>
						<mat-list-item [routerLink]="['deals']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Deal Comparison</span></mat-list-item>
						<mat-list-item [routerLink]="['team']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Team</span></mat-list-item>
						<mat-list-item [routerLink]="['budget']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Budget</span></mat-list-item>						
					</mat-list>
					<mat-list>
						<!-- <mat-list-item [routerLink]="['notes']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Notes</span></mat-list-item>
						<mat-list-item [routerLink]="['files']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Files</span></mat-list-item> -->
						<mat-list-item [routerLink]="['history']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">History</span></mat-list-item>
					</mat-list>
				</mat-nav-list>
			</mat-drawer>
			<mat-drawer-content>
				<mat-sidenav-container class="object-container" (backdropClick)="closeSidenav()">
					<mat-sidenav #sidenav (keydown.escape)="closeSidenav()" position="end" mode="over">
						<div class="comments" *ngIf="showComments">
							<div class="drawer-header">
								<h5>Comments</h5>
								<fa-icon icon="expand" class="clickable" (click)="launchObjectDrawerPopup()"></fa-icon>
							</div>
							<app-object-comments></app-object-comments>
						</div>
						<div class="files" *ngIf="showFiles">
							<div class="drawer-header">
								<h5>Files</h5>
								<fa-icon icon="expand" class="clickable" (click)="launchObjectDrawerPopup()"></fa-icon>
							</div>
							<app-object-files></app-object-files>
						</div>	
					</mat-sidenav>
					<mat-sidenav-content class="oflow-y-hidden">
						<router-outlet></router-outlet>
					</mat-sidenav-content>
				</mat-sidenav-container>
			</mat-drawer-content>
		</mat-drawer-container>
	</div>
</div>

<dx-popup
	#ObjectDrawerPopup
    width="70%"
    height="700"
    [showTitle]="true"
    [title]="objectDrawerPopupTitle"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [(visible)]="objectDrawerPopupVisible">
    <dxo-position
        my="top"
        at="top"
        of="#objectContent">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<object-drawer-dialog (closed)="objectDrawerClosed()"></object-drawer-dialog>    	
    </div>
</dx-popup>	


