// :host ::ng-deep .dx-item.dx-tab {
//     background-color: white;
// }

// :host ::ng-deep .dx-tab.dx-state-hover {
//     background-color: #e6e6e6;
// }

:host ::ng-deep .readOnly tr.dx-row.dx-data-row:hover {
  cursor: default !important;
}

:host ::ng-deep .readOnly tr.dx-row.dx-data-row.dx-row-alt:hover {
  cursor: default !important;
}

:host ::ng-deep .readOnly tr.dx-row.dx-data-row.dx-row-alt > td:hover {
  cursor: default !important;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  display: flex !important;
}

.report-page {
  overflow: auto !important;
}

.report-page-data-grid-wrapper {
  height: 100%;
}

.button {
  &__apply {
    padding-right: 8px;
  }
}
