<costar-popup>
	<popup-content>
		<dx-tab-panel
			#objectDrawerTabPanel	
			height="100%"					
			[selectedIndex]="0"
			[loop]="false"
			[animationEnabled]="true"
			[swipeEnabled]="true"
			>
			<dxi-item title="Comments" class="oflow-y-auto">
				<dx-scroll-view width="100%" height="100%">	
					<app-object-comments></app-object-comments>
				</dx-scroll-view>
			</dxi-item>		
			<dxi-item title="Files" class="oflow-y-auto">
				<dx-scroll-view width="100%" height="100%">	
					<app-object-files [hideFolderSidenav]="false"></app-object-files>				
				</dx-scroll-view>
			</dxi-item>						
			<dxi-item title="Reminders" class="oflow-y-auto">
				<dx-scroll-view width="100%" height="100%">							
				</dx-scroll-view>
			</dxi-item>						
		</dx-tab-panel>
	</popup-content>
	<popup-footer>
		<popup-footer-right>
			<button class="btn btn-default" (click)="close()">Close</button> 
		</popup-footer-right>
	</popup-footer>
</costar-popup>
