@import 'var.scss';

@media (max-width: 1199.98px) {
    app-chip {
        display: none;
    }

    .costar-app-name {
        display: none !important;
    }
}

@media (max-width: 991.98px) {
    .mobile-hidden {
        display: none !important;
    }

    global-search {
        width: 100%;
        .global-search-input {
            width: 100% !important;
        }
    }

    .crem-dash-title, .crem-dash-doc-store {	
		max-width: 656px !important;	
	}
}

@media (max-width: 767.98px) {

    .mobile-hidden {
        display: none !important;
    }

    .mobile-visible {
        visibility: visible !important;
    }

    .global-search-dropdown {
        display: none !important;
    }

    mat-toolbar.mat-toolbar {
        mat-toolbar-row.costar-top-menu {
            padding-bottom: $dblPadding;
            height: 52px;            
        }
    }   

    .costar-site-toolbar-left  {
        padding-left: $stdPadding !important;
        padding-right: $dblPadding !important;
    }

    .costar-site-toolbar-right {
        padding-right: $stdPadding !important;
        padding-left: $dblPadding !important;

        .user-avatar {
            margin-left: 0px !important;
        }
    }   
}

@media (max-width: 575.98px) {
    .mobile-hidden {
        display: none !important;
    }

    .mobile-visible {
        visibility: visible !important;
    }

    .costar-client-logo, .costar-toolbar-logo {
        display: none !important;
    }

    .costar-star-logo-mobile {
        display: inline-block !important;
    }

    .crem-dash-title, .crem-dash-doc-store {	
		max-width: 320px !important;	
	}

    mat-toolbar.mat-toolbar {
        mat-toolbar-row.costar-top-menu {
            ul.nav {                
                li.nav-item {
                    padding: 0 $stdPadding;
                }
            }
        }
    }   
}












