::ng-deep .taskApprovalOrRejectModal {
  .modalFooter {
    display: block !important;
  }
  .footerContent {
    display: flex;
    justify-content: space-between;
    div#buttonTemplate.footerRightControls {
      display: flex;
    }
  }

  .crem-form .crem-form-item {
    .tar-label {
      font-weight: 500;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .flexItem50 {
      flex-basis: 50%;
    }
  }

  #tar-actualStartDateId,
  #tar-approvalDateId {
    dx-date-box div.dx-overlay.dx-invalid-message-auto div.dx-overlay-content {
      display: none;
    }
  }

  .tar-notesInput {
    .input-container {
      height: unset !important;
      max-height: 250px;
    }
  }
}
