<crem-modal
  modalId="taskApproveOrRejectModal"
  modalTitleId="add_supplier_modal_modalTitleId"
  [modalTitle]="headerTaskName"
  closeIconVisible="true"
  [customFooter]="'true'"
>
  <div modalContent class="body-content">
    <form
      crem-form
      layout="vertical"
      [formGroup]="taskApproveRejectForm"
      class="task-approveOrReject-form"
    >
      <ng-container *ngIf="taskAction == 'Approve'">
        <crem-form-item>
          <crem-form-label class="tar-label"
            >Actual Start Date:
          </crem-form-label>
          <crem-form-control class="flexItem50">
            <crem-date-picker
              #ActualStartDatePicker
              [id]="'tar-actualStartDateId'"
              [dateFormat]="dateFormat"
              [isRequired]="isActualStarDateRequired"
              [showClearButton]="true"
              [max]="currentDate"
              [showDefaultValidationTooltip]="false"
              formControlName="actualStartDate"
              (changeEvent)="onActualStartDateChange($event)"
            >
            </crem-date-picker>
          </crem-form-control>
        </crem-form-item>

        <crem-form-item>
          <crem-form-label class="tar-label">Approval Date: </crem-form-label>
          <crem-form-control class="flexItem50">
            <crem-date-picker
              #ApprovalDatePicker
              [id]="'tar-approvalDateId'"
              [dateFormat]="dateFormat"
              [isRequired]="'true'"
              [showClearButton]="true"
              [max]="currentDate"
              [showDefaultValidationTooltip]="false"
              formControlName="approvalDate"
              (changeEvent)="onApprovalDateChange($event)"
            >
            </crem-date-picker>
          </crem-form-control>
        </crem-form-item>
      </ng-container>
      <crem-form-item [id]="'tar-notesId'">
        <crem-form-control>
          <crem-input
            #NotesInput
            class="tar-notesInput"
            [id]="'tar-notesInputId'"
            [className]="tarNotesStatus"
            [showHint]="false"
            [showLabel]="false"
            [showInfo]="false"
            [inputType]="'textarea'"
            [required]="isNotesFieldRequired"
            [name]="''"
            (valueChange)="onNotesChanged($event)"
            [placeholder]="'Enter Notes...'"
            formControlName="notes"
          >
          </crem-input>
        </crem-form-control>
      </crem-form-item>
    </form>
  </div>

  <div modalFooter class="footerContent">
    <div footerLeftControls class="footerLeftControls">
      <crem-button
        *ngIf="displayResendEmailBtn"
        type="secondary"
        class="resendApproval tar-btn"
        [id]="'pt-resendApprovalBtn'"
        [disabled]="disableResendBtn"
        (click)="resendApproval()"
      >
        Resend Approval
      </crem-button>
    </div>
    <div footerRightControls id="buttonTemplate" class="footerRightControls">
      <crem-button
        type="secondary"
        class="cancelChanges tar-btn"
        [id]="'pt-closeBtn'"
        (click)="closeModal()"
      >
        Cancel
      </crem-button>
      <crem-button
        type="primary"
        class="applyChanges tar-btn"
        [id]="'pt-approveRejectBtn'"
        [disabled]="disableActionBtn"
        (click)="approveOrRejectTaskValidate()"
      >
        {{ taskAction }}
      </crem-button>
    </div>
  </div>
</crem-modal>
