<div class="accounting-dashboard-year">
	<div class="accounting-periods-wrapper">
		<mat-button-toggle-group name="periods" class="accounting-dashboard-periods" *ngIf="periods.length > 0">
			<mat-button-toggle *ngFor="let period of periods" [routerLink]="['period', period.id]" [routerLinkActive]="['mat-button-toggle-checked']"><fa-icon icon="lock" class="std-right-margin" *ngIf="period.isLocked"></fa-icon>{{period.periodName}}</mat-button-toggle>
		</mat-button-toggle-group>	
	</div>
	<div class=accounting-dashboard-content>
		<router-outlet></router-outlet>
	</div>
</div>