<span *ngFor="let milestone of data" class="milestone" 
	[class.complete]="milestone.status == 'Complete'"
	[class.behind]="milestone.status == 'Behind Schedule'"
	[class.late]="milestone.status == 'Late'"
	[class.ongoing]="milestone.status == 'Ongoing'"
	[class.upcoming]="milestone.status == 'Upcoming'"
	[matTooltip]="milestone.name + ' - ' + milestone.targetDate"
	[class.show-date]="showDates">
	{{milestone.name}}
	<div *ngIf="showDates" class="milestone-date">{{milestone.targetDate}}</div>
</span>
