<costar-popup>
	<popup-content>
		<dx-tab-panel
			#formItemTabPanel	
			height="100%"					
			[selectedIndex]="0"
			[loop]="false"
			[animationEnabled]="true"
			[swipeEnabled]="true"
			>
			<dxi-item title="Configuration" class="oflow-y-auto">
				<dx-scroll-view width="100%" height="100%" class="dbl-padding">
					<div class="row">
						<div class="col-md-6 dbl-bottom-margin">
							<mat-card>
								<mat-card-header>
									<mat-card-title>Field Details</mat-card-title>
								</mat-card-header>
								<mat-card-content>
									<dx-form 
										[(formData)]="formField"
										[colCount]="1"
										labelLocation="left"
										[showColonAfterLabel]="false">
										<dxi-item 
											dataField="id"
											[label]="{ text : 'ID' }"
											[editorOptions]="{ disabled: true}"
											editorType="dxTextBox">				
										</dxi-item>
										<dxi-item 
											dataField="label"
											[label]="{ text : 'Label' }"
											[editorOptions]="{ disabled: false}"
											editorType="dxTextBox">				
										</dxi-item>
										<dxi-item 
											dataField="objectType"
											[label]="{ text : 'Object Type' }"
											[editorOptions]="{ disabled: true}"
											editorType="dxTextBox">				
										</dxi-item>
										<dxi-item 
											dataField="dxTemplate"
											[label]="{ text : 'Control Type' }"	
											[editorOptions]="{ items: controlTypes }"												
											template="controlTypeTemplate">				
										</dxi-item>
										<dxi-item 
											dataField="dataType"
											[label]="{ text : 'Data Type' }"
											[editorOptions]="{ items: dataTypes }"												
											template="dataTypeTemplate">				
										</dxi-item>	
										<dxi-item 
											dataField="isRequired"
											[label]="{ text : 'Required' }"
											[editorOptions]="{ disabled: false }"
											template="slideToggleTemplate">				
										</dxi-item>	
										<dxi-item 
											dataField="description"
											[label]="{ text : 'Description' }"
											[editorOptions]="{ disabled: false }"
											editorType="dxTextBox">			
										</dxi-item>	
										<dxi-item 
											dataField="helpText"
											[label]="{ text : 'Help Text' }"
											[editorOptions]="{ disabled: false }"
											editorType="dxTextBox">			
										</dxi-item>	
											
										<dxi-item 
											dataField="isExisting"
											[label]="{ text : 'Existing Database Column' }"
											[editorOptions]="{ disabled: false }"
											template="slideToggleTemplate">			
										</dxi-item>		
										<dxi-item 
											dataField="existingTable"
											[label]="{ text : 'Database Table' }"
											[editorOptions]="{ disabled: false }"
											editorType="dxSelectBox"
											[(visible)]="formField.isExisting">			
										</dxi-item>		
										<dxi-item 
											dataField="existingColumn"
											[label]="{ text : 'Database Column' }"
											[editorOptions]="{ disabled: false }"
											editorType="dxSelectBox"
											[(visible)]="formField.isExisting">			
										</dxi-item>	
										<dxi-item 
											dataField="isAuditable"
											[label]="{ text : 'Is Auditable' }"
											[editorOptions]="{ disabled: false }"
											template="slideToggleTemplate">			
										</dxi-item>		
										<dxi-item 
											dataField="triggerAcctgWorkflow"
											[label]="{ text : 'Trigger Accounting Workflow' }"
											[editorOptions]="{ disabled: false }"
											template="slideToggleTemplate">			
										</dxi-item>																						
										<div *dxTemplate="let data of 'controlTypeTemplate'">
										    <dx-select-box 
										    	[dataSource]="data.editorOptions.items" 
										    	[(value)]="formField[data.dataField]" 
										    	[searchEnabled]="true" 
										    	valueExpr="devExTemplate" 
										    	displayExpr="controlType"
										    	(onValueChanged)="controlTypeChanged($event)"
										    ></dx-select-box>
										</div>
										<div *dxTemplate="let data of 'dataTypeTemplate'">
										    <dx-select-box 
										    	[dataSource]="data.editorOptions.items" 
										    	[(value)]="formField[data.dataField]" 
										    	[searchEnabled]="true"
										    ></dx-select-box>
										</div>
										<div *dxTemplate="let data of 'slideToggleTemplate'">
										    <mat-slide-toggle [name]="data.dataField" [(checked)]="formField[data.dataField]" (change)="handleToggleChange($event)"></mat-slide-toggle>
										</div>
									</dx-form>
								</mat-card-content>
							</mat-card>
						</div>
						<div class="col-md-6 dbl-bottom-margin">
							<mat-card>
								<mat-card-header>
									<mat-card-title>Control Type / Data Type Configuration</mat-card-title>
								</mat-card-header>
								<mat-card-content>
									<div class="control-type-config" *ngIf="formField.dxTemplate == 'selectBoxTemplate'">
										<div class="dropdown-controls">											
											<div class="controls-left">
												<dx-select-box
									                [items]="dropdowns"
									                placeholder="Choose Dropdown"
									                valueExpr="id"
									                displayExpr="name"
									                [searchEnabled]="true"
									                (onValueChanged)="dropdownChanged($event)"
									                [(value)]="formField.dropdownId"
									            ></dx-select-box>
								               	<button *ngIf="!creatingDropdown" class="btn btn-link" (click)="createNewDropdown()">Create Dropdown</button>
								               	<dx-text-box *ngIf="creatingDropdown" placeholder="New Dropdown" [(value)]="newDropdownName">
													<dxi-button name="cancel" location="after" [options]="newDropdownCancelButton"></dxi-button>
													<dxi-button name="save" location="after" [options]="newDropdownSaveButton"></dxi-button>
								            	</dx-text-box>										            
								            </div>
								            <div class="controls-right">	            												            
									            <button class="btn btn-primary" (click)="addDropdownValue()">Add Value</button>
											</div>
						               	</div>								               	
										<div class="values-grid-container">
											<dx-data-grid #dropdownValueGrid
												id="dropdownValueContainer"
												[dataSource]="dropdownValues"
												[showColumnLines]="false"
												[showRowLines]="true"
												[showBorders]="true"
												[rowAlternationEnabled]="true" 
												keyExpr="id"
												(onRowInserted)="postDropdownValue($event)">	
												<dxo-editing 
											         mode="row"
											         [allowUpdating]="true"
											         [allowDeleting]="true"
											         [useIcons]="true">
											    </dxo-editing>	
											    <dxo-row-dragging
										            [allowReordering]="true"
										            [onReorder]="onReorder"
										            [showDragIcons]="true"
										        ></dxo-row-dragging>	
										        <dxo-header-filter [visible]="true"></dxo-header-filter>   
											    <dxo-scrolling mode="virtual"></dxo-scrolling>
											    <dxo-sorting mode="none"></dxo-sorting>
											    <dxi-column dataField="display"></dxi-column>
											    <dxi-column dataField="value"></dxi-column>
											    <dxi-column dataField="parentValue"></dxi-column>
											    <dxi-column dataField="isActive" caption="Active" [width]="96"></dxi-column>	
											    <dxi-column type="buttons" [width]="80">
											        <dxi-button name="edit"></dxi-button>
											        <dxi-button name="delete"></dxi-button>													        
											    </dxi-column>					    
											</dx-data-grid>
										</div>
										<dx-form 
											[(formData)]="formField"
											colCount="1"
											labelLocation="left"
											[showColonAfterLabel]="false">
											<dxi-item 
												dataField="dropdownSortOrder"
												[label]="{ text : 'Sort Order' }"
												[editorOptions]="{ items: sortOrders, disabled: false }"
												editorType="dxSelectBox">			
											</dxi-item>
											<dxi-item 
												[label]="{ text : 'Allow Clear' }"				
												template="slideToggleTemplate">								
											</dxi-item>
											<dxi-item 
												[label]="{ text : 'Multi-select' }"				
												template="slideToggleTemplate">								
											</dxi-item>
											<dxi-item 
												dataField="parentDropdownId"
												[label]="{ text : 'Parent Dropdown' }"
												[editorOptions]="{ items: dropdowns, disabled: false }"
												template="parentDropdownTemplate">			
											</dxi-item>
											<dxi-item 
												dataField="hasDefaultValue"
												[label]="{ text : 'Has Default Value' }"
												[editorOptions]="{ disabled: false }"
												template="slideToggleTemplate"
												>			
											</dxi-item>	
											<dxi-item
												dataField="defaultValue"
												[label]="{ text : 'Default Value' }"
												[editorOptions]="{ disabled: false }"
												editorType="dxTextBox"
												[(visible)]="formField.hasDefaultValue">		
											</dxi-item>
											<div *dxTemplate="let data of 'slideToggleTemplate'">
											    <mat-slide-toggle [name]="data.dataField" [(checked)]="formField[data.dataField]" (change)="handleToggleChange($event)"></mat-slide-toggle>
											</div>
											<div *dxTemplate="let data of 'parentDropdownTemplate'">
											    <dx-select-box [dataSource]="data.editorOptions.items" [searchEnabled]="true" valueExpr="id" displayExpr="name" [disabled]="data.editorOptions.disabled"></dx-select-box>
											</div>
										</dx-form>
									</div>
									<div class="control-type-config" *ngIf="formField.dxTemplate == 'radioButtonTemplate'">
										<div class="dropdown-controls">											
											<div class="controls-left">
												<dx-select-box
									                [items]="dropdowns"
									                placeholder="Choose Radio Group"
									                valueExpr="id"
									                displayExpr="name"
									                [searchEnabled]="true"
									                (onValueChanged)="dropdownChanged($event)"
									                [(value)]="formField.dropdownId"
									            ></dx-select-box>
								               	<button *ngIf="!creatingDropdown" class="btn btn-link" (click)="createNewDropdown()">Create Radio Group</button>
								            	<dx-text-box *ngIf="creatingDropdown" placeholder="New Radio Group" [(value)]="newDropdownName">
													<dxi-button name="cancel" location="after" [options]="newDropdownCancelButton"></dxi-button>
													<dxi-button name="save" location="after" [options]="newDropdownSaveButton"></dxi-button>
								            	</dx-text-box>										            
								            </div>
								            <div class="controls-right">	            												            
									            <button class="btn btn-primary" (click)="addDropdownValue()">Add Value</button>
											</div>
										</div>
										<div class="values-grid-container">
											<dx-data-grid #dropdownValueGrid
												id="dropdownValueContainer"
												[dataSource]="dropdownValues"
												[showColumnLines]="false"
												[showRowLines]="true"
												[showBorders]="true"
												[rowAlternationEnabled]="true" 
												keyExpr="id"
												(onRowInserted)="postDropdownValue($event)">	
												<dxo-editing 
											         mode="row"
											         [allowUpdating]="true"
											         [allowDeleting]="true"
											         [useIcons]="true">
											    </dxo-editing>	
											    <dxo-row-dragging
										            [allowReordering]="true"
										            [onReorder]="onReorder"
										            [showDragIcons]="true"
										        ></dxo-row-dragging>	
										        <dxo-header-filter [visible]="true"></dxo-header-filter>   
											    <dxo-scrolling mode="virtual"></dxo-scrolling>
											    <dxo-sorting mode="none"></dxo-sorting>
											    <dxi-column dataField="display"></dxi-column>
											    <dxi-column dataField="value"></dxi-column>
											    <dxi-column dataField="isActive" caption="Active" [width]="96"></dxi-column>	
											    <dxi-column type="buttons" [width]="80">
											        <dxi-button name="edit"></dxi-button>
											        <dxi-button name="delete"></dxi-button>													        
											    </dxi-column>					    
											</dx-data-grid>
										</div>
										<dx-form 
											[(formData)]="formField"
											colCount="1"
											labelLocation="left"
											[showColonAfterLabel]="false">
											<dxi-item 
												dataField="hasDefaultValue"
												[label]="{ text : 'Has Default Value' }"
												[editorOptions]="{ disabled: false }"
												template="slideToggleTemplate"
												>			
											</dxi-item>	
											<dxi-item
												dataField="defaultValue"
												[label]="{ text : 'Default Value' }"
												[editorOptions]="{ disabled: false }"
												editorType="dxTextBox"
												[(visible)]="formField.hasDefaultValue">		
											</dxi-item>
											<div *dxTemplate="let data of 'slideToggleTemplate'">
											    <mat-slide-toggle [name]="data.dataField" [(checked)]="formField[data.dataField]" (change)="handleToggleChange($event)"></mat-slide-toggle>
											</div>
										</dx-form>
									</div>
									<div class="control-type-config" *ngIf="formField.dxTemplate == 'clauseTemplate'">
										<dx-form 
											colCount="1"
											labelLocation="left"
											[showColonAfterLabel]="false">
											<dxi-item 
												[label]="{ text : 'Use Doc / Sec / Page' }"				
												template="slideToggleTemplate">								
											</dxi-item>
											<dxi-item 
												[label]="{ text : 'Clause Bank' }"				
												template="slideToggleTemplate">								
											</dxi-item>
											<dxi-item 
												dataField="hasDefaultValue"
												[label]="{ text : 'Has Default Value' }"
												[editorOptions]="{ disabled: false }"
												template="slideToggleTemplate"
												>			
											</dxi-item>	
											<dxi-item
												dataField="defaultValue"
												[label]="{ text : 'Default Value' }"
												[editorOptions]="{ disabled: false }"
												editorType="dxTextBox"
												[(visible)]="formField.hasDefaultValue">		
											</dxi-item>
											<div *dxTemplate="let data of 'slideToggleTemplate'">
											    <mat-slide-toggle [name]="data.dataField" [(checked)]="formField[data.dataField]" (change)="handleToggleChange($event)"></mat-slide-toggle>
											</div>
										</dx-form>
									</div>
									<div class="control-type-config" *ngIf="formField.dxTemplate == 'textBoxTemplate'">
										<dx-form 
											[(formData)]="formField"
											colCount="1"
											labelLocation="left"
											[showColonAfterLabel]="false">
											<dxi-item 
												dataField="maxLength"
												[label]="{ text : 'Max Length' }"				
												editorType="dxTextBox"
												*ngIf="formField.dataType == 'Text < 50' || formField.dataType == 'Text < 400'">
											</dxi-item>
											<dxi-item 
												dataField="decimalPrecision"
												[label]="{ text : 'Decimal Precision' }"				
												editorType="dxNumberBox"
												*ngIf="formField.dataType == 'Currency' || formField.dataType == 'Percent' || formField.dataType == 'Decimal'">
											</dxi-item>
											<dxi-item 
												[label]="{ text : 'Thousands Separator' }"				
												template="slideToggleTemplate"
												*ngIf="formField.dataType == 'Currency' || formField.dataType == 'Integer' || formField.dataType == 'Decimal' || formField.dataType == 'Percent'">
											</dxi-item>
											<dxi-item 
												dataField="minValue"
												[label]="{ text : 'Min Value' }"				
												editorType="dxNumberBox"
												*ngIf="formField.dataType == 'Currency' || formField.dataType == 'Integer' || formField.dataType == 'Decimal'">
											</dxi-item>
											<dxi-item 
												dataField="maxValue"
												[label]="{ text : 'Max Value' }"				
												editorType="dxNumberBox"
												*ngIf="formField.dataType == 'Currency' || formField.dataType == 'Integer' || formField.dataType == 'Decimal'">
											</dxi-item>
											<dxi-item 
												dataField="percentBase"
												[label]="{ text : 'Percent Base' }"
												[editorOptions]="{ items : [1, 100] }"				
												editorType="dxSelectBox"
												*ngIf="formField.dataType == 'Percent'">
											</dxi-item>
											<dxi-item 
												dataField="hasDefaultValue"
												[label]="{ text : 'Has Default Value' }"
												[editorOptions]="{ disabled: false }"
												template="slideToggleTemplate"
												>			
											</dxi-item>	
											<dxi-item
												dataField="defaultValue"
												[label]="{ text : 'Default Value' }"
												[editorOptions]="{ disabled: false }"
												editorType="dxTextBox"
												[(visible)]="formField.hasDefaultValue">		
											</dxi-item>
											<div *dxTemplate="let data of 'slideToggleTemplate'">
											    <mat-slide-toggle [name]="data.dataField" [(checked)]="formField[data.dataField]" (change)="handleToggleChange($event)"></mat-slide-toggle>
											</div>
										</dx-form>
									</div>
								</mat-card-content>
							</mat-card>
						</div>								
					</div>
				</dx-scroll-view>
			</dxi-item>						
			<dxi-item title="Styling" class="oflow-y-auto">
				<dx-scroll-view width="100%" height="100%" class="dbl-padding">							
				</dx-scroll-view>
			</dxi-item>						
			<dxi-item title="Usage" class="oflow-y-auto">
				<dx-scroll-view width="100%" height="100%" class="dbl-padding">	
					<dx-data-grid #formFieldUseGrid
						id="formFieldUseContainer"
						[dataSource]="formFieldUse"
						[showColumnLines]="false"
						[showRowLines]="true"
						[showBorders]="true"
						[rowAlternationEnabled]="true" 
						keyExpr="id">																    
				        <dxo-header-filter [visible]="true"></dxo-header-filter>   
					    <dxo-scrolling mode="virtual"></dxo-scrolling>
					    <dxo-sorting mode="multiple"></dxo-sorting>
					    <dxi-column dataField="form" caption="Form"></dxi-column>
					    <dxi-column dataField="section" caption="Section"></dxi-column>
					    <dxi-column dataField="formFieldLabel" caption="Label"></dxi-column>
					    <dxi-column dataField="leftNavName"></dxi-column>
					    <dxi-column dataField="objectTypeType"></dxi-column>						    
					</dx-data-grid>					
				</dx-scroll-view>
			</dxi-item>						
		</dx-tab-panel>
	</popup-content>
	<popup-footer>
		<popup-footer-right>
			<button class="btn btn-default" (click)="remove()">Remove</button> 
			<button class="btn btn-default" (click)="cancel()">Cancel</button> 
			<button class="btn btn-primary" (click)="save()">Save</button> 
		</popup-footer-right>
	</popup-footer>
</costar-popup>

