.sites-wrapper{
  width: 300px;
}

.site-toggles-container{
  display: grid;
  grid-template-columns: 70% 30%;
}

.mat-card {
  background-color: inherit !important;
  box-shadow: none !important;
}

.mat-card-header-text {
  margin: 0px !important;
}