@use "styles" as *;

.sites-wrapper{
  width: 200px;
}
.site-toggles-container{
  display: grid;
  grid-template-columns: 70% 30%;
}

.mat-mdc-card {
  background-color: inherit !important;
  box-shadow: none !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  @include costar(background-color, primary-lighter);
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  @include costar(background-color, primary-light);
}

.disabled-label{
  @include costar(color, gray02);
}



.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #0559b3;
  --mdc-switch-selected-handle-color: #0559b3; 
  --mdc-switch-selected-hover-state-layer-color: #0559b3;
  --mdc-switch-selected-pressed-state-layer-color: #0559b3;

  --mdc-switch-selected-focus-handle-color: #669bd1;
  --mdc-switch-selected-hover-handle-color: #669bd1; 
  --mdc-switch-selected-pressed-handle-color: #669bd1;

  --mdc-switch-selected-focus-track-color: #669bd1;
  --mdc-switch-selected-hover-track-color: #669bd1;
  --mdc-switch-selected-pressed-track-color: #669bd1;
  --mdc-switch-selected-track-color: #669bd1; 
}


