<div class="sites-wrapper">
	<mat-card>	
		<mat-card-header>
			<mat-card-title>Sites</mat-card-title>
		</mat-card-header>	
		<mat-card-content>		
			<div class="site-toggles-container" *ngFor="let site of sites; let i = index">
				<div *ngIf="!site.isActive" class="disabled-label">{{site.clientKey}}</div>
				<div *ngIf="site.isActive">{{site.clientKey}}</div>
				<div>
					<mat-slide-toggle
						[checked]="site.apiAccess"
						[disabled]="!site.isActive"
						(change)="updateApiAccess($event, i)"
					></mat-slide-toggle>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>

