<div class="api-keys-wrapper">
	<mat-card>	
		<mat-card-header>
			<mat-card-title>Sites</mat-card-title>
		</mat-card-header>	
		<mat-card-content>	
			<div class="mx-auto">					
				<!-- <form id="form" [formGroup]="sitesForm" (ngSubmit)="toggleSite()">		 -->
				<form id="form">	
					<div *ngFor="let site of sites; let i = index">
						<mat-slide-toggle [(ngModel)]="settingsData.assignRelativeRanges"
							id="relativeRangesToggle"
							(change)="toggleSite($event)"
						></mat-slide-toggle>
					</div>
				</form>
			</div>
		</mat-card-content>
	</mat-card>
</div>

