<div class="dashboard">
	<div class="dashboard-controls-wrapper">
		<div class="controls-left">
			<div>
				<dx-select-box [dataSource]="peersetdata" valueExpr="peerset" displayExpr="peerset"></dx-select-box>
			</div>
			<button class="btn btn-default btn-sm">Apply</button>
		</div>
		<div class="controls-right">
			<button class="btn btn-primary btn-sm">Add</button>
			<button class="btn btn-default btn-sm">
				<fa-icon icon="cog"></fa-icon>
			</button>
		</div>
	</div>
	<div class="dashboard-content-wrapper">
		<div class="dashboard-hero-wrapper">
			<div *ngFor="let hero of heros">
				<dashboard-hero-card *ngIf="hero.visible" [title]="hero.title" [heroMetric]="hero.hero"
					[sidekickMetricA]="hero.sidekick" [subtitle]="hero.subtitle" [tooltip]="hero.helpText">
				</dashboard-hero-card>
			</div>
		</div>
		<div class="dashboard-cards-wrapper">
			<div class="row">
				<div class="col-md-12">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Lease Ongoing RSF</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<dx-chart id="rangeAreaChartOngoing"  [dataSource]="inflationData">
								<dxo-common-series-settings argumentField="date" type="rangeArea">
								</dxo-common-series-settings>
								<dxi-value-axis [tickInterval]="10" [valueMarginsEnabled]="false"
									[visualRange]="{startValue:0,endValue:100}">
									<dxo-label [customizeText]="customizeValueAxisText"></dxo-label>
								</dxi-value-axis>
								<dxo-argument-axis [valueMarginsEnabled]="false">
									<dxo-label format="month"></dxo-label>
								</dxo-argument-axis>
								<dxo-tooltip [enabled]="true" [shared]="true" [customizeTooltip]="customizeTooltip">
								</dxo-tooltip>
								<dxo-export [enabled]="true"></dxo-export>
								<dxi-series rangeValue1Field="valHigh2" rangeValue2Field="valLow2" name="Peer Range">
								</dxi-series>
								<dxi-series type="spline" valueField="mydataongoing" name="My Data">
								</dxi-series>
								<dxi-series type="spline" valueField="costar" name="CoStar">
								</dxi-series>
								<dxo-legend verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
							</dx-chart>
							<dx-data-grid id="gridContainerOngoing" #grid [dataSource]="ongoingrsfdata"
								[showRowLines]="true" [showBorders]="true"
								[rowAlternationEnabled]="true">
								<dxi-column dataField="ID" caption="Ongoing RSF"></dxi-column>
								<dxi-column caption="2020">
									<dxi-column caption="Apr" dataField="Apr2020OngoingRSF"></dxi-column>
									<dxi-column caption="May" dataField="May2020OngoingRSF"></dxi-column>
									<dxi-column caption="Jun" dataField="Jun2020OngoingRSF"></dxi-column>
									<dxi-column caption="Jul" dataField="Jul2020OngoingRSF"></dxi-column>
									<dxi-column caption="Aug" dataField="Aug2020OngoingRSF"></dxi-column>
									<dxi-column caption="Sep" dataField="Sep2020OngoingRSF"></dxi-column>
									<dxi-column caption="Oct" dataField="Oct2020OngoingRSF"></dxi-column>
									<dxi-column caption="Nov" dataField="Nov2020OngoingRSF"></dxi-column>
									<dxi-column caption="Dec" dataField="Dec2020OngoingRSF"></dxi-column>
								</dxi-column>
								<dxi-column caption="2021">
									<dxi-column caption="Jan" dataField="Jan2021OngoingRSF"></dxi-column>
									<dxi-column caption="Feb" dataField="Feb2021OngoingRSF"></dxi-column>
									<dxi-column caption="Mar" dataField="Mar2021OngoingRSF"></dxi-column>
								</dxi-column>
							</dx-data-grid>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Lease Signing RSF</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<dx-chart id="rangeAreaChartInitial" [dataSource]="inflationData">
								<dxo-common-series-settings argumentField="date" type="rangeArea">
								</dxo-common-series-settings>
								<dxi-value-axis [tickInterval]="10" [valueMarginsEnabled]="false"
									[visualRange]="{startValue:0,endValue:100}">
									<dxo-label [customizeText]="customizeValueAxisText"></dxo-label>
								</dxi-value-axis>
								<dxo-argument-axis [valueMarginsEnabled]="false">
									<dxo-label format="month"></dxo-label>
								</dxo-argument-axis>
								<dxo-tooltip [enabled]="true" [shared]="true" [customizeTooltip]="customizeTooltip">
								</dxo-tooltip>
								<dxo-export [enabled]="true"></dxo-export>
								<dxi-series rangeValue1Field="valHigh" rangeValue2Field="valLow" name="Peer Range">
								</dxi-series>
								<dxi-series type="spline" valueField="mydata" name="My Data">
								</dxi-series>
								<dxi-series type="spline" valueField="costar" name="CoStar">
								</dxi-series>
								<dxo-legend verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
							</dx-chart>
							<dx-data-grid id="gridContainerInitial" [dataSource]="initialrsfdata" palette="Green Mist"
								[columnAutoWidth]="true" [showBorders]="true" [allowColumnReordering]="true"
								[rowAlternationEnabled]="true">
								<dxi-column dataField="ID" caption="Initial RSF"></dxi-column>
								<dxi-column caption="2020">
									<dxi-column caption="Apr" dataField="Apr2020InitialRSF"></dxi-column>
									<dxi-column caption="May" dataField="May2020InitialRSF"></dxi-column>
									<dxi-column caption="Jun" dataField="Jun2020InitialRSF"></dxi-column>
									<dxi-column caption="Jul" dataField="Jul2020InitialRSF"></dxi-column>
									<dxi-column caption="Aug" dataField="Aug2020InitialRSF"></dxi-column>
									<dxi-column caption="Sep" dataField="Sep2020InitialRSF"></dxi-column>
									<dxi-column caption="Oct" dataField="Oct2020InitialRSF"></dxi-column>
									<dxi-column caption="Nov" dataField="Nov2020InitialRSF"></dxi-column>
									<dxi-column caption="Dec" dataField="Dec2020InitialRSF"></dxi-column>
								</dxi-column>
								<dxi-column caption="2021">
									<dxi-column caption="Jan" dataField="Jan2021InitialRSF"></dxi-column>
									<dxi-column caption="Feb" dataField="Feb2021InitialRSF"></dxi-column>
									<dxi-column caption="Mar" dataField="Mar2021InitialRSF"></dxi-column>
								</dxi-column>
							</dx-data-grid>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Operating Expenses</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<dx-chart id="rangeAreaChartOpex" [dataSource]="inflationData">
								<dxo-common-series-settings argumentField="date" type="rangeArea"></dxo-common-series-settings>
								<dxi-value-axis [tickInterval]="10" [valueMarginsEnabled]="false" [visualRange]="{startValue:0,endValue:100}"><dxo-label [customizeText]="customizeValueAxisText2"></dxo-label></dxi-value-axis>
								<dxo-argument-axis [valueMarginsEnabled]="false"><dxo-label format="month"></dxo-label></dxo-argument-axis>
								<dxo-export [enabled]="true"></dxo-export>
								<dxi-series rangeValue1Field="OpexPHi" rangeValue2Field="OpexPLo" name="Peer Range"></dxi-series>
								<dxi-series type="spline" valueField="OpexMe" name="My Data"></dxi-series>
								<dxi-series type="spline" valueField="OpexCo" name="CoStar"></dxi-series>
								<dxo-legend verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
							</dx-chart>
							<dx-data-grid id="gridContainerOpex" [dataSource]="opexdata" [columnAutoWidth]="true"
								[showBorders]="true" [allowColumnReordering]="true"
								[rowAlternationEnabled]="true">
								<dxi-column dataField="ID" caption="Operating Expenses"></dxi-column>
								<dxi-column caption="2020">
									<dxi-column caption="Apr" dataField="Apr2020Opex"></dxi-column>
									<dxi-column caption="May" dataField="May2020Opex"></dxi-column>
									<dxi-column caption="Jun" dataField="Jun2020Opex"></dxi-column>
									<dxi-column caption="Jul" dataField="Jul2020Opex"></dxi-column>
									<dxi-column caption="Aug" dataField="Aug2020Opex"></dxi-column>
									<dxi-column caption="Sep" dataField="Sep2020Opex"></dxi-column>
									<dxi-column caption="Oct" dataField="Oct2020Opex"></dxi-column>
									<dxi-column caption="Nov" dataField="Nov2020Opex"></dxi-column>
									<dxi-column caption="Dec" dataField="Dec2020Opex"></dxi-column>
								</dxi-column>
								<dxi-column caption="2021">
									<dxi-column caption="Jan" dataField="Jan2021Opex"></dxi-column>
									<dxi-column caption="Feb" dataField="Feb2021Opex"></dxi-column>
									<dxi-column caption="Mar" dataField="Mar2021Opex"></dxi-column>
								</dxi-column>
							</dx-data-grid>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Occupancy</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<dx-chart id="rangeAreaChartOCC" [dataSource]="inflationData">
								<dxo-common-series-settings argumentField="date" type="spline">
								</dxo-common-series-settings>
								<dxi-value-axis [tickInterval]="10" [valueMarginsEnabled]="false"
									[visualRange]="{startValue:0,endValue:100}">
									<dxo-label [customizeText]="customizeValueAxisText2"></dxo-label>
								</dxi-value-axis>
								<dxo-argument-axis [valueMarginsEnabled]="false">
									<dxo-label format="month"></dxo-label>
								</dxo-argument-axis>
								<dxo-export [enabled]="true"></dxo-export>
								<dxi-series valueField="OCCMe" name="My Data"></dxi-series>
								<dxi-series valueField="OCCP" name="Peer"></dxi-series>
								<dxi-series valueField="OCCCo" name="CoStar"></dxi-series>
								<dxo-legend verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
							</dx-chart>
							<dx-data-grid id="gridContainerOCC" [dataSource]="occupancypctdata" [columnAutoWidth]="true"
								[showBorders]="true" [allowColumnReordering]="true"
								[rowAlternationEnabled]="true">
								<dxi-column dataField="ID" caption="Occupancy"></dxi-column>
								<dxi-column caption="2020">
									<dxi-column caption="Apr" dataField="Apr2020OccupancyPct"></dxi-column>
									<dxi-column caption="May" dataField="May2020OccupancyPct"></dxi-column>
									<dxi-column caption="Jun" dataField="Jun2020OccupancyPct"></dxi-column>
									<dxi-column caption="Jul" dataField="Jul2020OccupancyPct"></dxi-column>
									<dxi-column caption="Aug" dataField="Aug2020OccupancyPct"></dxi-column>
									<dxi-column caption="Sep" dataField="Sep2020OccupancyPct"></dxi-column>
									<dxi-column caption="Oct" dataField="Oct2020OccupancyPct"></dxi-column>
									<dxi-column caption="Nov" dataField="Nov2020OccupancyPct"></dxi-column>
									<dxi-column caption="Dec" dataField="Dec2020OccupancyPct"></dxi-column>
								</dxi-column>
								<dxi-column caption="2021">
									<dxi-column caption="Jan" dataField="Jan2021OccupancyPct"></dxi-column>
									<dxi-column caption="Feb" dataField="Feb2021OccupancyPct"></dxi-column>
									<dxi-column caption="Mar" dataField="Mar2021OccupancyPct"></dxi-column>
								</dxi-column>
							</dx-data-grid>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Lease Signings per Month</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<dx-chart id="rangeSigningsperMonth" [dataSource]="inflationData">
								<dxo-common-series-settings argumentField="date" type="bar">
								</dxo-common-series-settings>
								<dxi-value-axis [tickInterval]="5" [valueMarginsEnabled]="false"
									[visualRange]="{startValue:0,endValue:20}">
								</dxi-value-axis>
								<dxo-argument-axis [valueMarginsEnabled]="false">
									<dxo-label format="month"></dxo-label>
								</dxo-argument-axis>
								<dxo-export [enabled]="true"></dxo-export>
								<dxi-series valueField="leasessignedme" name="My Data"></dxi-series>
								<dxi-series valueField="leasessignedpeer" name="Peer"></dxi-series>
								<dxo-legend verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
							</dx-chart>
						</mat-card-content>
					</mat-card>
				</div>
				<div class="col-md-6">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Average Term at Signing</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<dx-chart id="rangeSigningsperMonth" [dataSource]="inflationData">
								<dxo-common-series-settings argumentField="date" type="bar">
								</dxo-common-series-settings>
								<dxi-value-axis [tickInterval]="5" [valueMarginsEnabled]="false"
									[visualRange]="{startValue:0,endValue:25}">
								</dxi-value-axis>
								<dxo-argument-axis [valueMarginsEnabled]="false">
									<dxo-label format="month"></dxo-label>
								</dxo-argument-axis>
								<dxo-export [enabled]="true"></dxo-export>
								<dxi-series valueField="leasetermme" name="My Data"></dxi-series>
								<dxi-series valueField="leasetermpeer" name="Peer"></dxi-series>
								<dxo-legend verticalAlignment="bottom" horizontalAlignment="center"></dxo-legend>
							</dx-chart>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Brokerage Performance</mat-card-title>
						</mat-card-header>
						<mat-card-content>
Brokerages by signing RSF over/under peer set 
						</mat-card-content>
					</mat-card>
				</div>
				<div class="col-md-6">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Performance by Star Rating</mat-card-title>
						</mat-card-header>
						<mat-card-content>
How are my locations performing by quality of location by NER or Opex or RSF
						</mat-card-content>
					</mat-card>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Average Construction Allowance</mat-card-title>
						</mat-card-header>
						<mat-card-content>
What is the average CA at signing period 
						</mat-card-content>
					</mat-card>
				</div>
				<div class="col-md-6">
					<mat-card class="dbl-margin">
						<mat-card-header>
							<mat-card-title>Average TI Allowance</mat-card-title>
						</mat-card-header>
						<mat-card-content>
What is the average TI at signing period 
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</div>
	</div>
</div>