<div class="list-page">
	<div class="list-page-controls-wrapper">
		<div class="controls-left">
			<h5 class="dbl-right-margin">Batch Accounting</h5>	
			<costar-search (changed)="searchDataGrid($event)"></costar-search>
		</div>
		<div class="controls-right">
			<button class="btn btn-default" (click)="showFilterBuilder()">
				Filters 
				<div *ngIf="appliedFilterCount > 0 && !showClearFilters" class="badge primary costar std-left-margin" (mouseover)="toggleClearFilters()">
					{{appliedFilterCount}}
				</div>
				<div *ngIf="appliedFilterCount > 0 && showClearFilters" class="badge primary costar std-left-margin underline" (mouseout)="toggleClearFilters()" (click)="clearGridFilters($event)">
					Clear {{appliedFilterCount}} Filters
				</div>
			</button>
			<button class="btn btn-default" [matMenuTriggerFor]="moreMenu">More <fa-icon icon="caret-down"></fa-icon></button>
			<mat-menu #moreMenu="matMenu">				
				<button mat-menu-item (click)="exportDataGrid()">Export</button>   								
			</mat-menu>			
			<button class="btn btn-primary" (click)="navigateToAddRoute()"><fa-icon icon="plus"></fa-icon> Add</button>			
		</div>
	</div>
	<div class="list-page-data-grid-wrapper">
		<dx-data-grid 
			class="list-page-data-grid"
			#DataGrid
			[dataSource]="remeasures"
			[showColumnLines]="false"
			[showRowLines]="false"
			[showBorders]="false"
			[rowAlternationEnabled]="true" 
			(onRowClick)="navigateToObject($event)"
			[allowColumnResizing]="true"
			[allowColumnReordering]="true"
			[columnAutoWidth]="true"
			[filterSyncEnabled]="true"
			(onContentReady)="calculateAppliedFilterCount($event)"
			[columnMinWidth]="10"	
		>
			<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>    
			<dxo-grouping #expand [autoExpandAll]="isExpanded" [contextMenuEnabled]="true"></dxo-grouping>
			<!-- <dxo-scrolling mode="virtual"></dxo-scrolling> -->
			<dxo-sorting mode="multiple"></dxo-sorting>
			<dxo-column-fixing [enabled]="true"></dxo-column-fixing>
			<dxo-column-chooser [allowSearch]="true" mode="select">
			</dxo-column-chooser>
			<dxo-paging [pageSize]="100"></dxo-paging>
		    <dxo-pager 
		        [showPageSizeSelector]="true"
		        [allowedPageSizes]="[50, 100, 200, 500]"
		        [showInfo]="true"
		        [showNavigationButtons]="true">
		    </dxo-pager>
			<dxo-filter-builder-popup 
				[width]="600"	
				[height]="600"			
				[(visible)]="filterBuilderVisible">
			</dxo-filter-builder-popup>			
			<dxo-master-detail  [enabled]="true" template="masterDetail"></dxo-master-detail>
			<dxi-column *ngFor="let col of columns" 
				[dataField]="col.dataField" 
				[alignment]="col.alignment"
				[visible]="col.visible"
				[dataType]="col.dataType"
				[caption]="col.caption"
				[fixed]="col.fixed"
				[allowEditing]="col.allowEditing"
				[cellTemplate]="col.cellTemplate"
				>
				<dxo-format *ngIf="col.dataType == 'number' && col.precision >= 0 " type="fixedPoint" [precision]="col.precision"></dxo-format>
			</dxi-column>
			<dxi-column type="buttons" width="60">
		    	<dxi-button
		    		template="moreMenuTemplate"   		
		    	>
		    		<div *dxTemplate="let data of 'moreMenuTemplate'">
		    			<!-- <button *ngIf="!(
							data.data.batchStatus === 'Validating' ||
							data.data.batchStatus === 'Processing'
						)" class="btn btn-link" (click)="$event.stopPropagation()" [matMenuTriggerFor]="expenseMoreMenu"><mat-icon>more_horiz</mat-icon></button>
		    			<mat-menu #expenseMoreMenu="matMenu" class="remeasure_validation">
				    		<ul>                        
								<li *ngIf="data.data.batchStatus === 'Validation Complete' ||
								data.data.batchStatus === 'Queued for Processing' ||
								data.data.batchStatus === 'Complete' ||
								data.data.batchStatus === 'Complete with Error' ||
								data.data.batchStatus === 'Canceled' ||
								data.data.batchStatus === 'System Error'
								"
								(click)="actionMenuCallback('download')">Download</li>
								<li *ngIf="data.data.batchStatus === 'Validation Complete' ||
								data.data.batchStatus === 'Queued for Validation' ||
								data.data.batchStatus === 'Validation Complete' ||
								data.data.batchStatus === 'Queued for Processing'
								"
								(click)="cancelModalToggle()">Cancel</li>                      
		                    </ul>
				    	</mat-menu> -->
						<button class="btn btn-link" (click)="$event.stopPropagation()"><mat-icon>download</mat-icon></button>
		    		</div>
		    	</dxi-button>		    	
		    </dxi-column>								
			<div *dxTemplate="let detail of 'masterDetail'">
				<div>
					<div style="display:flex;font-size:12px">
						Measure Event: {{remeasureParameters[0].measureEvent}} | Next Workflow Status: {{remeasureParameters[0].nextWorkflowStatus}}
					</div>
				</div>
				<dx-data-grid [dataSource]="remeasureParameters" [showBorders]="true" [columnAutoWidth]="true">
					<dxi-column dataField="accountingTermBeginDate" dataType="string"></dxi-column>
					<dxi-column dataField="accountingTermEndDate" dataType="string"></dxi-column>
					<dxi-column dataField="classificationType" dataType="string"></dxi-column>
					<dxi-column dataField="defaultManualAssetAdjustment" dataType="string"></dxi-column>
					<dxi-column dataField="discountRateProfile" dataType="string"></dxi-column>
					<dxi-column dataField="journalEntryProfile" dataType="string"></dxi-column>
				</dx-data-grid>
			</div>			
			<div *dxTemplate="let data of 'remeasureStatusTemplate'">
				<button *ngIf="data.value == 'Complete' || data.value == 'Validation Complete' || data.value == 'Queued for Processing' || data.value == 'Queued for Validation' || data.value == 'Complete with Error'" class="btn btn-default btn-sm" [class.batch-ready]="data.value == 'Complete' || data.value == 'Validation Complete'" [class.batch-queued]="data.value == 'Queued for Processing' || data.value == 'Queued for Validation'" [class.batch-error]="data.value == 'Complete with Error'" (click)="$event.stopPropagation()" [matMenuTriggerFor]="batchStatusMenu">{{data.value}} <fa-icon icon="caret-down"></fa-icon></button>
				<mat-menu #batchStatusMenu="matMenu">
					<ul>                        
						<li *ngIf="data.value == 'Validation Complete'">Queue for Processing</li>
						<li *ngIf="data.value == 'Complete' || data.value == 'Complete with Error'">Reverse</li>                        
						<li *ngIf="data.value == 'Queued for Processing' || data.value == 'Validation Complete' || data.value == 'Queued for Validation'" (click)="cancelModalToggle()">Cancel</li>                        
					</ul>
				</mat-menu>
				<ng-container *ngIf="data.value != 'Complete' && data.value != 'Validation Complete' && data.value != 'Queued for Processing' && data.value != 'Queued for Validation' && data.value != 'Complete with Error'">
					{{data.value}}
				</ng-container>
			</div>			
		</dx-data-grid>		
	</div>	
</div>

<dx-popup
	[width]="400"
	[height]="320"
	[showTitle]="true"
	title="Confirm Batch Cancellation"
	[dragEnabled]="true"
	[closeOnOutsideClick]="false"
	[(visible)]="cancelModalVisible">
	<div *dxTemplate="let data of 'content'" class="popup-no-padding">
		<costar-popup>
			<popup-content>	
				<div class="dbl-padding">		        			
					Canceling the batch will remove and unlock all related leases and schedules from the queue.
				</div>			
			</popup-content>
			<popup-footer>		
				<popup-footer-right>
					<button class="btn btn-default" (click)="cancelModalToggle()">Cancel</button> 
					<button class="btn btn-primary" (click)="cancelModalToggle()">Confirm</button> 
				</popup-footer-right>
			</popup-footer>
		</costar-popup>			
	</div>
</dx-popup>