@import '../../../../../../../assets/styles/colors.scss';
@import '../../../../../../../assets/styles/var.scss';


button {
    &.batch-ready {
        border-color: $green;
        color: $green;
    }

    &.batch-queued {
        border-color: $yellow;
        color: $yellow;
    }

    &.batch-error {
        border-color: $red;
        color: $red;
    }
}