<dx-drop-down-box 
    [(value)]="selectedItems"
    [valueExpr]="dropdownData.valueExpr"
    [displayExpr]="dropdownData.displayExpr"
    [placeholder]="dropdownData.placeholder"
	(onValueChanged)="dropdownChange($event)"
    [showClearButton]="dropdownData.allowClear"
	[dataSource]="dropdownData.items"
	[readOnly]="isReadOnly"
	[(opened)]="isOpened"  
	(onOpened)="openDropdown($event)"  
    >
    <div *dxTemplate="let data of 'content'" class="costar-dropdown">
	    <dx-data-grid
			[dataSource]="dropdownData.items"
			[hoverStateEnabled]="true"
			[scrolling]="{ mode: 'virtual' }"
			[elementAttr]="{ style: 'max-height: 345px;', class : 'select-box-dropdown-data-grid'}"
			[keyExpr]="dropdownData.valueExpr"
			[(selectedRowKeys)]="selectedItems"
			(onSelectionChanged)="selectionChanged()"
			[showColumnHeaders]="dropdownData.showColumnHeader"
			[showColumnLines]="false"
			>
			<dxo-filter-row 
				[visible]="dropdownData.showSearchRow" 
			></dxo-filter-row>
			<dxo-selection
	            [showCheckBoxesMode]="checkboxesMode"
	            [mode]="dropdownData.selectMode"
	        ></dxo-selection>
	        <dxi-column
	        	id="theColumn"
			    [dataField]="dropdownData.displayExpr"
			    [caption]="dropdownData.placeholder"
				sortIndex="0"
				sortOrder="asc">
			</dxi-column>
	    </dx-data-grid>
	</div>	
</dx-drop-down-box>

