.no-portfolio-selected {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-size: 28px;
    color: #B1B3B0;
}

:host ::ng-deep .mat-horizontal-stepper-content {
    height:100%;
    flex-direction: column;
}

:host ::ng-deep .mat-menu-panel {
    min-height: 0px !important;
    background-color: #0559B3;
    border-color: #0559B3;
    color: white;
}

.disabled {
    cursor: default;
}

:host ::ng-deep .dx-cell-focus-disabled {
    cursor: default;
}

.hidden {
    display: none;
}