/* You can add global styles to this file, and also import other style files */
@use '../../../mango/src/assets/styles/colors';

/* You can add global styles to this file, and also import other style files */
@import "../../../../libs/ui-shared/lib-ui-elements/src/lib/dropdown/dropdown.component.scss";
@import "../../../../libs/ui-shared/lib-ui-elements/src/lib/modal/modal.component.scss";
@import "../../../mango/src/assets/styles/colors.scss";
@import "../../../mango/src/assets/styles/var.scss";
@import "../../../mango/src/assets/styles/costar-mango.scss";

body { margin: 0 !important }

.client-delivery {
  cs-search {
    border: none !important;

    mat-form-field.mat-form-field {
      width: 200px;
      margin-right: 8px;
      height: 32px;

      div.mat-form-field-wrapper {
        padding: 0;
        margin: 0;

        div.mat-form-field-flex {
          padding: 0px;
          margin-top: 0px;
        }
      }
    }

    mat-form-field.mat-form-field.mat-form-field-appearance-outline div.mat-form-field-wrapper div.mat-form-field-flex {
      div.mat-form-field-infix {
        padding: 0px !important;
        overflow: visible !important;
        height: 32px !important;
        border: 1px solid #c3c3c3 !important;
        background: white !important;
        margin-top: 0px !important;
        padding-left: 8px !important;
        font-size: 16px !important;
        display: flex;
        min-width: 200px;
        align-items:center;

        mat-icon.mat-icon.notranslate.icon-brand-search svg {
            top: 4px;
            position: relative;
            fill: #a3a3a3;
        }
      }
    
      .mat-form-field-suffix {
        right: 0px;
        position: absolute;
        
        mat-icon.mat-icon.notranslate.icon-brand-close svg {
            fill: #a3a3a3;
            position: relative;
            cursor: pointer;
            margin-top: 3px;
            transform: translateY(-3px);
        }
      }

      .mat-input-element:focus {
        border: 0px !important;
      }
    }	

    input.search__input.mat-input-element {
      margin-right: 28px;
      border: none ;
      padding: 0px ;
      font-size: 16px ;
    }
  }
}

.client-delivery-modal {
  .modalHeader {
    color: white;
    background-color: colors.$costarDarkBlue !important;
    padding: 10px 10px 10px 20px !important;
  }
  
  .modal-title {
    font-size: 18px !important;
  }
  
  .modalContent {
    font-size: 14px !important;
    padding: 20px 10px 20px 20px !important;

    input.form-control {
      display: inline-block !important;
      font-size: 14px !important;
    }
  } 

  .btn-secondary {
    background-color: #fff !important;
    background-color: var(--costar-color-light, #ffffff) !important;
    color: var(--costar-color-dark, #000) !important;
    border: 0.5px solid #C8C8C8 !important;
  }
}



