tr.description-row {
  white-space: normal;
}

b {
  font-weight: 800;
}

.emailToggle,
.sharedToggle {
  display: flex;
  justify-content: center;
}

::ng-deep div.dx-overlay-wrapper {
  &.aetRoleCustomClass {
    .dx-overlay-content {
      min-width: 200px;
      .dx-popup-content {
        min-height: 24vh !important;
        height: 24vh !important;
        .dx-scrollable-wrapper {
          max-height: 24vh;
        }
      }
    }
  }
}
