@use 'styles' as *;
fa-icon {
  display: block;
  height: 20px;
  width: 20px;
  color: black;
}

#addEditTaskAssigneesModal-content {
  .add-edit-task-assignees-buttons-wrapper {
    display: flex;
    justify-content: space-between;

    #aeta-add-assignees-div {
      width: 350px;
    }

    #aeta-remove-assignees-div {
      margin-bottom: 8px;
      .aeta-removeText {
        height: 16px;
        transform: translateY(3px);
      }
      .aeta-removeIcon {
        transform: scale(0.8);
      }
    }
  }
}
.footerRightControls {
  display: flex;
  & > .aet-btn {
    margin-left: 8px;
  }
  .modalFooter {
    @include costar(border-top, gray05);
  }
}
