<crem-modal
  [modalTitle]="modalTitle"
  [primaryFooterButtonText]="'Save'"
  [closeOrCancelButtonText]="'Cancel'"
  [closeIconVisible]="true"
  [closeDialogResult]="saveTaskAssigneesResult"
  [modalId]="modalId"
  [dragPosition]="dragPosition"
  (primaryButtonAction)="saveAssigneesButtonClick()"
  (dragEndAction)="getDragPosition($event)"
>
  <div modalContent id="addEditTaskAssigneesModal-content">
    <div class="add-edit-task-assignees-buttons-wrapper">
      <div id="aeta-add-assignees-div">
        <crem-dropdown
          id="aeta-addAssigneesId"
          #AssigneesDropdown
          dropDownContainerCustomClass="aeta-addAssignees-custClass"
          [showColumnHeader]="true"
          placeholder="Add Assignees"
          displayExpr="fullName"
          valueExpr="contactID"
          showCheckBoxesMode="always"
          showClearButton="true"
          allowSearch="true"
          selectMode="multiple"
          [dataSource]="assigneesDropdownList"
          [showDefaultValidationTooltip]="false"
          [initialSelectedValue]="initialDropdownSelectedAssignees"
          useArrayOfKeys="true"
          getWholeObject="true"
          (selectedItems)="selectedAssigneesEvent($event)"
        ></crem-dropdown>
      </div>
      <div id="aeta-remove-assignees-div">
        <crem-button
          id="remove-assignees-button"
          type="secondary"
          (click)="
            removeSelectedAssigneesButtonClick(); $event.preventDefault()
          "
          [disabled]="removeButtonDisabled"
          class="aeta-removeSelected"
        >
          <fa-icon [icon]="faCircleMinus" class="aeta-removeIcon"></fa-icon>
          <span class="aeta-removeText">Remove</span>
        </crem-button>
      </div>
    </div>

    <div class="add-edit-task-assignees-dataGrid-wrapper">
      <dx-data-grid
        #AssigneesGrid
        id="add-edit-task-assignees-grid"
        [showColumnLines]="false"
        [showRowLines]="false"
        [showBorders]="false"
        [rowAlternationEnabled]="true"
        [allowColumnResizing]="true"
        columnResizingMode="widget"
        [allowColumnReordering]="true"
        [columnAutoWidth]="false"
        [dataSource]="taskAssignees"
        [hoverStateEnabled]="true"
        keyExpr="contactID"
        [width]="'100%'"
        height="570px"
        [wordWrapEnabled]="true"
        noDataText="No Assignees"
        (onSelectionChanged)="gridSelectionChanged($event)"
      >
        <dxo-scrolling mode="virtual"></dxo-scrolling>

        <dxo-load-panel [enabled]="true"> </dxo-load-panel>

        <dxo-selection
          showCheckBoxesMode="always"
          mode="multiple"
        ></dxo-selection>

        <dxi-column dataField="contactName" caption="Assignee"></dxi-column>
        <dxi-column dataField="approvalStatus" caption="Progress"></dxi-column>
        <dxi-column
          dataField="systemDate"
          caption="System Date"
          dataType="date"
          [format]="userDateFormat"
        ></dxi-column>
        <dxi-column
          dataField="userApprovalDate"
          caption="Modified Date"
          dataType="date"
          [format]="userDateFormat"
        ></dxi-column>

        <dxi-column
          caption=""
          width="40"
          [fixed]="true"
          cssClass="aeta-remove"
          fixedPosition="right"
          [allowSorting]="false"
          [allowReordering]="false"
          [allowResizing]="false"
          [cellTemplate]="'actionsMenuTemplate'"
        ></dxi-column>
        <div
          *dxTemplate="let member of 'actionsMenuTemplate'"
          class="actionsMenuTemplate"
        >
          <button
            aria-label="remove assignee"
            class="btn btn-link teamMemberActionsButton"
            id="{{ 'memberDelete' + member.rowIndex }}"
            (click)="
              removeAssigneeButtonClick(member.data.contactID);
              $event.preventDefault()
            "
            [matMenuTriggerFor]="teamMemberActionsMenu"
          >
            <fa-icon [icon]="faCircleMinus"></fa-icon>
          </button>
        </div>
      </dx-data-grid>
    </div>
  </div>
</crem-modal>
