<h1 mat-dialog-title>Edit Nav Page - {{data.name}}</h1>
<div mat-dialog-content style="max-height: inherit;">
	<div class="row dynamic-form">
		<div class="col-md-12">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Nav Page Details</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div class="row">
						<div class="col-md-6">
							<mat-form-field appearance="outline">
								<mat-label>Display Name</mat-label>
								<input matInput [value]="data.name">
							</mat-form-field>
							<mat-form-field appearance="outline">
								<mat-label>Page Type</mat-label>
								<input matInput [value]="data.pageType">
							</mat-form-field>
							<mat-form-field appearance="outline">
								<mat-label>Dynamic Form</mat-label>
								<input matInput [value]="data.form">
							</mat-form-field>							
						</div>
						<div class="col-md-6">
							<mat-form-field appearance="outline">
								<mat-label>Object Type</mat-label>
								<input matInput [value]="data.objectType" disabled>
							</mat-form-field>
							<mat-form-field appearance="outline">
								<mat-label>Template</mat-label>
								<input matInput [value]="data.objectTemplateName" disabled>
							</mat-form-field>
							<mat-slide-toggle [checked]="data.isLanding">Is Landing</mat-slide-toggle>							
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>		
	</div>
	<div class="row dynamic-form">
		<div class="col-md-12">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Nav Page Restrictions</mat-card-title>
				</mat-card-header>
				<mat-card-content class="no-padding">
					<div class="rights-table">
						<div class="row">
							<div class="col-md-12 dbl-padding">
								<mat-radio-group (change)="toggleType($event)">
									<mat-radio-button value="Groups">Groups</mat-radio-button>
									<mat-radio-button value="Users" [checked]=true>Users</mat-radio-button>
								</mat-radio-group>	
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-9">
										<mat-form-field appearance="outline" class="rights-table-search">
											<input matInput placeholder="Search">
										</mat-form-field>
									</div>
									<div class="col-md-3">
										<button class="btn btn-success btn-sm rights-table-button" [matMenuTriggerFor]="addRestrictionMenu">Add Selected</button>
										<mat-menu #addRestrictionMenu="matMenu">
											<button mat-menu-item (click)="assign('view', availableGrid.instance.getSelectedRowsData())"> View Only </button>
											<button mat-menu-item> Blocked </button>
										</mat-menu>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" style="height: 200px;">
										<dx-data-grid #availableGrid
											id="availableUsersContainer"
											[dataSource]="availableObjects"
											[showColumnLines]="false"
											[showRowLines]="true"
											[showBorders]="true"
											[rowAlternationEnabled]="true" 
											keyExpr="id">	
											<dxo-selection
											    [selectAllMode]="true"
											    [showCheckBoxesMode]="false"
											    mode="multiple"
											></dxo-selection>
											<!-- <dxo-paging [pageSize]="5"></dxo-paging>
											<dxo-pager 
											    [showPageSizeSelector]="true"
											    [allowedPageSizes]="[5, 10]"
											    [showInfo]="true">
											</dxo-pager> -->										
										    <dxo-scrolling mode="virtual"></dxo-scrolling>
										    <dxi-column dataField="id"></dxi-column>
										    <dxi-column dataField="firstName" *ngIf="showUsers"></dxi-column>
										    <dxi-column dataField="lastName" *ngIf="showUsers"></dxi-column>
										    <dxi-column dataField="name" *ngIf="!showUsers"></dxi-column>										    
										</dx-data-grid>

									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-9">
										<mat-form-field appearance="outline" class="rights-table-search">
											<input matInput placeholder="Search">
										</mat-form-field>
									</div>
									<div class="col-md-3">
										<button class="btn btn-danger btn-sm rights-table-button" (click)="remove(selectedGrid.instance.getSelectedRowsData())">Remove Selected</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" style="height: 200px;">
										<dx-data-grid #selectedGrid
											id="selectedUsersContainer"
											[dataSource]="selectedObjects"
											[showColumnLines]="false"
											[showRowLines]="true"
											[showBorders]="true"
											[rowAlternationEnabled]="true" 
											keyExpr="id">	
											<dxo-selection
											    [selectAllMode]="true"
											    [showCheckBoxesMode]="false"
											    mode="multiple"
											></dxo-selection>
											<!-- <dxo-paging [pageSize]="5"></dxo-paging>
											<dxo-pager 
											    [showPageSizeSelector]="true"
											    [allowedPageSizes]="[5, 10]"
											    [showInfo]="true">
											</dxo-pager> -->										
										    <dxo-scrolling mode="virtual"></dxo-scrolling>
										    <dxi-column dataField="id"></dxi-column>
										    <dxi-column dataField="firstName" *ngIf="showUsers"></dxi-column>
										    <dxi-column dataField="lastName" *ngIf="showUsers"></dxi-column>
										    <dxi-column dataField="name" *ngIf="!showUsers"></dxi-column>										    
										</dx-data-grid>

									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-card-content>
			</mat-card>
		</div>		
	</div>
</div>
<div mat-dialog-actions [align]="'end'">
	<button class="btn btn-default dbl-right-margin" (click)="onNoClick()">Cancel</button>  
	<button class="btn btn-primary" (click)="onNoClick()">Save</button>  	
</div>