@use 'src/assets/styles/colors';

$menuWidth: 275px;
$menuItemHeight: 32px;
/**
 * :host :ng-deep: It will work from that component down (Into the children, grand children etc).
 */
:host ::ng-deep {
  .list-view-button {
    width: $menuWidth;
    height: $menuItemHeight;
    background-color: colors.$white;
    border: 1px solid colors.$gray5;
    display: flex;
    justify-content: space-between;

    &:hover,
    :focus,
    :focus-visible {
      background-color: colors.$white;
      border-color: rgba(51, 122, 183, 0.4);
    }

    &:focus {
      border-color: rgba(51, 122, 183, 0.4);
    }
    span {
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      padding-top: 2px;
    }

    svg {
      padding-top: 6px;
    }

    fa-icon {
      border-radius: 2px;
      color: colors.$costarBlue;
      height: 26px;
      margin: -6px -5px 0 0;
      width: $menuItemHeight;
    }

    &:hover {
      fa-icon {
        background-color: colors.$navGray;
        margin: -6px -5px 0 0;
      }
    }

    &[aria-expanded='true'] {
      fa-icon {
        background-color: colors.$color-neutral-medium;
      }
    }
  }

  .limit-width {
    width: $menuWidth;
  }

  .gray {
    color: colors.$gray;
    padding-left: 1rem;
    padding-top: 4.5pt;
  }

  .info-menu {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 8px 0;

      li {
        padding: 4px 16px;
        cursor: default;
        line-height: 16px;
        color: colors.$color-neutral-medium;

        &:hover {
          background-color: unset;
        }
      }
    }
  }

  .sharing-check {
    float: right;
    color: colors.$costarBlue;
  }

  .mat-accordion {
    position: relative;
    z-index: 100;
  }

  .mat-list {
    padding: 0;
    width: 275px;
    border: 1px solid rgba(51, 51, 51, 0.15);
  }
  .mat-expansion-panel {
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);
    border-radius: 0;
    padding: 0 !important;
    margin: 0 !important;

    header.mat-expanded {
      height: $menuItemHeight;
    }

    .mat-expansion-panel-body {
      padding: 2px 5px 2px;
    }

    .mat-expansion-panel-header {
      font-size: 14px;
      height: $menuItemHeight;
      font-weight: 400;

      &:focus {
        background-color: colors.$gray5;
      }
    }
  }

  .mat-list-item {
    font-size: 14px !important;
    height: $menuItemHeight !important;
  }

  .dbl-left-margin {
    margin-left: 16px !important;
    font-size: 14px;
  }

  .view-list-item-flex button {
    background: transparent;
    border: 0;
    font-size: 14px !important;
    text-align: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .view-list-item-flex button:hover {
    background: colors.$gray6;
  }

  .view-list-item-flex button:focus {
    outline: colors.$blueShade solid 2px;
    outline-offset: -3px;
  }

  .info-menu-ul {
    margin-top: 10px;
    background-color: colors.$costarBlue;
  }

  .view-list-item-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
  }

  .mdc-list-item.mdc-list-item--with-one-line {
    height: 35px;
  }
}

/**
 * ng-deep: Global style, 'cdk-overlay-container' is render without an ecapsulation selector
 */
::ng-deep {
  .cdk-overlay-container {
    .cdk-overlay-pane {
      .cdk-focused.cdk-mouse-focused {
        outline: none;
      }
      .mat-mdc-menu-panel {
        max-width: unset;
        overflow: hidden;
        min-height: unset;

        .mat-mdc-menu-content {
          &:not(:empty) {
            padding: 0;
          }
          .mat-list {
            padding-top: 0;
            width: $menuWidth;

            .mat-expansion-panel {
              border-bottom: 1px solid rgba(51, 51, 51, 0.15);
              border-radius: 0;
              .mat-expansion-panel-body {
                padding: 7px 24px 7px !important;

                .mat-list-item {
                  font-size: 14px !important;
                  height: $menuItemHeight !important;
                  .mat-list-item-content {
                    padding: 0 0 0 16px;
                  }
                }
              }
              &:last-of-type {
                border-bottom: none;
              }
            }
          }
          .view-list-item-flex {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-weight: 400;

            span:not(.dbl-left-margin) {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 100%;
            }
            .view-list-item {
              .mat-menu-trigger {
                background-color: transparent;
                border: none;
                color: colors.$costarBlue;
                outline: none;
                padding-left: 1rem;
              }

              &.dbl-left-margin {
                button {
                  background-color: transparent;
                  border: none;
                  color: colors.$costarBlue;
                }
              }
            }
          }
        }

        &.portfolio-menu {
          max-height: 450px;
          overflow-y: auto;
          width: 200px;
        }
      }
    }
  }

  .info-menu-ul {
    margin-top: 10px;
    margin-right: 15px;
  }
  .mat-menu-child-button {
    min-height: 35px;
    line-height: 35px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);

    span.mat-mdc-menu-item-text {
      font-size: 14px !important;
    }
  }

  .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0px !important;
  }
}

// TODO: In use?
.scroll-view-content {
  max-height: 345px !important;
}
