@use 'styles' as *;

.actions-container {
  display: flex;
  gap: 8px;
}

.grid {
  height: calc(100% - 80px);
}

::ng-deep #object-history-grid-section {
  table.dx-datagrid-table {
    tbody {
      tr.dx-row.dx-data-row {
        &:hover {
          cursor: default;

          td {
            cursor: default;
          }
        }
      }
    }
  }

  .dx-datagrid-group-panel .dx-group-panel-item {
    @include costar(color, dark);
    font-weight: 500;
  }

  .dx-datagrid-header-panel .dx-toolbar {
    @include costar(margin-bottom, 2);
    @include costar(margin-top, 2);
    @include costar(padding-left, 2);
  }

  a {
    @include costar(color, primary-light);
  }
}

:host ::ng-deep {
  .dx-datagrid-drag-header {
    height: auto !important;
    width: auto !important;
    white-space: nowrap !important;
    min-height: 150px !important;
    max-height: 300px !important;
    overflow: hidden;
  }
}
