<div class="object-wrapper">
	<div class="object-banner hero">
		<div class="object-close" (click)="close()">
			<fa-icon icon="times"></fa-icon>
		</div>
		<div class="object-image"></div>
		<div class="object-header">
			<div class="object-subtitle">
				Lease - RE Portfolio
			</div>
			<div class="object-title">
				{{lease.PropertyName}}
			</div>
			<div class="object-subtitle">
				{{lease.Address1}}, {{lease.City}}, {{lease.State}} {{lease.ZipCode}}
			</div>			
		</div>
		<div class="object-hero-metric-wrapper">
			<!-- <div class="object-hero-metric">
				<div class="metric-value">{{lease.ClientLeaseId}}</div>				
				<div class="metric-subtitle">Client Lease ID</div>
			</div> -->
			<div class="object-hero-metric">
				<div class="metric-value">{{lease.RentableArea | number}}</div>				
				<div class="metric-subtitle">Rentable SF</div>
			</div>
			<div class="object-hero-metric">
				<div class="metric-value">$24,658</div>				
				<div class="metric-subtitle">Monthly Rent</div>
			</div>
			<div class="object-hero-metric">
				<div class="metric-value">${{lease.PSF}}</div>				
				<div class="metric-subtitle">Rent/SF</div>
			</div>
			<div class="object-hero-metric">
				<div class="metric-value">{{lease.LeaseExpiration}}</div>				
				<div class="metric-subtitle">Expiration Date</div>
			</div>			
			<div class="object-hero-metric">
				<div class="metric-value">{{lease.LeaseType}}</div>				
				<div class="metric-subtitle">Lease Type</div>
			</div>	
			<div class="object-hero-metric">
				<div class="metric-value">{{lease.CurrentTerm}}</div>				
				<div class="metric-subtitle">Current Term</div>
			</div>			
		</div>
		<div class="object-file-comments-notifications">
			<mat-icon class="clickable" [class.blue]="showComments" (click)="toggleSidenav('comments')">comment</mat-icon>
			<mat-icon class="clickable" [class.blue]="showFiles" (click)="toggleSidenav('files')">folder</mat-icon>	
			<mat-icon class="clickable" [class.blue]="showNotifications" (click)="toggleSidenav('notifications')">notifications</mat-icon>	
		</div>
	</div>
	<div class="object-content" id="objectContent">
		<mat-drawer-container>
			<mat-drawer mode="side" opened class="left-nav">
				<mat-nav-list>
					<mat-list>
						<mat-expansion-panel #PrivateDataPanel class="mat-elevation-z0" [class.open]="PrivateDataPanel.expanded" [expanded]="true">
		                    <mat-expansion-panel-header>
		                        <mat-panel-title>
		                            Private Data
		                        </mat-panel-title>
		                    </mat-expansion-panel-header>
							<mat-list-item [routerLink]="['abstract']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Abstract</span></mat-list-item>						
		                    <mat-list-item [routerLink]="['financials/charges']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Expense & Revenue</span></mat-list-item>
		                    <mat-list-item [routerLink]="['financials/allocations']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Allocations</span></mat-list-item>
		                    <mat-list-item [routerLink]="['financials/indexadjustments']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Adj. Rules</span></mat-list-item>
		                    <mat-list-item [routerLink]="['financials/mtm']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">MTM/Holdover</span></mat-list-item>
							<mat-list-item [routerLink]="['accounting']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Accounting</span></mat-list-item>
							<mat-list-item [routerLink]="['verification']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Lease Verification</span></mat-list-item>
							<mat-list-item [routerLink]="['subleases']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Subleases</span></mat-list-item>							
							<mat-list-item [routerLink]="['opex']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Opex</span></mat-list-item>
							<mat-list-item [routerLink]="['metrics']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Metrics</span></mat-list-item>
							<!-- <mat-list-item [routerLink]="['notes']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Notes</span></mat-list-item>
							<mat-list-item [routerLink]="['files']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Files</span></mat-list-item> -->
							<mat-list-item [routerLink]="['history']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">History</span></mat-list-item>
						</mat-expansion-panel>
					</mat-list>
					<mat-divider></mat-divider>
					<mat-expansion-panel #CoStarDataPanel class="mat-elevation-z0" [class.open]="CoStarDataPanel.expanded" [expanded]="false">
		                    <mat-expansion-panel-header>
		                        <mat-panel-title>
		                            CoStar Data
		                        </mat-panel-title>
		                    </mat-expansion-panel-header>
							<mat-list-item [routerLink]="['summary']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Summary</span></mat-list-item>
							<mat-list-item [routerLink]="['lease']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Lease</span></mat-list-item>
							<mat-list-item [routerLink]="['peers']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Peers</span></mat-list-item>
							<mat-list-item [routerLink]="['tenant']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Tenant</span></mat-list-item>
							<mat-list-item [routerLink]="['analytics']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Analytics</span></mat-list-item>
							<mat-list-item [routerLink]="['demographics']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Demographics</span></mat-list-item>
							<mat-list-item [routerLink]="['images']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Images</span></mat-list-item>	
							<mat-list-item [routerLink]="['contacts']" [routerLinkActive]="['active']"><span class="costar-left-nav-link">Contacts</span></mat-list-item>
						</mat-expansion-panel>
				</mat-nav-list>
			</mat-drawer>
			<mat-drawer-content>
				<mat-sidenav-container class="object-container" (backdropClick)="closeSidenav()">
					<mat-sidenav #sidenav (keydown.escape)="closeSidenav()" position="end" mode="over">
						<div class="comments" *ngIf="showComments">
							<div class="drawer-header">
								<h5>Comments</h5>
								<fa-icon icon="expand" class="clickable" (click)="launchObjectDrawerPopup()"></fa-icon>
							</div>
							<app-object-comments></app-object-comments>
						</div>
						<div class="files" *ngIf="showFiles">
							<div class="drawer-header">
								<h5>Files</h5>
								<fa-icon icon="expand" class="clickable" (click)="launchObjectDrawerPopup()"></fa-icon>
							</div>
							<app-object-files></app-object-files>
						</div>	
					</mat-sidenav>
					<mat-sidenav-content class="oflow-y-hidden">
						<router-outlet></router-outlet>
					</mat-sidenav-content>
				</mat-sidenav-container>
			</mat-drawer-content>
		</mat-drawer-container>
	</div>
</div>

<dx-popup
	#ObjectDrawerPopup
    width="70%"
    height="700"
    [showTitle]="true"
    [title]="objectDrawerPopupTitle"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [(visible)]="objectDrawerPopupVisible">
    <!-- <dxo-position
        my="top"
        at="top"
        of="#objectContent">
    </dxo-position> -->
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
    	<object-drawer-dialog (closed)="objectDrawerClosed()"></object-drawer-dialog>    	
    </div>
</dx-popup>	


