<div class="portfolio-object no-margin-wrapper">
	<div class="card page-card">
		<div class="card-header object-banner-1">
			<div class="object-close" >
				<fa-icon icon="times"></fa-icon>				
			</div>				
			<div class="object-header">				
				<h4 class="object-title">
					901 New York Ave NW
				</h4>
				<h6 class="object-subtitle">
					Washington, DC 20001
				</h6>				
				<h6 class="object-subtitle no-margins">
					Office - East End Submarket
				</h6>				
			</div>
			<div class="object-hero-wrapper">				
				<mat-card class="hero object-hero">
					<mat-card-header>
						<mat-card-subtitle>Total SF</mat-card-subtitle>
						<mat-card-title>539,435</mat-card-title>
					</mat-card-header>
				</mat-card>
				<mat-card class="hero object-hero">
					<mat-card-header>
						<mat-card-subtitle>Leased</mat-card-subtitle>
						<mat-card-title>69.12%</mat-card-title>
					</mat-card-header>
				</mat-card>
				<mat-card class="hero object-hero">
					<mat-card-header>
						<mat-card-subtitle>Available SF</mat-card-subtitle>
						<mat-card-title>166,580</mat-card-title>
					</mat-card-header>
				</mat-card>
				<mat-card class="hero object-hero">
					<mat-card-header>
						<mat-card-subtitle>Prospects</mat-card-subtitle>
						<mat-card-title>2</mat-card-title>
					</mat-card-header>
				</mat-card>
				<mat-card class="hero object-hero">
					<mat-card-header>
						<mat-card-subtitle>Touring</mat-card-subtitle>
						<mat-card-title>0</mat-card-title>
					</mat-card-header>
				</mat-card>
				<mat-card class="hero object-hero">
					<mat-card-header>
						<mat-card-subtitle>Proposals</mat-card-subtitle>
						<mat-card-title>0</mat-card-title>
					</mat-card-header>
				</mat-card>				
				<mat-card class="hero object-hero">
					<mat-card-header>
						<mat-card-subtitle>LOI</mat-card-subtitle>
						<mat-card-title>0</mat-card-title>
					</mat-card-header>
				</mat-card>				
				<mat-card class="hero object-hero">
					<mat-card-header>
						<mat-card-subtitle>Exposure Level</mat-card-subtitle>
						<mat-card-title>Standard</mat-card-title>
					</mat-card-header>
				</mat-card>				
			</div>	
			<div class="public-private">
				<div [matMenuTriggerFor]="PublicPrivateMenu">Private View <fa-icon icon="caret-down"></fa-icon></div>
				<mat-menu #PublicPrivateMenu="matMenu">
					<button mat-menu-item>Public View</button>
				</mat-menu>
			</div>
		</div>
		<div class="card-block object-content-1">
			<div class="object-controls-wrapper object-left-nav">
				<div class="object-nav-left">
					<mat-drawer-container>
						<mat-drawer mode="side" opened>
							<mat-nav-list>
								<mat-list class="left-nav-list">
									<mat-expansion-panel #MarketingPanel class="mat-elevation-z0" [class.open]="MarketingPanel.expanded" [expanded]="true">
					                    <mat-expansion-panel-header>
					                        <mat-panel-title>
					                            Marketing
					                        </mat-panel-title>
					                    </mat-expansion-panel-header>
					                    <mat-list-item [routerLink]="['marketing-listing']" [routerLinkActive]="['mat-button-toggle-checked']">Listing</mat-list-item>
					                    <mat-list-item [routerLink]="['marketing-performance']" [routerLinkActive]="['mat-button-toggle-checked']" >Performance</mat-list-item>
	            	                    <mat-list-item [routerLink]="['marketing-cdx-mail']" [routerLinkActive]="['mat-button-toggle-checked']" >CDX Mail</mat-list-item>
					                    <mat-list-item [routerLink]="['marketing-leads']" [routerLinkActive]="['mat-button-toggle-checked']" >Leads</mat-list-item>
					                </mat-expansion-panel>
									<mat-list-item [routerLink]="['deals']" [routerLinkActive]="['mat-button-toggle-checked']">Deals</mat-list-item>
									<mat-list-item>Stacking Plan</mat-list-item>
									<mat-list-item>Tenants</mat-list-item>
									<mat-list-item>Valuation</mat-list-item>
									<mat-list-item>Market Data</mat-list-item>									
								</mat-list>								
							</mat-nav-list>
						</mat-drawer>
						<mat-drawer-content class="dbl-padding">							
							<router-outlet></router-outlet>						
						</mat-drawer-content>
					</mat-drawer-container>
				</div>
			</div>
		</div>
	</div>
</div>
