@use 'colors';
#addEditMemberModal-content {
  .label {
    margin-bottom: 2px;
    margin-top: 8px;
  }

  & > div {
    padding: 10px 0;
  }

  .aet-email-shared {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .emailToggle, .sharedToggle {
      width: 100%;
      margin-top: 12px;

      h4.label {
        transform: translateY(-3px);
      }
    }
  }

  .descContent {
    outline: none;
    width: 100%;
    min-height: 30px;
    border-color: colors.$borderColor;
    border-radius: 2px;
    padding-left: 8px;

    &:focus {
      box-shadow: 0 0 0 0.1rem colors.$primary;
    }
  }

  .assgnedTasksHdr, .aet-firstLastName, .aet-expirationTypeDate {
    display: flex;
    justify-content: space-between;
  }

  .assgnedTasksHdr crem-tooltip {
    margin-top: 10px;
  }

  .assignedTask-details {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 4px;

    .assignedTask-stepandName {
      display: flex;
      justify-content: flex-start;
      color: colors.$mediumDarkGray;

      .assignedTask-name {
        margin-left: 8px;
        max-width: 330px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        word-break: break-all;
        white-space: nowrap;
      }

      .taskName {
        overflow: visible;
        text-overflow: ellipsis;
      }
    }
  }

  .aet-firstLastName, .aet-expirationTypeDate {
    width: 100%;

    .firstName, .lastName, .expirationType, .expirationDate {
      width: 100%
    }

    .lastName, .expirationDate {
      margin-left: 8px;
    }
  }

  .aet-outstandingRoles {
    height: 40px;
    display: flex;
    justify-content: space-between;

    .roleLabel {
      display: inline;
    }

    .seperatorLine {
      margin: 8px 0;
    }

    .outstandingRolesCount {
      font-size: 14px;
      margin-left: 20px;
    }
  }

  .dx-selectbox.dx-invalid {
    border-color: #d9534f;
  }

  .fieldInvalid {
    color: #d9534f;
  }
}

.footerRightControls {
  display: flex;

  & > .aem-btn {
    margin-left: 8px;
  }

  .modalFooter {
    border-top: 1px solid colors.$borderColor;
  }
}

.aet-members  .aet-membersDropDown {
  input.dx-texteditor-input {
    font-size: 16px;
  }
}

.levelTemplate  {
  .levelDesc {
    margin-left: 8px;
  }
}
