<crem-modal
  [modalTitle] = "modalTitle"
  [customFooter]="true"
  [closeIconVisible] = "closeButton"
  [closeDialogResult]="reloadMainGrid"
  [modalId] = "modalId"
>
<div modalContent id="addEditMemberModal-content">
  <div class="aet-members" *ngIf="operation=='ATM' || operation=='ETM'">
    <h4 class="nameLabel label">Name</h4>
    <div id="container">
      <dx-drop-down-box 
          class="aet-membersDropDown"
          placeholder="Start typing to search for additional users"
          [value]="selectedMember"
          [(opened)]="isMemberDropDownBoxOpened" 
          [disabled]="operation == 'ETM'? true : false"
          (onInput)="searchTeamMembers($event.event.target.value)"
          (onEnterKey)="toggleList()"
          (onOpened)="focusOnDropDownInput($event)"
          [openOnFieldClick]="false"
          [acceptCustomValue]="true"
          [showClearButton]="true"
          [inputAttr]="{'aria-label': 'Enter Matching Criteria', 'name': 'memberSelection'}"
      >
      <dxo-drop-down-options [focusStateEnabled]="true"></dxo-drop-down-options>
          <dx-list 
              #SelectionMembersList
              id="aet-membersList"
              [dataSource]="filteredMembers" 
              selectionMode="single"
              itemTemplate="membersListTemplate"
              [activeStateEnabled]="false" 
              [elementAttr]="{'aria-label': 'List of Members to Select'}"
              (onItemClick)="onMemberClicked($event)"  
              (onSelectionChanged)="selectionChanged($event)" 
              (onItemRendered)="onItemRendered($event)"           

          >
            <div *dxTemplate="let member of 'membersListTemplate'"  >
              <div>
                <span class="aet-addPlusIcon"><mat-icon aria-label="">add_circle</mat-icon></span>
                <span class="aet-memberData">
                  <span class=aet-memberName>{{member.Name}}</span>
                  <span class="aet-company"> - {{member.Company}}</span>
                  <span class="aet-email"> - {{member.Email}}</span>
                </span>
              </div>  
            </div>
          </dx-list>
      </dx-drop-down-box>
    </div>
  </div>
  <div class="aet-name" *ngIf="operation=='ATU' || operation=='ETU' || operation=='AC'">
    <h4 class="nameLabel label">Name</h4>
    <div class="aet-firstLastName">
      <div class="firstName">
        <dx-text-box
          placeholder="First Name"
          [(value)]="firstName"
          [disabled]="operation == 'ETU'? true : false"
          [inputAttr]="{ 'aria-label': 'First Name' }"
        ></dx-text-box>
      </div>
      <div class="lastName">
        <dx-text-box
          placeholder="Last Name"
          [(value)]="lastName"
          [disabled]="operation == 'ETU'? true : false"
          [inputAttr]="{ 'aria-label': 'Last Name' }"
        ></dx-text-box>
      </div>
    </div>
  </div>
  <div class="aet-email" *ngIf="operation== Operations.ATU || operation=='ETU' || operation == Operations.AC">
    <h4 class="nameLabel label">Email</h4>
      <dx-text-box
        placeholder="Enter Email Address"
        [(value)]="emailId"
        [disabled]="operation == 'ETU'? true : false"
        [inputAttr]="{ 'aria-label': 'Name' }"
      ></dx-text-box>
  </div>
  <div class="aet-email-shared" *ngIf="operation !== Operations.AC">
    <div class="emailToggle">
      <mat-slide-toggle  [labelPosition]="labelPosition" [checked]="emailNotificationChecked" 
        (change)="emailtoggle($event)" aria-label="Email Notication"
      >
        <h4 class="label">Email Notifications</h4>
      </mat-slide-toggle>
    </div>
    <div class="sharedToggle" 
      *ngIf="(clientSettingPreference == '1' || clientSettingPreference == '2') && (operation == Operations.ATM || operation == Operations.ETM)">
      <mat-slide-toggle  [labelPosition]="labelPosition" [checked]="sharedChecked"
        (change)="sharedtoggle($event)" aria-label="Shared"
      >
        <h4 class="label">Shared</h4>
      </mat-slide-toggle>
    </div>
  </div>
  <div class="aet-outstandingRoles" *ngIf="outstandingRoles.length">
    <h4 class="roleLabel label">Outstanding Roles</h4>
    <span class="outstandingRolesCount">{{outstandingRoles.length}} roles waiting to be assigned</span>
    <crem-tooltip
      [externalId]="'outstandingRolesToolTipId'"
      [helpTextData]="outstandingRolesHelpText"
    ></crem-tooltip>
  </div>
  <div class="aet-role">
    <h4 class="roleLabel label">Role</h4>
      <dx-select-box 
        class="aet-role-selectBox"
        placeholder="Assign Role"
        [value]="selectedRole"
        [dataSource]="memberInfo.roles"
        valueExpr="role"
        displayExpr="role"
        [inputAttr]="{'aria-label': 'Select Role', 'name': 'roleSelection', 'class': 'aet-role-selectList'}"
        [elementAttr]="{'aria-label': 'Select from Available Roles', 'class': 'aet-role-selectionList'}"
        (onSelectionChanged)="roleSelected($event)"
      >
      </dx-select-box>
  </div>
  <div class="aet-level" *ngIf="operation !== Operations.AC">
    <h4 class="levelLabel label">Level</h4>
    <dx-select-box 
      class="aet-level-selectBox"
      placeholder="Assign Level"
      [value]="selectedLevel"
      [dataSource]="memberInfo.levels"
      valueExpr="level"
      displayExpr="level"
      itemTemplate="level"
      [inputAttr]="{'aria-label': 'Select Level', 'name': 'levelSelection', 'class': 'aet-level-selectList'}"
      (onSelectionChanged)="levelSelected($event)"
    >
      <div *dxTemplate="let data of 'level'" class="levelTemplate">
        <div class="level">{{data.level}}<span class="levelDesc" [title]="data.description">{{data.description}}</span></div>
      </div>
    </dx-select-box>
  </div>
  <div class="aet-expirationType" *ngIf="operation==Operations.ATU || operation==Operations.ETU">
    <h4 class="expirationTypeLabel label">Expiration Type</h4>
    <div class="aet-expirationTypeDate">
      <div class="expirationType">
        <dx-select-box 
          class="aet-expirationType-selectBox"
          placeholder="Select Expiration Type"
          [value]="expirationType"
          [dataSource]="expirationTypes"
          valueExpr="value"
          displayExpr="expType"
          [inputAttr]="{'aria-label': 'Select Expiration Type', 'name': 'expirationType', 'class': 'aet-expirationType-list'}"
          (onSelectionChanged)="expirationTypeSelected($event)"
        >
        </dx-select-box>
      </div>
      <div class="expirationDate" *ngIf="isExpirationDateSelected">
        <ng-container *ngIf="true">
          <dx-date-box 
            type="date"
            [value]="expirationDate"
            [displayFormat]="cardsService.dateFormat"
            (onValueChanged)="setExpirationDate($event)"
            [inputAttr]="{'aria-label': 'Select Date', 'name': 'dateSelection', 'class': 'aet-expDate'}"
          ></dx-date-box>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="aet-description">
    <h4 class="descLabel label">Description</h4>
    <textarea aria-label="description"  (input)="descriptionValueChanged($event)" [value]="description" class="descContent" rows="1"> </textarea>
  </div>
  <div class="aet-assignedTasks" *ngIf="operation !== Operations.AC && projectTaskList.length">
    <div class="assgnedTasksHdr">
      <h4 class="descLabel label">Assigned Tasks</h4>
      <crem-tooltip
      [externalId]="'assignedTasksToolTipId'"
      [helpTextData]="'Check the box next to the Task to assign user to tasks. 
                       Uncheck to unassign the user from the task. Click Save or Apply to lock in changes.'"
    ></crem-tooltip>
    </div>
    <div class="assignedTasks-container">
      <ng-container *ngFor="let task of projectTaskList">
        <div class="assignedTask-details">
          <div class="assignedTask-stepandName">
            <dx-check-box
              class="assignedTask-checkbox"
              aria-label="Check to select a role"
              [value]= "operation == 'ETM' || operation == 'ETU'? checkTask(task) : false"
              [elementAttr]="{ 'class': 'taskListCheckbox' }"
              (onValueChanged)="updateTask($event, task)"
            ></dx-check-box>
            <div class="assignedTask-name">{{task.taskId}} -- {{task.step}}&#41; <span class="taskName" [title]="task.taskName">{{task.taskName}}</span></div>
          </div>
          <div class="assignedTask-status">{{task.approvalStatus}}</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div modalFooter class="addEditTeamModal-footerContent">
  <div id="buttonTemplate" class="footerRightControls">
    <crem-button  type="secondary" class="cancelChanges aem-btn" (click)="closeModal()"> Cancel </crem-button>
    <crem-button  [type]=buttonType class="saveChanges aem-btn" (click)="saveMember('save')" [disabled]="applySaveButtonDisabled"> Save </crem-button>
		<crem-button  type="primary" class="applyChanges aem-btn" (click)="saveMember('apply')" *ngIf="operation !== Operations.AC" [disabled]="applySaveButtonDisabled"> Apply </crem-button>
  </div>
</div>
</crem-modal>