@use 'styles' as *;
@use 'colors' as colors;
.clearfix {
  width: 100%;
  float: left;
}

.label-popup {
  width: 43%;
  text-align: left;
  float: left;
}

.value-popup {
  width: 56%;
  float: right;
  @include costar(font-weight, medium);
}

#section-one {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px 5px 0px 5px;
}

#section-one > div {
  height: 120px;
  border: 1px;
  text-align: left;
}

#section-two {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 60px;
  border: solid 1px #d6d6d6;
  border-radius: 4px;
  padding: 0px 0px 0px 30px;
  margin: 5px 0px;
}

#section-three {
  height: auto;
  border: 2px;
  text-align: left;
}

.pointer {
  cursor: pointer;
  font-size: 11px;
}

.header-column-caption {
  white-space: normal;
  text-align: center;
  margin: 0px;
  max-height: 42px;
  font-size: 12px;
  line-height: 13px;
}

.dx-datagrid-content {
  cursor: pointer;
  font-size: 11px !important;
}

.dx-tab-text {
  font-size: 14px !important;
}

.dx-datagrid .dx-row > tr > td ::ng-deep {
  padding: 0px !important;
}

.dx-datagrid .dx-row > td ::ng-deep {
  padding: 0px !important;
}

.show-jounal-entry-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-col {
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.je-footer {
  width: 100%;
  position: static;
}

.footer-item {
  float: right;
  display: inline;
  @include costar(margin-top, 2);
}

.footer-item button {
  float: right;
}

.balanced-icon,
.not-balanced-icon {
  font-size: 20px;
  vertical-align: middle;
  @include costar(margin-right, 2);
}

.balanced-icon {
  color: #008000;
}

.not-balanced-icon {
  color: #c31703;
}

.balance-info {
  width: auto;
  @include costar(margin-top, 4);
  margin-right: 40px;
}

.metric-label {
  font-size: 14px;
}

.metric-label strong {
  @include costar(font-weight, medium);
}

.actions-button {
  font-size: 14px;
  cursor: pointer;
  padding: 0 25px;
}

.actions-button.disabled {
  cursor: pointer !important;
}

.container {
  float: left;
  width: 33%;
  padding-left: 0px;
}

.no-je-profile-selected {
  background-color: #fbfbfb;
  border: solid 1px #dcdcdc;
  font-size: 1rem;
  margin: 20px auto auto auto;
  padding: 10px;
  text-align: center;
  width: 270px;
}

.je-primary-button {
  opacity: 1;
}

:host ::ng-deep #je-processing-info-retro-popup-grid {
  .dx-header-row {
    background-color: colors.$costarDarkBlue !important;
    color: colors.$white;
    font-weight: bold !important;
  }
}

:host ::ng-deep #je-processing-info-popup-grid {
  .dx-header-row {
    background-color: colors.$costarDarkBlue !important;
    color: colors.$white;
    font-weight: bold !important;
  }
}

:host
  ::ng-deep
  .grid-custom-style
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  > td,
:host
  ::ng-deep
  .grid-custom-style
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  > tr
  > td {
  font-size: 12px !important;
  border-bottom-width: 1px !important;
}

.send-to-excel {
  float: right;
  @include costar(margin, 1);
}

.dx-template-wrapper {
  @include costar(padding, 2);
}
