<mat-card class="dashboard-card">
	<mat-card-header>
		<mat-card-title>
			<div class="card-title-hero">{{upcomingExpirations.length}}</div>
			<span>Upcoming Lease Expirations</span>
		</mat-card-title>
		<mat-card-subtitle>(24 months)</mat-card-subtitle>	
		<div class="mat-card-header-toolbar">
			<button class="btn btn-default btn-sm" [matMenuTriggerFor]="cardMenu"><mat-icon>more_horiz</mat-icon></button>
			<mat-menu #cardMenu="matMenu">								
				<button mat-menu-item (click)="toggleExpanded()"><span *ngIf="isExpanded">Collapse All</span><span *ngIf="!isExpanded">Expand All</span></button>      
				<button mat-menu-item (click)="exportDataGrid()">Export</button>				
			</mat-menu>
		</div>					
	</mat-card-header>
	<mat-card-content class="no-padding" style="height: 400px;">							
		<dx-data-grid class="list-page-data-grid"
			#UpcomingExpirationsGrid
			id="UpcomingExpirationsGrid"
			[dataSource]="upcomingExpirations"
			[showColumnLines]="false"
			[showRowLines]="false"
			[showBorders]="false"
			[rowAlternationEnabled]="true" 							
			[allowColumnResizing]="true"
			[allowColumnReordering]="true"
			[columnAutoWidth]="true"
			(onRowClick)="navigateToObject($event)"
			[masterDetail]="{ enabled: true, template: 'detail' }"
		>
			<dxo-scrolling mode="virtual"></dxo-scrolling>
			<dxo-header-filter [visible]="true"></dxo-header-filter> 
			<dxo-grouping #expand [autoExpandAll]="isExpanded" [contextMenuEnabled]="true"></dxo-grouping>
			<dxi-column dataField="quarter" [groupIndex]="0"></dxi-column>
			<dxi-column dataField="clientLeaseId"></dxi-column>
			<dxi-column dataField="propertyName" width="240"></dxi-column>
			<dxi-column dataField="expDate" dataType="date" alignment="right"></dxi-column>
			<dxi-column dataField="rentableArea" dataType="number">
				<dxo-format type="fixedPoint" [precision]="0"></dxo-format>
			</dxi-column>
			<!-- <dxi-column dataField="rentPerSf" caption="Rent/SF" dataType="number" format="currency"></dxi-column> -->
			<dxi-column dataField="annualRent" caption="Annual Rent" dataType="number" format="currency"></dxi-column>			
			<!-- <dxi-column dataField="address" width="240"></dxi-column> -->
			<dxi-column dataField="city"></dxi-column>
			<dxi-column dataField="state"></dxi-column>
			<dxi-column dataField="country"></dxi-column>
			<dxi-column dataField="leaseStatus"></dxi-column>
			<dxi-column dataField="accountType"></dxi-column>
			<!-- <dxi-column dataField="type"></dxi-column> -->
			<!-- <dxi-column dataField="rentVsMarket" caption="Rent vs Market" alignment="right"></dxi-column>							 -->
			<!-- <dxi-column dataField="sfPerSeat" caption="SF/Seat" alignment="right"></dxi-column> -->
			<dxo-summary>
		        <dxi-group-item
		            column="expDate"
		            summaryType="count"
		            displayFormat="{0} expirations"
		            [showInGroupFooter]="false"
		            [alignByColumn]="true">
		        </dxi-group-item>
		        <dxi-group-item
		            column="rentableArea"
		            summaryType="sum"
		            valueFormat="fixedPoint"
		            [showInGroupFooter]="false"
		            [alignByColumn]="true">
		        </dxi-group-item>
		        <dxi-group-item
		            column="annualRent"
		            summaryType="sum"
		            valueFormat="currency"
		            [showInGroupFooter]="false"
		            [alignByColumn]="true">
		        </dxi-group-item>
		    </dxo-summary>
			<div *dxTemplate="let lease of 'detail'">
		        <h6>Lease Options</h6>   
		        <expiring-leases-options-grid [leaseId]="lease.data.leaseId"></expiring-leases-options-grid>   		        
		    </div>	
		</dx-data-grid>
	</mat-card-content>
</mat-card>