<dx-popup
	#TasksSettingsPopup
    width="560"
    height="508"
    [showTitle]="true"
    [title]="title"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    [visible]="isVisible"
    (onHidden)="close()">
    <div *dxTemplate="let data of 'content'" class="popup-no-padding">
		<costar-popup>
            <popup-content>
				<dx-form 
					[(formData)]="taskSettings"
					[colCount]="1"
					labelLocation="left">
					<dxi-item 
						dataField="startDate"
						template="datePickerTemplate">
					</dxi-item>
					<dxi-item 
						dataField="dueDate"
						template="datePickerTemplate">
					</dxi-item>
					<dxi-item 
						dataField="calculateDates"
						[label]="{ text : 'Calculate Dates' }"
						template="switchTemplate">
					</dxi-item>
					<dxi-item 
						dataField="calculateBy"
						[label]="{ text : 'Calculate By' }"
						template="calculateByTemplate"
						*ngIf="taskSettings.calculateDates">
					</dxi-item>
					<dxi-item 
						dataField="autoCalculate"
						template="switchTemplate"
						*ngIf="taskSettings.calculateDates">
					</dxi-item>
					<dxi-item 
						dataField="shiftTimeline"
						template="switchTemplate"
						*ngIf="taskSettings.calculateDates">
					</dxi-item>
					<dxi-item 
						dataField="trackHours"
						template="switchTemplate">
					</dxi-item>
					<dxi-item 
						dataField="trackActualStart"
						template="switchTemplate">
					</dxi-item>
					
					<div *dxTemplate="let data of 'datePickerTemplate'">
						<dx-date-box [(value)]="taskSettings[data.dataField]"></dx-date-box>
					</div>
					<div *dxTemplate="let data of 'switchTemplate'">
						<mat-slide-toggle [name]="data.dataField" [(checked)]="taskSettings[data.dataField]" (change)="handleToggleChange($event)"></mat-slide-toggle>
					</div>
					<div *dxTemplate="let data of 'calculateByTemplate'">
						<dx-radio-group
							[items]="calculateDatesBy"
							[(value)]="taskSettings[data.dataField]"
							layout="horizontal">
						</dx-radio-group>
					</div>
				</dx-form>
			</popup-content>
            <popup-footer>                
                <popup-footer-right>
                    <button class="btn btn-default" (click)="close()">Cancel</button> 
                    <button class="btn btn-primary" (click)="save()">Save</button> 
                </popup-footer-right>
            </popup-footer>
        </costar-popup>     
    </div>
</dx-popup>	