@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/var.scss';

:host::ng-deep {	
	// dashboard-hero-card {
		height: $stdPadding * 10;
		display: flex;
		flex-direction: column;
		// margin: $dblPadding $stdPadding $dblPadding $dblPadding;
		margin: $dblPadding;
		width: auto;	
		flex-shrink: 0;


		div.costar-hero-metric-card {
			display: flex;
			flex-direction: column;		
			padding-right: $stdPadding * 3;
			height: $stdPadding * 11;

			// &.right-border {
			// 	border-right: $stdBorder;	
			// }

			div.hero-title-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-content: center;
				padding-bottom: $stdPadding;

				div.title {
					font-size: 16px;
					line-height: 16px;
					font-weight: 200;
					color: $neutral-dark;
				}

				div.addl-info-wrapper {
					padding-left: $dblPadding;
					line-height: 16px;
					height: 16px;
					fa-icon {
						color: $neutral-light;
						cursor: pointer;
						line-height: 16px;
					}
				}
			}

			div.hero-stat-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				div.hero-value {
					font-size: 32px;
					line-height: 32px;
				}

				div.sidekick-value-wrapper {
					padding-left: $dblPadding;

					div.sidekick-value {
						border-radius: 2px;
						font-size: 14px;
						text-align: center;
						// background: $green;
						border: 1px solid $green;
						color: $green;
						padding: 0 $stdPadding;
						// margin: $stdPadding 0px;
					}
				}
			}

			div.hero-subtitle-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				padding-top: $stdPadding;
				font-size: 14px;
				line-height: 14px;
				font-weight: 200;
				color: $neutral-dark;
			}
		}
	// }
}